@{
    ViewBag.Title = "测试";
    ViewBag.PageType = 1;
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
}
<link href="@(WebSiteConfig.cdnurl)js/umditor_common/themes/default/css/umeditor.min.css" rel="stylesheet" />
<script type="text/javascript" src="@(WebSiteConfig.cdnurl)js/umditor_common/umeditor.config.js"></script>
<script type="text/javascript" src="@(WebSiteConfig.cdnurl)js/umditor_common/umeditor.min.js"></script>
<script type="text/javascript" src="@(WebSiteConfig.cdnurl)js/Base64.js"></script>
<style>
    .lead.text-muted { margin-top: 20px; color: red; }
    .sweet-alert.showSweetAlert h2 { font-size: 20px; }
</style>
<div class="panel panel-default">
    <div class="panel-body">
        <input type="button" value="推单" onclick="addorder();"/>
        <input type="button" value="取消订单" onclick="CancelOrder();" />
        <input type="button" value="查看订单" onclick="QueryOrder();" />
        <input type="button" value="获取店铺信息" onclick="getstore();" />
        <input type="button" value="添加店铺" onclick="AddStore();" />
        <input type="button" value="查看配送服务" onclick="QueryDelivery();" />
        <input type="text" value="lat" id="lat"/>
        <input type="text" value="lnt" id="lnt"/>
        <input type="text" value="orderno" id="orderno" />
        token:<input type="text" value="token值"/>
    </div>
</div>
<script>
    function addorder()
    {
        var orderno = $("#orderno").val();
        $.get("/elemanage/AddOrder", {orderno:orderno})
                                .then(function (data) {
                                    layer.alert(data.msg);
                                });
    }
    function CancelOrder() {
        var orderno = $("#orderno").val();
        $.get("/elemanage/CancelOrder", { orderno: orderno })
                                .then(function (data) {
                                    layer.alert(data.msg);
                                });
    }
    function QueryOrder() {
        var orderno = $("#orderno").val();
        $.get("/elemanage/QueryOrder", { orderno: orderno })
                                .then(function (data) {
                                    layer.alert(data.msg);
                                });
    }

    function getstore() {
        $.get("/elemanage/GetEleApiStoreInfo")
                                .then(function (data) {
                                    layer.alert(data.msg);
                                });
    }
    function AddStore() {
        $.get("/elemanage/AddStore")
                                .then(function (data) {
                                    layer.alert(data.msg);
                                });
    }
    function QueryDelivery() {
        var lat = $("#lat").val();
        var lnt = $("#lnt").val();
        $.get("/elemanage/QueryDelivery", {lat:lat,lnt:lnt})
                                .then(function (data) {
                                    layer.alert(data.msg);
                                });
    }
</script>