@charset "utf-8";
/*
 * CSS Document
 * name   :style.css v1.0
 * author :tonjay.com
 * time   :2017-01-01 
 */

.iconfont { font-family: "iconfont";font-style: normal; line-height:inherit; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; font-size:inherit; }
body{ background: #f6f6f6;}
.grey{ color: grey;}
.red{ color: #ff2121;}
.yel{ color: #f40;}
.green,.active,a.active{color: #007339;}
.linght{ color:#ccc;}
.blank{ color: #fff;}
.bb{ background: #fff;}
/*body.active{ height: 100%; overflow-y:hidden ;}*/

.seformCelll{position: relative;}
.seformCelll select{ width: 100%; height: 100%; border: none; padding-left: 10px;}
.seformCelll:after{ content: " ";display: inline-block;-webkit-transform: rotate(135deg);transform: rotate(135deg);height: 6px;width: 6px;border-width: 2px 2px 0 0; border-color: #c8c8cd; border-style: solid; position: relative; top: -2px; position: absolute; top: 50%; right: 10px; margin-top: -6px;}
.exit{ position: absolute; font-size: 12px; line-height: 24px; padding: 0 15px; right: 15px; top: 15px; display: block; z-index: 1; color: #fff; text-shadow:none;}
.exit:before{ border-color: #fff;}

.comm-btn{white-space: nowrap;display: inline-block;height: 40px; background: #ddd; line-height:40px;box-shadow:0 1px 1px rgba(0,0,0,.05); border-radius:2px; letter-spacing: .025em; color: #666; text-decoration: none; cursor: pointer; text-align: center; font-size: 1.6rem;}
.comm-btn.primary{ background: #ff2121; color: #fff;}
.comm-btn.warn{ background: #ffb82e; color: #fff;}
.comm-btn.errow{ background: #007339; color: #fff;}
.comm-btn.blue{ background: #2989ea; color: #fff;}
.comm-btn.small-btn{ height: 30px; line-height:30px; padding: 0 10px; font-size: 1.2rem;}
.comm-btn.min-btn{ height: 24px; line-height:24px; padding: 0 10px; font-size: 1.2rem;}
.comm-btn.than-btn{ height: 46px; line-height: 46px; padding: 0 16px; font-size: 1.8rem;}
.comm-btn.mid-btn{ height: 50px; line-height: 50px; padding: 0 28px; font-size: 2rem;}
.comm-btn.large-btn{ height: 60px; line-height:60px; padding: 0 40px; font-size: 2.2rem;}
.comm-btn:disabled{ background: #ccc; color: #fff;}
.raidus{ border-radius: 100px;}
.noradius{ border-radius: 0;}

.formStyle input{ border: 1px solid #ddd; line-height:36px; padding: 0 10px; width: 100%; border-radius: 2px;}
.formStyle .name{ min-width: 60px; line-height: 36px;}
.formStyle li{ margin-bottom: 10px;}
.formStyle .seformCelll{ border: 1px solid #ccc; border-radius: 2px;}

.scroll-line{ width: 100%; overflow: hidden; background: #fff; overflow-x: auto; -webkit-overflow-scrolling: touch;}

input,.main button{-webkit-transition: all .25s ease;transition: all .25s ease;}

.d-tab li:active,.search:active{ background: rgba(0,0,0,0.1);}
.thumb,.thumb-list li{background-repeat: no-repeat; background-position: center center; background-size: cover; position: relative;}
.home-cap a,.home-rec a,.menu-box a,.goods li a{ display: block;}
.t-fixed,.b-fixed{position: fixed; background: #fff; left: 0; width: 100%; z-index: 9;}
.t-fixed{ top: 0;}
.menu-box,.so-menu-box,.b-fixed{ position: fixed; background: #fff; left: 0; bottom: 0; width: 100%; z-index: 9;}
.lastno li:last-child a[class*=grid]:before,.lastno li[class*=grid]:last-child:before{ display: none;}
.maxh240{ max-height: 240px; overflow: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch;}

.so-menu-box,.cart-menu-box,.filter-box,.good-menu-box{ height: 46px; line-height: 46px;}
.vb .vcon:not(:first-child){ display: none;}
.single{ overflow: hidden;}
.single p,.single div{ word-break: break-all;}
.single img{width: auto!important; height: auto!important; max-width: 100%!important;}
.sub-tab li{ background: rgba(255,33,33,0.1); border-radius: 3px; line-height: 24px; }
.sub-tab li:nth-child(n+2){ margin-left:3px;}
.sub-tab li.active{ background: rgba(255,33,33,1); color: #fff;}
/*首页*/

.tabBtn{ position: fixed; z-index: 1; left:10%; top:5%; right: 10%;  border-radius: 3px; line-height: 50px;}
.tabBtn li{ overflow: visible;}
.tabBtn li:before{ background: #fff; top: 20%; bottom: 20%; opacity: 0.2;}
.tabBtn li a{ color: #fff; display: block; background: rgba(255,255,255,0.2);}
.tabBtn li.active a{ background:rgba(0,0,0,.2); position: relative;}
.tabBtn li.active a:after{ display: block; content: ""; width: 0; height: 0; border: 6px solid; border-color: rgba(0,0,0,.2) transparent transparent transparent; position: absolute; left: 50%; bottom: 0; -webkit-transform: translate(-50%,100%); transform: translate(-50%,100%);}
.tabBtn li:first-child.active a{ border-radius: 3px 0 0 3px;}
.tabBtn li:last-child.active a{ border-radius: 0 3px 3px 0;}
.main.default{ background: #09BB07;background-image: linear-gradient(30deg,#09BB07,#00c0ff);}
.main.store{ background: #009aff;background-image: linear-gradient(30deg,#009aff,#737aff);}
.main.food{ background: #12febd;background-image: linear-gradient(30deg,#ea8a8a,#ff3737);}

.main h2{ color: #fff; text-shadow: none; text-align: center; padding-bottom: 40px;}
.main{ background: #09BB07; background-image:linear-gradient(30deg,#09BB07,#00c0ff); color:#fff; position: relative; width: 100%; height: 100%; overflow: hidden; min-height:400px;}
.main span{ width: 200%; height:100%; display: block; position: absolute; -webkit-animation: hs 26s ease infinite;animation: hs 20s ease infinite;}
.main span.c1{ left: -60%; top: -60%; -webkit-animation-duration: 20s;animation-duration: 20s; background: rgba(255,255,255,0.02);}
.main span.c2{ left: -50%; top: -50%; -webkit-animation-duration: 18s;animation-duration: 30s; background: rgba(255,255,255,0.04);}
.main span.c3{ left: -40%; top: -40%; -webkit-animation-duration: 16s;animation-duration: 16s; background: rgba(255,255,255,0.06);}
@-webkit-keyframes hs{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(360deg);}
}
@keyframes hs{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}
.main .float-mid{ z-index: 1; width: 80%; text-shadow: 1px 2px 2px rgba(0,0,0,0.4);}
.main input:-moz-input-placeholder{color:rgba(255,255,255,0.6);}
.main input::-webkit-input-placeholder{color:rgba(255,255,255,0.6);}
.main input{ height: 52px; width: 100%; font-size: 20px; color: #fff; border-bottom: 1px solid rgba(255,255,255,0.6);}
.main input:focus{ color: #fff; padding-left: 15px; border-bottom-color: #fff;}
.main button,.mainh button{ background:rgba(255,255,255,0.2); color: #fff; border-radius: 3px; font-size: 18px; height: 46px; width: 100%; margin-top: 20px; text-shadow: 1px 1px 2px rgba(0,0,0,0.1); letter-spacing: 2px;cursor:pointer;}
.main button:active{ background:rgba(0,0,0,0.2);}
.errow-tip{position: absolute; left: 0; right: 0; top: 0; -webkit-transform: translateY(-200%);transform: translateY(-120%); color: #fff; text-align: center; background: rgba(0,0,0,0.3); border-radius: 3px; line-height: 3;}
.errow-tip:after{ content: ""; display: block; position: absolute; left: 50%; bottom: 0; width:0; height:0; border:8px solid; border-color: rgba(0,0,0,0.3) transparent transparent transparent ; -webkit-transform: translate(-50%,100%);transform: translate(-50%,100%);}

.mainh .con{ background: #000; padding: 40px 20px;}
.mainh .btnCon{  padding: 0 18%;}
.mainh .bd{ position: relative; z-index: 1;}
.mainh .bg{ position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-position: center center; background-size: cover; -webkit-filter: blur(14px);  filter: blur(14px); opacity: 0.6; -webkit-transform: scale(1.1);transform: scale(1.1);}
.mainh{background: #fff; text-shadow: 1px 2px 2px rgba(0,0,0,0.4);position: relative; overflow: hidden;}
.mainh .thumb{ width: 25%; padding-bottom:25%; box-shadow: 0 0 0 4px #fff; border-radius: 50%; display: inline-block;}
.mainh h3{ font-size: 16px; color: #fff;}
.mainh button.set{ border-radius:100px;}
.mainh button.open{ background: #09BB07;background-image:linear-gradient(#07bb53,#09BB07);}
.mainh button.closeBtn{ background: #E64340;background-image:linear-gradient(#e66340,#E64340);}

.my-menu a{ display: block; padding:0 25px 0 15px; line-height: 46px;}
.my-menu li a:before{ right: 15px;}
.my-menu li:last-child a:before{ display: block;}
.my-menu li i{ font-size: 22px; margin-right: 8px; vertical-align: middle;}

.ttop{ background:#09BB07; color: #fff; padding-top: 30px;}
.ttop ul{ background: rgba(0,0,0,0.1); padding:15px 0;}
.ttop .name{ opacity: 0.6; line-height: 100%;}
.ttop .max-font{ font-size: 46px; line-height: 140%; margin-bottom: 20px;}
.ttop .large-font{ font-size: 24px;}
.tbox{ background: #fff;}
.tbox input{ background: #fff; border: 1px solid rgba(0,0,0,0.1); border-radius: 3px; height: 46px; padding: 0 15px; width: 100%;}
.tbox input:focus{ border: 1px solid #09BB07; color: #09BB07;}

.jilu .list,.jilu .state{ display: -webkit-box; -webkit-box-align:center; padding: 0 15px;}
.jilu ul{ background: #fff;}
.jilu li{ padding: 10px 0;}

.tTab{ background: #09BB07; position: fixed; left: 0; top: 0; right: 0; background-image: linear-gradient(30deg,#09BB07,#00c0ff); padding: 10px 10%; color: #fff;}
.tTab ul{ border-radius: 100px; line-height: 36px; overflow: hidden;}
.tTab li{ background: rgba(0,0,0,0.2); color: rgba(255,255,255,0.6);}
.tTab li.active{ background: rgba(255,255,255,0.2); color: #fff;}

.tTabBox{ height: 71px;}
.sec{ padding-right:10px;}
.sec li{ border-radius: 3px; margin-left:10px; background: #fff;}
.sec select{ height: 36px;}

.olist li{ background: #fff; border-bottom: 2px solid rgba(0,0,0,0.1); margin: 15px 0; padding: 15px 10px;}
.olist .other{ padding:0 10px;}
.olist .other span{ font-size:18px; font-weight: bold;}
.olist .other b{ display: block;}
.states{ background: #f5f5f5; border-radius: 2px; display: inline-block; font-size:12px; line-height: 24px; padding: 0 8px; font-style: normal; -webkit-transform: scale(0.9);transform: scale(0.9); -webkit-transform-origin: right bottom;transform-origin: right bottom;}

.olist .states1{ background: #09BB07; color: #fff;}
.olist .states2{ background: #f40; color: #fff;}
.olist .states3{ background: #ff2121; color: #fff;}
.olist .states4{ background: #ccc; color: #fff;}

.obtn{ font-size: 0;}
.obtn .comm-btn.small-btn{ margin-left: 10px; font-size: 14px;}

.detail ul{ background: #fff;}
.detail li{ padding: 12px 15px;}
.detail li:before{ left: 15px;}
.detail li:active{ background: rgba(0,0,0,0.05);}
.detail .tit{ margin-right: 10px; font-weight: bold; color: #999;}
.detail .tit p{ font-weight: normal;}
.detail .sub{ text-align: right;}
.goods .sub{ display: -webkit-box; -webkit-box-align: center; -webkit-box-pack: end;}


.mf select{ padding: 0 40%; font-size: 16px; height: 46px;}
.mf:after{ right: 40%;}
.mdetail{ background: #fff;}
.mdetail li{ padding: 15px;}
.mdetail .sub{ overflow: hidden;}
.mdetail p{ line-height: 100%; margin-top: 5px;}
.mdetail .max-font{ font-size: 2.2rem;}