@{
    ViewBag.Title = "达达配送配置";
    ViewBag.PageType = 1;
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
}
<style>
    .lead.text-muted { margin-top: 20px; color: red; }
    .sweet-alert.showSweetAlert h2 { font-size: 20px; }
</style>

<table class="table table-condensed cancel-table-td-border">
    <tr>
        <td style="width: 130px;">商户号 : </td>
        <td>
            <div class="input-group width300">
                <input type="text" class="form-control" value="" id="merchantid" name="merchantid" maxlength="20">
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 130px;">企业名称 : </td>
        <td>
            <div class="input-group width300">
                <input type="text" class="form-control" value="" id="companyname" name="companyname">
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 130px;">权限ID : </td>
        <td>
            <div class="input-group width300">
                <input type="text" class="form-control" value="" id="rid" name="rid" maxlength="20">
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 130px;">店铺编号 : </td>
        <td>
            <div class="input-group width300">
                <input type="text" class="form-control" value="" id="shopno" name="shopno" maxlength="20">
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <div class="">
                <input type="button" class="btn btn-primary width100" id="saveBtn" value="保存" />
            </div>
        </td>
    </tr>
</table>
<script>
    $(function () {
        $('#saveBtn').on('click', function () {
            var merchantid = $("#merchantid").val();
            var companyname = $("#companyname").val();
            var rid = $("#rid").val();
            var shopno = $("#shopno").val();
            if (merchantid.length <= 0)
            {
                AppTools.Alert("请输入商户号");
                return;
            }
            if (companyname.length <= 0) {
                AppTools.Alert("请输入企业名称");
                return;
            }
            if (rid.length <= 0) {
                AppTools.Alert("请输入权限表ID");
                return;
            }
            if (shopno.length <= 0) {
                AppTools.Alert("请输入门店编号");
                return;
            }

            var postdata = { merchantid: merchantid, companyname: companyname, rid: rid, shopno: shopno }
            $.post('/dadamanage/SaveData',
            postdata, function (result) {
                AppTools.Alert(result.msg);
            });
        });
    })
</script>