@model AuthInfo
@{
    string _layout = "~/Views/Shared/_MiniappLayout.cshtml";
    int? pageType = ViewBag.pageType;
    if (pageType.HasValue)
    {
        Dictionary<int, string> pageLayout = new Dictionary<int, string>
        {
            { (int)TmpType.小未平台, "~/Areas/Plat/Views/Shared/_LayoutAdmin.cshtml" },
            { (int)TmpType.小程序专业模板, "~/Views/Shared/_MiniappLayout.cshtml" },
            { (int)TmpType.拼享惠, string.Empty },
        };
        pageLayout.TryGetValue(pageType.Value, out _layout);
    }

    Layout = _layout;
    ViewBag.Title = "登陆成功";
}

@if (Model.AuthAdmin != null)
{
    <div class="account-welcome-message">
        <p>
            <ul>
                <li>用户：@Model.AuthAdmin.Name</li>
                <li>上次登录时间：@Model.AuthAdmin.LastLogin.ToString()</li>
            </ul>
        </p>
    </div>
}
