@{
    ViewBag.Title = "门店管理";
    Layout = "~/Areas/DishAdmin/Views/Shared/_LayoutDishAdmin.cshtml";
    int aId = Utility.IO.Context.GetRequestInt("aId",0);
    int storeId = Utility.IO.Context.GetRequestInt("storeId", 0);
    string queryString = string.Format("?aId={0}&storeId={1}", aId, storeId);
    DishStore dishStore = (DishStore)ViewBag.dishStore;

}

<header class="navbar-wrapper">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid cl">
            <a class="logo navbar-logo f-l mr-10 hidden-xs">@(dishStore.dish_name)</a>
            <a class="logo navbar-logo-m f-l mr-10 visible-xs" href="/aboutHui.shtml"></a>
            <span class="logo navbar-slogan f-l mr-10 hidden-xs"></span>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
            @*<nav class="nav navbar-nav">
                <ul class="cl">
                    <li class="dropDown dropDown_hover">
                        <a href="javascript:;" class="dropDown_A"><i class="Hui-iconfont">&#xe600;</i> 新增 <i class="Hui-iconfont">&#xe6d5;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="javascript:;" onclick="goods_add('添加商品','/DishAdmin/Dish/GoodEdit?aid=@(Model.aId)&storeid=@(Model.storeId)')"><i class="Hui-iconfont">&#xe616;</i> 产品</a></li>
                            <li><a href="javascript:;" onclick="picture_add('添加资讯','picture-add.html')"><i class="Hui-iconfont">&#xe613;</i> 图片</a></li>
                            <li><a href="javascript:;" onclick="product_add('添加资讯','product-add.html')"><i class="Hui-iconfont">&#xe620;</i> 产品</a></li>
                            <li><a href="javascript:;" onclick="member_add('添加用户','member-add.html','','510')"><i class="Hui-iconfont">&#xe60d;</i> 用户</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>*@
            <nav id="Hui-userbar" class="nav navbar-nav navbar-userbar hidden-xs">
                <ul class="cl">
                    @if (ViewBag.isRoot)
                    {
                        <li><a href="/dish/admin?Id=@(dishStore.aid)&appId=@(dishStore.aid)&versionId=0">返回门店列表</a></li>
                    }
                    <li>@(ViewBag.dishStore.login_username)</li>
                    <li class="dropDown dropDown_hover">
                        <a href="#" class="dropDown_A"> <i class="Hui-iconfont">&#xe6d5;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="/DishAdmin/main/Logout">退出</a></li>
                        </ul>
                    </li>
                    @*<li id="Hui-msg"> <a href="#" title="消息"><span class="badge badge-danger">1</span><i class="Hui-iconfont" style="font-size:18px">&#xe68a;</i></a> </li>*@
                    <li id="Hui-skin" class="dropDown right dropDown_hover">
                        <a href="javascript:;" class="dropDown_A" title="换肤"><i class="Hui-iconfont" style="font-size:18px">&#xe62a;</i></a>
                        <ul class="dropDown-menu menu radius box-shadow">
                            <li><a href="javascript:;" data-val="default" title="默认（黑色）">默认（黑色）</a></li>
                            <li><a href="javascript:;" data-val="blue" title="蓝色">蓝色</a></li>
                            <li><a href="javascript:;" data-val="green" title="绿色">绿色</a></li>
                            <li><a href="javascript:;" data-val="red" title="红色">红色</a></li>
                            <li><a href="javascript:;" data-val="yellow" title="黄色">黄色</a></li>
                            <li><a href="javascript:;" data-val="orange" title="橙色">橙色</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<aside class="Hui-aside">
    <input runat="server" id="divScrollValue" type="hidden" value="" />
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 系统设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/DishAdmin/Main/DishInfo@(queryString)" data-title="门店信息" href="javascript:void(0)">门店信息</a></li>
                    <li><a data-href="/DishAdmin/Main/PaySetting@(queryString)" data-title="支付配置" href="javascript:void(0)">支付配置</a></li>
                   @* <li><a data-href="/DishAdmin/Main/SmsSetting@(queryString)" data-title="短信配置" href="javascript:void(0)">短信配置</a></li>*@
                    @*<li><a data-href="" data-title="模板消息配置" href="javascript:void(0)">模板消息配置</a></li>*@
                    <li><a data-href="/DishAdmin/Main/NotifySetting@(queryString)" data-title="通知设置" href="javascript:void(0)">通知设置</a></li>
                    <li><a data-href="/DishAdmin/Main/AccountEdit@(queryString)" data-title="修改密码" href="javascript:void(0)">修改密码</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-diannei">
            <dt><i class="Hui-iconfont">&#xe613;</i> 店内设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/DishAdmin/Main/DishTable@(queryString)" data-title="餐桌管理" href="javascript:void(0)">餐桌管理</a></li>
                    <li><a data-href="/DishAdmin/Main/QrcodeList@(queryString)" data-title="二维码管理" href="javascript:void(0)">二维码管理</a></li>
                    <li><a data-href="/DishAdmin/Main/Queue@(queryString)" data-title="排队管理" href="javascript:void(0)">排队管理</a></li>
                    <li><a data-href="/DishAdmin/Main/Customer@(queryString)" data-title="客人队列" href="javascript:void(0)">客人队列</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-peisong">
            <dt><i class="Hui-iconfont">&#xe669;</i> 配送设置<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/DishAdmin/PeiSong/Config@(queryString)" data-title="基本设置" href="javascript:void(0)">基本设置</a></li>
                    <li><a data-href="/DishAdmin/PeiSong/SelfPeiSong@(queryString)" data-title="配送员管理" href="javascript:void(0)">本店－配送员管理</a></li>
                    <li><a data-href="/DishAdmin/PeiSong/DaDaPeiSongConfig@(queryString)" data-title="绑定门店" href="javascript:void(0)">达达－绑定门店</a></li>
                    <li><a data-href="/DishAdmin/PeiSong/KPZPeiSongConfig@(queryString)" data-title="快跑者配置" href="javascript:void(0)">快跑者－绑定团队</a></li>
                    <li><a data-href="/DishAdmin/PeiSong/UUPeiSongConfig@(queryString)" data-title="绑定商家" href="javascript:void(0)">UU跑腿－绑定商家</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 菜品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/DishAdmin/Dish/Goods@(queryString)" data-title="商品管理" href="javascript:void(0)">商品管理</a></li>
                    <li><a data-href="/DishAdmin/Category/Index@(queryString)" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
                    <li><a data-href="/DishAdmin/DishAttr/Index@(queryString)" data-title="属性管理" href="javascript:void(0)">类型管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-hudong">
            <dt><i class="Hui-iconfont">&#xe613;</i> 活动管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/DishAdmin/Activity/Shou@(queryString)" data-title="首单立减" href="javascript:void(0)">首单立减</a></li>
                    <li><a data-href="/DishAdmin/Activity/Cu@(queryString)" data-title="促销管理" href="javascript:void(0)">促销管理</a></li>
                    <li><a data-href="/DishAdmin/Activity/reductionCardList@(queryString)" data-title="社交立减金" href="javascript:void(0)">社交立减金</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-order">
            <dt><i class="Hui-iconfont">&#xe627;</i> 订单管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a id="dayOrderIframe" data-href="/DishAdmin/Order/Index@(queryString)&isToday=1" data-title="今日订单" href="javascript:void(0)">今日订单</a></li>
                    <li><a data-href="/DishAdmin/Order/Index@(queryString)" data-title="全部订单" href="javascript:void(0)">全部订单</a></li>
                    <li><a data-href="/DishAdmin/Order/Comments@(queryString)" data-title="评论列表" href="javascript:;">评论列表</a></li>
                    <li><a data-href="/DishAdmin/Order/YuDing@(queryString)" data-title="预订管理" href="javascript:;">预订管理</a></li>
                    <li><a data-href="/DishAdmin/Order/PayRecord@(queryString)" data-title="买单记录" href="javascript:;">买单记录</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-print">
            <dt><i class="Hui-iconfont">&#xe652;</i> 打印机管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <!--<li><a data-href="http://wx.ixiaochengxu.cc/index.php?s=/addon/Duoguan_dish/Dish_goodattr/index.html" data-title="打印记录" href="javascript:;">打印记录</a></li>-->
                    <li><a data-href="/DishAdmin/Printer/Index@(queryString)" data-title="打印设备" href="javascript:void(0)">打印设备</a></li>
                    <li><a data-href="/DishAdmin/Printer/Label@(queryString)" data-title="打印标签" href="javascript:;">打印标签</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-users">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 会员卡管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/DishAdmin/Card/Config@(queryString)" data-title="基本配置" href="javascript:void(0)">基本配置</a></li>
                    <li><a data-href="/DishAdmin/Card/Chong@(queryString)" data-title="充值配置" href="javascript:void(0)">充值配置</a></li>
                    <li><a data-href="/DishAdmin/Card/CardList@(queryString)" data-title="会员卡管理" href="javascript:void(0)">会员卡管理</a></li>
                    <li><a data-href="/DishAdmin/Card/MemberList@(queryString)" data-title="会员管理" href="javascript:void(0)">会员管理</a></li>
                </ul>
            </dd>
        </dl>
        @*<dl id="menu-caiwu">
            <dt><i class="Hui-iconfont">&#xe63a;</i> 财务管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/DishAdmin/DishCash/config@(queryString)" data-title="提现配置" href="javascript:void(0)">提现配置</a></li>
                    <li><a data-href="/DishAdmin/DishCash/index@(queryString)" data-title="提现管理" href="javascript:void(0)">提现管理</a></li>
                    <li><a data-href="/DishAdmin/DishCash/log@(queryString)" data-title="资金记录" href="javascript:void(0)">资金记录</a></li>
                </ul>
            </dd>
        </dl>*@
        <dl id="menu-baobiao">
            <dt><i class="Hui-iconfont">&#xe618;</i> 数据报表<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="/DishAdmin/Charts/SalesRank@(queryString)" data-title="销售排行" href="javascript:void(0)">销售排行</a></li>
                    <li><a data-href="/DishAdmin/Charts/DishTable@(queryString)" data-title="餐桌统计" href="javascript:void(0)">餐桌统计</a></li>
                    <li><a data-href="/DishAdmin/Charts/IncomeReport@(queryString)&s_year=@DateTime.Now.Year&s_month=@DateTime.Now.Month" data-title="收入报表" href="javascript:void(0)">收入报表</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>

<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<section class="Hui-article-box">
    <div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
        <div class="Hui-tabNav-wp">
            <ul id="min_title_list" class="acrossTab cl">
                <li class="active">
                    <span title="我的桌面" data-href="welcome.html">我的桌面</span>
                    <em></em>
                </li>
            </ul>
        </div>
        <div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>
    </div>
    <div id="iframe_box" class="Hui-article">
        <div class="show_iframe">
            <div style="display:none" class="loading"></div>
            <iframe scrolling="yes" frameborder="0" src="/DishAdmin/Main/Welcome@(queryString)"></iframe>
        </div>
    </div>
</section>

<div class="contextMenu" id="Huiadminmenu">
    <ul>
        <li id="closethis">关闭当前 </li>
        <li id="closeall">关闭全部 </li>
    </ul>
</div>
<div id="play_mp3" style="width:0px;height: 0px;"></div>

@section scripts{
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript">
        /*个人信息*/
        function myselfinfo() {
            layer.open({
                type: 1,
                area: ['300px', '200px'],
                fix: false, //不固定
                maxmin: true,
                shade: 0.4,
                title: '查看信息',
                content: '<div>管理员信息</div>'
            });
        }
        function goods_add(title, url) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }

        /*资讯-添加*/
        function article_add(title, url) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*图片-添加*/
        function picture_add(title, url) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*产品-添加*/
        function product_add(title, url) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*用户-添加*/
        function member_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }

        function getTipsOrder() {
            var mp3_code = '<embed src="http://j.vzan.cc/dz/content/music/new_order_tips.mp3" loop=false autostart=true name=bgss width="0" height="0">';
            $.ajax({
                type: "POST",
                data: {},
                dataType: "Json",
                url: "/DishAdmin/Order/Index?act=getNewOrder&aid=@aId&aId=@aId&storeId=@storeId",
                success: function (data) {
                    if (data.code == 1) {
                        $("#play_mp3").html(mp3_code);
                        layer.open({
                            type: 1,
                            title: "系统提示",
                            fixed: true,
                            offset: 'rb',
                            content: '<div style="text-align: center;padding:20px 0;color:#ff0000;">有新的订单，请及时处理<p style="margin-top:10px;"><a class="btn btn-success" href="javascript:go_new_order();">点击查看</a></p></div>',
                            id: 'IS_NEW_ORDER_DIV',
                            area: ['350px'],
                            shade: 0, //不显示遮罩
                        });
                    } else {
                        $("#play_mp3").html('');
                    }
                }
            })
        }
        function go_new_order() {
            layer.closeAll();
            $("#dayOrderIframe").click();
        }
        $(function () {
            window.setInterval("getTipsOrder()", 10000);
        });
    </script>
}