@model ViewModel<DishQueue>
@{
    ViewBag.Title = "Queue";
    Layout = "~/Areas/DishAdmin/Views/Shared/_LayoutDishAdmin.cshtml";
}
@section styles{
    <style type="text/css">
        .tb_main { margin-top: 10px; }
        .tb_list { float: left; width: 150px; height: 200px; margin-right: 20px; margin-top: 10px; }
        .tb_list .tb_title_l { height: 30px; line-height: 30px; background: #5a98de; color: #fff; text-align: center; }
        .tb_list .state { height: 150px; width: 150px; display: table-cell; text-align: center; vertical-align: middle; border-radius: 50%; text-align: center; font-size: 16px; }
        .s_kongxian { background: #555555; color: #ffffff; display: table; border-radius: 50%; }
        .s_opened { background: #ef4437; color: #ffffff; display: table; border-radius: 50%; }
        .s_isorder { background: #ffd200; color: #000000; display: table; margin-left: 25px; border-radius: 50%; }
        .s_ispay { background: #5cb85c; color: #ffffff; display: table; margin-left: 25px; border-radius: 50%; }
        .ta_status_l { height: 30px; line-height: 30px; background: #f1f1f1; margin-top: 10px; text-align: center; }
    </style>
}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    店内设置
    <span class="c-gray en">&gt;</span>
    队列设置
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-10">
        <span class="l">
            <a class="btn btn-primary radius" onclick="table_add('添加队列', '/DishAdmin/Main/DishQueueEdit?aId=@Model.DataModel.aId&storeId=@Model.DataModel.storeId')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 新建队列</a>
        </span>
        <span class="r">共有数据：<strong>@(Model.DataList.Count)</strong> 条</span>
    </div>
    <div class="tb_main">
        @foreach (DishQueue item in Model.DataList)
        {
            <div class="tb_list">
                <a href="javascript:void(0);" onclick="table_info('【@(item.q_name)】管理','/DishAdmin/Main/DishQueueEdit?aId=@item.aId&storeId=@item.storeId&id=@item.id')" class="s_opened" id="state_class_@(item.id)">
                    <div class="state" id="state_text_@(item.id)">@(item.q_name)(@(item.q_renshu)人)</div>
                </a>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#tab-system").Huitab("#tab-system .tabBar span", "#tab-system .tabCon", "current", "click", "0")
        });
        function table_info(title, url) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url,
                area: ['600px', '500px']
            });
        }
        function table_add(title, url) {
            var add_index = layer.open({
                type: 2,
                title: title,
                content: url,
                area: ['600px', '500px']
            });
        }
    </script>

}

