* { margin: 0; padding: 0; border: none; /* 让盒子在设置padding时候大小不变 */ -webkit-box-sizing: border-box; box-sizing: border-box; /* 在不同的设备中,rgba可能不同,所以统一设置成透明 */ -webkit-tap-highlight-color: transparent; }
body { font-family: Helvetica, sans-serif; font-size: 12px; color: #333; }
a { text-decoration: none; color: #666; }
input, textarea { outline: none; /* 去除iOS默认的一些非扁平化控件效果(风格不符合不如不要) */ -webkit-appearance: none; }
ul, ol { list-style: none; }
li > a { display: inline-block; width: 100%; }
li a > img { width: 100%; }

.f { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
.f1 { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; cursor: pointer }
.fc { align-items: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center }
.fc-h { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.fv { -webkit-box-orient: vertical; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
.fw { -webkit-flex-wrap: wrap; -webkit-box-lines: multiple; -moz-flex-wrap: wrap; flex-wrap: wrap; }
.fj { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }