.mobile-viewport { min-width: 300px; max-width: 750px; margin: 0 auto; }
.container > img { display: block; }
img { width: 100%; }
.agent-box { position: relative; }
.text-box { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; font-weight: bold; }
.text-box > p { line-height: 1.4em; white-space: nowrap; }
.green-tx { color: #63b504; }
.font50 { font-size: 0.5rem; }
.font70 { font-size: 0.7rem; }
.miniApp-icon { height: 0.7rem; vertical-align: middle; width: auto; }
.xwcx-box {position:relative;}
.xwcx-box > img { width:100%;display:block;}
.reg-btn { position:absolute;bottom:.4rem;right:2.6rem;width: 1.4rem;height:0.5rem;line-height:0.5rem; font-size: 0.2rem;  background-color: #fff; color: #63b504; text-align: center; border-radius: 0.05rem; cursor: pointer; }
.domain-box > img { display:block;width:100%;}
.miniAppVideo-box { padding: 0.6rem 0; text-align: center; }
.video-box { position: relative; width: 90%; margin: 0 auto; }
.title-box { position: relative; width: 100%; text-align: center; margin-bottom: 0.3rem; padding-bottom: 0.2rem; }
.title-font { font-size: 0.3rem; color: #333; line-height: 1.2em; }

/*代理商样式*/
.f-lighter {font-weight:lighter; }
.pt50 {padding-top:0.5rem;}
.title-sm { font-size:0.22rem;color:#999;margin-top: 0.1rem;}
.dl-icon {background-image: url('../../image/indexDl/mobile/icon-sprites.png');width:1rem;height:1rem;background-size: 7rem 3.89rem; }
.ds {background-position:0 0;}
.yy {background-position:-1rem 0;}
.fl {background-position:-2rem 0;}
.zb {background-position:-3rem 0;}
.zx {background-position:-4rem 0;}
.pt {background-position:-5rem 0;}
.kj {background-position:-6rem 0;}
.sp {background-position:0 -1rem;}
.vip {background-position:-1rem -1rem;}
.cz {background-position:-2rem -1rem;}
.kj2 {background-position:-3rem -1rem;}
.pt2 {background-position:-4rem -1rem;}
.dt { background-position:-5rem -1rem;}
.bm { background-position:-6rem -1rem;}
.kf { background-position:0 -2rem;}
.fx { background-position:-1rem -2rem;}
.bgmusic { background-position:-2rem -2rem;}
.fj { background-position:-3rem -2rem;}
.tz { background-position:-4rem -2rem;}
.dd { background-position:-5rem -2rem;}
.banner-swiper-box .banner-img {
  width: 100%;
  height:4rem;
  display: block;
}
.banner-swiper-box .swiper-pagination-custom {
  bottom: 0.15rem;
  left: 0;
  width: 100%;
}
.banner-swiper-box .swiper-pagination-customs {
  width: 0.52rem;
  height: 0.02rem;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 5px;
}
.banner-swiper-box .swiper-pagination-customs-active {
  background-color: #fff;
}
.swiper-item {width:6.32rem;height:7rem;background-color:#fff;padding:0 0.3rem 0.6rem 0.3rem;border-radius: 0.1rem; font-size:0.22rem;}
.swiper-item .intro>p{ /*min-height:1.16rem;*/display: -webkit-box;word-break: break-all;text-overflow: ellipsis;overflow: hidden;-webkit-box-orient: vertical; -webkit-line-clamp:3;}
.swiper-item .title { font-size:0.34rem;padding-bottom:0.2rem;}
.swiper-item .icon-clasp { background:url("../../image/indexDl/mobile/icon-clasp.png")no-repeat center;background-size: cover;width:0.22rem;height:0.22rem;display: inline-block;margin-right: 0.05rem;}
.swiper-item .func .func-item { width:25%;padding-bottom: 0.1rem;}
.swiper-item .case-show .case-item{width:25%;background-color:#f2f2f2;padding:0.1rem;margin:0 0.06rem;}
.solution-box {background:url("../../image/indexDl/mobile/bg-solution.png")no-repeat center;background-size:cover;width:100%;height:10.6rem;overflow: hidden;margin-top:0.8rem;}
.solution-box>.title{ color:#fff;text-align:center;font-size:0.3rem;padding-top:0.8rem;}
.solution-box > .title > p {font-size:0.22rem;margin-top: 0.1rem; }
.slide-show { position:relative;margin-top:0.6rem;width: 100%;height: 7rem;}
.slide-show .list { width:100%;overflow:hidden;}
.slide-show .list > ul > li { position: absolute; top: 0; left: 0; list-style: none; opacity: 0; transition: all 0.3s ease-out; }
.slide-show .list > ul > li.p1 { transform: translateX(10%) scale(1); z-index: 3; opacity: 1; }
.slide-show .list > ul > li.p2 { transform: translateX(110%) scale(0.8); transform-origin: 10% 50%; opacity: 0.9; z-index: 2; }
.slide-show .list > ul > li.p3 { transform: translateX(200%) scale(0.8); }
.slide-show .list > ul > li.p4 { transform: translateX(300%) scale(0.8); }
.slide-show .list > ul > li.p5 { transform: translateX(400%) scale(0.8); }
.slide-show .list > ul > li.p6 { transform: translateX(500%) scale(0.8); }
.slide-show .list > ul > li.p7 { transform: translateX(600%) scale(0.8); }
.slide-show .list > ul > li.p8 { transform: translateX(700%) scale(0.8); }
.slide-show .list > ul > li.p9 { transform: translateX(800%) scale(0.8); }
.slide-show .list > ul > li.p10 { transform: translateX(900%) scale(0.8); }
.slide-show .list > ul > li.p11 { transform: translateX(1000%) scale(0.8); }
.slide-show .list > ul > li.p12 { transform: translateX(-90%) scale(0.8);transform-origin: 90% 50%; opacity: 0.9; z-index: 2; }
.dots-box .dots-bg { width:4.5rem;height:0.06rem;background-color:#f2f2f2; margin: 0 auto;margin-top: 0.5rem;border-radius: 0.05rem;}
.dots-box .dots-bg .dots { height:100%;background-color:#23cd81;border-radius: 0.05rem;}
.productcase-box { background-color:#fff;}
.productcase-box > .title { text-align:center;font-size:0.3rem;padding-top:0.8rem}
.productcase-box > .title > p { color:#999;font-size:0.22rem;margin-top: 0.1rem;}
.productcase-box .case { padding-top:0.6rem;}
.productcase-box .case .label { width:6.9rem;height:0.88rem;border:0.01rem solid #23cd81;margin:0 auto; border-radius: 0.06rem;font-size: 0.26rem;color:#23cd81}
.productcase-box .case .label > li {height:100%;}
.productcase-box .case .label > li:first-child {border-radius: .06rem 0 0 .06rem;}
.productcase-box .case .label > li:last-child {border-radius:  0 .06rem .06rem 0;}
.productcase-box .case .label > li.active { color:#fff;background-color:#23cd81}
.productcase-box .list { padding:0.4rem 0.3rem 0.8rem 0.3rem;}
.productcase-box .list .case-item { width:33.33%;height:3.1rem;font-size:0.22rem;text-align:center;padding: 0 0.1rem;padding-bottom: 0.2rem;}
.productcase-box .list .case-item img { display:block;}
.productcase-box .list .case-item> p { margin-top:0.16rem;}
.about {padding:0.8rem 0.3rem;background-color:#fafafa;}
.about .myswiper-box { border-radius: 0.1rem;background-color:#fff;padding-bottom:0.1rem;}
.about .myswiper-box .myslide {font-size:0.22rem; }
.about .myslide .imgarea { background: url('../../image/indexDl/mobile/bg-about.png')no-repeat center;background-size:cover; height: 3.7rem; padding-top: 0.3rem; text-align: center; color: #fff;border-radius: 0.1rem 0.1rem 0 0; }
.about .myslide .imgarea > h3 { font-size:0.34rem;padding-bottom:0.1rem;text-shadow:0 0.05rem 0.03rem rgba(0,0,0,0.5);}
.about .myslide .imgarea > p {text-shadow:0 0.05rem 0.03rem rgba(0,0,0,0.5); }
.about .myslide .text { padding:0.6rem 0.44rem;background-color:#fff;}
.about .myslide .text > h3 { padding-bottom:0.1rem;}
.about .myslide .text > p { color:#666;}
.myswiper-box .swiper-pagination-custom { bottom: .25rem;left: 0;width: 100%;}
.myswiper-box .swiper-pagination-customs {width: 0.32rem;height: 0.02rem;display:inline-block;background-color: rgba(0,0,0,0.2);margin: 0 5px;}
.myswiper-box .swiper-pagination-customs-active {background-color:#23cd81;}
.contact { padding: 0.8rem 0; background: url('../../image/indexDl/mobile/bg-contact.png')no-repeat center;height:7.18rem; }
.contact .title { color:#fff;font-size:0.22rem;text-align:center;}
.contact .title > h3 { font-size:0.34rem;padding-bottom:0.1rem;}
.contact .form-box { font-size:0.22rem;}
.contact .form-box .item{margin-top:0.3rem; }
.contact .form-box .item > input { width:4.6rem;height:0.9rem;font-size:0.22rem; margin-left: 0.1rem;padding: 0 0.15rem;border-radius: 0.06rem;}
.contact .btn-contact {width:2.6rem;height:0.88rem;background-color:#fe6262;color:#fff;margin:0 auto;text-align:center;line-height:0.88rem;border-radius: 0.06rem;font-size:0.3rem;margin-top:0.4rem;}
.contact .form-box .item > input::-webkit-input-placeholder {  color: #999;}
.contact .form-box .item > input:-moz-placeholder {  color: #999; }
.contact .form-box .item > input::-moz-placeholder { color: #999;}
.contact .form-box .item > input:-ms-input-placeholder { color: #999;}
.footer { width:100%;height:2.78rem;background-color:#2c2e38; font-size: 0.18rem;text-align: center;}
.footer .company-info {width:100%;color:rgba(255,255,255,0.8);padding-bottom:0.1rem; }
.footer .copyright {width:100%;color: rgba(255,255,255,0.45); }
.float-btn { position:fixed;top:50%;right:0.3rem;-webkit-transform: translateY(-50%);transform: translateY(-50%);z-index:3;}
.float-btn .item {width:0.9rem;height:0.9rem;border-radius:50%;background-color:#23cd81;margin:0.2rem 0; }
.large-box { position: fixed; top: 0; left: 0;display:none; width: 100%; height: 100%;background-image: url('../../image/indexDl/mobile/bg-bigImg.png');z-index: 5;}
.large-box .content { color:#fff;width:6.3rem;}
.large-box .content .img-box {width:100%;height:6.3rem;line-height:6.3rem;text-align: center;border-radius:0.1rem;overflow:hidden;background-color:#fff;}
.large-box .content .img-box .large-img { width: 5.3rem; height: 5.3rem;vertical-align: middle;}
.large-box .content .text { font-size:0.3rem;margin-top:0.4rem;}
.large-box .close-box {text-align:center;margin-top:0.66rem; }
/*代理商样式*/

.title-line::after { content: ""; background-color: #333; width: 15%; height: 2px; position: absolute; bottom: 0; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.video-masking { position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background: url('http://j.vzan.cc/dz/content/newhome/image/mobileHome/video-masking.png')no-repeat center; background-size: cover; }
.video-play { width: 15%; cursor: pointer;  }
.video-more-btn {display:block; text-align:center;background-color:#63b504;font-size:0.3rem;color:#fff;width:90%;height:0.9rem;line-height:0.9rem;border-radius:0.1rem; margin:0 auto;margin-top:0.2rem;}
.bottom-text { font-size: 0.24rem; color: #666; padding-top: 0.3rem; }
.profitModel-box { padding: 0.6rem 0; background-color: #f9f9f9; }
.profitModel-text { font-size: 0.22rem; color: #666; padding-bottom: 0.3rem; letter-spacing: 2px; line-height: 1.2em; }
.function-box { padding: 0.6rem 0; }
.icon-box { width: 90%; margin: 0 auto; }
.icon-list { width: 100%; }
.icon-list > li { width: 25%; padding-bottom: 0.3rem; }
.icon-item-box { width: 1rem; text-align: center; }
.icon-item-box > p { font-size: 0.24rem; padding-top: 0.1rem; }
.marketing-box { padding-top: 0.4rem; }
.other-box { padding-top: 0.4rem; }
.dswxMsg-box { position: relative; }
.dswxMsg-content { position: absolute; left: 0; top: 0; width: 100%; height: 100%; flex-direction: row-reverse; }
.dswxMsg-text { color: #fff; font-size: 0.36rem; padding-right: 1.1rem; font-weight: bold; }
.sixmodules-box { padding-top: 0.4rem; }
.versions-content { height: 100%; }
.versions-text { width: 100%; }
.versions-text > h3 { text-align: center; }
.versions-text > p { width: 90%; margin: 0 auto; line-height: 1.2em; padding: 0.2rem 0; letter-spacing: 2px; }
.versions-img { margin: 0 auto; overflow: hidden; }
.font26 { font-size: 0.26rem; color: #fff; }
.font22 { font-size: 0.22rem; color: #fff; }
.dy-box { height: 4.8rem; background: url('http://j.vzan.cc/dz/content/newhome/image/mobileHome/dy-bg.png') no-repeat center; background-size: cover; margin-top: 0.4rem; padding-top: 0.4rem; }
.qy-box { height: 4.8rem; background: url('http://j.vzan.cc/dz/content/newhome/image/mobileHome/qy-bg.png') no-repeat center; background-size: cover; margin-top: 0.8rem; padding-top: 0.4rem; }
.hy-box { height: 4.8rem; background: url('http://j.vzan.cc/dz/content/newhome/image/mobileHome/hy-bg.png') no-repeat center; background-size: cover; margin-top: 0.8rem; padding-top: 0.4rem; }
.ds-box { height: 4.8rem; background: url('http://j.vzan.cc/dz/content/newhome/image/mobileHome/ds-bg.png') no-repeat center; background-size: cover; margin-top: 0.8rem; padding-top: 0.4rem; }
.cy-box { height: 4.8rem; background: url('http://j.vzan.cc/dz/content/newhome/image/mobileHome/cy-bg.png') no-repeat center; background-size: cover; margin-top: 0.8rem; padding-top: 0.4rem; }
.zy-box { height: 4.8rem; background: url('http://j.vzan.cc/dz/content/newhome/image/mobileHome/zy-bg.png') no-repeat center; background-size: cover; margin-top: 0.8rem; padding-top: 0.4rem; }
.support-box { padding-top: 1rem; }
.support-item { border-bottom: 1px solid #dcdcdc; padding: 0.2rem 0; }
.support-item-img { margin-right: 0.3rem; }
.support-item-img > img { width: 1.11rem; }
.support-item-text { width: 100%; }
.support-item-text > h3 { font-size: 0.28rem; }
.support-item-text > p { font-size: 0.26rem; color: #7a7a7a; padding-top: 0.1rem; line-height: 1.2em; }
.project-box { padding-top: 1rem; }
.addwx-text { margin: 0 auto; padding-top: 0.2rem; width: 85%; font-size: 0.22rem; color: #666; letter-spacing: 2px; }
.superiority-box { padding: 0.8rem 0.3rem; }
.superiority-item { margin-bottom: 0.2rem; border: 1px solid #66d46d; }
.superiority-item-img > img { width: 1.2rem; }
.superiority-item-text { width: 100%; padding: 0 0.2rem; }
.superiority-item-text > p { font-size: 0.24rem; color: #333; line-height: 1.2em; letter-spacing: 2px; }
.font-bold { font-weight: bold; }
.floater { position: fixed; left: 0; bottom: 0; background-color: #fff; width: 100%; height: 1.1rem; white-space: nowrap;box-shadow: 0px -1px 1px 1px #f5f5f5;}
.floater-text-box { width: 33.33%; text-align: center; }
.floater-text { position: relative; text-align: center; font-size: 0.26rem; color:#999; display: inline-block; }
.floater-text-icon { width: 0.54rem; height: 0.54rem; }
/*.floater-icon {position:absolute;left: 0; top: 50%; display: inline-block; width: 0.4rem; height: 0.4rem;  -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }*/
#freeReg { position: absolute; top: -50%; left: 50%; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.floater-active { background-color: #63b504; color: #fff; }
/*.f-call { background: url('http://j.vzan.cc/dz/content/newhome/image/mobileHome/call-g.png')no-repeat center; background-size: cover; }
.f-addwx { background: url('http://j.vzan.cc/dz/content/newhome/image/mobileHome/wx-g.png')no-repeat center; background-size: cover; }
.f-reg { background: url('http://j.vzan.cc/dz/content/newhome/image/mobileHome/reg-g.png')no-repeat center; background-size: cover; }*/
.masking-box { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6); }
.dswx-box { width: 100%; height: 100%; }
.dswx-content { text-align: center; padding: 0.58rem 0.48rem; }
.dswx-title { width: 100%; height: 1rem; font-size: 0.36rem; background: url('http://j.vzan.cc/dz/content/newhome/image/mobileHome/dswx-title-bg.png'); }
.dswx-num { font-size: 0.4rem; font-weight: bold; }
.dswx-text { font-size: 0.24rem; }
.code-close { padding-top: 0.4rem; cursor: pointer; }
.regfinish-box { width: 100%; height: 100%; }
.regfinish-content { width: 5.45rem; height: 5rem; background-color: #fff; text-align: center; border-radius: 0.1rem; }
.regfinish-text { padding-top: 0.4rem; }
.regfinish-text > h3 { font-size: 0.32rem; }
.regfinish-text > p { font-size: 0.24rem; padding-top: 0.2rem; padding-bottom: 0.1rem; letter-spacing: 0.05em; }
.backtohome { font-size: 0.2rem; color: #63b504; cursor: pointer; }

/*注册*/
.xwcx-logo { text-align: center; padding-top: 0.3rem; padding-bottom: 0.4rem; }
.xwcx-logo > img { width: 1.36rem; }
.reg-box { background-color: #fff; width: 100%; margin: 0 auto; border-radius: 0.1rem; padding: 0.6rem; }
.reg-box > h3 { padding-bottom: 0.3rem; font-size: 0.3rem; text-align: center; }
.form-item { position: relative; padding: 0.25rem 0; }
.form-name { width: 0.95rem; font-size: 0.26rem; font-weight: bold; white-space: nowrap; letter-spacing: 0.02rem; }
.form-item > input { border: 0; border-bottom: 1px solid #dcdcdc; -webkit-appearance: none; border-radius: 0; padding-left: 0.2rem; padding-right: 0.5rem; height: 0.5rem; width: 100%; font-size: 0.24rem; }
.get-verificationcode { position: absolute; top: 50%; right: 0.1rem; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); color: #ff7e00; cursor: pointer; font-size: 0.24rem; }
.select-icon { position: absolute; top: 50%; right: 0.1rem; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; background: url('http://j.vzan.cc/dz/content/newhome/image/mobileHome/select-down.png')no-repeat; background-size: cover; width: 0.3rem; height: 0.18rem; }
.apply-btn-box { padding-top: 0.5rem; text-align: center; }
.apply-btn { padding: 0.3rem 0; background-color: #63b504; color: #fff; display: inline-block; font-size: 0.32rem; border-radius: 0.08rem; width: 100%; cursor: pointer; white-space: nowrap; }
.protocolenter-box { padding-top: 0.5rem; }
.protocolenter-box > p { position: relative; font-size: 0.24rem; color: #63b504; white-space: nowrap; text-align: center; }
.line::before { position: absolute; left: 0; top: 50%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); content: ""; width: 23.35%; height: 1px; background-color: #dcdcdc; }
.line::after { position: absolute; right: 0; top: 50%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); content: ""; width: 23.35%; height: 1px; background-color: #dcdcdc; }
.copyright-box { padding-top: 0.8rem; padding-bottom: 0.2rem; margin: 0 auto; }
.copyright-box > p { font-size: 0.22rem; white-space: nowrap; line-height: 1.5em; color: #aeaeae; text-align: center; }
.protocol-box { position: fixed; left: 0; top: 0; width: 100%; overflow: auto; height: 100%; background-color: rgba(0,0,0,0.6); }
.protocol-content-box { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.protocol-content { width: 6.7rem; height: 8.75rem; padding: 0.6rem 0.2rem; border-radius: 0.1rem; background-color: #fff; overflow: auto; }
.protocol-content > h3 { text-align: center; font-size: 0.34rem; padding-bottom: 0.3rem; }
.protocol-content > h4 { font-size: 0.22rem; line-height: 1.3em; }
.protocol-content > p { text-indent: 2em; font-size: 0.22rem; line-height: 1.3em; }
.indent-4 { text-indent: 3em !important; }
.protocol-close { text-align: center; padding-top: 0.4rem; cursor: pointer; }
/*表单*/
.form-area-box{background-color: #f9f9f9;padding:0.8rem 0;}
.form-area { width:100%;}
.warn-star:after { content: '*'; color: #f85959; }
.input-group-i { padding: 0.2rem 0.4rem; position: relative; border-collapse: separate; }
.input-group-addon-i { display: inline-block; font-size:0.26rem; text-align: center; line-height: 1; margin-bottom: 0.22rem; color: #333; }
.m-input-text { position: relative; }
.form-control { display: block; height: 0.9rem; width: 100%; color: #555; background-color: #fff; border-radius: 0.08rem; padding: 0.06rem 0.12rem; font-size: 0.26rem; border: 1px solid #ccc; /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/ text-align:center;}
.btn-i { width: 100%;font-size:0.3rem; border-radius: 0.08rem; height: 0.88rem; color: #fff; background-color: #00b80c; outline: none; cursor:pointer;}
/*视频列表*/
.video-label-list {width:100%;height:1rem; background-color:#f7f7f7;border-bottom:1px solid #d8d8d8;color:#999;position:fixed;top:0;left:0;}
.video-label {text-align:center;font-size:0.32rem;font-weight:bold;}
.active-label { position:relative;color:#000;}
.active-label::after { content:"";width:0.4rem;height:0.04rem;background-color:#000;position:absolute;left:50%;bottom:-0.1rem; -webkit-transform: translate(-50% , 0);transform: translate(-50% ,0);}
.videList-area { padding:0.34rem 0;margin-top:1rem;}
.video-item { width:49%;padding-bottom:0.2rem;}
.video-title { padding:0 0.1rem}
.video-title>h4 { font-size:0.24rem;font-weight:lighter;min-height:0.93rem;display: -webkit-box; word-break: break-all;text-overflow: ellipsis;overflow: hidden;-webkit-box-orient: vertical;-webkit-line-clamp: 3;}
.video-title > p { font-size:0.20rem;color:#666;padding-top:0.05rem;}
.player-area {position:relative; width:100%;height:100%; position:fixed;top:0;left:0; background-color:rgba(0,0,0,0.8)}
/*.closeVideo-btn { display:inline-block;padding:0.1rem 0.15rem;color:#666;position:absolute;top:0;right:0;}*/
.videoPlay-btn { position:absolute;left:50%;top:50%;-webkit-transform: translate(-50% , -50%);transform: translate(-50% , -50%);width:1rem;cursor:pointer;}