<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <connectionStrings>
    <add name="MINIAPP" connectionString="Server=rm-2zeb066ju39hu2mz0620.mysql.rds.aliyuncs.com;Port=3306;Database=miniappdb;Uid=mir1ny6fwe;Pwd=zrxjPDmYuRqb3h0Z;CharSet=utf8mb4;Convert Zero Datetime=True;" providerName="MySql.Data.MySqlClient"/>

    <add name="SAS" connectionString="Server=rm-2zeb066ju39hu2mz0620.mysql.rds.aliyuncs.com;Port=3306;Database=citydb;Uid=mir1ny6fwe;Pwd=zrxjPDmYuRqb3h0Z;CharSet=utf8mb4;Convert Zero Datetime=True;" providerName="MySql.Data.MySqlClient"/>

    <!--小程序授权数据库-->
    <add name="VZAN" connectionString="Server=rm-2zeo992az9y3lyju0248.mysql.rds.aliyuncs.com;Port=3306;Database=openxcx;Uid=wxsf123ww;Pwd=Ezhe1R81wd9SLXvw;CharSet=utf8mb4;" providerName="MySql.Data.MySqlClient"/>

    <add name="QLWL" connectionString="Server=wx19760811.mysql.rds.aliyuncs.com;Port=3939;Database=MiniSNS;Uid=wx;Pwd=weixin1314;CharSet=utf8;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>

    <!--提现轮询间隔(单位:秒)-->
    <add key="DrawCashInterval" value="10"/>
    <!--Redis服务器路径<add key="RedisPath" value="10.171.40.11:6379"/>-->
    <add key="RedisPath" value="r-2zeaca60bea1abc4:voGLJ6g1ciWs6aq9@r-2zeaca60bea1abc4369.redis.rds.aliyuncs.com:6379"/>
    <!--商铺ID-->
    <add key="MCHID" value="1275690901"/>
    <!--商铺KEY-->
    <add key="KEY" value="fwewe31231ff3fsfewfweffwefwfefer"/>
    <!--商铺证书路劲（路劲和密码暂时用不到，在退款的时候用到）-->
    <add key="SSLCERT_PATH" value="C:\wwwroot\cert\apiclient_cert.p12"/>
    <!--商铺证书密码（路劲和密码暂时用不到，在退款的时候用到）-->
    <add key="SSLCERT_PASSWORD" value="1275690901"/>
    <!--服务器IP，手动配置，可以改成后台获取-->
    <add key="IP" value="101.200.157.26"/>

    <!--自动安装证书服务-->
    <!--证书安装路径-->
    <add key="InstallPath" value="C:\wwwroot\cert\"/>
    <!--证书压缩包路径-->
    <add key="CertZipPath" value="\\share.vzan.cc\file\dzcert\"/>

  </appSettings>

  <log4net>
    <appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <File value="Logs\err.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="infoAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <File value="Logs\info.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="debugAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <File value="Logs\debug.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="perfAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="INFO"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <File value="Logs\perf.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="errorAppender"/>
      <appender-ref ref="infoAppender"/>
      <appender-ref ref="debugAppender"/>
    </root>
    <logger name="Performance" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="perfAppender"/>
    </logger>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
