module.exports = {
  toTime: function (item, nowDate) {
    var nowtime = nowDate
    var time = 0;
    var isbegin = false, isend = false;
    //如果开始时间大于当前时间
    if (getDate(item.startDateStr) - nowtime > 0) {
      time = getDate(item.startDateStr)
      //准备开始
      isbegin = false;
      isend = false;

    } else {
      if (nowtime > getDate(item.startDateStr) && nowtime < getDate(item.endDateStr)) {
        //开始
        isbegin = true;
        isend = false;
        time = getDate(item.endDateStr)
      }
      else {
        //结束
        isbegin = false;
        isend = true;
        time = 0;
      }
    }
    var surplustime = parseInt(time - nowtime) / 1000
    //秒
    var s = parseInt(surplustime % 60)
    s = s <= 9 ? '0' + s : s
    //总的分钟
    var allmin = parseInt(surplustime / 60)
    //分钟
    var m = parseInt(allmin % 60)
    m = m <= 9 ? '0' + m : m
    var h = parseInt(allmin / 60)
    h = h <= 9 ? '0' + h : h
    var time = h + ":" + m + ":" + s

    return { time: time, isbegin: isbegin, isend: isend }
  }
};