a:hover{
    text-decoration:none;
}
.main {
    width: 1400px;
    margin: 0px auto;
    background-color: #fff;
}

.chxn_nav_r > li {
    float: left;
    font-size: 14px;
    font-family: \5fae\8f6f\96c5\9ed1,\9ed1\4f53;
    text-align: center;
    line-height: 50px;
}

    .chxn_nav_r > li > a {
        width: 90px;
        height: 50px;
        color: #2c2b2b;
        display: block;
        background-color: #fff;
        padding: 0 8px;
        _padding: 0 12px;
        border: 1px solid #9F9F9F;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }

    .chxn_nav_r > li > input {
        width: 72px;
        height: 30px;
        color: #2c2b2b;
        display: block;
        background-color: #fff;
        padding: 0 8px;
        _padding: 0 12px;
        margin-left: 9px;
        margin-right: 9px;
        border: 1px solid #9F9F9F;
        text-align: center;
        font-weight: bold;
        border-radius: 5px;
        line-height: 30px;
    }


ol, ul {
    margin-bottom: 0;
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: border-box;
    box-sizing: inherit;
}

#saveBtn {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #169BD5;
    color: #fff;
}

.deletebutton {
    width: 100px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #9F9F9F;
    color: #fff;
}

.model_left {
    background-color: #bfbfbf;
    box-shadow: inset 1px -1px 1px #bfbfbf, inset -1px 1px 1px #bfbfbf;
    float: left;
    width: 27%;
}

.model_left_table_width {
    width:721px;
}

.model_left_d {
    height: 720px;
    width: 85%;
    margin: 0px auto;
}

.model_left_d_d1 {
    height: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.model_left_d_d2 {
    background-color: white;
    overflow: hidden;
    min-height:600px;
    max-height:700px;
}


.model_right {
    background-color: #bfbfbf;
    box-shadow: inset 1px -1px 1px #bfbfbf, inset -1px 1px 1px #bfbfbf;
    ;
    float: left;
    width: 73%;
}

.model_right_table_td_width {
   width:20%;
}


.model_right_d {
    /*height: 710px;*/
    width: 85%;
    margin: 0px auto;
}

.model_right_t_font {
    font-size: 25px;
    padding-right: 20px;
    text-align: right;
    font-weight: bold;
    font-family: 黑体;
    margin:0px;
}

.model_right_s {
    width: 200px;
    margin-right: 20px;
    height: 30px;
}

