
@{
    ViewBag.Title = "送花配置";
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    ViewBag.PageType = 25;//25是小程序足浴版，用于母版页的左侧菜单区分
}
@model List<EntGoods>
<style>
    .layui-form-switch { margin-top: 0px; height: 24px; width: 53px; }
    .layui-form-onswitch { border-color: #2196f3; background-color: #2196f3; }
    .layui-form span { font-size: 16px; font-weight: bold; margin-left: 20px; }
    .layui-form label { color: #ff6a00; font-weight: normal; }
    .form-control { width: 70px; }
    #app table { margin:20px 0px 0px 20px; }
    .layui-table { width: 550px; }
    .layui-table th, .layui-table td { text-align: center }
    .btn-primary, .btn-primary:active, .btn-primary:focus { background-color: #2196f3; border-color: #2196f3; }
    .btn-primary:hover, .btn-primary:active:hover { background-color: #337ab7; border-color: #337ab7; }

    .btnbox { text-align: center; margin-top: 16px; margin-bottom: 5px; }
    .modal-body table { margin: 0 auto; }
    .modal-body table tr { height: 50px; }
    .modal-body input[type='text'] { width: 200px; }
    .modal-content { width: 350px; }
    button.close { position: inherit; width: auto; height: auto; }
    .btn-position { margin: 20px 0px 0px 20px; }
</style>
<div id="app" v-cloak>
    <div class="layui-form">
        <span>客户可送花查看技师相册：</span><input type="checkbox" lay-skin="switch" lay-text="开|关" v-model="ShowPhotoByGift">
        <label v-if="ShowPhotoByGift">* 开启后，顾客可在技师主页送花查看技师的付费相册</label>
        <label v-else>* 关闭后，技师主页的相册模块将隐藏</label>
    </div>
    <button type="button" class="btn btn-primary btn-position" v-on:click="AddGift()" v-if="GiftPackages.length<6">
        <span class="glyphicon glyphicon-plus" aria-hidden="true" style="font-size:12px;"></span>新增套餐
    </button>

    <table class="layui-table" lay-skin="line">
        <thead>
            <tr>
                <th>套餐名称</th>
                <th>花朵数量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tr v-for="(giftPackage,index) in GiftPackages">
            <td>{{giftPackage.name}}</td>
            <td>{{giftPackage.stock}}</td>
            <td>
                <a href="javascript:;" class="editbtn" v-on:click="EditGift(index)">编辑</a>
                <a href="javascript:;" class="color-red" v-on:click="DelGift(index)" v-if="GiftPackages.length>1">删除</a>
            </td>
        </tr>
    </table>
    <table style="float:left;">
        <tr>
            <td style="font-weight:bold">价格：</td>
            <td><input type="text" class="form-control" placeholder="0~999之间，保留两位小数" v-model="GiftPrice" /></td>
            <td> 元/朵</td>
        </tr>
    </table>

    <button type="button" class="btn btn-primary btn-position" v-on:click="SavePrice()">
       保存
    </button>
    <!--#region 新增编辑-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="AddGoodModal_label">套餐管理</h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td align="right">套餐名称：</td>
                            <td align="left"><input type="text" class="form-control" placeholder="不超过20字" v-model="GiftInfo.name" /></td>
                        </tr>
                        <tr>
                            <td align="right">鲜花数量：</td>
                            <td align="left">
                                <input type="text" class="form-control" placeholder="数量:1~999" v-model="GiftInfo.stock" />
                            </td>
                        </tr>
                    </table>
                    <div class="btnbox">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="SaveInfo()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--#endregion-->
</div>

<script type="text/javascript">
    var form;
    var app = new Vue({
        el: "#app",
        data: {
            appId:@ViewBag.appId,
            GiftPackages:@Html.Raw(JsonConvert.SerializeObject(Model)),
            GiftPrice:@Html.Raw(ViewBag.GiftPrice),
            ShowPhotoByGift:@Html.Raw(ViewBag.ShowPhotoByGift?"true":"false"),
            isOpen: 0,
            selIndex:-1,
            GiftInfo: {
                id: 0,
                appId:@ViewBag.appId,
                name: '',
                stock:1,
            }
        },
        methods: {
            InitLayer: function () {
                layui.use(['form'], function () {
                    //开关按钮
                    form = layui.form;
                    form.on('switch', function (data) {
                        app.ShowPhotoByGift = data.elem.checked;
                        if (app.ShowPhotoByGift) app.isOpen = 1;
                        else app.isOpen = 0;
                        app.SaveConfig();
                    });
                });
            },
            SaveConfig: function () {
                layer.closeAll();
                var layerIndex = layer.load(2);
                $.post("/footbath/SaveGiftConfig", { isOpen: app.isOpen, appId: app.appId }, function (data) {
                    layer.close(layerIndex);
                    if (data.isok) {
                        if (app.ShowPhotoByGift) {
                            layer.msg("已开启");
                        } else {
                            layer.msg("已关闭");
                        }
                    } else {
                        layer.msg(data.msg);
                    }
                })
            },
            SavePrice: function () {
                if (this.GiftPrice < 0 || !(/^[0-9]+([.]{1}[0-9]{1,2})?$/).test($.trim(this.GiftPrice)) || this.GiftPrice > 999) {
                    layer.msg("价格范围：0~999，最多两位小数");
                    return;
                }
                var layerIndex = layer.load(2);
                $.post("/footbath/SaveGiftPrice", { appId: app.appId, GiftPrice: app.GiftPrice*100 }, function (data) {
                    layer.close(layerIndex);
                    layer.msg(data.msg);
                })
            },
            AddGift: function () {
                app.GiftInfo.id = 0;
                app.GiftInfo.name = '';
                app.GiftInfo.stock = 1;
                app.selIndex = -1;
                $('#editModal').modal('show');
            },
            EditGift: function (index) {
                app.selIndex = index;
                app.GiftInfo.id = app.GiftPackages[index].id;
                app.GiftInfo.name = app.GiftPackages[index].name;
                app.GiftInfo.stock = app.GiftPackages[index].stock;
                $('#editModal').modal('show');
            },
            SaveInfo: function () {
                if ($.trim(app.GiftInfo.name) == '') {
                    layer.msg("请输入套餐名称");
                    return;
                }
                if ($.trim(app.GiftInfo.name).length > 5) {
                    layer.msg("套餐名称不能超过5字");
                    return;
                }
                if (app.GiftInfo.stock < 0 || app.GiftInfo.stock > 999) {
                    layer.msg("鲜花数量范围:0~999之间");
                    return;
                }
                var layerIndex = layer.load(2);
                $.post("/footbath/SaveGiftInfo", app.GiftInfo, function (data) {
                    layer.close(layerIndex);
                    layer.msg(data.msg);
                    if (data.isok) {
                        $('#editModal').modal('hide');
                        if (app.selIndex < 0) {
                            app.GiftPackages.push(data.info);
                        } else {
                            Vue.set(app.GiftPackages, app.selIndex,data.info)
                        }

                    }
                },"json")
            },
            DelGift: function (index) {
                layer.confirm('是否确定删除该套餐？', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    var layerIndex = layer.load(2);
                    $.post("/footbath/DelGift", { appId: app.appId, id: app.GiftPackages[index].id }, function (data) {
                        layer.close(layerIndex);
                        layer.msg(data.msg);
                        if (data.isok) {
                            app.GiftPackages.splice(index, 1);
                        }
                    })
                });
            }

        },
        created: function(){
            this.InitLayer();
        }
    })
</script>

