
@using Entity.MiniApp.Footbath
@{
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    ViewBag.PageType = 25;//25是小程序足浴版，用于母版页的左侧菜单区分
    ViewBag.Title = "门店信息";
}
@model FootBath
<style>
    /*默认滚动条样式*/
    .layui-laydate-content ::-webkit-scrollbar { width: 8px; height: 8px; }
    .layui-laydate-content ::-webkit-scrollbar-track { border: 1px #d3d3d3 solid; box-shadow: 0px 0px 3px #dfdfdf inset; border-radius: 10px; background: #eee; }
    .layui-laydate-content ::-webkit-scrollbar-thumb { border: 1px #808080 solid; border-radius: 10px; background: #999; }
    .layui-laydate-content ::-webkit-scrollbar-thumb:hover { background: #7d7d7d; }

    .row{width:869px;}
    .table td.title { text-align: right; width: 20% }
    .storename { width: 200px }
    .layui-form-switch{margin-top:0px; height:24px; width:53px;}
    .layui-form-onswitch { border-color: #2196f3; background-color: #2196f3; }
    input[type=checkbox]{margin:0px;}
    .business-hours label{margin-right:10px;}
    .btn-primary, .btn-primary:active, .btn-primary:focus { background-color: #2196f3; border-color: #2196f3; }
    .btn-primary:hover, .btn-primary:active:hover { background-color: #337ab7; border-color: #337ab7; }
    /*图片上传组件样式*/
    .del-btn { position: absolute; top: -9px; right: -8px; color: #fff; background: rgba(0, 0, 0, 0.56); width: 18px; border-radius: 13px; text-align: center; line-height: 18px; }
</style>
<input type="hidden" id="CName_Hidden" value="小程序" />
<input type="hidden" id="listenMap" value="" onchange="getMap();" />
<div id="app" v-cloak>
    <div class="row">
            <table class="table table-condensed cancel-table-td-border ">
                <tr v-if="!isAuthorize">
                    <td> </td>
                    <td>
                        <div>
                            <a style="font-size: 18px;text-decoration:underline; " target="_blank" href="/config/MiniAppConfig?appId=@ViewBag.appId&type=25">您暂未对小程序授权 , 请到 [ 小程序模板 ] ]进行授权</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="title">店铺名称<label class="color-red">*</label></td>
                    <td><input type="text" class="form-control storename" v-model="storeModel.StoreName" /></td>
                </tr>

                <tr>
                    <td class="title" style="vertical-align: middle;"><p class="model_right_t_font">店铺Logo<label class="color-red">*</label></p></td>
                    <td>
                        <div class="LogoImgUrl">
                            <div class="ImgUrl" id="logo">
                                <div style="float:left;position:relative;margin:10px 0 10px 22px;" v-for="(imgInfo,index) in componentData.uploadData.logo.imgList">
                                    <img :src="imgInfo.filepath" style="width:100px;border: 1px solid #ccc;" />
                                    <a href="javascript:;" class="del-btn" v-on:click="componentData.uploadData.logo.imgList.splice(index,1)">x</a>
                                </div>
                                <div style="float:left;position:relative;margin:10px 0 10px 22px;">
                                    <button v-on:click="$refs.uploadImg.pickImg('logo')" style="margin-top:18px;display:block;" v-if="componentData.uploadData.logo.imgList.length<=0">上传图片</button>
                                </div>
                                <div class="layui-progress" lay-filter="demo" lay-showPercent="true" style="display:none;">
                                    <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                                </div>
                                <div class="clearfix"></div>
                                <upload-component ref="uploadImg" v-bind="componentData"></upload-component><!--上传组件(一个页面用一次即可)-->
                            </div>
                            <label class="forinputmassage color-red" >* 建议上传300*300px的图片</label>
                        </div>
                        
                    </td>
                </tr>
                <tr>
                    <td class="centertext title"><p class="model_right_t_font">门店照片</p></td>
                    <td>
                        <div class="ImgUrl" id="photoUrl">
                            <div style="float:left;position:relative;margin:10px 0 10px 22px;" v-for="(imgInfo,index) in componentData.uploadData.photoUrl.imgList">
                                <img :src="imgInfo.filepath" style="width:100px;height:90px;border: 1px solid #ccc;" />
                                <a href="javascript:;" class="del-btn" v-on:click="componentData.uploadData.photoUrl.imgList.splice(index,1)">x</a>
                            </div>
                            <div style="float:left;position:relative;margin:10px 0 10px 22px;">
                                <button v-on:click="$refs.uploadImg.pickImg('photoUrl')" style="margin-left:23px;margin-top:30px;display:block;" v-if="componentData.uploadData.photoUrl.imgList.length<10">上传图片</button>
                            </div>
                            <div class="layui-progress" lay-filter="photo-progress" lay-showPercent="true" style="display:none;">
                                <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                            </div>
                           
                            <div class="clearfix"></div>
                        </div>
                        <label class="forinputmassage color-red">* 最多可上传10张门店照片，建议照片尺寸为750*500px</label>
                    </td>
                </tr>
                <tr>
                    <td class="title">详细地址<label class="color-red">*</label></td>
                    <td class="form-inline">
                        <label id="Address">{{storeModel.Address}}</label>
                        <a id="btnMap"><label id="checkMapStr" v-on:click="GetMap()">{{storeModel.Address.length>0?"重新选择" : "从地图选择"}}</label></a>
                    </td>
                </tr>
                @*<tr>
                    <td class="title">24小时营业：</td>
                    <td>
                        <div class="layui-form">
                            <input type="checkbox" name="switch" lay-skin="switch" lay-text="开启|关闭" v-model="storeModel.switchModel.OpenAllDay">
                        </div>
                    </td>
                </tr>*@
                <tr>
                    <td class="title">营业时间<label class="color-red">*</label></td>
                    <td class="business-hours">
                        <label><input class="weekcheckbox" name="weekcheckbox" type="checkbox" v-model="storeModel.switchModel.Monday" />周一</label>
                        <label><input class="weekcheckbox" name="weekcheckbox" type="checkbox" v-model="storeModel.switchModel.Tuesday"/>周二</label>
                        <label><input class="weekcheckbox" name="weekcheckbox" type="checkbox" v-model="storeModel.switchModel.Wensday"/>周三</label>
                        <label><input class="weekcheckbox" name="weekcheckbox" type="checkbox" v-model="storeModel.switchModel.Thursday"/>周四</label>
                        <label><input class="weekcheckbox" name="weekcheckbox" type="checkbox" v-model="storeModel.switchModel.Friday"/>周五</label>
                        <label><input class="weekcheckbox" name="weekcheckbox" type="checkbox" v-model="storeModel.switchModel.Saturday"/>周六</label>
                        <label><input class="weekcheckbox" name="weekcheckbox" type="checkbox" v-model="storeModel.switchModel.Sunday"/>周日</label>
                    </td>
                </tr>
                @*<tr v-show="!storeModel.switchModel.OpenAllDay">
                    <td class="title"><label class="color-red">*</label></td>

                    <td id="openTimeTd">
                            <div class="OpenTimeDiv" style="margin-bottom:5px">
                                <input type="text" readonly="readonly" class="form-control storename" id="ShopTime" value="" />
                            </div>
                        <label class="forinputmassage color-red" for="DeliveryRange">营业时间外,外卖及点餐小程序均会显示商家休息中,顾客将无法下单</label>
                    </td>
                </tr>*@
                <tr>
                    <td class="title">客服电话<label class="color-red">*</label></td>
                    <td><input type="text" class="form-control storename" v-model="storeModel.TelePhone" /></td>
                </tr>

                <tr>
                    <td class="title">店铺公告</td>
                    <td><textarea class="form-control width400" rows="8" id="Notice" v-model="storeModel.Notice"></textarea></td>
                </tr>
                <tr><td colspan="2">&nbsp;</td></tr>
                <tr><td colspan="2">&nbsp;</td></tr>
                <tr>
                    <td colspan="2" style="text-align:center">
                        <input type="button" class="btn btn-primary width100" v-on:click="SaveInfo()" value="保存" />
                    </td>
                </tr>
            </table>
    </div>
    <!-- #region 选择地图位置弹窗 -->
    <div class="modal fade" id="ChooseLocationModal" tabindex="-1" role="dialog" aria-labelledby="ChooseLocationModal_label">
        <div class="modal-dialog modal-lg" role="document" style="width:1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ChooseLocationModal_label">选择地图位置</h4>
                </div>
                <div class="modal-body">
                    <iframe name="mapframe" src="/content/plugin/chooselocation/index.html" frameborder="0" width="100%" height="610"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" v-on:click="ChooseLocation()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="@(WebSiteConfig.cdnurl)content/aliosslib/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="@(WebSiteConfig.cdnurl)content/plugin/uploadImg.js"></script>
<script>
    var form, laydate, element;
    var app = new Vue({
        el: "#app",
        data: {
            //传入组件数据
            componentData: {
                uploadData: {
                    //传入图片对象
                    logo: {
                        imgList:@Html.Raw(ViewBag.Logo!=null?JsonConvert.SerializeObject(ViewBag.Logo):"[]"),//图片路径
                        progress: 'demo',//进度条过滤器
                        maxfile: 1,
                    },
                    photoUrl: {
                        imgList: @Html.Raw(ViewBag.storePicList != null ? JsonConvert.SerializeObject(ViewBag.storePicList) : "[]"),//图片路径
                        progress: 'photo-progress',//进度条过滤器
                        maxfile: 10,
                    }
                }
            },

            seldays:[],
            isAuthorize:@ViewBag.isAuthorize==null ? 0 :@ViewBag.isAuthorize,
            storeModel:@Html.Raw(JsonConvert.SerializeObject(Model)),
            Logo: [],
            storeImgs:[],
        },
        //上传组件
        components: {
            // <upload-component> 将只在父组件模板中可用
            'upload-component': uploadChild
        },
        methods: {
            GetMap: function () {
                $("#ChooseLocationModal").modal("show");
            },
            ChooseLocation: function () {
                var _location = mapframe.window.document.getElementById("poi_cur").value;
                var _addr_cur = mapframe.window.document.getElementById("addr_cur").value;
                var _zoom = mapframe.window.document.getElementById("zoomlevel").innerHTML;
                if (_location == "") {
                    layer.msg("您还未选择地理位置！");
                    return;
                }
                _location = _location.split(",");
                this.storeModel.Lng = parseFloat(_location[1]);
                this.storeModel.Lat = parseFloat(_location[0]);
                this.storeModel.Address = _addr_cur;
                $("#checkMapStr").text("重新选择");
                $("#ChooseLocationModal").modal("hide");
            },
            InitLayer: function () {
                layui.use(['form', 'laydate', 'element'], function () {
                    element = layui.element;
                    //开关按钮
                    form = layui.form;
                    form.on('switch', function (data) {
                        app.storeModel.switchModel.OpenAllDay = data.elem.checked;
                    });  
                    //时间选择器
                    laydate = layui.laydate;
                    laydate.render({
                        elem: '#ShopTime', //指定元素
                        type: 'time',
                        theme: 'grid',
                        format:'HH:mm',
                        value: app.storeModel.ShopTime,
                        range: true,
                        done: function (value, date, endDate) {
                            console.log(value);
                            app.storeModel.ShopTime = value;
                        }
                    });
                });
            },
            SaveInfo: function () {
                if(!this.ValidData())return;

                $.post("/footbath/SaveIndex", { logo: app.componentData.uploadData.logo.imgList, storeImgs: app.componentData.uploadData.photoUrl.imgList, info: app.storeModel }, function (data) {
                    layer.msg(data.msg);
                },"json")
            },
            ValidData: function () {
                var result = false;
                $('input[name="LogoImgUrl"]').each(function (i, n) {
                    app.Logo.push($(n).val());
                });
                if (app.Logo.length <= 0 && app.LogoCount <= 0) {
                    layer.msg("请选择店铺logo");
                    return result;
                }
                $('input[name="storeImgUrl"]').each(function (i, n) {
                    app.storeImgs.push($(n).val());
                });
                if (app.storeImgs.length > 10) {
                    layer.msg("门店照片不能超过10张");
                    return result;
                }
                if ($.trim(app.storeModel.StoreName).length <= 0) {
                    layer.msg("请输入店铺名称");
                    return result;
                }
                app.seldays = $("input[name='weekcheckbox']:checked");
                if (app.seldays.length <= 0) {
                    layer.msg("请选择营业时间");
                    return result;
                }
                if (!app.storeModel.switchModel.OpenAllDay && app.storeModel.ShopTime.length <= 0) {
                    layer.msg("请选择具体营业时间");
                    return result;
                }
                result = true;
                return result;
            }
        },
        created: function(){
            this.InitLayer();
        }
    })

    //function removeAttachmentFunction(file) {
    //    if (file && file.id) {
    //        // 删除Logo
    //        $.get('/foods/DeleteImg?id=' + file.id,
    //            function (data) {
    //                if (!data.Success) {
    //                    layer.msg("网络不好 , 删除失败 , 请稍后重试 !");
    //                    return e.ee;
    //                }
    //            });
    //    }
    //}
</script>





