@using Entity.MiniApp.Footbath
@model object
@{
    ViewBag.Title = "关联足浴客户端";

    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    ViewBag.PageType = 47;//47是小程序足浴技师端，用于母版页的左侧菜单区分
}
<script>
    var model =@Html.Raw(Model==null?"null":JsonConvert.SerializeObject(Model));
    var relation = model.xcxRelation;
    var clientList = model.clientModelList;
    var appId = model.appId;
</script>
<div id="app">
    <a href="javascript:;" style="font-size:16px; padding:16px;" v-if="relation==null" v-on:click="LinkClient()"> 未关联客户端小程序，点击关联</a>
    <div v-else>
        <p>已关联客户端小程序：{{relation.clientXcxName}}(aid:{{relation.clientAid}})<a href="javascript:;"  v-on:click="LinkClient()">修改关联</a></p>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        关联客户端小程序
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="layui-table" lay-skin="line" >
                        <tr>
                            <th>小程序名称</th>
                            <th>关联状态</th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="(client,index) in clientList">
                            <td>{{client.xcxName}}(aid:{{client.aid}})</td>
                            <td>{{client.relation!=null?'已关联':'未关联'}}</td>
                            <td v-if="client.relation!=null && client.relation.technicianAid==appId">
                                <a href="javascript:;" v-on:click="CancelClientLink(index)">取消关联</a>
                            </td>
                            <td v-else>
                                <a href="javascript:;" v-on:click="SaveClientLink(index)">关联当前技师端</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer" style="text-align:center;">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!--/.modal-->
</div>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            relation: relation,
            clientList: clientList,
            appId:appId
        },
        methods: {
            LinkClient: function () {
                $('#myModal').modal('show')
            },
            SaveClientLink: function (index) {
                var that = this;
                if (clientList[index].relation) {
                    layer.confirm("此客户端已关联了其他技师端小程序，是否确定关联到当前技师端", {
                        btn: ['确定', '取消'] //按钮
                    }, function () {
                        $.post("/footbath/SaveClientLink", { appId: that.appId, clientAid: clientList[index].aid }, function (data) {
                            layer.msg(data.msg, { isOutAnim: false,time:1000 }, function () {
                                if (data.isok) {
                                    window.location.reload();
                                }
                            });
                        })
                    })
                } else {
                    $.post("/footbath/SaveClientLink", { appId: that.appId, clientAid: clientList[index].aid }, function (data) {
                        layer.msg(data.msg, { isOutAnim: false, time: 1000 }, function () {
                            if (data.isok) {
                                window.location.reload();
                            }
                        });
                    })
                }
            },
            CancelClientLink: function (index) {
                var that = this;
                layer.confirm("是否确定取消与当前技师端的关联", {
                        btn: ['确定', '取消'] //按钮
                    }, function () {
                        $.post("/footbath/CancelClientLink", { appId: that.appId, clientAid: clientList[index].aid }, function (data) {
                            layer.msg(data.msg, { isOutAnim: false, time: 1000}, function () {
                                if (data.isok) {
                                    window.location.reload();
                                }
                            });
                        })
                    })
            }
        }
    });
</script>

