@{
    Layout = "/Views/Shared/_MobileHomeLayout.cshtml";
    ViewBag.Title = "拼团";
}
@section cssSection{
}
<div class="container" style="display:none;">
    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/coreViews/core-pt.jpg" />
</div>

@section script{
    <script>
        $(window).load(function () {
            $(".container").show();
        })
    </script>
}


