.bottom-nav-item.sel,
.righttools{ 
    color:#FE525F;
}

.app-design .app-preview .app-config .app-field h1{ 
   background-color:#FE525F;
   background-image:url("../img/pageset/titlebar_bg_white_750x128.png");
}
.newshead {color:#FE525F; }
.headstyle1 .title > span { display: inline-block; border-bottom: 2px solid #FE525F; min-width: 88px; }
.headstyle4 .title > span:before { border-left: 2px solid #FE525F;}

.liststyle1 .icon-yuandian { color:#FE525F;}

.searchbg1 { background-color:#FE525F;}