.bottom-nav-item.sel,
.righttools { color: #218CD7; }

.app-design .app-preview .app-config .app-field h1 { }
.app-design .app-preview .app-config .app-field h1 span { color: black; }

.newshead { color: #218CD7; }
.headstyle1 .title > span { display: inline-block; border-bottom: 2px solid #218CD7; min-width: 88px; }
.headstyle4 .title > span:before { border-left: 2px solid #218CD7;}

.liststyle1 .icon-yuandian { color:#218CD7;}

.searchbg1 { background-color:#fff;}
.searchbg1 .searchinput { background-color:#f4f4f4;color:#c7c6cd;}