
<div class="pro-case pdy60 f fv fc" v-if="xcxTemplates!=null && xcxTemplates.length>0">
    <h3 class="fz-30 c-333 mgb50">{{xcxTemplates[optionNum].TName}}案例展示</h3>
    <ul class="label-list f fw fc">
        <li v-if="tags.length>1" v-on:click="GetDataByTagId(-1)"><div v-bind:class="['btn-label',{'current-btn':tagId==0}]">全部</div></li>
        <li v-for="(tag,index) in tags" v-on:click="GetDataByTagId(index)"><div v-bind:class="['btn-label',{'current-btn':tagId==tag.id||tags.length==1}]">{{tag.tagname}}</div></li>
    </ul>
    <ul class="case-ul f fw">
        <li v-for="caseItem in cases">
            <div class="case">
                <div class="case-img">
                    <img class="lazy" v-lazy="caseItem.coverPath" />
                    <div class="case-shade f fc-h fc">
                        <img class="lazy" v-lazy="caseItem.QrcodePath" />
                    </div>
                </div>
                <p class="case-name">{{caseItem.casename}}</p>
            </div>
        </li>
    </ul>

    <div class="btn-more" v-if="cases!=null && recordCount>cases.length" v-on:click="LoadMoreData()">加载更多</div>

</div>
@*<script>
        $(window).scroll(function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            //			滑到底部加载更多问题
            if ((scrollTop + windowHeight > (scrollHeight - 50)) && app.cases != null && app.recordCount > app.cases.length) {
                app.LoadMoreData();
            }
        });
    </script>*@