@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section cssSection{
<link href="http://j.vzan.cc/dz/content/newhome/css/home.css" rel="stylesheet" />
}

<div class="home-content">
    <!--轮播图-->
    <section>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/banner-home-03.jpg" class="banner-img" />
                    <div class="banner-btn-box font-color-gray f fc fj">
                        <a id="btnFreeReg" class="btn-freeReg" href="/dzhome/wxReg">免费注册</a>
                        <a id="btnScanCode" class="btn-scanCode" href="javascript:;" onclick="OpenFreeTemplate(4)">扫码体验</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/banner-activity.jpg" class="banner-img" />
                    <div class="btn-activity" id="btnApply"></div>
                </div>
                <div class="swiper-slide">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/banner-home.png" class="banner-img" />
                    <div class="btn-banner font-color-gray f fc fc-h" id="btnBanner">立即咨询</div>
                </div>
                
                @*<div class="swiper-slide banner">
                    <video src="http://j.vzan.cc/dz/content/newhome/video/banner-video.mp4" autoplay loop style="width:100%; height:100%"></video>
                </div>*@
            </div>
            <!-- 分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        @*<div class="banner-box">
            <div>
                <div class="banner">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/banner-home.png" class="banner-img" />
                    <div class="btn-banner font-color-gray f fc fc-h rv" id="btnBanner">立即咨询</div>
                </div>
            </div>
        </div>*@
    </section>

    <!-- 内容 --->
    <section>
        <!-- 加入我们 -->
        <div class="join-us">
            <img src="http://j.vzan.cc/dz/content/newhome/image/joinUs.png" />
        </div>

        <!-- 发展瓶颈 -->
        <div class="development f fv fc">
            <div class="development-title">
                <h2 class="font-size-52 font-color-gray">平台发展瓶颈</h2>
                @*<p class="font-size-24 font-color-gray">DEVELOPMENT DIFFICULTY</p>*@
            </div>
            <div class="development-content f fc-h">
                <div class="development-img rv">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/Website2.png" />
                </div>
                <div class="development-page font-color-yellow font-size-24">
                    <p class="development-page-details rv">平台流量增长面临瓶颈! 商家推广成本越来越高、竞争越来越激烈，抽成越来越高；大商家增长难，小商家存活难！</p>
                    <p class="development-page-focus font-size-30 font-bold rv">商家给平台打工的命运已经注定！</p>
                </div>
            </div>
        </div>

        <!-- 目前 -->
        <div class="now f fv fc">
            <div class="now-title">
                <h2 class="font-color-blue font-size-52">目前</h2>
                @*<p class="font-color-blue font-size-24">NOW</p>*@
            </div>
            <ul class="now-content-list f fw fj">
                <li class="rv">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/icon-home01.png" />
                    <p class="font-size-24 font-bold">小程序的<span>用户</span>已经悄悄达到<span>5个亿</span></p>
                </li>
                <li class="rv">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/icon-home02.png" />
                    <p class="font-size-24 font-bold">微信已经给小程序开放<span>42个流量入口</span></p>
                </li>
                <li class="rv">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/icon-home03.png" />
                    <p class="font-size-24 font-bold"><span>越来越多</span>的<span>商家</span>开始<span>创建</span>自己的<span>小程序</span></p>
                </li>
                <li class="rv">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/icon-home04.png" />
                    <p class="font-size-24 font-bold">有<span>大量</span>小程序<span>建站服务商</span>已经赚到<span>第一桶金</span></p>
                </li>
            </ul>
        </div>

        <!-- 建站 -->
        <div class="building f fv fc">
            <div class="building-title rv">
                <h2 class="font-color-gray font-size-52">小程序建站市场</h2>
                @*<p class="font-color-gray font-size-24">BUILDING SITE MARKET</p>*@
            </div>
            <div class="building-content f fc fj">
                <div class="building-img rv">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/building-table.png" />
                </div>
                <div class="building-page f fv fj">
                    <p class="page font-color-gray font-size-24 rv">小程序建站市场是2013年公众号建站机会 重现，但是公众号建站的100倍市场。</p>
                    <p class="page font-color-gray font-size-24 rv">小程序建站市场是2000年互联网建站机会 重现，但是互联网建站的10倍市场。</p>
                    <p class="font-color-gray font-size-30 font-bold rv">谁有先发优势！谁就能抢到未来 至少5年的红利！</p>
                </div>
            </div>
        </div>

        <!-- 入局小程序 -->
        <div class="prospect f fv fc">
            <div class="prospect-title rv">
                <h2 class="font-size-52 font-color-blue ">如何入局小程序</h2>
                @*<p class="font-size-24 font-color-blue">PROSPECT AND MARKET</p>*@
            </div>
            <ul class="prospect-content-list f fj">
                <li class="f fj rv">
                    <div>
                        <img src="http://j.vzan.cc/dz/content/newhome/image/icon-home03.png" />
                    </div>
                    <div class="prospect-content-page ">
                        <h3 class="font-size-36 font-color-blue">商家</h3>
                        <p class="font-size-24">商家做小程序的第一件事——小程序建站！</p>
                    </div>
                </li>
                <li class="f fj rv">
                    <div>
                        <img src="http://j.vzan.cc/dz/content/newhome/image/icon-home05.png" />
                    </div>
                    <div class="prospect-content-page ">
                        <h3 class="font-size-36 font-color-blue">服务商</h3>
                        <p class="font-size-24">成为小程序建站服务商，勇夺未来10年建站需求红利</p>
                    </div>
                </li>
            </ul>
            <p class="prospect-page-focus font-size-30 font-bold font-color-blue">成为小程序建站服务商就选小未程序</p>
        </div>

        <!-- 优势 -->
        <div class="translate f fv fc">
            <div class="translate-title">
                <h2 class="font-size-52 font-color-gray">小未程序优势</h2>
                @*<p class="font-size-24 font-color-gray">TRANSLATE</p>*@
            </div>
            <div class="translate-content f fv fc">
                <p class="font-size-24 font-color-gray rv"><span>全案的</span>小程序<span>直销、会销套路</span>支持让你在代理的第一周就迅速盈利</p>
                <p class="font-size-24 font-color-gray rv"><span>18个行业模板</span>让你承包本地建站小程序90%的市场</p>
                <p class="font-size-24 font-color-gray rv"><span>破坏性的拿货成本</span>让你在竞争中永远处于不败之地</p>
                <p class="font-size-24 font-color-gray rv"><span>比管理qq空间更容易的后台，</span>操作令你爱不释手</p>
                <p class="font-size-24 font-color-gray rv"><span>总部每月60万的广告投放，</span>给你强大的终端客户输送，让你躺着赚钱</p>
                <span class="translate-content-focus font-size-36 font-bold rv">小未程序5大支持让你一年大赚1000万</span>
            </div>
        </div>

        <!-- 视频 -->
        <div class="video f fv fc">
            <div class="video-title rv">
                <h2 class="font-size-52 font-color-blue ">小程序改变一切巡回路演视频</h2>
                @*<p class="font-size-24 font-color-blue">CHANGE EVERYTHING ROADSHOW VIDEO</p>*@
            </div>
            <div class="video-box f fc-h rv">
                <video @*src="http://mp4-vod.oss-cn-hangzhou.aliyuncs.com/dzan.mp4"*@ width="960" height="540" controls="controls" ></video>
                <div id="videoMasking" class="video-masking">
                    <img id="btnPlay" src="http://j.vzan.cc/dz/content/newhome/image/video-play.png" style="cursor:pointer;"/>
                </div>
            </div>
        </div>

        <!-- 提交信息 -->
        <div class="submit f fv fc" id="submit">
            <div class="submit-title rv">
                <h2 class="font-size-52 font-color-blue">提交信息<span class="font-color-yellow">获得</span></h2>
                @*<p class="font-size-24 font-color-blue">SUBMIT INFORMATION</p>*@
            </div>
            <div class="submit-content f fc fv">
                <div class="submit-content-page font-size-24 font-color-blue rv">
                    <p>1.最具破坏力的代理方案!</p>
                    <p>2.首份小程序行业报告!</p>
                    <p>3.大量深度解读小程序的精品视频!</p>
                    <p>4.专业客服的一对一辅导!</p>
                </div>
                <div class="submit-input f fj rv">
                    <input id="name" name="name" type="text" placeholder="填写你的姓名" />
                    <input id="phone_tijiao" name="phone" type="text" placeholder="填写你的手机号码" />
                </div>
                <div class="submit-btn font-size-36 font-color-gray f fc-h fc rv" id="btnSubmit">提交</div>
            </div>
        </div>

        <!-- 小程序动态 -->
        <div class="miniApp-news f fv fc">
            <div class="news-box" id="news-box" v-cloak>
                <div class="news-title f fv fc rv">
                    <h2 class="font-color-blue font-size-52">小程序动态</h2>
                    @*<p class="font-color-blue font-bold font-size-24">DYNAMIC</p>*@
                </div>
                <ul class="news-classify f fj" id="newsClassify">
                    <li class="rv">
                        <ul class="news-details-list">
                            <li>
                                <a :href="getnewsurl(listOne)">
                                    <div class="news-details f fj" id="newsDetails">
                                        <div class="news-img">
                                            <img :src="img" />
                                        </div>
                                        <div class="news-page f fv fj">
                                            <p>
                                                {{title}}
                                            </p>
                                            <div class="news-page-date font-bold font-color-ccc f fc fj">
                                                <span>新闻资讯</span>
                                                <span>{{time}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="news-list-more" v-for="item in list"><a :href="getnewsurl(item)" class="list-a">{{item.Title}}</a></li>

                        </ul>
                        <span class="btn-more"><a href="/dzhome/news#newsth" style="color:#ccc">查看更多</a></span>
                    </li>
                    <li class="rv">
                        <ul class="news-details-list">
                            <li>
                                <a :href="getnewsurl(listTwo)">
                                    <div class="news-details f fj">
                                        <div class="news-img">
                                            <img :src="img_deep" />
                                        </div>
                                        <div class="news-page f fv fj">
                                            <p>{{title_deep}}</p>
                                            <div class="news-page-date font-bold font-color-ccc f fc fj">
                                                <span>深度观点</span>
                                                <span>{{deep_time}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="news-list-more" v-for="item in list_deep" target="_blank"><a :href="getnewsurl(item)" class="list-a">{{item.Title}}</a></li>

                        </ul>
                        <a href="/dzhome/news#deepth" style="color:#ccc"><span class="btn-more">查看更多</span></a>
                    </li>
                    <li class="rv">
                        <ul class="news-details-list">
                            <li>
                                <a :href="'/dzhome/programWiki?showDetail=true&newsId='+id_wiki">
                                    <div class="news-details f fj">
                                        <div class="news-img">
                                            <img src="http://j.vzan.cc/dz/content/newhome/image/newsImg.png" />
                                        </div>
                                        <div class="news-page f fv fj">
                                            <p>{{title_wiki}}</p>
                                            <div class="news-page-date font-bold font-color-ccc f fc fj">
                                                <span>小程序百科</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="news-list-more" v-for="item in list_wiki"><a :href="'/dzhome/programWiki?showDetail=true&newsId='+item.id" class="list-a">{{item.title}}</a></li>

                        </ul>
                        <a href="/dzhome/programWiki" style="color:#ccc"><span class="btn-more">查看更多</span></a>
                    </li>
                </ul>
            </div>
        </div>

    </section>

</div>
<script src="http://j.vzan.cc/dz/content/newhome/lib/jquery.min.js"></script>
<script src="@WebSiteConfig.SourceContent/fcontent/plugin/vue.min.js"></script>
<script src="http://j.vzan.cc/dz/content/newhome/js/home.js"></script>
<script>
    var vm = new Vue({
        el: "#news-box",
        data: {
            pageIndex: 1,
            pageSize: 5,
            pageIndex_deep: 1,
            pageSize_deep: 5,
            list: [],
            time: "",
            list_deep: [],
            pageChange: 0,
            deep_time: "",
            list_wiki: "",
            img: "",
            img_deep: "",
            title: "",
            title_deep: "",
            title_wiki: "",
            img_wiki: "",
            listOne: "",
            listTwo: "",
            id_wiki:""
        },
        //初始化
        mounted: function () {
            var that = this;
            that.getNewsList(function () {
                //console.log(that.list)
            });
            that.getDeepList(function () {
                //console.log(that.list_deep)
            })
            that.getWiki(function () {
                //console.log(that.list_wiki) 
            })

        },
        methods: {
            getNewsList: function (fun) {
                var that = this;
                $.ajax({
                    url: "http://testwtApi.vzan.com/apiMiniAppGw/NewsList",
                    type: "get",
                    data: "&pageIndex=" + that.pageIndex + "&pageSize=" + that.pageSize + "&type=" + 0,
                    dataType: "json",
                    success: function (res) {
                        if (res.isok == 1) {
                            if (res.obj != undefined && res.obj != null && res.obj.length > 0) {
                                that.time = data_string(res.obj[0].addtime) + "-" + time_string(res.obj[0].addtime)
                                that.img = res.obj[0].ImgPath
                                that.title = res.obj[0].Title
                                that.listOne=res.obj[0]
                                that.list = res.obj
                                that.list.splice(0, 1)
                            }
                            if (fun) {
                                fun();
                            }

                        }
                    }
                });
            },
            getDeepList: function (fun) {
                var that = this;
                $.ajax({
                    url: "http://testwtapi.vzan.com/apiMiniAppGw/NewsList",
                    type: "get",
                    data: "&pageIndex=" + that.pageIndex_deep + "&pageSize=" + that.pageSize_deep + "&type=" + 1,
                    dataType: "json",
                    success: function (res) {
                        if (res.isok == 1) {
                            if (res.obj != undefined && res.obj != null && res.obj.length > 0) {
                                that.deep_time = data_string(res.obj[0].addtime) + "-" + time_string(res.obj[0].addtime)
                                that.img_deep = res.obj[0].ImgPath
                                that.title_deep = res.obj[0].Title
                                that.listTwo = res.obj[0]
                                that.list_deep = res.obj
                                that.list_deep.splice(0, 1)
                            }
                            if (fun) {
                                fun();
                            }
                        }
                    }
                });
            },
            getWiki: function (fun) {
                var that = this
                $.ajax({
                    url: "/dzhome/GetBkNewsList",
                    type: "post",
                    data: "&pageIndex=" + that.pageIndex + "&pagesize=" + that.pageSize,
                    dataType: "json",
                    success: function (res) {
                        if (res.isok == true) {
                            if (res.newsList != undefined && res.newsList != null && res.newsList.length > 0) {
                                that.title_wiki = res.newsList[0].title
                                that.img_wiki = res.newsList[0].imgUrl
                                that.id_wiki = res.newsList[0].id
                                that.list_wiki = res.newsList
                                that.list_wiki.splice(0,1)
                            }
                        }
                        if (fun) {
                            fun();
                        }
                    }

                })
            },

            //判断是否有地址，无则跳转内置网页
            getnewsurl: function (newsitem) {
                if (newsitem != undefined) {

                    return newsitem.NewsURL == "" ? "/dzhome/more_detail/" + newsitem.Id : newsitem.NewsURL;
                }
            },
        }
    })

    function data_string(str) {
        var d = eval('new ' + str.substr(1, str.length - 2));
        var ar_date = [d.getFullYear(), d.getMonth() + 1];
        for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
        return ar_date.join('-');

        function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
    }
    function time_string(str) {
        var d = eval('new ' + str.substr(1, str.length - 2));
        var ar_date = [d.getDate()];
        for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
        return ar_date.join('-');

        function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
    }

</script>