@using Entity.MiniApp.User
@model Account
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/newhome/image/bitbug_favicon.ico">
    <link href="~/Content/css/dzbase.css" rel="stylesheet" />
    <link href="~/Content/newhome/css/base.css" rel="stylesheet" />
    <link href="~/Content/newhome/lib/animate.css" rel="stylesheet" />
    <link href="~/Content/newhome/css/login.css" rel="stylesheet" />
</head>
<body id="bodykey" style="display:none;overflow:hidden">
    <div class="loginbg-container">
        <a href="/dzhome/newHome" style="display:inline-block;padding:25px;">
            <img src="~/Content/newhome/image/login-logo.png" />
        </a>
        <input type="hidden" id="sessid" />

        <input type="hidden" id="method" />
        <div class="login-box f fc fv" id="login-box">
            <header class="login-title f fc fc-h">
                <div id="login-num" class="login-font-blue title-line f fc fc-h">账户登录</div>
                <div id="login-qrcode" class="f fc fc-h">扫码登录</div>
            </header>
            <ul class="login-list f fv fc">
                <li class="details f fv fc" id="num">
                    <div class="warning f fc fc-h">
                        <p class="warning-text" id="warning" style="opacity:0;">请输入账户名和密码！</p>
                    </div>
                    <div class="input">
                        <span class="text-position login-font-gray icon-self f fc-h fc">账号：</span>
                        <input type="text" name="phone" id="user_name" placeholder="请输入账号/已验证手机号" class="self"  />
                    </div>
                    <div class="input">
                        <span class="text-position login-font-gray icon-psw f fc-h fc">密码：</span>
                        <input type="password" name="psw" id="user_pwd" maxlength="20" placeholder="请输入密码" class="psw" />
                    </div>
                    <a href="/dzhome/findpsw" class="login-font-blue forget-psw f fc">忘记密码?</a>
                    <div class="btn-confirm " id="login">登录</div>
                    <a href="/dzhome/wxReg" class="login-font-blue no-number">我还没有账号，立即免费注册</a>
                </li>
                <li class="qrcode" id="qrcode">
                    <div class="f fc fv">
                        <div style="width:130px;height:130px;background-color:skyblue;">
                            <img src="" alt="" style="width: 100%;height: 100%;" />
                        </div>
                        <p style="padding-top:9px; font-size:0.875rem;" class="login-font-gray">微信扫描二维码登录</p>
                        <a style="padding-top:20px;font-size:0.875rem;" class="login-font-blue" href="/dzhome/wxReg">我还没有账号，立即免费注册</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  
    <script>
        window.onload = function () {
            var accountid = '@Model.LoginId';
            var domain = ".vzan.com";
            $.cookie("agent_UserCookieNew", "00000000-0000-0000-0000-000000000000", {
                expires: 7,
                path: '/',
                domain: ".vzan.com"
            });
            $.cookie("dz_UserCookieNew", accountid, {
                expires: 7,
                path: '/',
                domain: domain
            });

            window.location.href = "/dzhome/casetemplate";
        }
    </script>
    <script src="~/Content/newhome/lib/jquery.min.js"></script>
    <script src="~/js/jquery.cookie.js"></script>

</body>
</html>