@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "小程序商店";
}
@section cssSection{
    <link href="@(WebSiteConfig.cdnurl)content/newhome/css/miniAppShop.css" rel="stylesheet" />  <!-- 上线版 -->
    @*<link href="/Content/newhome/css/miniAppShop.css" rel="stylesheet" />*@    <!-- 开发版 -->
}

<!--banner-->
<section class="banner">
    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/miniAppShop-banner.png" />
    <div class="banner-text-box f fc fc-h">
        <h1 class="banner-text">小程序商店</h1>
    </div>
</section>

<!-- 内容 -->
<section id="shopList" class="shopList f fv fc" v-cloak>
    <div class="shopList-container">
        <ul class="option-list f fw " id="optionList">
            <li v-for="(option,index) in optionList" v-on:click="toggleOption(index)" v-bind:class="{'option-font-color':index == num}" v-cloak>{{option}}</li>
        </ul>
        <div class="no-content f fc-h fc" v-show="isObj">
            <img src="@(WebSiteConfig.cdnurl)content/newhome/image/no-app.png" />
        </div>
        <div class="detailsList-container f fv fc" v-show="!isObj">
            <ul class="details-list f fw">
                <li v-for="(item,index) in itemList">
                    <div class="details" v-on:mouseout='hideCode(index)' v-on:mouseover='showCode(index)'>
                        <div class="miniApp-code-masking" v-show="index == tplIndex">
                            <div class="miniApp-code" id="miniAppCode" v-show="index == tplIndex">
                                <img v-bind:src="item.Qrcode" />
                                <div>扫码体验</div>
                            </div>
                        </div>


                        <div class="details-box f">
                            <div class="details-image">
                                <img v-bind:src="item.Logo" />
                            </div>
                            <div class="detailsTtitle-container">
                                <div class="details-title f fj">
                                    <div class="title line1">{{item.Title}}</div>
                                </div>
                                <div class="grade">
                                    <span>
                                        <i id="star" v-bind:style="{width:item.startNum+'%'}"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="details-bottom f fj">
                            <div class="tag-list">
                                <ul class="label-list f fw fc">
                                    <li v-cloak v-for="tag in item.Tags">{{tag}}</li>
                                </ul>
                            </div>
                            <div class="browse f fc">{{item.ViewNumbers}}</div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="btn-more f fc-h fc" v-on:click="getMore">加载更多</div>
        </div>
    </div>
</section>
@section script{
    <script src="@(WebSiteConfig.cdnurl)content/newhome/js/miniAppShop.js?v3.1"></script>     <!-- 上线版  -->
    @*<script src="/Content/newhome/js/miniAppShop.js"></script> *@      <!-- 开发版 -->
}

