@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
@model List<XcxTemplate>
@section cssSection{
    <link href="http://j.vzan.cc/dz/content/newhome/css/productCatering.css" rel="stylesheet" />
    <link href="http://j.vzan.cc/dz/content/newhome/css/productFirm.css" rel="stylesheet" />
    <link href="http://j.vzan.cc/dz/content/newhome/css/productCase.css" rel="stylesheet" />
}
<style>
    #app { width: 100%; }
</style>
<script>
    var initData = {
        templateList:@Html.Raw(JsonConvert.SerializeObject(Model)),
    }
</script>

<div id="app" v-cloak>
    <!--内容-->
    <section class="catering-main" id="page-content" v-cloak>

        <div class="catering-bg">
            <video autoplay loop>
                <source src="http://j.vzan.cc/dz/content/newhome/video/banner-video.mp4" type="video/mp4" />
            </video>

            <div class="bg-content">
                <h1 class="rv">餐饮版</h1>
                <p class="rv tc">为实体餐饮门店提供一个简单高效<br />的在线营销工具，助力商家抢占线<br />上流量红利</p>
                <div class="bg-btn rv">

                    <a href="javascript:;" class="btn_gotobuy">立即订购</a>
                </div>
            </div>
        </div>

        <div class="catering-introduce">
            <div class="introduce-context rv">
                <h2>小未小程序餐饮版</h2>
                <p>为实体餐饮门店提供一个简单高效的在线营销工具，助力商家抢占线上流量的红利。</p>
                <p>餐饮版能完美整合<span>会员，外卖，线上支付，营销工具</span>等餐厅经营过程中所需所有功能。扎根于微信的9亿用户流量，借助<span>会员卡折扣，砍价</span>等营销工具吸引线上用户到店消费。再通过多样化的营销促成客户进行二次消费，让老客户主动为商家带来新的客流。小未餐饮版旨在为餐饮商户提供一个先进高效的行业解决方案。</p>
                <p>小未餐饮版是小未科技为商家提供的餐厅门店解决方案，分别从营销，服务，流量的角度来提升餐饮店铺的营收，营运效率及流量的成交转化率。</p>
            </div>
            <img src="http://j.vzan.cc/dz/content/newhome/image/pro_phone.png" class="rv" />
        </div>

        <div class="catering-row">
            <div class="catering-show rv" v-for="item in show">
                <img v-bind:src="item.img" />
                <div class="show-context">
                    <h2>{{item.title}}</h2>
                    <p>{{item.content_1}}</p>
                    <p>{{item.content_2}}</p>
                    <p>{{item.content_3}}</p>
                </div>
            </div>
        </div>

        <div class="catering-manager">
            <img src="http://j.vzan.cc/dz/content/newhome/image/pro_manar.png" class="rv" />
            <div class="manager-content">
                <h2 class="rv">
                    小未餐饮门店管理
                </h2>
                <p class="rv">
                    在小程序中能上传营业执照、门店环境照片、可提供的服务、营业时间等开店基本的信息，能展示门店环境、地址等信息。
                </p>

                <div class="manager-icon">
                    <div class="icon-column rv" v-for="item in manager">
                        <img :src="item.img" />
                        <h3>{{item.title}}</h3>
                        <p>
                            {{item.content_1}}
                        </p>
                        <p>
                            {{item.content_2}}
                        </p>
                        <p>
                            {{item.content_3}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--不同案例版本下显示隐藏-->
        @Html.Partial("/views/dzhome/_caseListPartial.cshtml")
    </section>
</div>

<script src="http://j.vzan.cc/dz/content/newhome/js/getcaselist.js"></script>

<script>
   
</script>
