@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
@model List<XcxTemplate>
@section cssSection{
    <link href="http://j.vzan.cc/dz/content/newhome/css/productMajor.css" rel="stylesheet" />
    <link href="http://j.vzan.cc/dz/content/newhome/css/productFirm.css" rel="stylesheet" />
    <link href="http://j.vzan.cc/dz/content/newhome/css/productCase.css" rel="stylesheet" />
}
<style>
    #app { width: 100%; }
</style>
<script>
    var initData = {
        templateList:@Html.Raw(JsonConvert.SerializeObject(Model)),
    }
</script>

<div id="app" v-cloak>

    <!--内容-->
    <section class="basis-main" id="page-content" v-cloak>
        <div class="basis-bg">
            <img src="http://j.vzan.cc/dz/content/newhome/image/basis_bg.png" />
            <div class="basis-content">
                <h1 class="rv">专业版</h1>
                <a href="javascript:;" class="rv btn_gotobuy">立即订购</a>
            </div>
        </div>
        <section id="tab">
            <ul>
                <li class="tab_news blueline" style="color:#3296fa">宠物</li>
                <li class="tab_deep">汽车4s</li>
                <li class="tab_news ">健身房</li>
                <li class="tab_deep">家政</li>
                <li class="tab_news ">酒店</li>
                <li class="tab_deep">KTV</li>
                <li class="tab_deep">美容美发</li>
                <li class="tab_news ">家装建材</li>
                <li class="tab_deep">教育培训</li>
                <li class="tab_news ">医美</li>
                <li class="tab_deep">房地产</li>
                <li class="tab_news ">企业展示</li>
            </ul>
            <img src="http://j.vzan.cc/dz/content/newhome/image/major_bg.png"  class="rv"/>
        </section>


        <div class="basis-column">
            <h2>小未宠物小程序功能</h2>
            <div class="basis-list">
                <div class="basis-item rv" v-for="item in basis">
                    <img :src="item.img" />
                    <h2>{{item.title}}</h2>
                    <p>{{item.context_1}}</p>
                    <p>{{item.context_2}}</p>
                    <p>{{item.context_3}}</p>
                    <p>{{item.context_4}}</p>
                </div>
                <img src="http://j.vzan.cc/dz/content/newhome/image/major_bg2.png"  class="basis-item-imgBottom rv"/>
            </div>
        </div>

        <!--不同案例版本下显示隐藏-->
        @Html.Partial("/views/dzhome/_caseListPartial.cshtml")


    </section>

   
</div>

<script src="http://j.vzan.cc/dz/content/newhome/js/getcaselist.js"></script>

<script>
    $(function () {

        //$(".btn-label1").click(function () {
        //    $(".btn-label1").removeClass("current-btn");
        //    $(this).addClass("current-btn");
        //})

        $('.tab_news').click(function () {
            $(this).css("color", "#3296fa").addClass("blueline");
            if ($('#secondPage').show()) {
                $('#secondPage').hide();
            }
            $('#firstPage').show();
            $('.tab_deep').css("color", "#000000").removeClass("blueline");
            $('.content_img img').attr("src", "http://j.vzan.cc/dz/content/newhome/image/news_bg.png")
        })
        $('.tab_deep').click(function () {
            $(this).css("color", "#3296fa").addClass("blueline");

            if ($('#firstPage').show()) {
                $('#firstPage').hide();
            }
            $('#secondPage').show();
            $('.tab_news').css("color", "#000000").removeClass("blueline");
            $('.content_img').addClass("content_img_deep")
            $('.content_img img').attr("src", "http://j.vzan.cc/dz/content/newhome/image/news_bg1.png")
        })

      
    })


</script>
