@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
@model List<XcxTemplate>
@section cssSection{
    <link href="http://j.vzan.cc/dz/content/newhome/css/productFirm.css" rel="stylesheet" />
    <link href="http://j.vzan.cc/dz/content/newhome/css/produtCase.css" rel="stylesheet" />
    <link href="http://j.vzan.cc/dz/content/newhome/css/productCase.css" rel="stylesheet" />
}
<style>
    #app { width: 100%; }
</style>
<script>
    var initData = {
        templateList:@Html.Raw(JsonConvert.SerializeObject(Model)),
    }
</script>

<div id="app" v-cloak>
    <!--内容-->
    <section class="firm-main" id="page-content">
        <div class="firm-bg">
            <img src="http://j.vzan.cc/dz/content/newhome/image/firm_bg.png" />
            <div class="firm-content">
                <h1 class="rv">企业版</h1>
                <p class="rv">为广大中小型企业提供一个简单高效的在线推广工具，助力商家抢占线上流量红利</p>
                <a href="javascript:;"  class="btn_gotobuy rv">立即订购</a>
            </div>
        </div>

        <div class="firm-item">
            <div class="firm-context rv">
                <h2>公司简介</h2>
                <p>
                    详细的公司介绍，全面展示公司发展情况
                </p>
                <p>
                    便于用户对企业的了解，也有助于企业快速的推广和宣传
                </p>
            </div>
            <img src="http://j.vzan.cc/dz/content/newhome/image/firm_show1.png"  class="rv"/>
        </div>

        <div class="firm-item" style="background:#fff!important">
            <img src="http://j.vzan.cc/dz/content/newhome/image/firm_show2.png"  class="rv"/>
            <div class="firm-context rv">
                <h2>公司产品展示</h2>
                <p>
                    公司产品全面展示，方便用户了解咨询，促进企业业绩
                </p>

            </div>
        </div>

        <div class="firm-item" style="background:#4DA1E8!important">
            <div class="firm-context rv">
                <h2 style="color:#fff!important">企业动态展示</h2>
                <p style="color:#fff!important">
                    公司产品全面展示，方便用户了解咨询，促进企业业绩
                </p>
            </div>
            <img src="http://j.vzan.cc/dz/content/newhome/image/firm_show3.png"  class="rv"/>
        </div>

        <div class="firm-item" style="background:#fff!important">
            <img src="http://j.vzan.cc/dz/content/newhome/image/firm_show4.png"  class="rv"/>
            <div class="firm-context rv">
                <h2>企业发展历程展示</h2>
                <p>
                    企业发展历程时间轴展示，全方位展示企业发展历程
                </p>

            </div>
        </div>

        <div class="firm-item">
            <div class="firm-context rv">
                <h2>企业联系方式展示</h2>
                <p>
                    方别用户实时联系咨询
                </p>

            </div>
            <img src="http://j.vzan.cc/dz/content/newhome/image/firm_show5.png" style="margin:2% 0!important"  class="rv"/>
        </div>

        <!--不同案例版本下显示隐藏-->
        @Html.Partial("/views/dzhome/_caseListPartial.cshtml")


    </section>
   

</div>
<script src="http://j.vzan.cc/dz/content/newhome/js/getcaselist.js"></script>
