@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
@model List<XcxTemplate>
@section cssSection{
    <link href="http://j.vzan.cc/dz/content/newhome/css/productEc.css" rel="stylesheet" />
    @*<link href="http://j.vzan.cc/dz/content/newhome/css/productFirm.css" rel="stylesheet" />*@
    @*<link href="http://j.vzan.cc/dz/content/newhome/css/productCase.css" rel="stylesheet" />*@
}
<style>
    #app { width: 100%; }
</style>
<script>
    var initData = {
        templateList:@Html.Raw(JsonConvert.SerializeObject(Model)),
    }
</script>

<div id="app" v-cloak>

    <!--内容-->
    <section class="ec-main" id="page-content" v-cloak>
        <div class="ec-bg">
            <img src="http://j.vzan.cc/dz/content/newhome/image/ec_bg.png" />
            <div class="ec-content">
                <h1 class="rv">电商版</h1>
                <p class="rv">为零售提供最先进的行业解决方案，帮助零售业打破自身局限，搭建微信端电商销售体系，实现流量聚合。会员系统和营销插件能有效为商户带来流量和热度，砍价和拼团的等营销功能引导老用户主动带来新客户。除此之外，小未电商版小程序还支持连接云打印机，支付完成即出小票，应用场景从线上到线下无缝衔接。</p>
                <a href="javascript:;" class="btn_gotobuy rv">立即订购</a>
            </div>
        </div>

        <div class="ec-introduce">
            <div class="ec-list">
                <div class="ec-icon" v-for="item in eclist_1">
                    <img v-bind:src="item.img" />
                    <h2>{{item.title}}</h2>
                    <p>{{item.context}}</p>
                </div>
            </div>
            <img src="http://j.vzan.cc/dz/content/newhome/image/ec_show.png" class="rv" />
        </div>

        <div class="ec-introduce1">
            <img src="http://j.vzan.cc/dz/content/newhome/image/ec_specfi.png"  class="rv"/>
            <div class="ec-list">
                <div class="ec-icon rv" v-for="item in eclist_2" style="margin-bottom:12.5%!important;">
                    <img :src="item.img" />
                    <h2>{{item.title}}</h2>
                    <p>{{item.context}}</p>
                </div>
            </div>
        </div>

        <div class="more-func">
            <h2>更多功能</h2>
            <div class="func-list">
                <div class="func-item rv" v-for="item in moreFunc">
                    <img :src="item.img" />
                    <h3>{{item.title}}</h3>
                    <p>
                        {{item.context}}
                    </p>
                </div>
            </div>
        </div>

        <!--不同案例版本下显示隐藏-->
        @Html.Partial("/views/dzhome/_caseListPartial.cshtml")


    </section>
    
</div>
<script src="http://j.vzan.cc/dz/content/newhome/js/getcaselist.js"></script>

@*
    <script src="http://j.vzan.cc/dz/content/newhome/js/product.js"></script>*@
<script>
    $(function () {

            ////提交信息
            //$("#btnSubmit").click(function () {
            //    $("#templatemodel").show()
            //})
            //$(".btn-free").click(function () {
            //    submitInformation()
            //})

        //function submitInformation() {
        //    console.log(213)
        //    var name = $("#contacts").val();
        //    var phone = $("#contactsPhone").val().trim();
        //    var typeValue = 2;

        //    if (name == "" || phone == "") {
        //        layer.msg("请填写完整信息");
        //        return;
        //    }
        //    if (!(/^1[34578]\d{9}$/.test(phone))) {
        //        layer.msg("请输入正确的手机号");
        //        return;
        //    }

        //    $.post("/DLPT/SendUserAdvisory",
        //        { Phone: phone, username: name, datasource: typeValue },
        //        function (data) {
        //            if (data.isok) {
        //                //   layer.msg(data.Msg);
        //                var name = $("#contacts").val("");
        //                var phone = $("#contactsPhone").val("");
        //            }
        //        })
        //}
    })
</script>
