@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
@model List<XcxTemplate>
@section cssSection{
    <link href="http://j.vzan.cc/dz/content/newhome/css/productBasis.css" rel="stylesheet" />
    <link href="http://j.vzan.cc/dz/content/newhome/css/productFirm.css" rel="stylesheet" />
    <link href="http://j.vzan.cc/dz/content/newhome/css/productCase.css" rel="stylesheet" />
}
<style>
    #app { width: 100%; }
</style>
<script>
    var initData = {
        templateList:@Html.Raw(JsonConvert.SerializeObject(Model)),
    }
</script>

<div id="app" v-cloak>
    <div id="tab" class="basis-top">
        <div class="basis-bg">
            <img src="http://j.vzan.cc/dz/content/newhome/image/basis_bg.png" />
            <div class="basis-content">
                <h1 class="rv">行业版</h1>
                <a href="javascript:;" class="btn_gotobuy rv">立即订购</a>
            </div>
        </div>
        <div class="option-list">
            <ul>
                <li id="option" v-bind:class="{'current-option':index==optionNum}" v-for="(option,index) in optionList" v-on:click="toggleOption(index,$event)">{{option}}</li>
            </ul>
        </div>
    </div>
    @* 汽车4S *@
    <section class="basis-main f fv fc" id="page-content" v-if="optionName=='汽车4S'">
        <div class="bg-img">
            <img src="http://j.vzan.cc/dz/content/newhome/image/basis_car.png" class="rv" />
        </div>
        <div class="bgnormal-container f fv fc fc-h">
            <h2 class="rv">小未汽车4S小程序功能</h2>
            <div class="function-list f fw fc-h">
                <div class="function-item-4 rv f fv fc" v-for="item in basis">
                    <img class="item-img" v-bind:src="item.img" />
                    <h4 class="item-title">{{item.title}}</h4>
                    <p class="item-content">{{item.context_1}}</p>
                    <p class="item-content">{{item.context_2}}</p>
                    <p class="item-content">{{item.context_3}}</p>
                    <p class="item-content">{{item.context_4}}</p>
                </div>
                <div class="basis-item-imgBottom rv">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/basis_car_2.png"  />
                </div>
            </div>
        </div>
    </section>
    @* 房地产 *@
    <section class="basis-main f fv fc" id="page-content" v-if="optionName=='房地产'">
        <div class="bg-img">
            <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/realty/realty-bg.png" class="rv"/>
        </div>
        <div class="bgnormal-container f fv fc fc-h">
            <h2 class="rv">小未房地产小程序功能</h2>
            <div class="function-list f fw fc-h">
                <div class="function-item-3 rv f fv fc" v-for="item in realty">
                    <img class="item-img" v-bind:src="item.img" />
                    <h4 class="item-title">{{item.title}}</h4>
                    <p class="item-content">{{item.context_1}}</p>
                    <p class="item-content">{{item.context_2}}</p>
                    <p class="item-content">{{item.context_3}}</p>
                    <p class="item-content">{{item.context_4}}</p>
                </div>
                <div class="basis-item-imgBottom rv">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/realty/realty-show.png" class="basis-item-imgBottom rv" />
                </div>
            </div>
        </div>
    </section>
    @* 健身房 *@
    <section class="basis-main f fv fc" id="page-content" v-if="optionName=='健身房'">
        <div class="top-container f fj fc">
            <div class="top-page top-gymnasium-page f fc fv rv">
                <h2>健身房</h2>
                <div>运动健身是充满正能量的行业。小未健身行业版链接商家和用户，帮助商家通过店铺的高品质内容来吸引微信9亿级活跃用户流量，这些内容包括<span style="font-weight:bold">线上场馆预订、课程预约、教练预约、物品购买</span>
                    等等，借助这些功能<span style="font-weight:bold">提升新用户到店率和会员转化率</span>；帮助用户提供健身决策，并提供<span style="font-weight:bold">在线客服咨询、降低健身门槛</span>；希望越来越多的健身机构通过小未健身行业版来宣扬健身文化，
                    帮助提高用户的身体数值，提升商家的曝光率和交易额。
                </div>
            </div>
            <div class="top-gymnasium-img f fc-h"><img class="gymnasium-img rv" src="http://j.vzan.cc/dz/content/newhome/image/productBasis/gymnasium/gymnasium-phone.png" @*style="width:100%;"*@/></div>
        </div>
        <div class="bg-img">
            <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/gymnasium/gymnasium-bg.png" class="rv" />
        </div>
        <div class="bgnormal-container f fv fc fc-h">
            <h2 class="rv">小未健身小程序功能</h2>
            <div class="function-list f fw fc-h">
                <div class="function-item-3 rv f fv fc" v-for="item in gymnasium">
                    <img class="item-img" v-bind:src="item.img" />
                    <h4 class="item-title">{{item.title}}</h4>
                    <p class="item-content">{{item.context_1}}</p>
                    <p class="item-content">{{item.context_2}}</p>
                    <p class="item-content">{{item.context_3}}</p>
                    <p class="item-content">{{item.context_4}}</p>
                </div>
            </div>
        </div>
    </section>
    @* 家政 *@
    <section v-if="optionName=='家政'">
        <div class="basis-main f fv fc" id="page-content" >
            <div class="top-container f fc-h fc">
                <div class="top-page top-homemaking-page f fc fv rv">
                    <h2>小未程序家政</h2>
                    <div>
                        <p>随着人口老年化和生活水平要求的提高，家政行业市场潜力巨大。但是缺口巨大的家政市场里，80%的家政公司却出于亏损的处境。这是为何？</p>
                        <p>大多数家政公司仍然以传统的中介模式运行，在获客-管理-顾客回流三个环节都严重缺少有效的手段和工具。有部分家政公司试图走员工制管理。却始终找不到一个正确的员工制管理方式，最终重蹈覆辙。</p>
                        <p>小未程序深入家政行业，经过调研分析市场需求，打造小未家政小程序。旨在解决家政公司的痛点，提供了一整套行业方法，帮助商家获取精准客户，高效管理家政人员，利用会员管理系统维护老客户，引导他们再次消费。</p>
                    </div>
                </div>
                <div class="top-homemaking-img f fc-h"><img class="homemaking-img rv" src="http://j.vzan.cc/dz/content/newhome/image/productBasis/homemaking/homemaking-bg.png" /></div>
            </div>
        </div>
        <div class="bgcolor-container f fv fc fc-h">
            <h2 class="rv">小未家政小程序功能</h2>
            <div class="function-list f fw fc-h">
                <div class="function-item-3 rv f fv fc" v-for="item in homemaking">
                    <img class="item-img" v-bind:src="item.img" />
                    <h4 class="item-title">{{item.title}}</h4>
                    <p class="item-content">{{item.context_1}}</p>
                    <p class="item-content">{{item.context_2}}</p>
                    <p class="item-content">{{item.context_3}}</p>
                    <p class="item-content">{{item.context_4}}</p>
                </div>
            </div>
        </div>
    </section>
    @* ktv *@
    <section v-if="optionName=='KTV'">
        <div class="basis-main f fv fc" id="page-content" >
            <div class="bg-img">
                <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/ktv/ktv-bg.png" class="rv" />
            </div>
            <div class="core-function f fv fc">
                <h2>KTV行业三大核心功能</h2>
                <div class="core-list f fc fj">
                    <div class="core-item">
                        <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/core-01.png" />
                        <p>会员管理</p>
                    </div>
                    <div class="core-item">
                        <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/core-02.png" />
                        <p>营销推广</p>
                    </div>
                    <div class="core-item">
                        <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/core-03.png" />
                        <p>门店管理</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/ktv/ktv-show.png" style="width:100%;" />
        </div>
        <div class="bgnormal-container f fv fc fc-h">
            <h2 class="rv">五大功能</h2>
            <div class="ktv-list f fj">
                <div class="ktv-item rv f fv fc" v-for="item in ktv">
                    <img class="item-img" v-bind:src="item.img" />
                    <h4 class="item-title">{{item.title}}</h4>
                    <p class="item-content">{{item.context_1}}</p>
                    <p class="item-content">{{item.context_2}}</p>
                    <p class="item-content">{{item.context_3}}</p>
                    <p class="item-content">{{item.context_4}}</p>
                </div>
                @*<div class="basis-item-imgBottom rv">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/realty/realty-show.png" class="basis-item-imgBottom rv" />
                </div>*@
            </div>
        </div>
    </section>
    @* 美容美发 *@
    <section v-if="optionName=='美容美发'">
        <div class="basis-main f fv fc" id="page-content">
            <div class="bg-img">
                <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/hairdressing/hairdressing-bg.png" class="rv" />
            </div>
            <div class="hairdressing-top-container f fj fc">
                <div class="top-hairdressing-page f fc fv rv">
                    <h2>小未美发小程序功能</h2>
                    <div class="f fw">
                        <div class="hairdressing-item rv f fv fc" v-for="item in hairdressing">
                            <img class="item-img" v-bind:src="item.img" />
                            <h4 class="item-title">{{item.title}}</h4>
                            <p class="item-content">{{item.context_1}}</p>
                            <p class="item-content">{{item.context_2}}</p>
                            <p class="item-content">{{item.context_3}}</p>
                            <p class="item-content">{{item.context_4}}</p>
                        </div>
                    </div>
                </div>
                <div class="top-hairdressing-img f fc-h">
                    <img class="hairdressing-img rv" src="http://j.vzan.cc/dz/content/newhome/image/productBasis/hairdressing/hairdressing-function-bg.png" @*style="width:100%;"*@ />
                </div>
            </div>
        </div>
        <div class="core-function graybg-color f fv fc">
            <h2>美容美发行业三大核心功能</h2>
            <div class="core-list f fc fj">
                <div class="core-item">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/core-01.png" />
                    <p>会员管理</p>
                </div>
                <div class="core-item">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/core-02.png" />
                    <p>营销推广</p>
                </div>
                <div class="core-item">
                    <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/core-03.png" />
                    <p>门店管理</p>
                </div>
            </div>
        </div>
        <div>
            <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/hairdressing/hairdressing-show.png" style="width:100%;" />
        </div>
    </section>
    @* 家装建材 *@
    <section  v-if="optionName=='家装建材'">
        <div class="basis-main f fv fc" id="page-content">
            <div class="bg-img rv">
                <img src="http://j.vzan.cc/dz/content/newhome/image/productBasis/decoration/decoration-bg.png" class="rv" />
            </div>
            <div class="top-container f fc-h fc">
                <div class="top-page top-decoration-page f fc fv rv">
                    <h2>小未小程序家装建材</h2>
                    <div>
                        <p>互联网时代里，传统的家装行业受到了不小的冲击。传统的家装公司常用的营销手段就是打电话，这种方式成交率即低下，也损害了家装公司的形象。</p>
                        <p>
                            现在的家装行业中，没有一套有效的方法让客户挑选、甄别各个装修公司，适合自家户型满足自己需求的装修风格。
                            客户盲目选择，真正有实力的装修公司通过电话销售、宣传单、站牌广告等已经很难让客户取得信任了。其实传统实
                            体门店选购建材家装产品还有比线上有很大的优势，但是如何结合优势，打破目前的窘境呢？
                        </p>
                        <p>小未家装小程序，场景囊括线上到线下，致力为家装公司提供一套，高效便捷的装修行业解决方案。</p>
                    </div>
                </div>
                <div class="top-decoration-img f fc-h rv"><img class="homemaking-img rv" src="http://j.vzan.cc/dz/content/newhome/image/productBasis/decoration/decoration-case.png" /></div>
            </div>
        </div>
        <div class="bgnormal-container pinkbg-color f fv fc fc-h">
            <h2 class="rv">小未家装建材小程序功能</h2>
            <div class="rv function-list f fw fc-h">
                <div class="function-item-4 f fv fc" v-for="item in decoration">
                    <img class="item-img" v-bind:src="item.img" />
                    <h4 class="item-title">{{item.title}}</h4>
                    <p class="item-content">{{item.context_1}}</p>
                    <p class="item-content">{{item.context_2}}</p>
                    <p class="item-content">{{item.context_3}}</p>
                    <p class="item-content">{{item.context_4}}</p>
                </div>
            </div>
        </div>
    </section>


    <!--不同案例版本下显示隐藏-->
    @Html.Partial("/views/dzhome/_caseListPartial.cshtml")


</div>
<script src="http://j.vzan.cc/dz/content/newhome/js/getcaselist.js"></script>
