@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}
@model List<XcxTemplate>
@section cssSection{
    <link href="http://j.vzan.cc/dz/content/newhome/css/productPage.css" rel="stylesheet" />
    <link href="http://j.vzan.cc/dz/content/newhome/css/productCase.css" rel="stylesheet" />
}
<style>
    #app { width: 100%; }
</style>
<script>
    var initData = {
        templateList:@Html.Raw(JsonConvert.SerializeObject(Model)),
    }
</script>
<div id="app" v-cloak>
    <!--内容-->
    <section class="page-content" id="page-content">

        <div class="page-topbg">
            <img :src="singlepage[0].bg_img" />
            <div class="page-toptext">
                <h1 class="rv">{{singlepage[0].title}}</h1>
                <span class="rv">{{singlepage[0].description}}</span>
                <div class="page-topbtn">
                    <p v-on:click="TestTemplate(4)" class="rv">免费开通</p>
                    <p class="btn_gotobuy rv">立即订购</p>
                </div>
            </div>
        </div>

        <div class="page-banner">
            <div class="banner-txt">
                <img :src="singlepage[0].list_1.img" class="rv" />
                <h3 class="rv">{{singlepage[0].list_1.title}}</h3>
                <p class="rv">{{singlepage[0].list_1.content}}</p>
            </div>
            <div class="page-bannerImg rv">
                <img :src="singlepage[0].list_1.bg_showImg" />
            </div>
        </div>
        <!--富文本-->
        <div class="page-richtxt">
            <div class="richtxt">
                <img :src="singlepage[0].list_2.img" class="rv" />
                <h3 class="rv">{{singlepage[0].list_2.title}}</h3>
                <p class="rv">{{singlepage[0].list_2.content}}</p>
            </div>
            <img :src="singlepage[0].list_2.bg_showImg" class="rv" />
        </div>
        <!--图片-->
        <div class="page-img">
            <img :src="singlepage[0].list_3.bg_showImg" class="rv" />
            <div class="imgtxt">
                <img :src="singlepage[0].list_3.img" class="rv" />
                <h3 class="rv">{{singlepage[0].list_3.title}}</h3>
                <p class="rv">{{singlepage[0].list_3.content}}</p>
            </div>
        </div>

        <!--表单-->
        <div class="page-richtxt">
            <div class="richtxt">
                <img :src="singlepage[0].list_4.img" class="rv" />
                <h3 class="rv">{{singlepage[0].list_4.title}}</h3>
                <p class="rv">{{singlepage[0].list_4.content}}</p>
            </div>
            <img :src="singlepage[0].list_4.bg_showImg" class="rv" />
        </div>

        <!--<more-->
        <div class="more f fv fc">
            <h3>更多功能</h3>
            <div class="more-box-row">

                <div class="more-box rv" v-for="item in more">
                    <img :src="item.img" />
                    <p>{{item.title}}</p>
                    <div class="more-content">
                        <p>{{item.content_1}}</p>
                        <p>{{item.content_2}}</p>
                        <p>{{item.content_3}}</p>
                    </div>
                </div>
            </div>
        </div>


        <!--不同案例版本下显示隐藏-->
        @Html.Partial("/views/dzhome/_caseListPartial.cshtml")


    </section>

</div>
<script src="http://j.vzan.cc/dz/content/newhome/js/getcaselist.js"></script>



