@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

@model List<XcxTemplate>
    @section cssSection{
    <link href="http://j.vzan.cc/dz/content/newhome/css/productFeature.css" rel="stylesheet" />
    }
    <style>
        .fixed { position: fixed; top: 0; width: 55.5%; }
    </style>


 <!--内容-->
<section class="product-bg">
    <img src="http://j.vzan.cc/dz/content/newhome/image/feature_list_bg.png" alt="">
    <p>产品功能清单</p>
</section>
<section class="product-table">
    <div class="table-title">
        <table class="table">
            <tr>
                <th></th>
                <th></th>
                <th>单页版</th>
                <th>企业版</th>
                <th>电商版</th>
                <th>餐饮版</th>
                <th>行业版</th>
                <th>专业版</th>
            </tr>
        </table>
    </div>
    <table id="tableItem">
        <!-- 一 -->
        <tr>
            <td rowspan="11" class="table-white">小程序基础能力</td>
        </tr>
        <tr>
            <td class="table-whitesmall">获取体验二维码预览</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">快速发布小程序代码和跟踪发布状态</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">获取小程序正式二维码</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">支持附近店铺，用户可通过小程序【附近店铺】功能找到您的店铺（店铺位置需在距离用户3-5公里范围内）</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">支持自定义推广关键词，提供与小程序名称无关的10个自定义行业关键词，方便用户查找，每月可更换3次</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">支持多种方式进入小程序，在小程序功能界面外，可通过微信内长按二维码识别、公众号信息推送、公众号自定义菜单、公众号介绍、线下扫码、微信全局搜索、微信搜一搜、微信小程序搜索等多种方式直接进入企业小程序</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">支持小程序转发，用户进入小程序后可点击右上角转发您的小程序</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">支持小程序用户数据统计，可查询您的小程序用户数据概况、访问分析和实时统计数据</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">支持小程序与公众号关联，1个公众号可关联13个小程序，包含10个企业主体的小程序和3个相关主体的小程序</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">支持绑定微信多客服，通过微信小程序后台绑定成为客服，可以使用微信多客服网页版所有功能</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <!-- 二 -->
        <tr>
            <td rowspan="14" class="table-white">建站组件</td>
        </tr>
        <tr>
            <td class="table-whitesmall">轮播图</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">富文本</td>
            <td>√</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">视频</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">图片</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">地图</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">背景音乐</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">拨打电话</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">在线客服</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">动态表单</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">底部导航</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>


        <tr>
            <td class="table-whitesmall">图片导航</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">内容资讯</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">添加/删除页面</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>


        <!-- 三 -->
        <tr>
            <td rowspan="14" class="table-white">产品/商品管理</td>
        </tr>
        <tr>
            <td class="table-whitesmall">产品/商品信息增删改查</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">产品/商品分类管理</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">产品/商品分类管理</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">产品/商品分类管理</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">产品/商品分类管理</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">产品组件：自定义展示的产品和样式</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">产品列表组件：自定义展示的产品分类和样式</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">产品/商品搜索</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">产品/商品按价格排序</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">产品/商品自定义筛选项</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>


        <tr>
            <td class="table-whitesmall">产品/商品预约</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">产品/商品支付购买</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td>√</td>
        </tr>

        <tr>
            <td class="table-whitesmall">运费模板</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
        </tr>

        <!-- 四 -->
        <tr>
            <td rowspan="4" class="table-white">外卖</td>
        </tr>
        <tr>
            <td class="table-whitesmall">根据商家设置的营业时间自动更改店铺营业状态</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
        </tr>
        <tr>
            <td class="table-whitesmall">配送范围设置</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
        </tr>
        <tr>
            <td class="table-whitesmall">起送价和配送费设置</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
        </tr>

        <!-- 五 -->
        <tr>
            <td rowspan="3" class="table-white">自助点餐</td>
        </tr>
        <tr>
            <td class="table-whitesmall">根据商家设置的营业时间自动更改店铺营业状态</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
        </tr>
        <tr>
            <td class="table-whitesmall">桌台管理，为不同桌台生成唯一的小程序二维码</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
        </tr>



        <!-- 七 -->
        <tr>
            <td rowspan="3" class="table-white">订单管理</td>
        </tr>
        <tr>
            <td class="table-whitesmall">按不同条件查询订单</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">订单退款</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td>√</td>
        </tr>

        <!-- 八-->
        <tr>
            <td rowspan="6" class="table-white">模板消息</td>
        </tr>
        <tr>
            <td class="table-whitesmall">订单支付成功后自动发送小程序模板消息给顾客</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-gray">即将上线</td>
        </tr>
        <tr>
            <td class="table-whitesmall">订单开始配送后自动发送小程序模板消息给顾客</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">√</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-gray">即将上线</td>
        </tr>

        <tr>
            <td class="table-whitesmall">商家审核通过退款申请后自动发送小程序模板消息给顾客</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">√</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-gray">即将上线</td>
        </tr>
        <tr>
            <td class="table-whitesmall">商家拒绝接单时自动发送小程序模板消息给顾客</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">√</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-gray">即将上线</td>
        </tr>

        <tr>
            <td class="table-whitesmall">订单支付成功后自动发送模板消息给商家注册点赞的微信号</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-gray">即将上线</td>
        </tr>

        <!--九-->
        <tr>
            <td rowspan="6" class="table-white">营销插件</td>
        </tr>
        <tr>
            <td class="table-whitesmall">分享转发</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td>√</td>
        </tr>
        <tr>
            <td class="table-whitesmall">会员卡</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-gray">即将上线</td>
        </tr>


        <tr>
            <td class="table-whitesmall">储值</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-gray">即将上线</td>
        </tr>
        <tr>
            <td class="table-whitesmall">砍价</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-gray">即将上线</td>
        </tr>

        <tr>
            <td class="table-whitesmall">拼团</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td>√</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
            <td class="table-red">x</td>
        </tr>
    </table>



</section>
<!--内容-->

    <script src="http://j.vzan.cc/dz/content/newhome/lib/jquery.min.js"></script>
    <script>
        $(function () {
            var p = $(".table-title").offset().top
            //检查对象，#boxs是要随滚动条固定的ID
            var offset = $('.table-title').offset();
            $(window).scroll(function () {
                //检查对象的顶部是否在游览器可见的范围内
                var scrollTop = $(window).scrollTop();
                if (offset.top < scrollTop) {
                    $('.table-title').addClass('fixed');
                }
                else {
                    $('.table-title').removeClass('fixed');
                }
            });





            console.log(p)
        })
    </script>

