@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "小未程序-深度视频";

}
@section cssSection{
    @*<link href="@(WebSiteConfig.cdnurl)content/newhome/css/videoList.css?@(WebSiteConfig.cdnVersion)" rel="stylesheet" />*@
}

<!--内容-->
<div id="videoList" class="video-list-container pdy60" v-cloak>
    @*<div  class="content-box" >*@
    <div class="invited-lecture-box">
        <img src="@(WebSiteConfig.cdnurl)content/newhome/image/invited-lecture-bg.png?@(WebSiteConfig.cdnVersion)" />
        <div class="input-area f fc">
            <input type="text" placeholder="请输入您的手机号" v-model="inputValue" v-bind:value="inputValue" />
            <span class="submit-btn cp" v-on:click="invitedLecture()">提交</span>
        </div>
    </div>
    <div class="list-label-box ">
        <div class="list-label fz-18 f fc">
            <div class="label-title">{{videoLabel.title}} :</div>
            <div class="f fc fw">
                <span class="label-name" v-bind:class="{'active-label':index == labelNum}" v-for="(label,index) in videoLabel.arr" v-on:click="toggleLabel(index)">{{label}}</span>
            </div>
        </div>
        <div class="list-label fz-18 f fc" style="border-bottom:none;">
            <div class="label-title">{{videoTheme.title}} :</div>
            <div class="f fc fw">
                <span class="label-name" v-bind:class="{'active-label':index ==themeid}" v-for="(theme,index) in videoTheme.arr" v-on:click="toggleTheme(index)">{{theme.Name}}</span>
            </div>
        </div>
    </div>
    <ul class="sort-box f ">
        <li class="sort-item " v-bind:class="{'active-sort':sortNum==index}" v-on:click="toggleSort(index)" v-for="(sort,index) in videoSort">{{sort}}</li>
    </ul>
    <div class="video-list-box f fc fw">
        <div class="video-item-box" v-for="(item,index) in videoArr">
            <a class="video-item cr" v-on:click="addUrlParam(index)" v-bind:data-videoIndex="index">
                <div>
                    <img v-bind:src="item.ImageUrl" />
                </div>
                <div class="video-item-text">
                    <h3 class="line line2 c-333">{{item.Title}}</h3>
                    <p class="f fc fj">
                        <span class="f fc"><i class="icon-encryption" v-if="item.IsPassword"></i> {{item.PlayTimeStr}}</span>
                        <span>{{item.playcountformat}}人浏览</span>
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="add-btn-box f fc fc-h">
        <span class="btn-more" v-on:click="addMoreVideo" v-if="moreVideoToggle==true">加载更多</span>
        <span style="margin:0 auto;" v-if="!moreVideoToggle">{{moreBtnText}}</span>
    </div>
    @*</div>*@
</div>

@section script{
    @if (WebSiteConfig.Environment == "pro")
    {
        <script src="@(WebSiteConfig.cdnurl)content/newhome/js/videoList.js?@(WebSiteConfig.cdnVersion)"></script>
    }
    else
    {
        <script src="/Content/newhome/js/videoList.js"></script>
    }
}