@model Entity.MiniApp.Conf.VideoPlayList
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "小未程序-深度视频";

}
@section cssSection{
    @*<link href="/Content/newhome/css/videoDetails.css" rel="stylesheet" />*@
}
<script src="~/livecontent/aodianplay/player.js"></script>
<!--内容-->
<div id="videoDetails" class="video-details-container">
    @*<div class="video-content">*@
    <div class="video-content" id="videomainbody">
        <div class="video-title">
            <h1>小程序改变一切</h1>
            <span id="date">2018-01-01</span>
            <span class="pdl20">@(Model.playcountformat)人浏览</span>
        </div>
        <div class="video-area f">
            <div class="video-player" style=font-size:0; id="videoPlayer"></div>
            @*<video id="dsVideo" src="" style="width:100%;height:100%;background-color:#000;" preload="metadata" controls></video>*@
            @*<div class="next-video-warn" >正在为你加载本期下集视频...</div>*@
            <div class="encryption-masking f fc fc-h">
                @*<div class="f fc fc-h">*@
                <input id="encryptionInput" class="encryption-input" type="password" name="name" placeholder="请输入密码" />
                <span id="encryptionVideoBtn" class="encryptionVideo-btn">确定</span>
                @*</div>*@
            </div>
            <div id="videoMasking" class="video-masking-gif f fc fc-h">
            </div>
            <div id="hasFlashErr" class="flashErr f fc fc-h">
                <p class="tc c-fff">抱歉，您没有安装flash，为了您能更好的体验，请先<a href='http://get.adobe.com/cn/flashplayer/'>安装</a>flash或更换其他浏览器观看</p>
            </div>
            @*</div>*@
        </div>
    </div>
    @*</div>*@
</div>
@section script{
    @if (WebSiteConfig.Environment == "pro")
    {
        <script src="@(WebSiteConfig.cdnurl)content/newhome/js/videoDetails.js?@(WebSiteConfig.cdnVersion)"></script>
    }
    else
    {
        <script src="/Content/newhome/js/videoDetails.js"></script>
    }
}