
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">小程序足浴版</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu" style="display: block;">
                    <!--#region 小程序管理-->
                    <li class="nav-item">
                        <a href="/config/MiniAppConfig?appId=@ViewBag.appId&type=25" class="nav-link">
                            <i class="glyphicon glyphicon-wrench"></i>
                            <span class="title">小程序管理</span>
                        </a>
                    </li>
                    <!--#endregion-->
                    <!--#region 店铺消息-->
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-bar-chart"></i>
                            <span class="title">店铺管理</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>

                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/footbath/Index?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">门店信息</span>
                                </a>
                            </li>
                            @*<li class="nav-item">
                                <a href="/footbath/Index?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title" style="color:red">门店首页装修(暂时不做)</span>
                                </a>
                            </li>*@
                            <li class="nav-item">
                                <a href="/templateMsg/TemplateMsgManager?appId=@ViewBag.appId&PageType=25" class="nav-link">
                                    <span class="title">模板消息</span>
                                </a>
                            </li>
                            @*<li class="nav-item">
                                <a href="/footbath/PayWaySetting?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">支付方式</span>
                                </a>
                            </li>*@

                        </ul>
                    </li>
                    <!--#endregion-->
                    <!--#region 技师管理-->
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="glyphicon glyphicon-wrench"></i>
                            <span class="title">技师管理</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>

                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/footbath/TechnicianList?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">技师列表</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/footbath/Rota?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">排班表</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--#endregion-->
                    <!--#region 服务项目-->
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <span class="title">服务项目</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>

                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/footbath/ServiceList?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">项目列表</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/footbath/ServiceType?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">项目分类</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--#endregion-->
                    <!--#region 包间管理-->
                    @*<li class="nav-item">
                        <a href="/footbath/PrivateRoom?appId=@ViewBag.appId" class="nav-link">
                            <i class="glyphicon glyphicon-wrench"></i>
                            <span class="title">包间管理</span>
                        </a>
                    </li>*@
                    <!--#endregion-->
                    <!--#region 预订管理-->
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="glyphicon glyphicon-user"></i>
                            <span class="title">预订管理</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/footbath/ReserveSetting?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">预订配置</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/footbath/ReserveRecord?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">预订记录</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--#endregion-->
                    <!--#region 订单管理-->
                    <li class="nav-item">
                        <a href="/footbath/OrderManager?appId=@ViewBag.appId" class="nav-link">
                            <i class="glyphicon glyphicon-wrench"></i>
                            <span class="title">订单管理</span>
                        </a>
                    </li>
                    <!--#endregion-->
                    <!--#region 送花管理-->
                    <li class="nav-item">
                        <a href="/footbath/GiftRecord?appId=@ViewBag.appId" class="nav-link">
                            <i class="glyphicon glyphicon-user"></i>
                            <span class="title">送花管理</span>
                            @*<span class="selected"></span>
                            <span class="arrow"></span>*@
                        </a>
                        @*<ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/footbath/GiftSetting?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">送花配置</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/footbath/GiftRecord?appId=@ViewBag.appId" class="nav-link">
                                    <span class="title">送花记录</span>
                                </a>
                            </li>
                        </ul>*@
                    </li>
                    <!--#endregion-->
                    <!--#region 会员管理-->
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="glyphicon glyphicon-user"></i>
                            <span class="title">会员管理</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item">
                                <a href="/common/VipSetting?appId=@ViewBag.appId&PageType=25" class="nav-link">
                                    <span class="title">会员卡</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/savemoney/MiniAppSaveMoneySetManager?appId=@ViewBag.appId&projectType=25" class="nav-link">
                                    <span class="title">储值</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="/common/VipList?appId=@ViewBag.appId&&PageType=25" class="nav-link">
                                    <span class="title">会员列表</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!--#endregion-->

                </ul>
            </li>

        </ul>
    </div>
</div>

