
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">足浴技师端</span>
                    <span class="selected"></span>
                    <span class="arrow open"></span>
                </a>
                <ul class="sub-menu" style="display: block;">
                    <!--#region 小程序管理-->
                    <li class="nav-item">
                        <a href="/config/MiniAppConfig?appId=@ViewBag.appId&type=25" class="nav-link">
                            <i class="glyphicon glyphicon-wrench"></i>
                            <span class="title">小程序管理</span>
                        </a>
                    </li>
                    <!--#endregion-->
                    <li class="nav-item">
                        <a href="/footbath/LinkClient?appId=@ViewBag.appId&type=25" class="nav-link">
                            <i class="glyphicon glyphicon-link"></i>
                            <span class="title">关联足浴客户端</span>
                        </a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>
</div>

