@using User.MiniApp.comment
@model Entity.MiniApp.Stores.StoreGoodsType
<table class="table table-add">
    <tr>
        <td>类型logo :  </td>
        <td>
            <div class="width200">
                @Html.FileUploadFor("CarouselImgUrl", initImageList: new List<object> { new { id = Model.Id, url = Model.LogImg } }, removeCallback: "removeLogoFun")
                <input type="hidden" id="hiddenimg" value="@Model.LogImg"/>
            </div>
            <label class="forinputmassage">( 建议上传60*60px，大小不超过1M，格式为jpg或png的图片 )</label>
        </td>
    </tr>
    <tr>
        <td><span>分类名称：</span></td>
        <td><input maxlength="8" placeholder="分类名称" id="nameVal" type="text" class="form-control" value="@Model.Name"></td>
    </tr>
    <tr>
        <td><span>顺序：</span></td>
        <td><input placeholder="顺序越大越靠前" id="SortVal" type="text" class="form-control" value="@Model.SortVal">*数字越大越靠前</td>
    </tr>
</table>
