@using Entity.MiniApp.Conf
@using User.MiniApp.comment
@model Moduls

<div >
    @Html.FileUploadFor(m => m.ImgUrl, controllerWidth: 113, initImageList: new List<object> { new { id = Model.Id, url = Model.ImgUrl } }, removeCallback: "removeAttachmentFunction")
</div>

