@{
    Layout = null;
}
<audio id="myvoice" src="@ViewBag.Attachmentvoicepath" controls="controls" style='display:@(string.IsNullOrEmpty(ViewBag.Attachmentvoicepath)?"none":"block")'></audio>
<input type="file" id="file" accept=".mp3" value="asdfasdf" style="cursor:pointer;" />
<input type="hidden" id="voiceid" data-state="0" data-path="" value="@(ViewBag.VoiceId)" />
<input type="button" class="btn  btn-info width100" id="savefile" style="margin-top:5px;" value="上传" />
<input type="button" class="btn  btn-info width100 temp-del-voice" style="margin-top:5px;" value="删除" />
<!-- Modal -->
<div class="modal bs-example-modal-sm" id="loadvoiceModal" tabindex="-1" role="dialog" aria-labelledby="loadvoiceModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <span>提示</span>
            </div>
            <div class="modal-body text-center">
                正在上传 . . .
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script>

    var audio = document.getElementById('myvoice');

    $(function () {
        $("#file").change(function () {
            var filePath = $(this).val();
        });
        //删除语音
        $(".temp-del-voice").click(function () {
            //音频文件id
            var voiceid = $("#voiceid").val();
            var voicepath = $("#voiceid").attr("data-path");
            if (voiceid > 0) {
                if (confirm("删除后不可恢复，确认删除吗？")) {
                    // 删除Logo
                    $.get('/tools/DeleteVoice?id=' + voiceid,
                        function (data) {
                            if (!data.Success) {
                                AppTools.Alert("网络不好 , 删除失败 , 请稍后重试 !");
                                return;
                            }
                            $("#voiceid").val(0); $("#voiceid").attr("data-path", "");
                            $("#myvoice").attr("src", "").hide();
                        });
                }
            }
        });
        //上传音频文件
        $("#savefile").click(function () {
            var selectedFiles = $("#file")[0].files;
            if (selectedFiles.length <= 0) {
                AppTools.Alert("请选择上传的音频文件");
                return;
            }

            var data = new FormData();
            if (selectedFiles[0].size > (1024 * 1024 * 10)) {
                AppTools.Alert("上传的音频文件不能超过10M");
                return;
            }
            for (var i = 0; i < selectedFiles.length; i++) {
                data.append($("#file")[0].value, selectedFiles[i]);
            }
            var storeid = $('#Id').val();

            $('#loadvoiceModal').modal('show');
            $.ajax({
                type: "POST",
                url: "/Upload/UploadVoiceOnly",
                contentType: false,
                processData: false,
                data: data,
                success: function (result) {
                    $('#loadvoiceModal').modal('hide');
                    AppTools.Alert(result.msg);
                    if (result.isok) {
                        $("#myvoice").css("display", "block");
                        audio.src = result.Path;
                        $("#voiceid").val(result.voiceId);
                        $("#voiceid").attr("data-path", result.Path);
                    }
                },
                error: function (e) {
                    $('#loadvoiceModal').modal('hide');
                    AppTools.Alert("系统繁忙");
                }
            });
        });
    });
</script>