
@font-face {
  font-family: 'dz_icomoon';  /* project id 443080 */
  src: url('//at.alicdn.com/t/font_443080_isgjb8a0g0h08uxr.eot');
  src: url('//at.alicdn.com/t/font_443080_isgjb8a0g0h08uxr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_443080_isgjb8a0g0h08uxr.woff') format('woff'),
  url('//at.alicdn.com/t/font_443080_isgjb8a0g0h08uxr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_443080_isgjb8a0g0h08uxr.svg#iconfont') format('svg');
}
.dzicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dz_icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-progress1:before { content: "\e6ea"; }

.icon-show5:before { content: "\e6eb"; }

.icon-show3:before { content: "\e6ec"; }

.icon-show4:before { content: "\e6ed"; }

.icon-show2:before { content: "\e6ef"; }

.icon-progress2:before { content: "\e6f0"; }

.icon-progress3:before { content: "\e6f1"; }

.icon-progress4:before { content: "\e6f2"; }

.icon-classify1:before { content: "\e6f3"; }

.icon-classify3:before { content: "\e6f4"; }

.icon-progress5:before { content: "\e6f5"; }

.icon-classify5:before { content: "\e6f6"; }

.icon-classify2:before { content: "\e6f7"; }

.icon-classify4:before { content: "\e6f8"; }

.icon-personal1:before { content: "\e6f9"; }

.icon-personal2:before { content: "\e6fa"; }

.icon-personal5:before { content: "\e6fb"; }

.icon-personal4-33:before { content: "\e6fc"; }

.icon-Shopping3:before { content: "\e6fd"; }

.icon-personal4-34:before { content: "\e6fe"; }

.icon-Shopping1:before { content: "\e6ff"; }

.icon-Shopping4:before { content: "\e700"; }

.icon-Shopping2:before { content: "\e701"; }

.icon-Shopping5:before { content: "\e702"; }

.icon-contact3:before { content: "\e703"; }

.icon-contact1:before { content: "\e704"; }

.icon-contact2:before { content: "\e705"; }

.icon-contact4:before { content: "\e706"; }

.icon-contact5:before { content: "\e707"; }

.icon-brand2:before { content: "\e708"; }

.icon-brand4:before { content: "\e709"; }

.icon-brand3:before { content: "\e70a"; }

.icon-brand1:before { content: "\e70b"; }

.icon-brand5:before { content: "\e70c"; }

.icon-trends1:before { content: "\e70d"; }

.icon-trends2:before { content: "\e70e"; }

.icon-trends3:before { content: "\e70f"; }

.icon-trends4:before { content: "\e710"; }

.icon-trends5:before { content: "\e711"; }

.icon-home1:before { content: "\e712"; }

.icon-home4:before { content: "\e713"; }

.icon-home2:before { content: "\e714"; }

.icon-home3:before { content: "\e715"; }

.icon-home5:before { content: "\e716"; }

.icon-Recommend2:before { content: "\e717"; }

.icon-Recommend1:before { content: "\e718"; }

.icon-Recommend3:before { content: "\e719"; }

.icon-Recommend5:before { content: "\e71a"; }

.icon-news2:before { content: "\e71b"; }

.icon-news5:before { content: "\e71c"; }

.icon-Recommend4:before { content: "\e71d"; }

.icon-news3:before { content: "\e71e"; }

.icon-news1:before { content: "\e71f"; }

.icon-news4:before { content: "\e720"; }

.icon-Discount1:before { content: "\e721"; }

.icon-Discount4:before { content: "\e722"; }

.icon-Discount2:before { content: "\e723"; }

.icon-Discount3:before { content: "\e724"; }

.icon-Discount5:before { content: "\e725"; }

.icon-address:before { content: "\e729"; }

.icon-music-off:before { content: "\e72a"; }

.icon-music-on:before { content: "\e72b"; }

.icon-show:before { content: "\e72c"; }

.icon-show1:before { content: "\e72d"; }

.icon-personal:before { content: "\e72e"; }

.icon-phone:before { content: "\e730"; }

.icon-number:before { content: "\e731"; }


.icon-customer_service3:before { content: "\e735"; }

.icon-news:before { content: "\e736"; }

.icon-contact:before { content: "\e726"; }
.icon-shaixuan:before { content: "\e623"; }

.icon-xiala:before { content: "\e628"; }
.icon-bofang:before { content: "\e727"; }
.icon-jiantou:before { content: "\e737"; }
.icon-arrow-right:before { content: "\e728"; }
.icon-yuandian:before { content: "\e600"; }