@using Entity.MiniApp.Plat
@model PlatMsgConf
@{
    ViewBag.Title = "小未管理平台";
    Layout = "~/Areas/Plat/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .centertext { vertical-align: inherit !important; text-align: center; }

    .flex-v { -webkit-box-orient: vertical; -webkit-box-direction: vertical; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; }
    .d-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
    .d-flex-center { align-items: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; }


    .set-form-content { position: relative; padding: 20px; border: 1px solid #f2f2f2; margin-bottom: 0; }
    .form-title { font-size: 14px; background: #f8f8f8; padding: 10px; margin: 10px 0; }

    .form-control { width: 35%; display: inline-block; }
</style>
<div style="height:100%;" class="form-horizontal set-form-content backgroundcolorfff">
    <div id="app_Conf" v-cloak>
        <div>
            <label>审核设置：</label>
            <label><input type="radio" name="ReviewSetting" value="0" v-model="ReviewSetting" />不需要审核</label>
            <label><input type="radio" name="ReviewSetting" value="1" v-model="ReviewSetting" />审核后发布</label>
            <label><input type="radio" name="ReviewSetting" value="2" v-model="ReviewSetting" />发布后审核</label>
            <br />
            <label class="forinputmassage" style="color:#ccc;margin-left:50px;">注意：设置了为不需要审核，则前端不显示审核状态</label>
        </div>
        <div>
            <input type="button" class="btn btn-primary ml10" value="保存" v-on:click="saveConf" style="margin-left:50px;" />
        </div>



        <div>
            <div class="form-title">置顶规则管理</div>
            <table class="table table-bordered viplevel ml_19">
                <tr class="active">
                    <th class="centertext">置顶时间</th>
                    <th class="centertext">置顶金额</th>
                    <th class="centertext">规则更新时间</th>
                    <th class="centertext">操作</th>
                </tr>
                <tr v-for="(rule,index) in rulelist">

                    <td class="centertext">{{rule.ExptimeDay}}天</td>
                    <td class="centertext">{{rule.PriceStr}}元</td>
                    <td class="centertext">{{rule.UpdateTimeStr}}</td>
                    <td class="centertext">
                        <a href="javascript:;" class="btn btn-default ml10" v-on:click="delRule(rule.Aid,rule.Id)">删除</a>
                        <a href="javascript:;" class="btn btn-primary ml10" v-on:click="addedit(index)">编辑</a>
                    </td>
                </tr>
            </table>
            <div id="pages" style="text-align: center;margin-top: 0.5rem;" v-show="recordCount>0"></div>

            <div class="ml_19">
                <a href="javascript:;" class="btn btn-primary ml10" v-on:click="addedit()">+新增规则</a>
            </div>



            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                编辑置顶规则
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div>

                                <div style="margin-top:10px;">
                                    <div style="margin-left:55px;">
                                        <div>
                                            <span>置顶时间:</span><input type="text" class="form-control" style="width:120px;" v-model="ruleInfo.ExptimeDay" />天&nbsp;&nbsp;
                                            <span>置顶金额:</span><input type="text" class="form-control" style="width:120px;" v-model="ruleInfo.PriceStr" />元

                                        </div>

                                    </div>

                                </div>


                                <div stle=" clear:both;"></div>
                            </div>
                        </div>
                        <div class="modal-footer" style="text-align:center;">
                            <button type="button" class="btn btn-default ml10" data-dismiss="modal">
                                关闭
                            </button>
                            <button type="button" class="btn btn-primary ml10" v-on:click="saveInfo()">
                                保存
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!--/.modal-->

        </div>
    </div>

</div>

<script>
    var ruleData= {
        Id:0,
        Aid:@ViewBag.appId,
        Price:0,
        PriceStr:0,
        ExptimeDay:0
    };
    var app = new Vue({
        el: "#app_Conf",
        data: {
            ruleInfo: JSON.parse(JSON.stringify(ruleData)),
            editIndex: 0,
            isloading: false,
            recordCount: 0,
            rulelist: [],
            postdata: {
                aid:@ViewBag.appId,
                pageIndex: 1,
                pageSize: 10

            },
            ReviewSetting:@Model.ReviewSetting
            },
        methods: {
            saveConf:function(){
                var that=this;
                $.ajax({
                    type: 'POST',
                    url: '/Msg/SaveConf',
                    data: {aid:@ViewBag.appId,reviewSetting:that.ReviewSetting },
                    dataType: 'json',
                    success: function (data) {
                        layer.msg(data.Msg);
                        if (data.isok) {

                            window.setTimeout(function(){
                                window.location.reload();
                            },2000);
                        }
                    },
                    error: function (data) {
                        layer.msg('与服务器通讯错误');
                    }
                });
            },
            //添加编辑窗口
            addedit: function (index) {
                var that=this;
                that.editIndex = index;
                if (typeof (index) != "undefined") {//编辑

                    that.ruleInfo = JSON.parse(JSON.stringify(that.rulelist[index]));

                } else {
                    that.ruleInfo = JSON.parse(JSON.stringify(ruleData));
                }
                $('#myModal').modal('show')
            },
            //获取规则列表
            getRuleList: function () {
                var that=this;

                if (that.isloading) {
                    layer.msg("正在努力加载中");
                    return;
                }
                var index = layer.load(1);
                $.post("/Plat/Msg/GetMsgRules", that.postdata, function (data) {
                    layer.close(index);
                    that.recordCount = data.dataObj.totalCount;
                    that.rulelist = data.dataObj.list;
                    that.resetRulePage();
                })

            },
            //列表分页跳转
            resetRulePage: function () {
                var that=this;
                layui.use('laypage', function () {
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'pages'
                        , count: that.recordCount //数据总数，从服务端得到
                        , curr: that.postdata.pageIndex //当前页
                        , limit:that.postdata.pageSize
                        , jump: function (obj, first) {
                            that.postdata.pageIndex = obj.curr;

                            //首次执行
                            if (!first) {
                                that.getRuleList();

                            }
                        }
                            , theme: '#3eb94e'
                        , layout: ['prev', 'page', 'next', 'skip']
                    });
                })
            },

            delRule:function(appId,ruleId){
                layer.open({
                    content: "确认删除该条规则?"
     ,btn: ['确认', '取消']
     ,yes: function(index, layero){
         //删除
         var index = layer.load(1);

         $.post("/Plat/Msg/DelMsgRules", {appId:appId,ruleId:ruleId}, function (data) {
             layer.close(index);
             layer.msg(data.Msg);
             if (data.isok) {

                 window.setTimeout(function(){
                     window.location.reload();
                 },2000);
             }
         })

     }
     ,btn2: function(index, layero){

         // layer.msg("点击取消");
     }

                });





            },
            //保存规则
            saveInfo: function () {
                var that=this;
                if (!/^\+?[1-9][0-9]*$/.test(that.ruleInfo.ExptimeDay)) {
                    layer.msg("置顶时间天数必须为大于零的整数");
                    return ;
                }

                var price=that.ruleInfo.PriceStr;


                if (!/^[0-9]{1,6}(\.\d{0,2})?$/.test(price)) {
                    layer.msg("金额为大于0小于1000000且小数不超过2位的正数！");
                    return;
                } else {
                    var price_save = price * 1000000 / 10000;
                    if (0 == price_save || parseInt(price_save) < 1) {
                        layer.msg("金额不能低于1分钱！");
                        return;
                    }

                    that.ruleInfo.Price=price_save;
                }

                $.ajax({
                    type: 'POST',
                    url: '/Plat/Msg/SaveMsgRule',
                    data: { aid:@ViewBag.appId,platMsgRule:that.ruleInfo },
                    dataType: 'json',
                    success: function (data) {
                        layer.msg(data.Msg);
                        if (data.isok) {

                            window.setTimeout(function(){
                                window.location.reload();
                            },2000);
                        }
                    },
                    error: function (data) {
                        layer.msg('与服务器通讯错误');
                    }
                });



            }
        },created:function(){
            var that=this;
            that.getRuleList();
        }
    });
</script>
