<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='./css/base.css' />
    <link rel='stylesheet' href='./css/blog.css' />
    <link rel='stylesheet' href="./css/dzicon.css" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>个人博客后台</title>
</head>

<body>
    <section id="blog">

        <section class="head">
            <el-tabs type="border-card">
                <el-tab-pane label="首页配置">


                    <div class="wrap-box">
                        <div class="wrap-swiper f fc">
                            <span>轮播图:</span>
                            <div class="f fc">
                                <div v-for='item in vm.img'>
                                    <img :src="item" alt="" style="width:8vw;height:8vw;margin-right:1vw" v-if='vm.dialogVisible' v-loading.fullscreen.lock="loading">
                                </div>
                                <el-upload action="123" accept='image/*' list-type="picture-card" :before-upload='handSwiper'>
                                    <i class="el-icon-plus"></i>
                                </el-upload>
                            </div>
                        </div>
                    </div>

                </el-tab-pane>
                <el-tab-pane label="配置管理">配置管理</el-tab-pane>
                <el-tab-pane label="角色管理">角色管理</el-tab-pane>
                <el-tab-pane label="定时任务补偿">定时任务补偿</el-tab-pane>
            </el-tabs>
        </section>
        <section class="wrap"></section>
        <section class="footer"></section>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="./js/scrollreveal.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src='./js/core.js'></script>

<script>
    new Vue({
        el: '#blog',
        data: {
            vm: {
                img: [],
                dialogVisible: false
            },
        },
        methods: {
            /***************************************首页配置**************************************/
            handSwiper(file) {
                let that = this
                var formData = new FormData();
                formData.append('file', file);
                http.uploadImg(formData).then(data => {
                    if (data.isok) {
                        that.vm.img.push(data.img);
                        that.loading = true;
                        that.vm.dialogVisible = true
                        setTimeout(() => {
                            that.loading = false;
                        }, 2000);
                    }
                })
            },
        },
        created: function () {},
    })
    //滚动效果
    window.sr = ScrollReveal({
        reset: true,
    });
    sr.reveal('.rv');
</script>

</html>