html { font-family: SourceHanSansCN; }
.login-font-blue { color: #3296FA; }
.login-font-gray { color: #666; }
.title-border-blue { border-bottom: 1px solid #3296FA; }
.title-border-gray { border-bottom: 1px solid #292929; }
/*输入框缩进 */
.merchant { padding-left: 82px; }
.self { padding-left: 65px; }
.psw { padding-left: 65px; }

body { width: 100%; height: 100%; background: url("../../images/MultiStore/login-bg.png") no-repeat; background-size: cover; }
.content-container { position: absolute; left: 0; top: 0; bottom: 0; right: 0; margin: auto; width: 350px; height: 440px; }
.bg-title { padding: 2% 0; padding: 28px 0; font-size: 1.875rem; color: #3BE3F6; }
.login-box { width: 350px; height: 350px; /*margin: 15% auto;*/ background-color: #fff; border-radius: 4px; box-shadow: 0 0 40px #292929; padding-bottom: 10px; }
.login-title { width: 100%; height: 15%; color: #666; border: none; box-shadow: 0 1px 1px #E5E5E5; }
.login-title > div { width: 50%; height: 100%; cursor: pointer; position: relative; }
.title-line::after { content: ""; width: 100%; height: 1px; background-color: #3296FA; position: absolute; left: 0; bottom: 0; }
.details { width: 90%; height: 100%; padding-top: 2%; }
.warning { width: 100%; padding: 20px 0; color: #FF4246; }
.login-box .input { width: 100%; /*height:48px;*/ padding: 2% 0; box-sizing: border-box; position: relative; }
.login-box input { width: 100%; /*height:100%;*/ height: 48px; outline: none; box-sizing: border-box; border: 1px solid #E5E5E5; }
input::-webkit-input-placeholder { color: #999; font-size: 0.875rem; }
.text-position { position: absolute; left: 0; height: 48px; /*top:50%;*/ /*margin-top:-12px;*/ padding-left: 15px; padding-left: 5%; }
.forget-psw { font-size: 0.875rem; width: 100%; height: 24px; padding-bottom: 14px; justify-content: flex-end; }
.btn-confirm { width: 100%; height: 48px; line-height: 48px; background-color: #3296FA; color: #fff; cursor: pointer; text-align: center; }
.btn-confirm > a { width: 100%; height: 100%; display: inline-block; color: #fff; font-size: 1.25rem; }
.no-number { width: 100%; font-size: 14px; padding-top: 10px; }
.login-list { width: 100%; height: 85.7%;  }
.login-list .qrcode { width: 100%; height: 100%; padding-top: 50px; }
.btn-confirm-container { width: 100%; padding: 4% 0; }
.forget-hint { color: #999; font-size: 0.875rem; }
/*.store-item { padding: 2% 0; }*/
/*.store-content { padding-left: 4%; }*/
/*.store-details { font-size: 0.875rem; color: #999; padding: 2% 0; }*/
/*.btn-storebox { padding:4% 0;}*/
.store-icon { cursor: pointer; }
/*.store-icon > img { width: 100%; }*/
.btn-store { width: 45%; height: 100%; border: 1px solid #3296fa; padding: 12px 0; text-align: center; cursor: pointer; }
.store-manage { width: 100%; height: 85%; }
.store-item-box { width: 100%; height: 85%; overflow: auto; margin-bottom: 6px; }
.store-item { padding: 10px 0; }
.store-icon > img { width: 24px; }
.store-content { padding-left: 6px; }
.store-details { line-height: 1.2em; padding-top: 4px; font-size: 0.875rem; }
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.account-item-box::-webkit-scrollbar { width: 6px; height: 100%; background-color: #F5F5F5; }
/*定义滚动条轨道 内阴影+圆角*/
.account-item-box::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 5px; background-color: #F5F5F5; }
/*定义滑块 内阴影+圆角*/
.account-item-box::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #3296FA; }
