html {
  font-size: 0.8vw !important;
  background-image: url("./bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.login {
  width: 41.6vw;
  height: 41.6vw;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20.8vw;
  margin-top: -18vw;
}

.title {
  font-size: 4vw;
  font-weight: bold;
  margin-bottom: 1.5vw;
  color: #fff;
  font-family: 'beyno';
}

form {
  width: 22vw;
  height: 22vw;
  background: #fff;
  border-radius: 8px;
  padding: 1.5vw 0;
}

.form-title {
  font-family: 'beyno';
}

.forminput {
  position: relative;
  width: 100%;
  padding: 0 1.8vw;
}

.f-label {
  position: absolute;
  top: 0.3vw;
  left: 1.8vw;
  font-size: 0.8vw;
  color: #9e9e9e;
  transition: top 0.4s ease;
  -webkit-transition: top 0.4s ease;
}

.f-name {
  width: 100%;
  height: 2vw;
  border: none;
  border-bottom: 1px solid #9e9e9e;
}

.f-name:focus+.f-label {
  top: -1vw;
  font-size: 0.8vw;
  color: #26a69a;
}

.f-name:focus {
  border-bottom: 2px solid #26a69a;
}

.forminput2 {
  position: relative;
  width: 100%;
  padding: 0 1.8vw;
}

.f-password {
  width: 100%;
  height: 2vw;
  border: none;
  border-bottom: 1px solid #9e9e9e;
}

.f-label2 {
  position: absolute;
  top: 0.3vw;
  left: 1.8vw;
  font-size: 0.8vw;
  color: #9e9e9e;
  transition: top 0.4s ease;
  -webkit-transition: top 0.4s ease;
}

.f-password:focus+.f-label2 {
  top: -1vw;
  font-size: 0.8vw;
  color: #26a69a;
}

.f-password:focus {
  border-bottom: 2px solid #26a69a;
}

.show {
  top: -1vw !important;
  font-size: 0.8vw;
  color: #26a69a;
}

.showbottom {
  border-bottom: 2px solid #26a69a;
}

.formbtn {
  width: 80%;
  height: 2.5vw;
  line-height: 2.5vw;
  text-align: center;
  background-color: rgb(56, 153, 256);
  color: #fff;
  font-size: 1.3vw;
  border: none;
  font-family: 'beyno';
}

.f-error {
  font-size: 0.7vw;
  color: #f20033;
}

.f-account {
  position: absolute;
  font-size: 0.6vw;
  top: 0.6vw;
  right: 2.2vw;
  color: #f20033;
}

/* 针对手机 */

@media screen and (max-width: 900px) {
  .login {
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50vw;
    margin-top: -50vw;
  }
  form {
    width: 75vw;
    height: 90vw;
    padding: 3vw;
  }
  .form-title {
    margin-top: 4vw;
    font-size: 4vw;
  }
  .title {
    font-size: 6vw;
    margin-bottom: 4vw;
  }
  .f-name {
    font-size: 3vw;
    height: 6vw;
  }
  .f-password {
    font-size: 3vw;
    height: 6vw;
  }
  .formbtn {
    height: 11vw;
    line-height: 11vw;
    color: #fff;
    font-size: 5vw;
  }
  .f-label {
    font-size: 3vw;
  }
  .f-label2 {
    font-size: 3vw;
  }
  .f-name:focus+.f-label {
    top: -5vw;
    font-size: 3vw;
  }
  .f-password:focus+.f-label2 {
    top: -5vw;
    font-size: 3vw;
  }
  .show {
    font-size: 3vw;
    top: -5vw !important;
  }
  .f-account {
    font-size: 3vw;
  }
  .f-error {
    font-size: 3vw;
  }
}