@using User.MiniApp.comment
@model  Entity.MiniApp.Fds.FoodGoodsType
<table class="table table-add">
    @*<tr>
        <td>类型logo :  </td>
        <td>
            <div class="width200">
                @Html.FileUploadFor("CarouselImgUrl", initImageList: new List<object> { new { id = Model.Id, url = Model.LogImg } }, removeCallback: "removeLogoFun")
                <input type="hidden" id="hiddenimg" value="@Model.LogImg" />
            </div>
        </td>
    </tr>*@
    <tr>
        <td><span>分类名称：</span></td>
        <td><input maxlength="8" placeholder="分类名称" id="nameVal" type="text" class="form-control" value="@Model.Name"></td>
    </tr>
    <tr>
        <td><span>顺序：</span></td>
        <td><input placeholder="顺序越大越靠前" id="SortVal" type="text" class="form-control" value="@Model.SortVal">*数字越大越靠前</td>
    </tr>
</table>

