@using User.MiniApp.comment
@model List<Entity.MiniApp.Fds.FoodLabel>
<table class="table table-add form-horizontal minifoodlabelCheckForm" >
    
    <tr>
        <td><span>已有标签：</span></td>
        
    </tr>
    <tr width="600px">
        <td>
            @foreach (var x in Model)
            {
                <div class="itemDiv" style="float:left">
                    <input class="col-sm-2 btn btn-default @(x.isCheck ? "active" : "" )"  data-id="@x.Id" data-state="@x.State" maxlength="8" type="button" style="margin:3px;width:150px;border-color:#108EE9;@(x.isCheck ? "background-color:#108EE9;color:white;" : "background-color:White;color:#108EE9;")" value="@x.LabelName" onclick="check(this)"/>
                    <span>&nbsp; &nbsp; </span>
                </div>
            }
        </td>
    </tr>
    @*<tr>
        <td>
        </td>
    </tr>*@
</table>
