
@{
    Layout = null;
}

<!DOCTYPE html>
<script src="@(WebSiteConfig.cdnurl)content/js/jquery-2.1.4.min.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestReq</title>
</head>
<body>
    <a href="#" id="test">测试接口</a>
</body>
</html>
<script>
    $(function () {
        $("#test").click(function () {
            var carArry = new [{ FoodGoodsId: 5, SpecIds: "25_31_" }];

        });

    });
</script>
