/*关于我们*/
.caroul {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

    .caroul > .container {
        background: rgba(0,0,0,.3);
    }

#caroul {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

@media only screen and (min-width: 1200px) {
   .about_us_img{
      width:100%;
       
     
    }
}


    .about_us_img{
       width:100%;
    }

.us {
    padding: 150px 0;
    background: #F7F7F7;
}

.us_table {
    width: 100%;
    font-size: 16px;
    color: white;
}

    .us_table tr td {
        width: 200px;
        height: 200px;
        box-sizing: border-box;
    }

    .us_table tr:nth-of-type(1) td:nth-of-type(3) {
        background-color: #1AAD19;
        text-align: center;
    }

    .us_table tr:nth-of-type(1) td img {
        width: 100%;
    }

    .us_table tr:nth-of-type(2) td:nth-of-type(1) {
        background-color: white;
        color: #666666;
        padding: 0 35px;
    }

    .us_table tr:nth-of-type(2) td:nth-of-type(2) {
        background-color: #1a2b45;
        text-align: center;
    }

    .us_table tr:nth-of-type(3) td:nth-of-type(1) {
        background-color: #1AAD19;
        padding-left: 25px;
    }

    .us_table tr:nth-of-type(3) td:nth-of-type(3) {
        background-color: #1AAD19;
        text-align: center;
    }

.num {
    font-size: 50px;
}

.exp {
    opacity: .8;
}

.dian {
    display: block;
    padding-right: 116px;
    text-align: right;
}

.dzan {
    font-size: 40px;
}

.call {
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-right: 25px;
}

h2 {
    color: black;
    font-weight: bold;
    padding-bottom: 30px;
}
/*关于我们*/

/*关于小程序*/


@media only screen and (min-width:100px) and (max-width: 1390px) {
    /*小程序大标题*/
    .about_xiao_title {
        font-size: 30px;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
        margin:3px 0;
    }


       .about_xiao_title p {
            display: inline-block;
            padding: 0 20px;
            position: relative;
        }

    .fl {
        width: 0;
        height: 0;
        margin-top: 18px;
        border-left: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .fr {
        width: 0;
        height: 0;
        margin-top: 18px;
        border-right: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }
    /*小程序大标题*/

    /*列表样式*/
    .list_titl {
        
         min-width:335px;
        font-size: 20px;
        line-height: 45px;
        color: #1AAD19;
        padding: 0 20px;
        background: url(../images/List_bg.png) top center no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        overflow: hidden;
    }
    /*列表内容*/
    .list_contain {
        overflow: hidden;
        border: 1px solid #E5E5E5;
      min-width:335px;
    }

    .list_data {
        
        height:10%;
       min-height:5%;
        border-bottom: 1px solid #E5E5E5;
        color: #666666;
        font-size: 20px;
        padding: 5px 19px;
    }

    .list_left {
        float: left;
    }

    .list_number {
        margin-top: 8px;
        font-size: 22px;
        float: left;
    }

    .list_data:nth-of-type(1) .list_left .list_number {
        color: #fa326e;
    }

    .list_data:nth-of-type(2) .list_left .list_number {
        color: #ffc900;
    }

    .list_data:nth-of-type(3) .list_left .list_number {
        color: #44a2ff;
    }

    .photo {
        width: 39px;
        height: 39px;
        margin-left: 30px;
    }

    .photo_con {
        position: relative;
        left: -7px;
        top: 6px;
    }

        .photo_con img {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            border: 1px solid #e7e7e7;
        }

    .list_data:last-of-type {
        border-bottom-color: transparent;
    }

    .list_data:nth-of-type(1) .list_left .photo {
        background: url(../images/no1.png) top right no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_data:nth-of-type(2) .list_left .photo {
        background: url(../images/no2.png) top right no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_data:nth-of-type(3) .list_left .photo {
        background: url(../images/no3.png) top right no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .line_name {
        display: inline-block;
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        font-size: 18px;
        margin-top:10px;
    }

    .list_right {
        width: 55px;
        height:30px;
        padding:0 10px;
        float: right;
        border-left: 1px solid #bfbfbf;
        margin-right: 20px;
    }


        .list_right div {
            width: 33px;
            height: 21px;
            margin: 0 auto;
            background: url(../images/data04.png) top center no-repeat;
            background-size: contain;
            -moz-background-size: contain;
            -webkit-background-size: contain;
        }

    .list_data:nth-of-type(1) .list_right div {
        background: url(../images/data01.png) top center no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_data:nth-of-type(2) .list_right div {
        background: url(../images/data02.png) top center no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_data:nth-of-type(3) .list_right div {
        background: url(../images/data03.png) top center no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_right p {
        line-height: 25px;
        font-size: 18px;
    }

    .footer_btn {
    line-height:45px;
    text-align: center;
    font-size: 20px;
    color: #999;
    background: #eee;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width:335px;
}


    .gray {
    background: #f3f3f3;
}

.white_think {
    background: #fff;
    background-image: url(../images/bg_3.png);
}


.new:first-of-type {
    margin-top: 10px;
}

.new {
    padding-top: 5px;
}

.time {
    width: 100px;
    height: 60px;
    position: relative;
    background: #1AAD19;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
 
}





.new_contain span {
    display: block;
    font-size: 18px;
    color: #333333;
    margin-bottom:5px;
}

.new_contain p {
    color: #666666;
    font-size: 14px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom:10px;  
}

.new:last-of-type .new_contain p {
    border-bottom-color: transparent;
}

.gray button {
    width: 240px;
    height: 60px;
    display: block;
    margin: 0 auto;
    border-color: transparent;
    background-color: #1AAD19;
    border-radius: 40px;
    font-size: 24px;
    color: white;
    margin-top:10px;
}

.white_think button {
  width: 240px;
    height: 60px;
    display: block;
    margin: 0 auto;
    border-color: transparent;
    background-color: #1AAD19;
    border-radius: 40px;
    font-size: 24px;
    color: white;
    margin-top:10px;
}

.slide3 {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
}

    .slide3 button {
        width: 360px;
        height: 80px;
        display: block;
        border-color: transparent;
        background-color: #1AAD19;
        border-radius: 40px;
        font-size: 30px;
        line-height: 80px;
        color: white;
        margin-left: -180px;
        position: absolute;
        bottom: 40px;
        left: 50%;
    }

.fll {
    padding: 0;
}

.how {
    font-size: 30px;
    color: #1AAD19;
    padding-top: 40px;
    padding-left: 15px;
    line-height: 40px;
}

.line {
    width: 130px;
    height: 0;
    border-top: 2px solid #1AAD19;
    padding-bottom: 50px;
    margin-left: 15px;
    display: block;
}

.circle {
    width: 22px;
    height: 22px;
    padding: 3px;
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 11px;
    background-color: #1AAD19;
    float: left;
}

    .circle span {
        width: 16px;
        height: 16px;
        font-size: 14px;
        border: 2px solid white;
        border-radius: 8px;
        line-height: 12px;
        color: white;
        text-align: center;
        display: block;
    }

.answer {
    font-size: 20px;
    color: #666666;
    padding-left: 34px;
}

.slide4 {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
}

.padding_0 {
    padding: 0;
}

    .padding_0 p {
        max-width: 90%;
        font-size: 30px;
        color: white;
        line-height: 40px;
    }

        .padding_0 p:nth-of-type(2) {
            font-size: 20px;
            line-height: 30px;
            opacity: .5;
            padding-bottom: 50px;
        }

.report img {
    width: 90px;
    height: 90px;
}

.report span {
    width: calc(100% - 90px);
    display: inline-block;
    border-top: 1px dashed #1AAD19;
}

.slide4 button {
    width: 360px;
    height: 80px;
    display: block;
    margin-left: -180px;
    border-color: transparent;
    background-color: #1AAD19;
    border-radius: 40px;
    font-size: 30px;
    line-height: 80px;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 50%;
}

.msg {
    font-size: 20px;
    text-align: center;
    margin-top: 32px;
    color: #666;
}

     
}




@media only screen and (min-width:1400px) and (max-width: 1590px) {
    /*小程序大标题*/
    .about_xiao_title {
        font-size: 30px;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
        margin:30px 0;
    }


       .about_xiao_title p {
            display: inline-block;
            padding: 0 20px;
            position: relative;
        }

    .fl {
        width: 0;
        height: 0;
        margin-top: 18px;
        border-left: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .fr {
        width: 0;
        height: 0;
        margin-top: 18px;
        border-right: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }
    /*小程序大标题*/

    /*列表样式*/
    .list_titl {
        
         min-width:335px;
        font-size: 20px;
        line-height: 65px;
        color: #1AAD19;
        padding: 0 20px;
        background: url(../images/List_bg.png) top center no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        overflow: hidden;
    }
    /*列表内容*/
    .list_contain {
        overflow: hidden;
        border: 1px solid #E5E5E5;
      min-width:335px;
    }

    .list_data {
        
        height:65px;
        border-bottom: 1px solid #E5E5E5;
        color: #666666;
        font-size: 20px;
        padding: 5px 19px;
    }

    .list_left {
        float: left;
    }

    .list_number {
        margin-top: 8px;
        font-size: 22px;
        float: left;
    }

    .list_data:nth-of-type(1) .list_left .list_number {
        color: #fa326e;
    }

    .list_data:nth-of-type(2) .list_left .list_number {
        color: #ffc900;
    }

    .list_data:nth-of-type(3) .list_left .list_number {
        color: #44a2ff;
    }

    .photo {
        width: 39px;
        height: 39px;
        margin-left: 30px;
    }

    .photo_con {
        position: relative;
        left: -7px;
        top: 6px;
    }

        .photo_con img {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            border: 1px solid #e7e7e7;
        }

    .list_data:last-of-type {
        border-bottom-color: transparent;
    }

    .list_data:nth-of-type(1) .list_left .photo {
        background: url(../images/no1.png) top right no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_data:nth-of-type(2) .list_left .photo {
        background: url(../images/no2.png) top right no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_data:nth-of-type(3) .list_left .photo {
        background: url(../images/no3.png) top right no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .line_name {
        display: inline-block;
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        font-size: 18px;
        margin-top:10px;
    }

    .list_right {
        width: 55px;
        height:50px;
        padding:0 10px;
        float: right;
        border-left: 1px solid #bfbfbf;
        margin-right: 20px;
    }


        .list_right div {
            width: 33px;
            height: 21px;
            margin: 0 auto;
            background: url(../images/data04.png) top center no-repeat;
            background-size: contain;
            -moz-background-size: contain;
            -webkit-background-size: contain;
        }

    .list_data:nth-of-type(1) .list_right div {
        background: url(../images/data01.png) top center no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_data:nth-of-type(2) .list_right div {
        background: url(../images/data02.png) top center no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_data:nth-of-type(3) .list_right div {
        background: url(../images/data03.png) top center no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_right p {
        line-height: 25px;
        font-size: 18px;
    }

    .footer_btn {
    line-height:65px;
    text-align: center;
    font-size: 20px;
    color: #999;
    background: #eee;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width:335px;
}


    .gray {
    background: #f3f3f3;
}

.white_think {
    background: #fff;
    background-image: url(../images/bg_3.png);
}


.new:first-of-type {
    margin-top: 10px;
}

.new {
    margin-top:30px;
}

.time {
    width: 100px;
    height: 60px;
    position: relative;
    background: #1AAD19;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
 
}





.new_contain span {
    display: block;
    font-size: 18px;
    color: #333333;
    margin-bottom:5px;
}

.new_contain p {
    color: #666666;
    font-size: 14px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom:10px;  
}

.new:last-of-type .new_contain p {
    border-bottom-color: transparent;
}

.gray button {
    width: 240px;
    height: 60px;
    display: block;
    margin: 0 auto;
    border-color: transparent;
    background-color: #1AAD19;
    border-radius: 40px;
    font-size: 24px;
    color: white;
    margin-top:80px;
}

.white_think button {
  width: 240px;
    height: 60px;
    display: block;
    margin: 0 auto;
    border-color: transparent;
    background-color: #1AAD19;
    border-radius: 40px;
    font-size: 24px;
    color: white;
    margin-top:80px;
}

.slide3 {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
}

    .slide3 button {
        width: 360px;
        height: 80px;
        display: block;
        border-color: transparent;
        background-color: #1AAD19;
        border-radius: 40px;
        font-size: 30px;
        line-height: 80px;
        color: white;
        margin-left: -180px;
        position: absolute;
        bottom: 40px;
        left: 50%;
    }

.fll {
    padding: 0;
}

.how {
    font-size: 30px;
    color: #1AAD19;
    padding-top: 40px;
    padding-left: 15px;
    line-height: 40px;
}

.line {
    width: 130px;
    height: 0;
    border-top: 2px solid #1AAD19;
    padding-bottom: 50px;
    margin-left: 15px;
    display: block;
}

.circle {
    width: 22px;
    height: 22px;
    padding: 3px;
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 11px;
    background-color: #1AAD19;
    float: left;
}

    .circle span {
        width: 16px;
        height: 16px;
        font-size: 14px;
        border: 2px solid white;
        border-radius: 8px;
        line-height: 12px;
        color: white;
        text-align: center;
        display: block;
    }

.answer {
    font-size: 20px;
    color: #666666;
    padding-left: 34px;
}

.slide4 {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
}

.padding_0 {
    padding: 0;
}

    .padding_0 p {
        max-width: 90%;
        font-size: 30px;
        color: white;
        line-height: 40px;
    }

        .padding_0 p:nth-of-type(2) {
            font-size: 20px;
            line-height: 30px;
            opacity: .5;
            padding-bottom: 50px;
        }

.report img {
    width: 90px;
    height: 90px;
}

.report span {
    width: calc(100% - 90px);
    display: inline-block;
    border-top: 1px dashed #1AAD19;
}

.slide4 button {
    width: 360px;
    height: 80px;
    display: block;
    margin-left: -180px;
    border-color: transparent;
    background-color: #1AAD19;
    border-radius: 40px;
    font-size: 30px;
    line-height: 80px;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 50%;
}

.msg {
    font-size: 20px;
    text-align: center;
    margin-top: 8%;
    color: #666;
}

     
}
















@media only screen and (min-width: 1600px) {
    .about_xiao_title {
        padding: 30px 0;
        font-size: 36px;
        margin: 0 auto;
        text-align: center;
    }

       .about_xiao_title p {
            display: inline-block;
            padding: 0 20px;
            position: relative;
        }

    .fl {
        width: 0;
        height: 0;
        margin-top: 18px;
        border-left: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .fr {
        width: 0;
        height: 0;
        margin-top: 18px;
        border-right: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }
    /*小程序大标题*/

    /*列表样式*/
    .list_titl {
        font-size: 20px;
        line-height: 80px;
        color: #1AAD19;
        padding: 0 20px;
        background: url(../images/List_bg.png) top center no-repeat;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        overflow: hidden;
    }
    /*列表内容*/
    .list_contain {
        overflow: hidden;
        border: 1px solid #E5E5E5;
    }

    .list_data {
        height: 80px;
        border-bottom: 1px solid #E5E5E5;
        color: #666666;
        font-size: 20px;
        padding: 5px 19px;
    }

    .list_left {
        float: left;
    }

    .list_number {
        margin-top: 8px;
        font-size: 22px;
        float: left;
    }

    .list_data:nth-of-type(1) .list_left .list_number {
        color: #fa326e;
    }

    .list_data:nth-of-type(2) .list_left .list_number {
        color: #ffc900;
    }

    .list_data:nth-of-type(3) .list_left .list_number {
        color: #44a2ff;
    }

    .photo {
        width: 39px;
        height: 39px;
        margin-left: 30px;
    }

    .photo_con {
        position: relative;
        left: -7px;
        top: 6px;
    }

        .photo_con img {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            border: 1px solid #e7e7e7;
        }

    .list_data:last-of-type {
        border-bottom-color: transparent;
    }

    .list_data:nth-of-type(1) .list_left .photo {
        background: url(../images/no1.png) top right no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_data:nth-of-type(2) .list_left .photo {
        background: url(../images/no2.png) top right no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_data:nth-of-type(3) .list_left .photo {
        background: url(../images/no3.png) top right no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .line_name {
        display: inline-block;
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        font-size: 18px;
        margin-top:10px;
    }

    .list_right {
        width: 70px;
        height:70px;
        padding:0 10px;
        float: right;
        border-left: 1px solid #bfbfbf;
        margin-right: 20px;
    }


        .list_right div {
            width: 33px;
            height: 21px;
            margin: 0 auto;
            background: url(../images/data04.png) top center no-repeat;
            background-size: contain;
            -moz-background-size: contain;
            -webkit-background-size: contain;
        }

    .list_data:nth-of-type(1) .list_right div {
        background: url(../images/data01.png) top center no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_data:nth-of-type(2) .list_right div {
        background: url(../images/data02.png) top center no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_data:nth-of-type(3) .list_right div {
        background: url(../images/data03.png) top center no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .list_right p {
        line-height: 25px;
        font-size: 18px;
    }

    .footer_btn {
    line-height:80px;
    text-align: center;
    font-size: 20px;
    color: #999;
    background: #eee;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


    .gray {
    background: #f3f3f3;
}

.white_think {
    background: #fff;
    background-image: url(../images/bg_3.png);
}


.new:first-of-type {
    margin-top: 30px;
}

.new {
    padding-top: 15px;
}

.time {
    width: 100px;
    height: 100px;
    position: relative;
    background: #1AAD19;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

    .time span {
        font-size: 28px;
    }

    .time p {
        font-size: 16px;
    }

.time_j {
    width: 0;
    height: 0;
    border-left: 16px solid #1AAD19;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    position: absolute;
    top: 30px;
    right: -16px;
}

.new_contain span {
    display: block;
    padding-bottom: 15px;
    font-size: 20px;
    color: #333333;
}

.new_contain p {
    padding-bottom: 20px;
    color: #666666;
    font-size: 16px;
    border-bottom: 1px solid #e2e2e2;
    margin: 0;
}

.new:last-of-type .new_contain p {
    border-bottom-color: transparent;
}

.gray button {
    width: 360px;
    height: 80px;
    display: block;
    margin: 0 auto;
    border-color: transparent;
    background-color: #1AAD19;
    border-radius: 40px;
    font-size: 30px;
    line-height: 80px;
    color: white;
    margin-left: -180px;
    position: absolute;
    bottom: 80px;
    left: 50%;
}

.white_think button {
    width: 360px;
    height: 80px;
    display: block;
    margin: 0 auto;
    border-color: transparent;
    background-color: #1AAD19;
    border-radius: 40px;
    font-size: 30px;
    color: white;
    margin-left: -180px;
    position: absolute;
    bottom: 80px;
    left: 50%;
}

.slide3 {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
}

    .slide3 button {
        width: 360px;
        height: 80px;
        display: block;
        border-color: transparent;
        background-color: #1AAD19;
        border-radius: 40px;
        font-size: 30px;
        line-height: 80px;
        color: white;
        margin-left: -180px;
        position: absolute;
        bottom: 40px;
        left: 50%;
    }

.fll {
    padding: 0;
}

.how {
    font-size: 30px;
    color: #1AAD19;
    padding-top: 40px;
    padding-left: 15px;
    line-height: 40px;
}

.line {
    width: 130px;
    height: 0;
    border-top: 2px solid #1AAD19;
    padding-bottom: 50px;
    margin-left: 15px;
    display: block;
}

.circle {
    width: 22px;
    height: 22px;
    padding: 3px;
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 11px;
    background-color: #1AAD19;
    float: left;
}

    .circle span {
        width: 16px;
        height: 16px;
        font-size: 14px;
        border: 2px solid white;
        border-radius: 8px;
        line-height: 12px;
        color: white;
        text-align: center;
        display: block;
    }

.answer {
    font-size: 20px;
    color: #666666;
    padding-left: 34px;
}

.slide4 {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
}

.padding_0 {
    padding: 0;
}

    .padding_0 p {
        max-width: 90%;
        font-size: 30px;
        color: white;
        line-height: 40px;
    }

        .padding_0 p:nth-of-type(2) {
            font-size: 20px;
            line-height: 30px;
            opacity: .5;
            padding-bottom: 50px;
        }

.report img {
    width: 90px;
    height: 90px;
}

.report span {
    width: calc(100% - 90px);
    display: inline-block;
    border-top: 1px dashed #1AAD19;
}

.slide4 button {
    width: 360px;
    height: 80px;
    display: block;
    margin-left: -180px;
    border-color: transparent;
    background-color: #1AAD19;
    border-radius: 40px;
    font-size: 30px;
    line-height: 80px;
    color: white;
    position: absolute;
    bottom: 40px;
    left: 50%;
}

.msg {
    font-size: 20px;
    text-align: center;
    margin-top: 16%;
    color: #666;
}
}

.slide2{
	width: 100%;
	min-height: 100%;
    position:relative;
    background-size:cover !important;  
    -moz-background-size:cover !important;  
    -webkit-background-size:cover !important;
}

.color_white {
    color: white;
}



.header_title {
    height: 30px;
    font-size: 24px;
    color: #666;
    margin: 20px 0;
    margin-left: 360px;
}

    .header_title p {
        float: left;
        margin-right: 5px;
    }


.more_title {
    width:100%;
    height: 101px;
    background: #f7f7f7;
}



.more_name {
    font-size: 26px;
    color: #8e8e8e;
    line-height:101px;
   
}

.more_name1 {
    font-size: 26px;
    color: #8e8e8e;
   line-height:101px;
   margin-left:7%;
   margin-right:27%;
}

.more_name2 {
    font-size: 26px;
    color: #8e8e8e;
   line-height:101px;
    margin-left:26%;
}



.more_contain {
    overflow: hidden;
    border: 1px solid #E5E5E5;
}

.more_data {
    height: 150px;
    line-height: 150px;
    border-bottom: 1px solid #E5E5E5;
    color: #666666;
    font-size: 20px;
    vertical-align: middle;
    padding: 0 19px;
}

    .more_data:last-of-type {
        border-bottom-color: transparent;
    }

    .more_data:nth-of-type(1) .more_data1 .more_photo {
        background: url(../images/no1.png) top right no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .more_data:nth-of-type(2) .more_data1 .more_photo {
        background: url(../images/no2.png) top right no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

    .more_data:nth-of-type(3) .more_data1 .more_photo {
        background: url(../images/no3.png) top right no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

.more_data1 {
    float: left;
    margin-left:26%;
}

    .more_data1 span {
        font-size: 22px;
        float: left;
    }

.more_data:nth-of-type(1) .more_data1 span {
    color: #fa326e;
}

.more_data:nth-of-type(2) .more_data1 span {
    color: #ffc900;
}

.more_data:nth-of-type(3) .more_data1 span {
    color: #44a2ff;
}

.more_line_name {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    margin-left: 29.5px;
}

.more_photo {
    width: 49px;
    height: 49px;
    float: left;
    position: relative;
    background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    margin-left: 120px;
    margin-top: 44px;
}

.more_photo_con {
    position: relative;
    top: -44px;

}

    .more_photo_con img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 1px solid #e7e7e7;
       
    }



.more_data3 {
    width: 75px;
    margin-top: 49px;
    padding: 0 10px;
    float: right;
    margin-right:31%;
}


    .more_data3 div {
        width: 33px;
        height: 21px;
        margin: 0 auto;
        background: url(../images/data04.png) top center no-repeat;
        background-size: contain;
        -moz-background-size: contain;
        -webkit-background-size: contain;
    }

.more_data:nth-of-type(1) .more_data3 div {
    background: url(../images/data01.png) top center no-repeat;
    background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
}

.more_data:nth-of-type(2) .more_data3 div {
    background: url(../images/data02.png) top center no-repeat;
    background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
}

.more_data:nth-of-type(3) .more_data3 div {
    background: url(../images/data03.png) top center no-repeat;
    background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
}

.more_data3 p {
    line-height: 25px;
}

.about_us {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 77px;
}

    .about_us img {
        width: 400px;
        height: 400px;
    }

.about_content {
    background: #fff;
    width: 400px;
    height: 400px;
    font-size: 14px;
    color: #666;
    text-align: left;
    padding: 0 39px;
}

    .about_content h2 {
        margin-top: 69px;
    }

.about_link {
    width: 400px;
    height: 400px;
}

.about_top {
    width: 400px;
    background: #1A2B45;
    color: #fff;
    height: 200px;
    text-align: right;
    padding-top: 59px;
    padding-right: 121px;
}

.about_right {
    font-size: 16px;
}

.about_left {
    font-size: 40px;
}

.about_down {
    background: #1AAD19;
    width: 400px;
    color: #fff;
    height: 200px;
    padding-top: 34px;
}

.about_call {
    font-size: 20px;
    margin-left: 280px;
}

.about_info {
    margin-top: 54px;
    margin-left: 34px;
}

.about_down p img {
    width: 16px;
    height: 16px;
}

.about_down p {
    font-size: 14px;
}


.barcon {
    margin-bottom: 130px;
}

.barcon2 {
}

    .barcon2 ul {
        display: flex;
        flex-direction: row;
    }

    .barcon2 li {
        width: 68px;
        height: 68px;
        text-align: center;
        line-height: 68px;
        border: 1px solid #e7e7e7;
        margin-right: 20px;
        font-size: 30px;
        color: #3DB33E;
    }

        .barcon2 li:last-child {
            width: 168px;
        }





/*查看更多*/
.more_detail {
    width: 700px;
    margin: 0 auto;
}

    .more_detail h2 {
        border-bottom: 1px solid #f5f5f5;
        font-size: 22px;
        color: #373737;
        height: 22px;
        padding-top: 20px;
    }

    .more_detail span {
        font-size: 16px;
        color: #ccc;
    }

    .more_detail .title {
        padding: 0 10px;
        font-size: 18px;
        color: rgb(239,121,96);
    }

    .more_detail .content_detail {
        padding: 0 10px;
        font-size: 18px;
    }
