fixed_bottom.slide1 {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
}

.titl {
  
    font-size: 36px;
    margin: 0 auto;
    text-align: center;
    box-sizing: content-box;
    color: #666666;
}

    .titl p:nth-of-type(1) {
        display: inline-block;
        margin: 0 auto;
        padding: 0 20px;
        position: relative;
    }

    .titl p:nth-of-type(2) {
        font-size: 24px;
        display: block;
        color: #989898;
    }

.fl {
    width: 0;
    height: 0;
    margin-top: 18px;
    border-left: 14px solid #1AAD19;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.fr {
    width: 0;
    height: 0;
    margin-top: 18px;
    border-right: 14px solid #1AAD19;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.gray {
    background: #F7F7F7;
}

.scene_view {
    width: 100%;
}

    .scene_view img {
        width: 100%;
    }

/*.xcx_flow{
    margin-top:50px;
    width:100%;
    display: -webkit-flex;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
   	flex-wrap: nowrap;
   	justify-content: space-between;
}
.xcx_flow dl{
    width:12%;
    margin-right:32px;
}
.xcx_flow dl:last-child{
    margin-right:0;
}
.xcx_flow dl dt{
    font-size:22px;
    font-weight:bold;
    color:#1aad19;
    margin:30px 0 18px;
}
.xcx_flow dl img{
    width:56px;
    height:50px;
    display:inline-block;
}
.xcx_flow dl dd{
    font-size:18px;
    color:#666;
    text-align:left;
    margin-left:0px;
    margin-bottom:10px;
}*/
/*.sustain_catain dl{
	width: 20%;
	text-align: center;
	margin-right: 0;
}
.sustain_catain dl dd{
	text-align: center;
}*/
#red {
    color: #ff0202;
}
/*.bg_head{
    width:100%;
    height:182px;
    padding:60px 0 0 25px;
    margin-bottom: 40px;
    font-size:36px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}*/
.head01 {
    background: url(../images/index-11.png) top center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.head02 {
    background: url(../images/index-11.png) top center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.head03 {
    background: url(../images/index-11.png) top center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.head04 {
    background: url(../images/index-10.png) top center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    font-size: 24px;
    padding-top: 45px;
}

.bg_head p {
    color: #fff;
}

.bg_head span {
    font-size: 18px;
    color: #fff;
    display: inline-block;
}

/*.bg_contain {
    width: 80%;
    padding:40px 0 0 30px;
    box-sizing:border-box;
    background: #f5f5f5;
    -moz-box-sizing: border-box;
    margin: 0 auto;
}*/

.bg_contain:hover {
    box-shadow: 2px 2px 20px rgba(102,102,102,0.2);
    -webkit-box-shadow: 2px 2px 20px rgba(102,102,102,0.2);
    -moz-box-shadow: 2px 2px 20px rgba(102,102,102,0.2);
    -ms-box-shadow: 2px 2px 20px rgba(102,102,102,0.2);
}

/*.bg_contain dl dt {
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 15px;
        padding: 0 10px 10px 30px;
    }

    .bg_contain dl dd {
        font-size: 16px;
        color: #666666;
        margin-left: 0;
        line-height: 24px;
        padding: 0 10px 0 30px;
    }*/

.bg_main01 {
    color: #00b354;
}

.bg_main02 {
    color: #00b354;
}

.bg_main03 {
    color: #00b354;
}

.bg_foot {
    width: 130px;
    margin-left: -65px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
    color: #999999;
    position: absolute;
    bottom: 0;
    left: 50%;
}

    .bg_foot img {
        width: 100%;
    }

    .bg_foot span {
        font-size: 30px;
        color: #fd7402;
        padding: 20px 0 16px;
        display: inline-block;
        box-sizing: content-box;
    }

    .bg_foot p {
        font-size: 20px;
        color: #fd7402;
    }

.slide4 {
    width: 100%;
    min-height: 100%;
    position: relative;
    background-clip：border-box;
    background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
}

.hover_gray:hover td {
    background-color: #f7f7f7;
}

.color_white {
    color: white;
}

.join {
    width: 80%;
    margin: 0 auto;
}

.join_tit {
    padding: 0;
}

.tit2 {
    display: block;
    width: 100%;
    height: 340px;
    font-size: 20px;
    text-align: center;
    padding: 150px 0;
    color: #1AAD19;
    background: rgba(255,255,255,.8);
    box-sizing: border-box;
    position: relative;
}

.bg_white {
    background: white !important;
}

.padding_m {
    padding: 10px 0;
    margin: 0 15px;
    box-sizing: border-box;
    background: white;
}

.sus_table {
    width: 100%;
    font-size: 20px;
    color: #121212;
    background: white;
    table-layout: fixed;
    border-bottom: 10px solid white;
}

    .sus_table th {
        color: #1AAD19;
        font-weight: bold;
        text-align: center;
        padding: 30px 5px 20px;
    }

        .sus_table th:nth-of-type(1) {
            padding-left: 30px;
        }

    .sus_table tr td {
        text-align: center;
        color: #666666;
        padding: 10px 10px;
    }

        .sus_table tr td:nth-of-type(1) {
            padding-left: 30px;
        }

.foot {
    padding-top: 50px;
    background: #F7F7F7;
}

.lef {
    background: white;
    padding: 50px 60px;
    position: relative;
}

    .lef span:first-of-type {
        font-size: 20px;
        font-weight: bold;
        color: black;
        display: block;
        padding-bottom: 50px;
    }

    .lef p {
        font-size: 16px;
        color: #666666;
        text-align: justify;
    }

.dzan {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 10px;
    color: #1AAD19;
    opacity: .3;
    position: absolute;
    bottom: 20px;
    right: 50px;
}

.gray .sus_table {
    table-layout: auto;
}

.sus_data {
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #666666;
    background: white;
    line-height: 45px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
}

    .sus_data tr td:nth-of-type(1) {
        padding-left: 50px;
    }

.gray .sus_table tr th:nth-of-type(1),
.gray .sus_table tr th:nth-of-type(4),
.gray .sus_table tr td:nth-of-type(1),
.gray .sus_table tr td:nth-of-type(4) {
    text-align: left;
}

/*.msg {
    font-size: 20px;
    text-align: center;
    margin-top: 20%;
}

    .msg .code img {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
    }*/

@media only screen and (max-width: 480px) {
    .slide1 {
        background: url(../images/agency01_768.jpg) bottom center no-repeat;
    }

    .slide4 {
        background: url(../images/agency03_768.jpg) bottom center no-repeat;
    }

    .scene_view {
        margin-top: 140px;
    }

    .xcx-flow {
        padding-top: 0;
    }

    .titl {
        padding: 10px 10px 5px;
        font-size: 18px;
    }

        .titl p:nth-of-type(1) {
            padding: 0 5px;
        }

        .titl p:nth-of-type(2) {
            font-size: 12px;
        }

    .fl {
        margin-top: 9px;
        border-left: 7px solid #1AAD19;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
    }

    .fr {
        margin-top: 9px;
        border-right: 7px solid #1AAD19;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
    }

    .tit2 {
        font-size: 16px;
        height: 230px;
        padding: 100px 0;
    }

    .join_contain {
        padding-top: 10px;
        height: 460px;
        overflow: auto;
    }

    .xcx_flow {
        margin-top: 0;
        width: 100%;
        display: block;
    }

        .xcx_flow dl {
            width: 100%;
            margin: 0;
            padding: 5px;
        }

            .xcx_flow dl dt {
                font-size: 18px;
                margin: 16px 5px;
                float: left;
            }

            .xcx_flow dl img {
                width: 20px;
                height: 18px;
                margin-top: 18px;
                float: left;
            }

            .xcx_flow dl dd {
                font-size: 12px;
                margin: 0 5px;
                float: left;
            }

    .bg_contain {
        width: 90%;
    }

    .bg_head {
        height: 70px;
        padding: 20px 0 0 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

        .bg_head p {
            font-size: 12px;
        }

        .bg_head span {
            font-size: 12px;
        }

    .bg_contain dl dt {
        font-size: 12px;
        padding-bottom: 15px;
        padding: 0 5px 5px 5px;
    }

    .bg_contain dl dd {
        font-size: 12px;
        margin-left: 0;
        line-height: 16px;
        padding: 0 5px 0 5px;
    }

    .padding_0 {
        padding: 0 3px;
        margin-top: 20px;
    }

    .sus_table {
        margin-top: 10px;
        font-size: 12px;
    }

        .sus_table th {
            padding: 0 2px;
        }

            .sus_table th:nth-of-type(1) {
                padding-left: 10px;
            }

        .sus_table tr td {
            padding: 0;
        }

            .sus_table tr td:nth-of-type(1) {
                padding-left: 10px;
            }

    .sus_data {
        padding: 10px 0;
        font-size: 12px;
        line-height: 20px;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        margin-top: 10px;
    }

        .sus_data tr td:nth-of-type(1) {
            padding-left: 20px;
        }

    .bg_foot {
        width: 60px;
        margin-left: -30px;
        padding-top: 5px;
        padding-bottom: 10px;
        font-size: 12px;
    }

        .bg_foot span {
            font-size: 12px;
            padding: 14px 0 5px;
        }

        .bg_foot p {
            font-size: 12px;
        }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .slide1 {
        background: url(../images/agency01_768.jpg) no-repeat bottom -50px center;
    }

    .slide4 {
        background: url(../images/agency03_768.jpg) bottom center no-repeat;
    }

    .scene_view {
        margin-top: 140px;
    }

    .xcx_flow {
        margin-top: 0;
        width: 100%;
        display: block;
    }

        .xcx_flow dl {
            width: 100%;
            margin: 0;
            padding: 5px;
        }

            .xcx_flow dl dt {
                font-size: 18px;
                margin: 0 5px;
                float: left;
            }

            .xcx_flow dl img {
                width: 20px;
                height: 18px;
                margin-top: 2px;
                float: left;
            }

            .xcx_flow dl dd {
                font-size: 12px;
                margin: 0 5px;
                float: left;
            }

    .titl {
        padding: 50px 10px 30px;
    }

    .tit2 {
        font-size: 20px;
    }

    .join_contain {
        padding-top: 50px;
        height: 680px;
        background: white;
    }

    .col-xs-3 {
        padding: 0 5px;
    }

    .bg_contain {
        width: 90%;
    }

    .bg_head {
        height: 70px;
        padding: 20px 0 0 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

        .bg_head p {
            font-size: 16px;
        }

        .bg_head span {
            font-size: 12px;
        }

    .bg_contain dl dt {
        font-size: 12px;
        padding-bottom: 15px;
        padding: 0 5px 5px 5px;
    }

    .bg_contain dl dd {
        font-size: 12px;
        margin-left: 0;
        line-height: 14px;
        padding: 0 5px 0 5px;
    }

    .sus_table {
        margin-top: 10px;
        font-size: 16px;
    }

        .sus_table th {
            padding: 0 2px;
        }

            .sus_table th:nth-of-type(1) {
                padding-left: 10px;
            }

        .sus_table tr td {
            padding: 0;
        }

            .sus_table tr td:nth-of-type(1) {
                padding-left: 10px;
            }

    .sus_data {
        padding: 10px 0;
        font-size: 16px;
        line-height: 20px;
        border-top: 5px solid white;
        border-bottom: 5px solid white;
        margin-top: 10px;
    }

        .sus_data tr td:nth-of-type(1) {
            padding-left: 20px;
        }

    .bg_foot {
        width: 100px;
        margin-left: -50px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
    }

        .bg_foot span {
            font-size: 20px;
            padding: 20px 0 10px;
        }

        .bg_foot p {
            font-size: 12px;
        }
}

@media only screen and (min-width: 769px) and (max-width: 800px) {
    .slide1 {
        background-image: url(../images/768.jpg);
        background-position: -60px -130px;
    }

    .slide4 {
        background: url(../images/agency03_1920.jpg) top center no-repeat;
    }


    /*标题*/
    .titl {
        padding: 10px;
        font-size: 28px;
    }

    .tit2 {
        font-size: 20px;
    }

    .fl {
        width: 0;
        height: 0;
        margin-top: 12px;
        border-left: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .fr {
        width: 0;
        height: 0;
        margin-top: 12px;
        border-right: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }
    /*标题*/
    .scene_view {
        padding: 30px 10px;
    }

    .bg_contain {
        height: 400px;
    }

    .bg_head {
        height: 80px;
        margin-bottom: 10px;
        font-size: 16px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: center;
        padding: 10px 0;
    }

    .head04 {
        font-size: 16px;
        padding-top: 10px;
    }

    .bg_head span {
        font-size: 16px;
    }
    /*小程序通用模板零售价格*/
    .bg_contain {
        height: 400px;
    }

    .bg_main01 {
        color: #00b354;
    }

    .bg_main02 {
        color: #00b354;
    }

    .bg_main03 {
        color: #00b354;
    }

    .bg_contain dl dt {
        font-size: 12px;
        padding: 10px 20px;
    }

    .bg_contain dl dd {
        font-size: 14px;
        margin-left: 0;
        line-height: 20px;
        padding: 0 10px 0 30px;
    }
    /*小程序通用模板零售价格*/
    .bg_foot {
        width: 100px;
        text-align: center;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .bg_foot img {
            width: 60px;
            height: 60px;
            margin-top: 40px;
        }

        .bg_foot span {
            font-size: 24px;
            padding: 20px 0 16px;
        }

        .bg_foot p {
            font-size: 16px;
        }

    .xcx_flow {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

        .xcx_flow dl {
            width: 12%;
            margin-right: 22px;
        }

            .xcx_flow dl:last-child {
                margin-right: 0;
            }

            .xcx_flow dl dt {
                font-size: 22px;
                font-weight: bold;
                color: #1aad19;
                margin: 30px 10px;
            }

            .xcx_flow dl img {
                width: 56px;
                height: 50px;
                display: inline-block;
            }

            .xcx_flow dl dd {
                font-size: 18px;
                color: #666;
                text-align: center;
                margin-left: 0px;
                margin-bottom: 10px;
            }

    .sus_table {
        width: 100%;
        font-size: 14px;
        color: #121212;
        background: white;
        table-layout: fixed;
        border-bottom: 10px solid white;
    }

        .sus_table th {
            color: #1AAD19;
            font-weight: bold;
            text-align: center;
            padding: 10px 5px;
        }

            .sus_table th:nth-of-type(1) {
                padding-left: 10px;
            }

        .sus_table tr td {
            text-align: center;
            color: #666666;
            padding: 5px 10px;
        }

            .sus_table tr td:nth-of-type(1) {
                padding-left: 10px;
            }

    .sustain_catain dl {
        width: 20%;
        text-align: center;
        margin-right: 0;
    }

        .sustain_catain dl dd {
            text-align: center;
        }

    /*表单*/
    .form_consulting {
        width: 100%;
        text-align: center;
    }

    #Username, #Phone {
        width: 95%;
        height: 80px;
        background: #ececec;
        border: none;
        text-align: center;
        font-size: 28px;
        color: #666666;
        margin-bottom: 30px;
        outline: none;
    }

    #submit {
        width: 95%;
        height: 80px;
        background: #1aad19;
        color: #fff;
        font-size: 28px;
        text-align: center;
    }

    #result {
        position: relative;
        top: 80%;
        left: 50%;
        width: 180px;
        height: 88px;
        text-align: center;
        line-height: 88px;
        border-radius: 8px;
        background: rgba(0,0,0,.6);
        color: white;
        font-size: 14px;
        display: none;
    }

    /*最后一页联系大树*/
    .msg {
        font-size: 20px;
        text-align: center;
        margin-top: 10%;
    }

        .msg .code img {
            width: 150px;
            height: 150px;
            margin-bottom: 10px;
        }
}

@media only screen and (min-width: 810px) and (max-width: 1280px) {
    .slide1 {
        background-image: url(../images/1024.jpg);
        background-position:0 -150px;
    }

    .slide4 {
        background: url(../images/agency03_1280.jpg) top center no-repeat;
    }
    /*标题*/
    .titl {
        padding: 15px;
        font-size: 30px;
    }

    .tit2 {
        font-size: 20px;
    }

    .fl {
        width: 0;
        height: 0;
        margin-top: 12px;
        border-left: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .fr {
        width: 0;
        height: 0;
        margin-top: 12px;
        border-right: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }

    /*标题*/
    .join_contain {
        padding-top: 80px;
        height: 690px;
        background: white;
    }

    .scene_view {
        padding: 0 10px;
    }

    /*小程序通用模板零售价*/
    .bg_head {
        width: 100%;
        height: 120px;
        font-size: 26px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: center;
        padding-top: 30px;
    }

    .head04 {
        font-size: 20px;
        padding-top: 35px;
    }

    .bg_head span {
        font-size: 18px;
    }

    .bg_contain dl dt {
        font-size: 18px;
        text-align: center;
        padding: 10px 0;
    }
    .bg_contain {
        height: 500px;
        margin: 0 10px;
    }


        .bg_contain dl dd {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }

    .bg_foot {
        width: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

        .bg_foot img {
            width: 80px;
            height: 80px;
            margin-top: 40px;
        }


        .bg_foot span {
            font-size: 26px;
            padding: 20px 0 16px;
        }

        .bg_foot p {
            font-size: 18px;
        }
    /*小程序通用模板零售价*/

    /*小程序流量入口*/
    .xcx_flow {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;
    }

        .xcx_flow dl {
            width: 12%;
        }

            .xcx_flow dl:last-child {
                margin-right: 0;
            }

            .xcx_flow dl dt {
                font-size: 18px;
                font-weight: bold;
                color: #1aad19;
                margin: 30px 0 18px;
            }

            .xcx_flow dl img {
                width: 56px;
                height: 50px;
            }

            .xcx_flow dl dd {
                font-size: 14px;
                color: #666;
                text-align: center;
                margin-left: 0px;
                margin-bottom: 10px;
            }
    /*小程序流量入口*/
    .sus_table {
        width: 100%;
        font-size: 20px;
        color: #121212;
        background: white;
        table-layout: fixed;
        border-bottom: 10px solid white;
    }

        .sus_table th {
            color: #1AAD19;
            font-weight: bold;
            text-align: center;
            padding: 30px 5px 20px;
        }

            .sus_table th:nth-of-type(1) {
                padding-left: 30px;
            }

        .sus_table tr td {
            text-align: center;
            color: #666666;
            padding: 10px 10px;
        }

            .sus_table tr td:nth-of-type(1) {
                padding-left: 30px;
            }
    /*表单*/
    .form_consulting {
        width: 100%;
        text-align: center;
    }

    #Username, #Phone {
        width: 95%;
        height: 80px;
        background: #ececec;
        border: none;
        text-align: center;
        font-size: 28px;
        color: #666666;
        margin-bottom: 30px;
        outline: none;
    }

    #submit {
        width: 95%;
        height: 80px;
        background: #1aad19;
        color: #fff;
        font-size: 28px;
        text-align: center;
    }

    #result {
        position: relative;
        top: 80%;
        left: 50%;
        width: 180px;
        height: 88px;
        text-align: center;
        line-height: 88px;
        border-radius: 8px;
        background: rgba(0,0,0,.6);
        color: white;
        font-size: 14px;
        display: none;
    }
     /*最后一页联系大树*/
    .msg {
        font-size: 20px;
        text-align: center;
        margin-top: 10%;
    }

        .msg .code img {
            width: 150px;
            height: 150px;
            margin-bottom: 10px;
        }
}

@media only screen and (min-width: 1300px) and (max-width: 1400px) {
    .slide1 {
        background-image: url(../images/agency01_1920.jpg);
        background-position: -259px -190px;
    }

    .slide4 {
        background: url(../images/agency03_1920.jpg) top center no-repeat;
    }

      /*标题*/
    .titl {
       margin:2% 0;
        font-size: 32px;
    }

    .tit2 {
        font-size: 20px;
    }

    .fl {
        width: 0;
        height: 0;
        margin-top: 12px;
        border-left: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .fr {
        width: 0;
        height: 0;
        margin-top: 12px;
        border-right: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }

    /*标题*/


      /*小程序流量入口*/
    .xcx_flow {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;
    }

        .xcx_flow dl {
            width: 12%;
        }

            .xcx_flow dl:last-child {
                margin-right: 0;
            }

            .xcx_flow dl dt {
                font-size: 22px;
                font-weight: bold;
                color: #1aad19;
                margin: 30px 0 18px;
            }

            .xcx_flow dl img {
                width: 56px;
                height: 50px;
            }

            .xcx_flow dl dd {
                font-size: 18px;
                color: #666;
                text-align: center;
                margin-left: 0px;
                margin-bottom: 10px;
            }
    /*小程序流量入口*/

   /*小程序通用模板零售价*/
    .bg_head {
        width: 100%;
        height: 120px;
        font-size: 26px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: center;
        padding-top: 30px;
    }

    .head04 {
        font-size: 20px;
        padding-top: 35px;
    }

    .bg_head span {
        font-size: 18px;
    }

    .bg_contain dl dt {
        font-size: 18px;
        text-align: center;
        padding: 10px 0;
    }
    .bg_contain {
        height: 500px;
        margin: 0 10px;
    }


        .bg_contain dl dd {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }

    .bg_foot {
        width: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

        .bg_foot img {
            width: 80px;
            height: 80px;
            margin-top: 40px;
        }


        .bg_foot span {
            font-size: 26px;
            padding: 20px 0 16px;
        }

        .bg_foot p {
            font-size: 18px;
        }
    /*小程序通用模板零售价*/
}


@media only screen and (min-width: 1410px) and (max-width: 1600px) {
    .slide1 {
        background-image: url(../images/agency01_1920.jpg);
        background-position: -120px -190px;
    }

    .slide4 {
        background: url(../images/agency03_1920.jpg) top center no-repeat;
    }

      /*标题*/
    .titl {
        padding:50px 0;
        font-size: 32px;
    }

    .tit2 {
        font-size: 20px;
    }

    .fl {
        width: 0;
        height: 0;
        margin-top: 12px;
        border-left: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .fr {
        width: 0;
        height: 0;
        margin-top: 12px;
        border-right: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }

    /*标题*/


      /*小程序流量入口*/
    .xcx_flow {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;
    }

        .xcx_flow dl {
            width: 12%;
        }

            .xcx_flow dl:last-child {
                margin-right: 0;
            }

            .xcx_flow dl dt {
                font-size: 22px;
                font-weight: bold;
                color: #1aad19;
                margin: 30px 0 18px;
            }

            .xcx_flow dl img {
                width: 56px;
                height: 50px;
            }

            .xcx_flow dl dd {
                font-size: 18px;
                color: #666;
                text-align: center;
                margin-left: 0px;
                margin-bottom: 10px;
            }
    /*小程序流量入口*/

   /*小程序通用模板零售价*/
    .bg_head {
        width: 100%;
        height: 120px;
        font-size: 26px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: center;
        padding-top: 30px;
    }

    .head04 {
        font-size: 20px;
        padding-top: 35px;
    }

    .bg_head span {
        font-size: 18px;
    }

    .bg_contain dl dt {
        font-size: 22px;
        text-align: center;
        padding: 10px 0;
    }
    .bg_contain {
        height: 600px;
        margin: 0 10px;
    }


        .bg_contain dl dd {
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            padding:5px 0;
        }

    .bg_foot {
        width: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

        .bg_foot img {
            width: 80px;
            height: 80px;
            margin-top: 40px;
        }


        .bg_foot span {
            font-size: 26px;
            padding: 20px 0 16px;
        }

        .bg_foot p {
            font-size: 18px;
        }
    /*小程序通用模板零售价*/
    /*表单*/
    .form_consulting {
        width: 100%;
        text-align: center;
    }

    #Username, #Phone {
        width: 95%;
        height: 80px;
        background: #ececec;
        border: none;
        text-align: center;
        font-size: 28px;
        color: #666666;
        margin-bottom: 30px;
        outline: none;
    }

    #submit {
        width: 95%;
        height: 80px;
        background: #1aad19;
        color: #fff;
        font-size: 28px;
        text-align: center;
    }

    #result {
        position: relative;
        top: 80%;
        left: 50%;
        width: 180px;
        height: 88px;
        text-align: center;
        line-height: 88px;
        border-radius: 8px;
        background: rgba(0,0,0,.6);
        color: white;
        font-size: 14px;
        display: none;
    }

    /*最后一页联系大树*/
    .msg {
        font-size: 20px;
        text-align: center;
        margin-top: 10%;
    }

        .msg .code img {
            width: 150px;
            height: 150px;
            margin-bottom: 10px;
        }
}


@media only screen and (min-width: 1610px) {
    .slide1 {
        background: url(../images/agency01_1920.jpg) center center no-repeat;
    }

    .slide4 {
        background: url(../images/agency03_1920.jpg) top center no-repeat;
    }

     /*标题*/
    .titl {
        padding:5% 0;
        font-size: 36px;
    }

    .tit2 {
        font-size: 20px;
    }

    .fl {
        width: 0;
        height: 0;
        margin-top: 18px;
        border-left: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
    }

    .fr {
        width: 0;
        height: 0;
        margin-top: 18px;
        border-right: 14px solid #1AAD19;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 0;
        right: 0;
    }

    /*标题*/


      /*小程序流量入口*/
    .xcx_flow {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        text-align: center;
    }

        .xcx_flow dl {
            width: 15%;
            margin-right:20px;
        }

            .xcx_flow dl:last-child {
                margin-right: 0;
            }

            .xcx_flow dl dt {
                font-size: 24px;
                font-weight: bold;
                color: #1aad19;
                margin: 30px 0 18px;
            }

            .xcx_flow dl img {
                width: 56px;
                height: 50px;
            }

            .xcx_flow dl dd {
                font-size: 20px;
                color: #666;
                text-align: center;
                margin-left: 0px;
                margin-bottom: 10px;
            }
    /*小程序流量入口*/

   /*小程序通用模板零售价*/
    .bg_head {
        width: 100%;
        height: 120px;
        font-size: 26px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        text-align: center;
        padding-top: 30px;
    }

    .head04 {
        font-size: 20px;
        padding-top: 35px;
    }

    .bg_head span {
        font-size: 18px;
    }

    .bg_contain dl dt {
        font-size: 22px;
        text-align: center;
        padding: 10px 0;
    }
    .bg_contain {
        height: 600px;
        margin: 0 10px;
    }


        .bg_contain dl dd {
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            padding:5px 0;
        }

    .bg_foot {
        width: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
    }

        .bg_foot img {
            width: 80px;
            height: 80px;
            margin-top: 40px;
        }


        .bg_foot span {
            font-size: 26px;
            padding: 20px 0 16px;
        }

        .bg_foot p {
            font-size: 18px;
        }
    /*小程序通用模板零售价*/


      /*表单*/
    
    .form_consulting {
        width: 100%;
        text-align: center;
    }

    #Username, #Phone {
        width: 95%;
        height: 80px;
        background: #ececec;
        border: none;
        text-align: center;
        font-size: 28px;
        color: #666666;
        margin-bottom: 30px;
        outline: none;
    }

    #submit {
        width: 95%;
        height: 80px;
        background: #1aad19;
        color: #fff;
        font-size: 28px;
        text-align: center;
    }

    #result {
        position: relative;
        top: 80%;
        left: 50%;
        width: 180px;
        height: 88px;
        text-align: center;
        line-height: 88px;
        border-radius: 8px;
        background: rgba(0,0,0,.6);
        color: white;
        font-size: 14px;
        display: none;
    }

    /*最后一页联系大树*/
    .msg {
        font-size: 20px;
        text-align: center;
        margin-top: 20%;
    }

        .msg .code img {
            width: 150px;
            height: 150px;
            margin-bottom: 10px;
        }
}




  

