.navbar-inverse .navbar-nav > li > a {
  color: #c6c7cb ;
}
.navbar{
	margin-bottom: 50px;
}



.titl{
	padding:30px;
	text-align: center;
}
.titl p{
	display: inline-block;
	font-size: 36px;
	padding: 0 ;
}
.fl{
	width: 0;
	height: 0;
	float: left;
	margin-top: 18px;
	border-left: 14px solid #1AAD19;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}
.fr{
	width: 0;
	height: 0;
	float: right;
	margin-top: 18px;
	border-right: 14px solid #1AAD19;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}
.shop{
       display:flex;
      flex-direction:row;
      flex-wrap:wrap;
      width:100%;
     margin-bottom:30px;
      
}
.shop_img:hover .shade{
	height: 100%;
}
.shop_img:hover .shade .shop_name{
	width: 50%;
	display: block;
	margin: 10% auto 0;
	border-radius: 24px;
}
.shop_img{
	width: 250px;
	margin-left:30px;
	position: relative;
	overflow: hidden;
    margin-bottom:50px;
}
.shop_img img{
	width:250px;
    height:300px;
}
.shade{
	width: 100%;
	height: 47px;
	padding: 5px 0;
	text-align: center;
	background: rgba(0,0,0,.5);
	position: absolute;
	bottom: 0;
	left: 0;
}
.shop_name{
	font-size: 15px;
	line-height: 35px;
	color: white;
	display: inline-block;
}
.shop_code{
	padding-top: 30px;
	
	margin: 0 auto;
}
.shop_code img{
	width: 180px;
    height:180px;
}
.gray{
	background-color: #ECECEC;
}
.msg{
	font-size: 20px;
	text-align: center;
	background: #ECECEC;
}
@media only screen and (min-width: 1200px) {
	.slide1{
		background:url(../images/shop_1920.png) top center no-repeat;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.slide1{
		background:url(../images/shop_1280.png) top center no-repeat;
	}
    .shop_img{
	width: 200px;
	margin-left:30px;
	position: relative;
	overflow: hidden;
    margin-bottom:50px;
}
.shop_img img{
	width:200px;
    height:250px;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.slide1{
		background:url(../images/shop_1280.png) top center no-repeat;
	}
	.shop_img:hover .shade .shop_name{
		width: 60%;
		margin: 50% auto;
		border-radius: 12px;
	}
	.shade{
		height: 30px;
		padding: 5px 0;
	}
	.shop_name{
		font-size: 16px;
		line-height: 20px;
		color: white;
	}
    .shop_img{
	width: 160px;
	margin-left:30px;
	position: relative;
	overflow: hidden;
    margin-bottom:50px;
}
.shop_img img{
	width:160px;
    height:200px;
}
}
@media only screen  and (max-width: 767px) {
	.slide1{
		background:url(../images/shop_768.png) top center no-repeat;
	    background-size:cover;  
	    -moz-background-size:cover;  
	    -webkit-background-size:cover;
	}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.shop_img:hover .shade .shop_name{
		width: 90%;
		margin: 50% auto;
		border-radius: 12px;
	}
	.shade{
		height: 25px;
		padding: 5px 0;
	}
	.shop_name{
		font-size: 14px;
		line-height: 20px;
		color: white;
	}
}
@media only screen and (max-width: 479px) {
	.slide1{
		background:url(../images/shop_768.png)) top center no-repeat;
	}
	.titl{
		padding: 80px 10px 60px;
	}
	.titl p{
		font-size: 24px;
	}
	.fl{
		margin-top: 14px;
		border-left: 7px solid #1AAD19;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
	}
	.fr{
		margin-top: 14px;
		border-right: 7px solid #1AAD19;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
	}
	.shade{
		height: 20px;
		padding: 3px 0;
	}
	.shop{
		padding: 0 5px;
	}
	.shop_name{
		font-size: 12px;
		line-height: 20px;
		color: white;
	}
	.shop_img{
		width: 100%;
	}
	.shop_img:hover .shade .shop_name{
		width: 90%;
		margin: 50% auto;
		border-radius: 12px;
	}
}

.barcon{
    border:1px solid red;
    width:100%;
    margin-bottom:130px;
   
}

.barcon2{
    
    display:flex;
    flex-direction:row;
    align-items:center;
   font-size:30px;
    color:#3DB33E;
}
/*.barcon2 li{
    width:68px;
    height:68px;
    text-align:center;
    line-height:68px;
    border:1px solid #e7e7e7;
    margin-right:20px;
    
}
.barcon2 li:last-child{
    width:168px;
}*/

