body{
    background-color: #FAF7F5;
    margin: 0;
    padding: 0;
}
.btn::after{display: none!important}.btn{border-radius: 0 !important;border: 0 !important;}
.btn-1::after{display: none!important}
.mpunset{margin: unset!important;padding: unset!important;line-height: normal;background-color: white}
div{box-sizing: border-box}
/* 纵横布局 */
.fv { -webkit-box-orient: vertical; -webkit-flex-direction: column; flex-direction: column; }
.fj { -webkit-box-pack: justify; -webkit-justify-content: space-between;  justify-content: space-between; }

.fc {display: flex;justify-content: center;align-items: center;}
.fsb {display: flex;justify-content: space-between;align-items: center;}
.fw{display: flex;flex-wrap: wrap}
.fsa{display: flex;align-items: center;justify-content: space-around;}
.f{display: flex}
.f-cc {display: flex;align-items: center;justify-content: center;flex-direction: column;}
.f-sb {display: flex;align-items: center;justify-content: space-between;flex-direction: column;}
.f-sa {display: flex;align-items: center;justify-content: space-around;flex-direction: column;}
.f-c {display: flex;flex-direction: column;}
.fc-h{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.c{align-items: center}
.jsa{justify-content: space-around}
.jsc{justify-content: center}
.jsb{justify-content: space-between}
.fnw{display: flex;flex-wrap: nowrap}
.fs{flex-shrink: 0}
.fe{justify-content: flex-end}
.bos{box-sizing: border-box}
.f1{flex:1}
/* 文字省略 */
.vertical-1 {display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden}
.vertical-2 {display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden}
.overh{overflow: hidden}
/* 图标 */
.w136h136b {width: 18.133333333333333vw;height: 18.133333333333333vw;border-radius: 10.4vw;}
.w30h40{width: 4vw;height: 5.333333333333333vw}
.w35h34{width: 4.666666666666667vw;height: 4.533333333333333vw}
.w11h19{width: 1.4666666666666666vw;height: 2.533333333333333vw}
.w32h34{width: 4.266666666666667vw;height: 4.533333333333333vw}
.w28h28{width: 3.7333333333333334vw;height: 3.7333333333333334vw}
.w20h16{width: 2.6666666666666665vw;height: 2.1333333333333333vw}
.w22h22{width: 2.933333333333333vw;height: 2.933333333333333vw}
.w20h20{width: 2.6666666666666665vw;height: 2.6666666666666665vw}
.w30h36{width: 4vw;height: 4.8vw}
.w30h30{width: 4vw;height: 4vw}
.w38h38b{width: 5.066666666666666vw;height: 5.066666666666666vw;border-radius: 50%}
.w10h18{width: 1.3333333333333333vw;height: 2.4vw}
.w16h26{width: 2.1333333333333333vw;height: 3.466666666666667vw}
.w16h20{width: 2.1333333333333333vw;height: 2.6666666666666665vw}
.w32h32{width: 4.266666666666667vw;height: 4.266666666666667vw}
.w44h44{width: 5.866666666666666vw;height: 5.866666666666666vw}
.w32h30{width: 4.266666666666667vw;height: 4vw}
.w26h25{width: 3.466666666666667vw;height: 3.3333333333333335vw}
.w64h64{width: 8.533333333333333vw;height: 8.533333333333333vw}
.w68h68{width: 9.066666666666666vw;height: 9.066666666666666vw}
.w40h30{width: 5.333333333333333vw;height: 4vw}
.w40h40{width: 5.333333333333333vw;height: 5.333333333333333vw}
.w56h83{width: 7.466666666666667vw;height: 11.066666666666666vw}
.w130h130b{width: 17.333333333333332vw;height: 17.333333333333332vw;border-radius: 8.666666666666666vw}
.w46h56{width: 6.133333333333334vw;height: 7.466666666666667vw}
.w46h46{width: 6.133333333333334vw;height: 6.133333333333334vw}
.w51h51{width: 6.8vw;height: 6.8vw}
.w14h25{width: 1.8666666666666667vw;height: 3.3333333333333335vw}
.w59h45{width: 7.866666666666666vw;height: 6vw}
.w24h29{width: 3.2vw;height: 3.8666666666666667vw}
.w88h88b{width: 11.733333333333333vw;height: 11.733333333333333vw;border-radius: 5.866666666666666vw}
.w24h30{width: 3.2vw;height: 4vw}
.w58h34{width: 7.733333333333333vw;height: 4.533333333333333vw}
.w52h52{width: 6.933333333333334vw;height: 6.933333333333334vw}
.w100h100{width: 13.333333333333334vw;height: 13.333333333333334vw}
.w100h100b{width: 13.333333333333334vw;height: 13.333333333333334vw;border-radius: 50%}
.w21h32{width: 2.8vw;height: 4.266666666666667vw}
.w170h170{width: 22.666666666666668vw;height: 22.666666666666668vw}
.w50h50{width: 6.666666666666667vw;height: 6.666666666666667vw}
.w36h25{width: 4.8vw;height: 3.3333333333333335vw}
.w36h31{width: 4.8vw;height: 4.133333333333334vw}
.w36h26{width: 4.8vw;height: 3.466666666666667vw}
.w42h42{width: 5.6vw;height: 5.6vw}
.w47h47{width: 6.266666666666667vw;height: 6.266666666666667vw}
.w25h45{width: 3.3333333333333335vw;height: 6vw}
.w120h120{width: 16vw;height: 16vw}
.w90h90{width: 12vw;height: 12vw}
.w90h90b{width: 12vw;height: 12vw;border-radius: 6vw}
.w120h120b{width: 16vw;height: 16vw;border-radius: 8vw}
.w132h132b{width: 17.6vw;height: 17.6vw;border-radius: 8.8vw}
.w150h150{width: 20vw;height: 20vw}
.w310h310{width: 41.333333333333336vw;height: 41.333333333333336vw}
.w106h106{width: 14.133333333333333vw;height: 14.133333333333333vw}
.w28h35{width: 3.7333333333333334vw;height: 4.666666666666667vw}
.w108h108{width: 14.4vw;height: 14.4vw}
.w180h180{width: 24vw;height: 24vw}
.w80h80{width: 10.666666666666666vw;height: 10.666666666666666vw}
.w60h60{width: 8vw;height: 8vw}
.w60h60b{width: 8vw;height: 8vw;border-radius: 4vw}
.w70h70{width: 9.333333333333334vw;height: 9.333333333333334vw}
.w98h98{width: 13.066666666666666vw;height: 13.066666666666666vw}
.w200h200{width: 26.666666666666668vw;height: 26.666666666666668vw}
.w18h18{width: 2.4vw;height: 2.4vw}
/* 高 */
.mh100{min-height: 13.333333333333334vw}


.h28{height: 3.7333333333333334vw}
.h44{height: 5.866666666666666vw}
.h60{height: 8vw}
.h68{height: 9.066666666666666vw}
.h69{height: 9.2vw}
.h70{height: 9.333333333333334vw}
.h78{height: 10.4vw}
.h80{height: 10.666666666666666vw}
.h87{height: 11.6vw}
.h88{height: 11.733333333333333vw}
.h94{height: 12.533333333333333vw}
.h96{height: 12.8vw}
.h90{height: 12vw}
.h92{height: 12.266666666666667vw}
.h100{height: 13.333333333333334vw}
.h108{height: 14.4vw}
.h112{height: 14.933333333333334vw}
.h114{height: 15.2vw}
.h110{height: 14.666666666666666vw}
.h120{height: 16vw}
.h134{height: 17.866666666666667vw}
.h130{height: 17.333333333333332vw}
.h138{height: 18.4vw}
.h140{height: 18.666666666666668vw}
.h146{height: 19.466666666666665vw}
.h148{height: 19.733333333333334vw}
.h150{height: 20vw}
.h153{height: 20.4vw}
.h156{height: 20.8vw}
.h160{height: 21.333333333333332vw}
.h164{height: 21.866666666666667vw}
.h169{height: 22.533333333333335vw}
.h170{height: 22.666666666666668vw}
.h180{height: 24vw}
.h188{height: 25.066666666666666vw}
.h190{height: 25.333333333333332vw}
.h200{height: 26.666666666666668vw}
.h210{height: 28vw}
.h220{height: 29.333333333333332vw}
.h230{height: 30.666666666666668vw}
.h240{height: 32vw}
.h250{height: 33.333333333333336vw}
.h260{height: 34.666666666666664vw}
.h270{height: 36vw}
.h276{height: 36.8vw}
.h280{height: 37.333333333333336vw}
.h300{height: 40vw}
.h304{height: 40.53333333333333vw}
.h320{height: 42.666666666666664vw}
.h330{height: 44vw}
.h336{height: 44.8vw}
.h340{height: 45.333333333333336vw}
.h350{height: 46.666666666666664vw}
.h355{height: 47.333333333333336vw}
.h360{height: 48vw}
.h382{height: 50.93333333333333vw}
.h400{height: 53.333333333333336vw}
.h420{height: 56vw}
.h460{height: 61.333333333333336vw}
.h530{height: 70.66666666666667vw}
.h490{height: 65.33333333333333vw}
.h500{height: 66.66666666666667vw}
.h520{height: 69.33333333333333vw}
.h600{height: 80vw}
.h610{height: 81.33333333333333vw}
.h620{height: 82.66666666666667vw}
.h625{height: 83.33333333333333vw}
.h650{height: 86.66666666666667vw}
.h670{height: 89.33333333333333vw}
.h700{height: 93.33333333333333vw}
.h750{height: 100vw}
.h780{height: 104vw}
/* 宽 */
.w11{width: 1.4666666666666666vw}
.w16{width: 2.1333333333333333vw}
.w26{width: 3.466666666666667vw}
.w32{width: 4.266666666666667vw}
.w40{width: 5.333333333333333vw}
.w66{width: 8.8vw}
.w80{width: 10.666666666666666vw}
.w100{width: 13.333333333333334vw}
.w110{width: 14.666666666666666vw}
.w120{width: 16vw}
.w148{width: 19.733333333333334vw}
.w160{width: 21.333333333333332vw}
.w164{width: 21.866666666666667vw}
.w170{width: 22.666666666666668vw}
.w180{width: 24vw}
.w200{width: 26.666666666666668vw}
.w210{width: 28vw}
.w220{width: 29.333333333333332vw}
.w230{width: 30.666666666666668vw}
.w240{width: 32vw}
.w250{width: 33.333333333333336vw}
.w260{width: 34.666666666666664vw}
.w280{width: 37.333333333333336vw}
.w285{width: 38vw}
.w310{width: 41.333333333333336vw}
.w304{width: 40.53333333333333vw}
.w320{width: 42.666666666666664vw}
.w334{width: 44.53333333333333vw}
.w340{width: 45.333333333333336vw}
.w350{width: 46.666666666666664vw}
.w390{width: 52vw}
.w400{width: 53.333333333333336vw}
.w414{width: 55.2vw}
.w450{width: 60vw}
.w500{width: 66.66666666666667vw}
.w520{width: 69.33333333333333vw}
.w550{width: 73.33333333333333vw}
.w560{width: 74.66666666666667vw}
.w570{width: 76vw}
.w580{width: 77.33333333333333vw}
.w590{width: 78.66666666666667vw}
.w618{width: 82.4vw}
.w646{width: 86.13333333333334vw}
.w650{width: 86.66666666666667vw}
.w666{width: 88.8vw}
.w690{width: 92vw}
.w710{width: 94.66666666666667vw}
.w712{width: 94.93333333333334vw}
.w726{width: 96.8vw}
.w750{width: 100vw}
/* 宽高百分比 */
.w3305{width: 33.3%}
.w5005{width: 50%}
.w805{width: 80%}
.w905{width: 90%}
.w925{width: 92%}
.w2505{width: 25%}
.w2005{width: 20%}
.w-full {width: 100%}
.h-full{height: 100vh}
.h9005{height: 90vh}
.h8505{height: 85vh}
.h8005{height: 80vh}
.h7005{height: 70vh}
.h7505{height: 75vh}
.h6505{height: 65vh}
.h6305{height: 63vh}
.h6205{height: 62vh}
.h5005{height: 50vh}
.h1505{height: 15vh}
/* 字体 */
.f-B {font-family: PingFang-SC-Bold;font-weight: bold;}
.f-M {font-family:PingFang-SC-Medium}
.f-SM{font-family:SourceHanSansCN-Medium}
.f-N{font-family:SourceHanSansCN-Normal}
.f-R{font-family:SourceHanSansCN-Regular}
.tc{text-align: center}
.tl{text-align: left}
.tr{text-align: right}
/* 字体大小 */
.t44{font-size: 5.866666666666666vw}
.t42{font-size: 5.6vw}
.t46{font-size: 6.133333333333334vw}
.t40{font-size: 5.333333333333333vw}
.t38{font-size: 5.066666666666666vw}
.t48{font-size: 6.4vw}
.t36{font-size: 4.8vw}
.t32{font-size: 4.266666666666667vw}
.t30{font-size: 4vw}
.t28{font-size: 3.7333333333333334vw}
.t26{font-size: 3.466666666666667vw}
.t24{font-size: 3.2vw}
.t22{font-size: 2.933333333333333vw}
.t18{font-size: 2.4vw}
.t20{font-size: 2.6666666666666665vw}
.t34{font-size: 4.533333333333333vw}
.t50{font-size: 6.666666666666667vw}
.t54{font-size: 7.2vw}
.t60{font-size: 8vw}
.t70{font-size: 9.333333333333334vw}
.t80{font-size: 10.666666666666666vw}
.t94{font-size: 12.533333333333333vw}
.t100{font-size: 13.333333333333334vw}
.t104{font-size: 13.866666666666667vw}
.ln{line-height: normal}
.l28{line-height: 3.7333333333333334vw}
.l32{line-height: 4.266666666666667vw}
.l36{line-height: 4.8vw}
.l40{line-height: 5.333333333333333vw}
.l44{line-height: 5.866666666666666vw}
.l46{line-height: 6.133333333333334vw}
.l50{line-height: 6.666666666666667vw}
.l68{line-height: 9.066666666666666vw}
.l74{line-height: 9.866666666666667vw}
.l88{line-height: 11.733333333333333vw}
.l100{line-height: 13.333333333333334vw}
.l112{line-height: 14.933333333333334vw}
.l118{line-height: 15.733333333333333vw}
.lt{text-decoration: line-through}
/* 颜色 */
.o6{opacity: 0.6}
.o8{opacity: 0.8}
.cffb1{color: #ffb14b}
.cb3{color: #b3b3b3;}
.c519{color: #5191FC}
.c666 {color: #666}
.cffc{color: #ffc851}
.c333 {color:#333}
.c111{color: #111111}
.c1212{color: #121212}
.c999{color: #999}
.ccc{color: #ccc}
.cf1818{color: #f51818}
.ca71d{color: #F6A71D}
.cb415{color: #25B415}
.cf7{color: #f7f7f7}
.cf41{color:#ff4141}
.cf0033{color: #f20033}
.cf7f5{color: #faf7f5}
.cfff{color: #fff}
.cde{color: #dedede}
.c000{color: #000}
.cb5{color: #b5b5b5}
.ceee{color: #eeeeee}
.bgcf8{background-color: #f8f8f8}
.cc847{color: #f3c847}
.cff99{color: #ff9999}
.bgc040{background-color: #ffd040}
.cffefe{color: #fffefe}
.bgc6b{background-color: #ff6b6b}
.ccd9{color: #d9d9d9}
.bgc9e40{background-color: #ff9e40}
.cfefe{color: #fefefe}
.cf97d{color: #f97d91}
.bgb415{background-color: #25b415}
.c218cd7{color: #218cd7}
.c535f{color: #ff535f}
.c536f{color: #ff536f}
.cfe536{color: #fe536f}
.c4d{color: #4d4d4d}
.bgt{background: transparent}
.bg{background-color: #000;opacity: 0.6;height: 100vh;width: 100%;top: 0;left: 0;position: fixed}
.bgcbfa7{background-color: #fba7b5}
.bgcd9{background-color: #d9d9d9}
.bgcf2{background-color: #f2f2f2}
.bg000{background-color: #000}
.bg666{background-color: #666}
.bgeb{background-color: #ebebeb}
.bg535f{background-color: #ff535f}
.bgc536f{background-color: #ff536f}
.bgc535f{background-color: #ff535f}
.bgc727c{background-color: #ff727c}
.bgcf0{background-color: #f0f0f0}
.bgcb835{background-color: #fcb835}
.cf0{color: #f0f0f0}
.bgc80b{background-color: #80BE78}
.bgcf7{background-color: #f7f7f7}
.bgf0033{background-color: #f20033}
.bgfa{background-color: #fafafa}
.bgcfff{background-color: white}
.bgcfe5{background-color: #fe536f}
.bgcffcb{background-color: #ffcbcb}
.bg3{background-color: #000;opacity: 0.3;height: 100vh;width: 100%;top: 0;left: 0;position: fixed}
.bg5{background-color: #000;opacity: 0.5;height: 100vh;width: 100%;top: 0;left: 0;position: fixed}
.bg6{background-color: #000;opacity: 0.6;height: 100vh;width: 100%;top: 0;left: 0;position: fixed}
.bg8{background-color: #000;opacity: 0.8;height: 100vh;width: 100%;top: 0;left: 0;position: fixed}
.z2{z-index: 2}
/* 内边距 */
.pt8{padding-top: 1.0666666666666667vw}
.pt20{padding-top: 2.6666666666666665vw}
.pt24 {padding-top: 3.2vw}
.pt30{padding-top: 4vw}
.pt40{padding-top: 5.333333333333333vw}
.pt138{padding-top: 18.4vw}
.pt50{padding-top: 6.666666666666667vw}
.pb10{padding-bottom: 1.3333333333333333vw}
.pb20{padding-bottom: 2.6666666666666665vw}
.pb27{padding-bottom: 3.6vw}
.pb24{padding-bottom: 3.2vw}
.pb35{padding-bottom: 4.666666666666667vw}
.pb30{padding-bottom: 4vw}
.pb40 {padding-bottom: 5.333333333333333vw}
.pb80{padding-bottom: 10.666666666666666vw}
.pl6{padding-left: 0.8vw}
.pl16{padding-left: 2.1333333333333333vw}
.pl20{padding-left: 2.6666666666666665vw}
.pl22{padding-left:2.933333333333333vw}
.pl24{padding-left: 3.2vw}
.pl30{padding-left: 4vw}
.pl36{padding-left: 4.8vw}
.pl50{padding-left: 6.666666666666667vw}
.pl100{padding-left: 13.333333333333334vw}
.pr20{padding-right: 2.6666666666666665vw}
.pr24{padding-right: 3.2vw}
.pr30{padding-right: 4vw}
.pr50{padding-right: 6.666666666666667vw}
.pr100{padding-right: 13.333333333333334vw}
.padl10{padding: 0 1.3333333333333333vw}
.padl20{padding: 0 2.6666666666666665vw}
.padl23{padding: 0 3.066666666666667vw}
.padl24{padding: 0 3.2vw}
.padl30{padding: 0 4vw}
.padl50{padding: 0 6.666666666666667vw}
.padl61{padding: 0 8.133333333333333vw}
.padt4{padding: 0.5333333333333333vw 0}
.padt14{padding: 1.8666666666666667vw 0}
.padt20{padding: 2.6666666666666665vw 0}
.padt38{padding: 5.066666666666666vw 0}
.padt30{padding: 4vw 0}
.padt40{padding: 5.333333333333333vw 0}
.p16{padding: 2.1333333333333333vw}
.p20{padding: 2.6666666666666665vw}
.p30{padding: 4vw}

.pt30l20{padding: 4vw 2.6666666666666665vw }
/* 外边距 */
.mt1{margin-top: 0.13333333333333333vw}
.mt4{margin-top: 0.5333333333333333vw}
.mt8{margin-top: 1.0666666666666667vw}
.mt10{margin-top: 1.3333333333333333vw}
.mt12{margin-top: 1.6vw}
.mt16{margin-top: 2.1333333333333333vw}
.mt17{margin-top: 2.2666666666666666vw}
.mt18{margin-top: 2.4vw}
.mt20{margin-top: 2.6666666666666665vw}
.mt22{margin-top: 2.933333333333333vw}
.mt24{margin-top: 3.2vw}
.mt27{margin-top: 3.6vw}
.mt30{margin-top: 4vw}
.mt36{margin-top: 4.8vw}
.mt40{margin-top: 5.333333333333333vw}
.mt45{margin-top: 6vw}
.mt50{margin-top: 6.666666666666667vw}
.mt58{margin-top: 7.733333333333333vw}
.mt60{margin-top: 8vw}
.mt80{margin-top: 10.666666666666666vw}
.mt87{margin-top: 11.6vw}
.mt100{margin-top: 13.333333333333334vw}
.mt120{margin-top: 16vw}
.mt250{margin-top: 33.333333333333336vw}
.mt400{margin-top: 53.333333333333336vw}
.mb1{margin-bottom: 0.13333333333333333vw}
.mb2{margin-bottom: 0.26666666666666666vw}
.mb10{margin-bottom: 1.3333333333333333vw}
.mb18{margin-bottom: 2.4vw}
.mb30{margin-bottom: 4vw}
.mb20{margin-bottom: 2.6666666666666665vw}
.mb24{margin-bottom: 3.2vw}
.mb36{margin-bottom: 4.8vw}
.mb40 {margin-bottom: 5.333333333333333vw}
.mb70{margin-bottom: 9.333333333333334vw}
.mb80{margin-bottom: 10.666666666666666vw}
.ml2{margin-left: 0.26666666666666666vw}
.ml8{margin-left: 1.0666666666666667vw}
.ml10{margin-left: 1.3333333333333333vw}
.ml11{margin-left: 1.4666666666666666vw}
.ml16{margin-left: 2.1333333333333333vw}
.ml22{margin-left: 2.933333333333333vw}
.ml24{margin-left: 3.2vw}
.ml20{margin-left: 2.6666666666666665vw}
.ml30{margin-left: 4vw}
.ml34{margin-left: 4.533333333333333vw}
.ml40{margin-left: 5.333333333333333vw}
.ml50{margin-left: 6.666666666666667vw}
.ml60{margin-left: 8vw}
.ml70{margin-left: 9.333333333333334vw}
.ml100{margin-left: 13.333333333333334vw}
.mr8{margin-right: 1.0666666666666667vw}
.mr10{margin-right: 1.3333333333333333vw}
.mr12{margin-right: 1.6vw}
.mr14{margin-right: 1.8666666666666667vw}
.mr16{margin-right: 2.1333333333333333vw}
.mr18{margin-right: 2.4vw}
.mr20{margin-right: 2.6666666666666665vw}
.mr21{margin-right: 2.8vw}
.mr22{margin-right: 2.933333333333333vw}
.mr24{margin-right: 3.2vw}
.mr26{margin-right: 3.466666666666667vw}
.mr30{margin-right: 4vw}
.mr33{margin-right: 4.4vw}
.mr35{margin-right: 4.666666666666667vw}
.mr40{margin-right: 5.333333333333333vw}
.mr50{margin-right: 6.666666666666667vw}
.mr62{margin-right: 8.266666666666667vw}
.mr70{margin-right: 9.333333333333334vw}
.mat20{margin:2.6666666666666665vw 0}
.mat30{margin: 4vw 0}
.mal30{margin: 0 4vw}
.mal12{margin: 0 1.6vw}
.mal20{margin: 0 2.6666666666666665vw}
.mal16{margin: 0 2.1333333333333333vw}
.mal8{margin: 0 1.0666666666666667vw}
.m20{margin: 2.6666666666666665vw}
/* 定位 */
.pf{position: fixed}
.pr{position: relative}
.pa{position: absolute}
/* 线条 */
.posa5{position: absolute;top: 50%;width: 100%;border-top:0.13333333333333333vw solid #999;left: 0.5333333333333333vw}
.bobof6{border-bottom: 0.13333333333333333vw solid #f6f6f6}
.boboe6{border-bottom: 0.13333333333333333vw solid #e6e6e6}
.bobofe{border-bottom: 0.13333333333333333vw solid #fe536f}
.bobof0{border-bottom: 0.13333333333333333vw solid #f0f0f0}
.bobof7{border-bottom: 0.13333333333333333vw solid #f7f7f7}
.boboe5{border-bottom: 0.13333333333333333vw solid #e5e5e5}
.boboee{border-bottom: 0.13333333333333333vw solid #eeeeee;}
.boboff{border-bottom: 0.13333333333333333vw solid #fff}
.bof2{border: 0.13333333333333333vw solid #f2f2f2}
.bo999{border: 0.13333333333333333vw solid #999}
.bobof2{border-bottom: 0.13333333333333333vw solid #f2f2f2}
.bobof3{border-bottom: 0.13333333333333333vw solid #f3f3f3;}
.bobof0f3{border-bottom: 0.13333333333333333vw solid #f0f3f7}
.bored{border:0.13333333333333333vw solid red}
.bore6{border: 0.13333333333333333vw solid #e6e6e6}
.boee{border: 0.13333333333333333vw solid #eeeeee}
.bo536f{border: 0.13333333333333333vw solid #fe536f}
.borra20{border-radius: 2.6666666666666665vw}
.borra10{border-radius: 1.3333333333333333vw}
.borra8{border-radius: 1.0666666666666667vw}
.borra6{border-radius: 0.8vw}
.borra4{border-radius: 0.5333333333333333vw}
.bor{border-radius: 50%}
.boboc00{border-bottom: 0.13333333333333333vw solid #000000}
.bobor001{border-bottom:0.13333333333333333vw solid rgba(0,0,0,0.1)}
.botop{border-top: 0.13333333333333333vw solid #ededed}
.botopf2{border-top: 0.13333333333333333vw solid #f2f2f2}
.botopf0{border-top: 0.13333333333333333vw solid #f0f3f7}
.borra15{border-radius: 2vw}
.columnline{width: 0.13333333333333333vw;background-color: #f3f3f3;height: 8vw}

.shuiyin-div{position: fixed;bottom: 9.333333333333334vw;left: 39.46666666666667vw;}