
body{
	background:#f7f7f7;
}


/* 登录界面开始 */
.login{
	width:100%;
	background:#f7f7f7;
	padding:100px 0;
}
.login-in{
	width:1200px;
	margin:0 auto;
	box-sizing:border-box;
	height:630px;
	background:#fff;
}
.login-in-left{
	/*float: left;*/
	width:736px;
	height:630px;
    margin:0 auto;
}
.login-in-left .back{
	font-size:40px;
	color:#666;
	text-align:center;
	margin:74px 0;
}
.login-in-login{
	width:554px;
	margin:0 auto;
}
.login-in-login input{
	width:100%;
	height:94px;
	border-bottom:1px solid #e5e5e5;
	font-size:20px;
	color:#999;
	background:#fff;
}
.login-in-login span{
	font-size:16px;
	color:#999;
	margin-top:28px;
	display:inline-block;
}
.login-in-login span.fh{
	float:right;
}
.login-in-login span .fanhui{
	display:inline-block;
	color:#009cff;
	text-decoration:underline;
}
.login-in-login span .zhuce{
	color:#009cff;
	display:inline-block;
	text-decoration:underline;
}

.login-in-button{
	width:100%;
	margin-top:52px;
    text-align:center;
}
.login-in-button button{
	width:200px;
	height:60px;
	border-radius:50px;
	background:#009cff;
	font-size:24px;
	color:#fff;
	line-height:60px;
	text-align:center;
	box-shadow:0px 8px 18px rgba(0,156,255,0.3);
	float:left;
	cursor:pointer;
}
    .login-in-button .wenzi {
        float: left;
        margin-left: 34px;
        font-size: 16px;
        color: #999;
        margin-top: 40px;
    }
.login-in-button .wenzi p{
	line-height:28px;
}
.login-in-button .wenzi .f2 a{
	color:#009cff;
	text-decoration:underline;
}
.login-in-right{
	float:right;
	width:464px;
	height:630px;
	background:#009cff;
}
.login-in-right img{
	display:block;
	margin:166px auto 20px;
}
.login-in-right p{
	font-size:16px;
	color:#fff;
	text-align:center;
}
/* 登录界面结束 */