
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Dish/Views/Shared/_LayoutAdmin.cshtml";
}

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-title">
                    <h5>优惠券管理</h5>
                </div>
                <div class="ibox-content xcx-list">
                    <form method="post" action="http://wx.ixiaochengxu.cc/index.php?s=/addon/Duoguan_dish/Dish_quan/add.html" class="form-horizontal" id="post_from">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">优惠券名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="q_name" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">优惠券额度</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <input type="text" class="form-control" name="q_diyong_jiner" value=""><span class="input-group-addon"> 元</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">最低消费</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <input type="text" class="form-control" placeholder="0" name="q_xiaofei_jiner" value=""><span class="input-group-addon"> 元</span>
                                </div>
                                <span class="help-block m-b-none">为0则不限制</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">发放数量</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <input type="text" class="form-control" placeholder="1" name="q_limit_num" value=""><span class="input-group-addon"> 张</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">领取时间</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" name="q_begin_time" value="" class="dish_begin_time form-control" placeholder="开始日期" data-date readonly />
                                    <span class="input-group-addon">~</span>
                                    <input type="text" name="q_end_time" value="" class="dish_end_time form-control" placeholder="结束日期" data-date readonly />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">使用期限</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" name="q_s_begin_time" value="" class="form-control" placeholder="开始日期" data-date readonly />
                                    <span class="input-group-addon">~</span>
                                    <input type="text" name="q_s_end_time" value="" class="form-control" placeholder="结束日期" data-date readonly />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">使用说明</label>
                            <div class="col-sm-10">
                                <textarea name="q_shuoming" class="form-control" rows="3" placeholder=""></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否开启:</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="q_isopen" value="1">开启
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="q_isopen" value="0">关闭
                                </label>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn submit-btn ajax-post btn-primary" id="submits" type="submit" target-form="form-horizontal">确 定                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>