
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Dish/Views/Shared/_LayoutAdmin.cshtml";
}

<body class="gray-bg">

    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="ibox-title">
            <h3>优惠券管理</h3>
        </div>
        <div class="ibox-content xcx-list">
            <div class="row m-b-sm m-t-sm">
                <div class="col-md-9">
                    <a href="/Dish/Coupons/Edit" class="btn btn-w-m btn-primary">
                        <i class="fa fa-plus"></i> 添加优惠券
                    </a>
                </div>

                <div class="col-md-3 text-right">
                    <div class="input-group">
                        <input type="text" name="searchValue" id="searchValue" class="search-input form-control" value="" placeholder="请输入优惠券名称">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" id="search" url="http://wx.ixiaochengxu.cc/index.php?s=/addon/Duoguan_dish/Dish_quan/index/p/1.html">
                                <i class="fa fa-search"></i>搜索
                            </button>
                        </span>
                    </div>

                </div>
            </div>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th width="150">名称</th>
                        <th width="80">面值</th>
                        <th width="150">有效期</th>
                        <th width="100">已领/总张数</th>
                        <th width="80">状态</th>
                        <th width="100">创建时间</th>
                        <th width="120">操作</th>
                </thead>
                <tbody></tbody>
            </table>
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination pagination-lg">
                    <li>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</body>


