<a href="#" class="btn btn-default btn-sm ml10" onclick="javascript: utils.showFindWxOrderForm();">
    查询微信订单号
</a>

<div id="findWXOrder" class="modal bs-example-modal"  tabindex="-1" role="dialog" aria-labelledby="tipsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    查询微信订单号
                </h4>
            </div>
            <div class="modal-body" style="margin-bottom:30px;">
                <table >
                    <tr>
                        <td>
                            订单编号:
                        </td>
                        <td>
                            <input type="text" class="form-control" v-model="orderNum" />
                        </td>
                        <td>
                            <a href="#" class="btn btn-default btn-sm ml10" v-on:click="findWxOrderNo">
                                查询
                            </a>
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="text-center active">
                            <th>订单所属用户</th>
                            <th>付款金额</th>
                            <th>微信订单号</th>
                            <th>提示信息</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in orderMsgs">
                            <td>{{item.userName}}</td>
                            <td>{{item.orderPriceStr}}</td>
                            <td>{{item.wx_orderId}}</td>
                            <td>{{item.stateMsg}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" v-if="orderMsgs.length<=0">找不到匹配的订单资料</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>