@{
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";

}
<link rel="stylesheet" type="text/css" href="//j.vzan.cc/miniapp/layui/css/layui.css?v=1" />
<link href="/Content/Miniapp/css/iconfont.css" rel="stylesheet" type="text/css">
<style>
    .centertext { vertical-align: inherit !important; text-align: center; }
    .nowrap { white-space: nowrap; }
    .flex-v { -webkit-box-orient: vertical; -webkit-box-direction: vertical; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; }
    .d-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
    .d-flex-center { align-items: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; }
</style>
<div id="app" class="container-fluid" v-cloak>

    <div>
        <div class="search">
            <div class="form-inline">
                <div class="form-group">
                    <label for="plist-pname">状态：</label>
                    <select class="form-control" id="applyState">
                        <option value="-2">全部</option>
                        <option value="-1">审核不通过</option>
                        <option value="0">待审核</option>
                        <option value="1">审核通过</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="plist-pname">分销员手机号：</label>
                    <input type="text" name="TelePhone" class="form-control" id="TelePhone" value="" />
                </div>

                <div class="form-group ml10">
                    <label>起止时间：</label>
                    <input type="text" name="startTime" class="form-control" id="startTime" value="" />至
                    <input type="text" name="endTime" class="form-control" id="endTime" value="" />
                </div>

                <button type="submit" class="btn btn-primary ml10" v-on:click="Search()">搜索</button>
                <a href="#" class="btn btn-default ml10" v-on:click="searchReset()">重置</a>
            </div>
        </div>
        <div class="mt10">
            <table class="table table-bordered ml_19">
                <tr class="active">
                    <th class="centertext">序号</th>
                    <th class="centertext">手机号码</th>
                    <th class="centertext">昵称</th>
                    <th class="centertext">推广订单总数量</th>
                    <th class="centertext">推广订单总额(元)</th>
                    <th class="centertext">佣金总额(元)</th>  
                    <th class="centertext">剩余可提现总额(元)</th>  
                    <th class="centertext">本次申请提现金额(元)</th>
                    <th class="centertext">申请提现时间</th>
                    <th class="centertext">更现时间</th>
                    <th class="centertext">审核状态</th>
                    <th class="centertext">提现状态</th>
                    <th class="centertext">提现日志</th>
                    <th class="centertext">操作</th>
                </tr>
                <tr v-for="(item,index) in List">
                    <td class="centertext">
                        <label>
                            <input v-if="item.state!=0" disabled type="checkbox" name="ck" v-on:click="ckSave(item.Id)" />
                            <input v-else type="checkbox" name="ck" v-on:click="ckSave(item.Id)" />{{item.Id}}
                        </label>
                    </td>

                    <td class="centertext">
                        {{item.phone}}
                    </td>
                    <td class="centertext">
                        {{item.nickName}}
                    </td>
                    <td class="centertext">
                        {{item.orderCount}}
                    </td>
                    <td class="centertext">
                        {{item.orderTotalMoney}}
                    </td>
                    <td class="centertext">
                        {{item.orderTotalCpsMoney}}
                    </td>
                    <td class="centertext">
                        {{item.useCash}}
                    </td>
                    <td class="centertext">
                        {{item.cashMoneyStr}}
                    </td>
                    <td class="centertext">
                        {{item.AddTimeStr}}
                    </td>
                    <td class="centertext">
                        {{item.UpdateTimeStr}}
                    </td>
                    <td class="centertext">
                        <span class="label label-success" v-if="item.state==1">通过</span>
                        <span class="label label-info" v-else-if="item.state==0">待审核</span>
                        <span class="label label-danger" v-else>审核不通过</span>
                    </td>
                    <td class="centertext">
                        {{item.drawStateStr}}
                    </td>
                    <td class="centertext" style="max-width:200px;">
                        {{item.remark}}
                    </td>
                    <td class="centertext">
                        <span class="label label-danger" style="cursor:pointer;" v-if="item.state==0" v-on:click="updateState(item.Id,1)">通过审核</span>
                        <span class="label label-danger" style="cursor:pointer;" v-if="item.state==0" v-on:click="updateState(item.Id,-1)">不通过审核</span>
                        <span v-if="item.state!=0">--</span>
                    </td>
                    
                </tr>

                <tr v-if="List==null || List.length==0">
                    <td colspan="13">暂无数据</td>
                </tr>
            </table>
            <div id="pages" style="text-align: center;margin-top: 0.5rem;" v-show="RecordCount>0"></div>
        </div>
        <div class="ml_19" v-if="List!=null&& List.length>0">
            <span class="label label-info" style="cursor:pointer;" v-on:click="updateState(-2,1)">批量通过审核</span>
            <span class="label label-danger" style="cursor:pointer;" v-on:click="updateState(-2,-1)">批量不通过审核</span>
        </div>
    </div>



</div>
<script>
    var ids;
    var chk_value =[];

    var app = new Vue({
        el: "#app",
        data: {
            List:[],
            RecordCount: 0,
            postdata:{
                appId:@ViewBag.appId,
                pageIndex: 1,
                pageSize: 10,
                TelePhone:"",
                state:-2,
                startTime:"",
                endTime:""
            },
            isloading:false
        },
        methods: {
            getList:function(){
                var that=this;
                if (that.isloading) {
                    layer.msg("努力加载ing...")
                    return;
                }
                that.isloading = true;
                var index = layer.load(1);
                $.post("/common/GetDrawCashApply", this.postdata, function (data) {
                    layer.close(index);
                    that.isloading = false;
                    if (data.isok) {
                        that.RecordCount = data.model.RecordCount;
                        that.List = data.model.List;
                        that.resetPage();
                    }
                })
            },
            resetPage: function () {
                layui.use('laypage', function () {
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'pages'
                        , count: app.RecordCount //数据总数，从服务端得到
                        , curr: app.postdata.pageIndex //当前页
                        , limit: app.postdata.pageSize
                        , jump: function (obj, first) {
                            //obj包含了当前分页的所有参数，比如：
                            //console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                            console.log(obj.limit); //得到每页显示的条数
                            app.postdata.pageIndex = obj.curr;

                            //首次执行
                            if (!first) {
                                app.getList();

                            }
                        }
                        , theme: '#1E9FFF'
                        , layout: ['prev', 'page', 'next', 'skip']
                    });
                })
            },
            Search:function(){
                var that=this;
                that.postdata.TelePhone=$("#TelePhone").val();
                that.postdata.startTime=$("#startTime").val();
                that.postdata.endTime=$("#endTime").val();
                that.postdata.state=$("#applyState").val();
                that.getList();
            },
            searchReset:function(){
                window.location.reload();
            },
            ckSave:function(id){
                for(var i = 0; i < chk_value.length; i++){
                    if(id === chk_value[i]){
                        chk_value.splice(i,1);
                        return ;
                    }
                }
                return chk_value.push(id);
            },
            updateState:function(drawcashApplyId,state){
                var ids;
                if(drawcashApplyId==-2){
                    //表示批量更新 先判断是否选择了
                    if(chk_value.length<=0){
                        layer.msg("请先选择需要审核的请求");
                        return;
                    }
                    ids= chk_value.join(",");
                }else{
                    //表示单个更新 则先判断提交的Id是否合法
                    if(drawcashApplyId<=0){
                        layer.msg("提现申请记录未选择");
                        return;
                    }

                    ids=drawcashApplyId;

                }

                layer.msg("正在处理....");
                var index = layer.load(1);
                $.post("/common/UpdateDrawCashApply", {appId:@ViewBag.appId,ids:ids,state:state}, function (data) {
                    layer.close(index);
                    layer.msg(data.msg);
                    if(data.isok){
                        window.setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }

                })




            }

        }, created: function () {
            var that=this;
            that.getList();
        }

    });

    $('#startTime').datetimepicker({
        language: 'zh-CN',
        format: 'yyyy/mm/dd hh:ii:ss',//选择完日期后，input框里的时间值的格式
        weekStart: 1,
        todayBtn: 0,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: true,
        showMeridian: 1,
        minuteStep:1
    });
    $('#endTime').datetimepicker({
        language: 'zh-CN',
        format: 'yyyy/mm/dd hh:ii:ss',//选择完日期后，input框里的时间值的格式
        weekStart: 1,
        todayBtn: 0,
        autoclose: 1,
        todayHighlight: 1,
        forceParse: true,
        showMeridian: 1,
        minuteStep:1
    });



</script>