@{
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";

}
<link rel="stylesheet" type="text/css" href="//j.vzan.cc/miniapp/layui/css/layui.css?v=1" />
<link href="/Content/Miniapp/css/iconfont.css" rel="stylesheet" type="text/css">
<style>
    .centertext { vertical-align: inherit !important; text-align: center; }

    .flex-v { -webkit-box-orient: vertical; -webkit-box-direction: vertical; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; }
    .d-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
    .d-flex-center { align-items: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; }
</style>
<div id="app" class="container-fluid" v-cloak>

    <div>
        <div class="search">
            <div class="form-inline">
                <div class="form-group">
                    <label for="plist-pname">订单号：</label>
                    <input type="text" name="orderNumber" class="form-control" id="orderNumber" value="" />
                </div>

                <button type="submit" class="btn btn-primary ml10" v-on:click="Search()">搜索</button>
                <a href="#" class="btn btn-default ml10" v-on:click="searchReset()">重置</a>
            </div>
        </div>
        <div class="mt10">
            <table class="table table-bordered ml_19">
                <tr class="active">  
                    <th class="centertext">买家昵称</th>
                    <th class="centertext">分销员手机号码</th>
                    <th class="centertext">链接标识</th>
                    <th class="centertext">建立关系时间</th>
                    <th class="centertext">结束关系时间</th>
                    <th class="centertext">当前状态</th>
                   
                </tr>
                <tr v-for="(item,index) in RelationshipList">
             
                    <td class="centertext">
                        {{item.orderUserName}}
                    </td>
                    <td class="centertext">
                        {{item.saleManTelephone}}
                    </td>
                    <td class="centertext">
                        {{item.relationFlag}}
                    </td>
                    <td class="centertext">
                        {{item.relationConnectTime}}
                    </td>
                    <td class="centertext">
                        {{item.relationEndTime}}
                    </td>
                    <td class="centertext">
                        {{item.state}}
                    </td>
                   
                </tr>

                <tr v-if="RelationshipList==null || RelationshipList.length==0">
                    <td colspan="12">暂无数据</td>
                </tr>
            </table>
            <div id="pages" style="text-align: center;margin-top: 0.5rem;" v-show="RecordCount>0"></div>
        </div>

    </div>



</div>
<script>
    var ids;
    var chk_value =[];

    var app = new Vue({
        el: "#app",
        data: {
            RelationshipList:[],
            RecordCount: 0,
            postdata:{
                appId:@ViewBag.appId,
                pageIndex: 1,
                pageSize: 1000,
                orderNumber:""
                
            },
            isloading:false
        },
        methods: {
            getList:function(){
                var that=this;
                if (that.isloading) {
                    layer.msg("努力加载ing...")
                    return;
                }
                that.isloading = true;
                var index = layer.load(1);
                $.post("/common/GetRelationship", this.postdata, function (data) {
                    layer.close(index);
                    that.isloading = false;
                    if (data.isok) {
                        that.RecordCount = data.model.RecordCount;
                        that.RelationshipList = data.model.List;
                        that.resetPage();
                    }
                })
            },
            resetPage: function () {
                layui.use('laypage', function () {
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'pages'
                        , count: app.RecordCount //数据总数，从服务端得到
                        , curr: app.postdata.pageIndex //当前页
                        , limit: app.postdata.pageSize
                        , jump: function (obj, first) {
                            //obj包含了当前分页的所有参数，比如：
                            //console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                            console.log(obj.limit); //得到每页显示的条数
                            app.postdata.pageIndex = obj.curr;

                            //首次执行
                            if (!first) {
                                app.getList();

                            }
                        }
                        , theme: '#1E9FFF'
                        , layout: ['prev', 'page', 'next', 'skip']
                    });
                })
            },
            Search:function(){
                var that=this;
                that.postdata.orderNumber=$("#orderNumber").val();
                that.getList();
            },
            searchReset:function(){
                window.location.reload();
            }

        }, created: function () {
            var that=this;
            that.getList();
        }

    });





</script>