@{
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    ViewBag.Title = "分销商品";

}
<link rel="stylesheet" type="text/css" href="//j.vzan.cc/miniapp/layui/css/layui.css?v=1" />
<link href="/Content/Miniapp/css/iconfont.css" rel="stylesheet" type="text/css">
<style>
    .centertext { vertical-align: inherit !important; text-align: center; }

    .flex-v { -webkit-box-orient: vertical; -webkit-box-direction: vertical; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; }
    .d-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
    .d-flex-center { align-items: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; }
</style>
<div id="app" class="container-fluid" v-cloak>

    <div>
        <div class="search">
            <div class="form-inline">
                <div class="form-group">
                    <label for="plist-pname">商品名称：</label>
                    <input type="text" name="search" class="form-control" id="goodsname" value="" />
                </div>

                <div class="form-group ml10">
                    <label>分销状态：</label>
                    <select class="form-control" id="isDistribution">
                        <option value="-1">全部</option>
                        <option value="0">不参与</option>
                        <option value="1">参与</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary ml10" v-on:click="Search()">搜索</button>
                <a href="#" class="btn btn-default ml10" v-on:click="searchReset()">重置</a>
            </div>
        </div>
        <div class="mt10">
            <table class="table table-bordered ml_19">
                <tr class="active">
                    <th class="centertext">序号</th>
                    <th class="centertext">商品</th>
                    <th class="centertext">库存</th>
                    <th class="centertext">总销量</th>
                    <th class="centertext">佣金比例</th>
                    <th class="centertext">是否参与分销</th>
                    <th class="centertext">推广状态更新时间</th>
                    <th class="centertext">商品状态</th>
                    <th class="centertext">操作</th>
                </tr>
                <tr v-for="(item,index) in SalesmanGoodsList">
                    <td class="centertext">
                        <label>
                            <input type="checkbox" name="ck" v-on:click="ckSave(item.goodsId)"/>{{item.goodsId}}
                        </label>
                    </td>
                    <td>
                        <div class="d-flex d-flex-center goodsItem" style="height:100%;">
                            <div class="goodsimg">
                                <img v-bind:src="item.goodsImg" alt="图片跑丢了" width="50" height="50" />

                            </div>
                            <div class="goodstxt">
                                <div>
                                    <p>
                                        {{item.goodsName}}
                                    </p>
                                </div>
                                <div>
                                    <a href="#">￥{{item.goodsPrice}}</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="centertext" v-if="item.stockLimit">
                        {{item.goodsStock}}
                    </td>
                    <td class="centertext" v-else>
                        不限库存
                    </td>
                    <td class="centertext">
                        {{item.salesCount}}
                    </td>
                    <td class="centertext" v-if="item.isDistribution!=0">
                        <span v-if="item.isDefaultCps_Rate==0">默认比例{{item.cps_rate}}%</span>
                        <span v-else>自定义比例<input type="text" name="cps_rate" class="form-control" style="width:20%;height:20px;display:inline-block;" value="" v-model="item.cps_rate" readonly>%</span>
                    </td>
                    <td class="centertext" v-else>
                        --
                     </td>
                    <td class="centertext">
                        <span class="label label-danger" v-if="item.isDistribution==0">不参与</span>
                        <span class="label label-success" v-else>参与</span>
                    </td>
                    <td class="centertext">
                        {{item.distributionTime}}
                    </td>

                    <td class="centertext">
                        <span class="label label-danger" v-if="item.goodsState==0">下架</span>
                        <span class="label label-success" v-else>上架中</span>
                    </td>
                    <td class="centertext">
                        <a href="#" v-on:click="addedit(index)">设置</a>
                    </td>
                </tr>

                <tr v-if="SalesmanGoodsList==null || SalesmanGoodsList.length==0">
                    <td colspan="12">暂无数据</td>
                </tr>
            </table>
            <div id="pages" style="text-align: center;margin-top: 0.5rem;" v-show="RecordCount>0"></div>
        </div>
        <div class="ml_19">
            <a href="javascript:;" v-on:click="addedit()" v-if="SalesmanGoodsList!=null && SalesmanGoodsList.length>0">+批量设置</a>
        </div>
    </div>


    <!--产品分销设置-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        设置
                    </h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div>
                            <label>推广:&nbsp;&nbsp;</label>
                            <label><input type="radio" name="isDistribution" value="1" v-model="ItemInfo.isDistribution" />参与</label>
                            <label><input type="radio" name="isDistribution" value="0" v-model="ItemInfo.isDistribution" />不参与</label>
                        </div>
                        <div style="margin-top:10px;" v-if="ItemInfo.isDistribution==1">
                            <div style="margin-top:10px;">
                                <label>佣金比例:&nbsp;&nbsp;</label>
                                <label><input type="radio" value="0" name="isDefaultCps_Rate" v-model="ItemInfo.isDefaultCps_Rate" />默认比例</label>
                                <label><input type="radio" value="1" name="isDefaultCps_Rate" v-model="ItemInfo.isDefaultCps_Rate" />自定义比例&nbsp;&nbsp;<input type="text" class="form-control" style="width:50px;display:inline-block;height:25px;" v-model="ItemInfo.cps_rate" v-if="ItemInfo.isDefaultCps_Rate==1" /><span v-if="ItemInfo.isDefaultCps_Rate==1">%</span></label>
                            </div>
                        </div>


                        <div stle=" clear:both;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" v-on:click="saveInfo()">
                        保存
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!--/.modal-->

</div>
<script>
    var ids;
    var chk_value =[];
    var ItemData= {
        cps_rate:0,
        distributionTime:"",
        goodsId:0,
        goodsImg:"",
        goodsName:"",
        goodsPrice:0.00,
        goodsState:0,
        goodsStock:0,
        isDefaultCps_Rate:0,
        isDistribution:1,
        salesCount:0
    };
    var app = new Vue({
        el: "#app",
        data: {
            SalesmanGoodsList:[],
            ItemInfo:JSON.parse(JSON.stringify(ItemData)),
            editIndex: 0,
            RecordCount: 0,
            postdata:{
                appId:@ViewBag.appId,
                pageIndex: 1,
                pageSize: 10,
                isDistribution:-1,
                goodsName:""
            },
            isloading:false
        },
        methods: {
            getList:function(){
                if (this.isloading) {
                    layer.msg("努力加载ing...")
                    return;
                }
                this.isloading = true;
                var index = layer.load(1);
                $.post("/common/GetSalesmanGoodsList", this.postdata, function (data) {
                    layer.close(index);
                    app.isloading = false;
                    if (data.isok) {
                        app.RecordCount = data.model.RecordCount;
                        app.SalesmanGoodsList = data.model.SalesmanGoodsList;
                        app.resetPage();
                    }
                })
            },
            resetPage: function () {
                layui.use('laypage', function () {
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'pages'
                        , count: app.RecordCount //数据总数，从服务端得到
                        , curr: app.postdata.pageIndex //当前页
                        , limit: app.postdata.pageSize
                        , jump: function (obj, first) {
                            //obj包含了当前分页的所有参数，比如：
                            //console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                            console.log(obj.limit); //得到每页显示的条数
                            app.postdata.pageIndex = obj.curr;

                            //首次执行
                            if (!first) {
                                app.getList();

                            }
                        }
                        , theme: '#1E9FFF'
                        , layout: ['prev', 'page', 'next', 'skip']
                    });
                })
            },
            Search:function(){
                this.postdata.goodsName=$("#goodsname").val();
                this.postdata.isDistribution=$("#isDistribution").val();
                this.getList();
            },
            searchReset:function(){
                window.location.reload();
            },
            saveInfo:function(){
                if(app.ItemInfo.isDefaultCps_Rate==1&&app.ItemInfo.isDistribution==1){
                    //设置为自定义佣金比例 验证输入
                    if (!/^[0-9]{1,2}(\.\d{0,2})?$/.test(app.ItemInfo.cps_rate)) {
                        layer.msg("比例必须为数字，且最多为2位小数,最大为2位整数！不超过50%");
                        return false;
                    }

                    if(parseFloat(app.ItemInfo.cps_rate)>50){
                        layer.msg("比例不能超过50%");
                        return false;
                    }
                }
                
                layer.msg("正在处理....");
                var index = layer.load(1);
                $.post("/common/SaveSalesmanGoods", {appId:@ViewBag.appId,salesmanGoods:app.ItemInfo,ids:ids}, function (data) {
                    layer.close(index);
                    layer.msg(data.msg);
                    if(data.isok){
                        window.setTimeout(function () {
                            window.location.reload();
                        }, 2000);
                    }
                  
                })
            },
            ckSave:function(id){
                for(var i = 0; i < chk_value.length; i++){
                    if(id === chk_value[i]){
                        chk_value.splice(i,1);
                        return ;
                    }
                }
                return chk_value.push(id);
            },

            //添加编辑窗口
            addedit: function (index) {
                this.editIndex = index;
                if (typeof (index) != "undefined"&&index!=-1) {//编辑
                    this.ItemInfo = JSON.parse(JSON.stringify(this.SalesmanGoodsList[index])); 
                }else{
                    
                        //表示批量保存 先判断是否一个都没选择
                        if(chk_value.length<=0){
                            layer.msg("请先选择商品");
                            return;
                        }
                        
                        ids= chk_value.join(",");
                  
                }
                $('#myModal').modal('show')
            },


        }, created: function () {
            this.getList();
        }

    });



</script>