<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="http://j.vzan.cc/dz/content/newhome/image/bitbug_favicon.ico">
    @*<link rel="Shortcut Icon" href="http://j.vzan.cc/dz/content/newhome/image/bitbug_favicon.ico" />*@
    <link rel="shortcut icon" type="image/x-icon" href="/pxhcontent/image/pinxianghui/favicon.ico">
    <!--[if lt IE 9]>
    <script src="~/Areas/PinAdmin/lib/html5shiv.js"></script>
    <script src="~/Areas/PinAdmin/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/Areas/PinAdmin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/PinAdmin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/PinAdmin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/PinAdmin/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/Areas/PinAdmin/static/h-ui.admin/css/style.css" />
    <link href="~/Areas/PinAdmin/css/dish_module.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <style>
        [v-cloak] { display: none; }
        .Validform_error, input.error, select.error { background-color: #fbe2e2; border-color: #c66161; color: #c00; }
        .dish_m_tips { color: #aaa; width: 100%; display: block; margin-top: 5px; font-size: 12px; }
        .show_iframe .loading { margin: 0 auto; }
        label.error { color: #fff; }
    </style>
    @RenderSection("styles", false)
</head>
<body>
    @RenderBody()
    <!--全局js-->
    <script src="~/js/lib.js"></script>
    <!--[if IE 6]>
    <script src="~/Areas/PinAdmin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="~/Areas/PinAdmin/static/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="~/Areas/PinAdmin/static/jquery-2.0.3.min.js"></script>
    <!--<![endif]-->
    <script src="~/Areas/PinAdmin/static/h-ui/js/H-ui.min.js"></script>
    <script src="~/Areas/PinAdmin/static/h-ui.admin/js/H-ui.admin.js"></script>

    <!--插件-->
    <script src="~/Areas/PinAdmin/lib/layer/2.4/layer.js"></script>
    <script src="~/Areas/PinAdmin/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
    <script src="~/Areas/PinAdmin/lib/TimePicker/jquery-timepicker.js"></script>
    <script src="~/Areas/PinAdmin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script src="~/Areas/PinAdmin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script src="~/Areas/PinAdmin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script src="~/Areas/PinAdmin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <!--上线使用压缩版-->
    <script src="//j.vzan.cc/miniapp/js/vue.js"></script>

    <!--页面自定义js-->

    @RenderSection("scripts", false)
</body>
</html>