<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item start @(ViewBag.Title=="推广获客情况"?"active":"")">
                <a href="/customerdistribution/CustomerDistributionUser" class="nav-link ">
                    <i class="glyphicon glyphicon-home"></i>
                    <span class="title">推广获客情况</span>
                </a>
            </li>

            <li class="nav-item start @(ViewBag.Title=="返款记录"?"active":"")">
                <a href="/customerdistribution/CustomerCaseBackList" class="nav-link ">
                    <i class="glyphicon glyphicon-tree-conifer"></i>
                    <span class="title">返款记录</span>
                </a>
            </li>
        </ul>
    </div>
</div>