@using Entity.MiniApp;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Cache-Control" content="max-age=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="小未程序,专注微信小程序开发平台,无需懂代码,0门槛,拖拽可视化组件即可完成,帮助千万商户一键生成微信小程序，让您把握9亿微信用户的流量红利，现火爆招小程序代理商中，小程序代理，小程序招商，小程序加盟。" />
    <meta name="keywords" content="小程序,微信小程序,小程序代理,小程序加盟,小程序招商,小程序开发代理,小未程序代理,小程序定制,小程序平台,小程序开发,小程序制作,小程序工具,微信小程序开发,微信小程序定制,微信小程序代理" />
    <title>手机注册</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://j.vzan.cc/dz/content/newhome/image/bitbug_favicon.ico">
    <link href="/Content/newhome/css/mobile/mBase.css" rel="stylesheet" />
    <link href="/Content/newhome/css/mobile/mobileHome.css" rel="stylesheet" />
    <link href="/Content/newhome/css/mobile/mpicker.css" rel="stylesheet" />
    <script src="/Content/newhome/lib/jquery.min.js"></script>
    <script src="/Content/newhome/lib/jquery.cookie.js"></script>
    <style>
        .reg-box .reg-type { 
            margin-bottom:0.4rem;
        }
        .reg-box .reg-type>li{ 
            /*border-radius:0.2rem;*/
            border:1px solid #63b504;
            text-align:center;
            height:0.8rem;
            line-height:0.8rem;
            font-size:0.3rem;
            color:#63b504;
        }
        .reg-box .reg-type > li:nth-child(1) { 
            border-top-left-radius:0.2rem;
            border-bottom-left-radius:0.2rem;
        }
        .reg-box .reg-type > li:nth-child(2) { 
            border-top-right-radius:0.2rem;
            border-bottom-right-radius:0.2rem;
        }
        .reg-box .reg-type > li.active { 
            background-color:#63b504; 
            color:#fff;
        }
    </style>
</head>
<body style="display:none;">
    <div class="mobile-viewport">

        <div id="regWrap" style="background-color:#eee;padding: 0 0.4rem;">
            <div class="xwcx-logo" style="visibility:hidden;">
                <a href="/mobile/mobileHome">
                    <img src="@(WebSiteConfig.cdnurl)content/newhome/image/mobileHome/xwcx-logo.png" style="width: 1.36rem;" />
                </a>
            </div>
            <div class="reg-box">
                @*<h3>手机注册</h3>*@
                <ul id="regType" class="reg-type f fc fc-h">
                    <li class="f1 active" data-id="0">开发小程序</li>
                    <li class="f1" data-id="1">成为代理商</li>
                </ul>
                <div class="form-item f fc fc-h" style="display:none;">
                    <span class="form-name">姓名</span>
                    <input id="username" type="text" placeholder="请输入姓名" />
                </div>
                <div class="form-item f fc fc-h">
                    <span class="form-name">手机号</span>
                    <input id="phone" type="text" placeholder="请输入手机号" />
                </div>
                <div class="form-item f fc fc-h">
                    <span class="form-name">验证码</span>
                    <input id="code" type="text" placeholder="输入短信验证码" style="padding-right: 1.25rem;" />
                    <span id="getCodeBtn" class="get-verificationcode">获取验证码</span>
                </div>
                <div class="form-item f fc fc-h">
                    <span class="form-name">密码</span>
                    <input id="password" type="password" placeholder="请设置密码" />
                </div>
                <div class="apply-btn-box">
                    <input class="apply-btn" id="applyBtn" type="button" name="button" value="提交" />
                </div>
            </div>
        </div>

    </div>
    <script src="/Content/newhome/lib/layer-v3.1.0/layer/layer.js"></script>
    <script>
        window.onload = function () {
            $("#regWrap").height($(window).height());
            document.body.style.display = "block"
            function fontSize() {
                var deviceWidth = $(document).width();
                if (deviceWidth > 750) {
                    deviceWidth = 750;
                    //console.log(deviceWidth);
                }
                var fontSize = deviceWidth / 7.5;
                $("html").css("fontSize", fontSize);
                //console.log(fontSize)
            }
            fontSize();
            $(window).resize(function () {
                fontSize();
            });
        }
    </script>
    <script src="/Content/newhome/js/mobileSelector/json.js"></script>
    <script src="/Content/newhome/js/mobileSelector/jsonExchange.js"></script>
    <script src="/Content/newhome/js/mobileSelector/mPickerBeta.js"></script>
    @*<script src="@(WebSiteConfig.cdnurl)content/newhome/js/mobileHome.js"></script>*@
    <script src="/Content/newhome/js/mobileHome.js"></script>
    <script>
        $(function () {
            $("#regWrap").height($(window).height());

            //$('.select-value').mPicker({
            //    level: 3,
            //    dataJson: city3,
            //    Linkage: true,
            //    rows: 6,
            //    idDefault: true,
            //    splitStr: '-',
            //    header: '<div class="mPicker-header">选择地区</div>',
            //    confirm: function (json) {
            //        //console.info('当前选中json：', json);
            //        //console.info('【json里有不带value时】');
            //        //console.info('选中的id序号为：', json.ids);
            //        //console.info('选中的value为：', json.values);
            //        // var id1= $('.select-value').data('id1');
            //        // var id2 = $('.select-value').data('id2');
            //        // var id3 = $('.select-value').data('id3');
            //        // console.info('第一列json：',city3[id1]);
            //        // console.info('第二列json：', city3[id1].child[id2]);
            //        // console.info('第三列json：', city3[id1].child[id2].child[id3]);
            //    },
            //    cancel: function (json) {
            //        console.info('当前选中json：', json);
            //    }
            //})
        })
        //var opentypejson = [{ "name": "申请代理", "value":0}, { "name": "开通小程序", "value":1 }];
        //$(function () {
        //    $('.selectopentype-value').mPicker({
        //        level: 1,
        //        dataJson: opentypejson,
        //        Linkage: true,
        //        rows: 6,
        //        idDefault: true,
        //        splitStr: '-',
        //        header: '<div class="mPicker-header">选择开通类型</div>',
        //        confirm: function (json) {
        //            $("#opentype").attr("data-id",json.values);
        //        },
        //        cancel: function (json) {
        //            console.info('当前选中json：', json);
        //        }
        //    })
        //})
    </script>

</body>
</html>