@model Entity.MiniApp.User.Account;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>微赞，微信端免费好用的增粉、变现多功能工具</title>
    <meta name="description" content="微赞，让论坛在移动端回归，让论坛在移动端更好玩！">
    <meta name="mobile-agent" content="format=html5;url=https://vzan.com/">
    <meta name="mobile-agent" content="format=xhtml;url=https://vzan.com/">
    <meta name="keywords" content="微赞、微赞云社区、微社区、微赞论坛、微论坛">
    <script src="//j.vzan.cc/manager/content/js/jquery.js?v=0.1"></script>
    @*<script>
        if (window.location.href == "http://www.vzan.com/")
            window.location = "http://www.vzan.cc/";
    </script>*@
    <link href="//j.vzan.cc/content/20170422/css/bottom-nav.css?v=0.02" rel="stylesheet" />
</head>
<body>
      <style>
        /*联系客服box*/
        .index-nav-a_new {
    color: #30afff;
    border: 1px solid #30afff;
}
        .index-nav-a_new {
    color: #30afff;
    border: 1px solid #30afff;
}
        .arrow-down {
    display: inline-block;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #fff;
    border-style: solid;
    position: relative;
    margin-left: 5px;
    vertical-align: 3px;
}
.index-nav-a_new {
   
    display: inline-block;
    width: 94px;
    height: 32px;
    line-height: 32px;
    text-align: center;
 
    border-radius: 5px;
}
        .kefu-tk03 {
    width: 265px;
    height: 136px;
    border-radius: 4px;
    position: fixed;
    top: 65px;
    right: 410px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    line-height: 2;
    z-index: 100;
    background: #fff;
    display: none;
}
        .kefu-tk03 .triangle1 {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 8px;
    border-color: transparent transparent #fff transparent;
    border-style: dashed dashed solid dashed;
    overflow: hidden;
    top: -16px;
    right: 40px;
}
        /*导航条开始*/
.index-nav-vzan{
    width: 100%;
    height: 50px;
}
.index-nav-ul{
    display: inline-block;
    height: 100%;
    margin-top: 10px;
}
.index-nav-ul li{
    display: inline-block;
    width: 100px;
    height: 100%;
    text-align: center;
    position: relative;
}
.index-nav-a{
    color: #fff;
    display: inline-block;
    width: 94px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
}
.index-nav-a:hover{
    color: #fff;
    border: 1px solid #2e82ff;
    background-color: #2e82ff;
}
.index-nav-as{
    margin-top: 20px;
    margin-right: 50px;
}
.index-nav-as a+a{
    margin-left: 10px;
}
.index-nav-ul-a{
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 50px;
}
.index-nav-ul-a:hover{
    color: #30afff ;
    text-decoration: none;

}
.product-list li {
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: left;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*导航条结束*/

      .active .index-nav-ul-a:hover {color: #333;}
	.arrow-down {border-color: #333;}
 	.index-nav-ul>li>a{position: relative;z-index: 10;}
	
	.index-nav-a{color: #30afff;border: 1px solid #30afff;}
	.index-nav-ul li.active:hover .arrow-down {border-color: #333;}
	.active .product-list li a{color: #333;}
	.active .product-list li a:hover{color: #30afff;}
    .product-list {
    padding-top: 50px;
    padding-bottom: 14px;
    position: absolute;
    width: 100px;
    top: -10px;
    left: 0;
    text-align: left;
    background: rgba(255,255,255,.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
}.product-list {z-index: 5; background: #e5e5e5;}
	.index-nav-as {margin-top: 20px;margin-right: 0;}
	.new-gw-nav{width: 1040px;position: relative;margin: 0 auto;z-index: 100;}
	.new-gw-nav .logo{margin:0 30px 0 -50px;vertical-align: -15px;display: inline-block;}
	.index-nav-vzan{height: auto;font-size: 14px;}
	.index-nav-as{margin-top: 18px;margin-right: 0;} 
/*脚注开始*/
.index-module-seven{
    width: 100%;
    height: 400px;
    background: #333333;
}
.index-module-seven-all{
    width: 800px;
    margin: 0 auto;
}
.index-module-seven-ul{
    vertical-align: 18px;
    display: inline-block;
    line-height: 25px;
}
.index-module-seven-ul-two{
    margin: 0 120px 0 70px;
}
.index-module-seven-ul-first{
    font-size: 26px;
    padding-bottom: 25px;
}
.index-module-seven-all-top>img{
    margin-right: 32px;
}
.index-module-seven-all-top ul li{
    display: block;
}

.index-module-seven-all-top{
    padding: 80px 0 40px 0;
    border-bottom: 1px solid #5c5c5c;
}
.index-module-seven-all-bottom{
    text-align: center;
    padding: 30px 0;
    color: #999;
}
.index-module-seven-all-bottom-a{
    margin-bottom: 20px;
}
.index-module-seven-all-bottom-a a{
    color: #999;
}
.index-module-seven-all-bottom-a a:hover{
    color: #2e82ff;
}
.index-module-seven-all-bottom-dian{
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 1px;
    background: #999;
    vertical-align: 3px;
    margin: 0 8px;
}
.index-module-seven-all-bottom-zhang{
    vertical-align: -5px;
    margin: 0 10px;
}
.index-module-seven-all-liaojie.hover:hover{
    color: #2e82ff;
}
/*脚注结束*/
        .gw-lr-public {
            width: 88px;
            height: 32px;
            border-radius: 16px;
            border: 1px solid #3cbaff;
            margin-top: 30px;
        }

        .gw-login-bt {
            background: #fff;
            color: #3cbaff;
        }

        .gw-register-bt {
            margin-right: 10px;
            color: #fff;
            background: #3cbaff;
        }

        .user_img, .pw_img {
            width: 20px;
            height: 20px;
            margin-top: 12px;
            background: url(//j.vzan.cc/manager/content/images/pop_login_bg.png) no-repeat;
            margin-right: 6px;
        }

        .user_img {
            background-position: -240px -147px;
        }

        .pw_img {
            background-position: -266px -146px;
        }

        .wrong_id {
            top: 220px;
        }

        .tc {
            text-align: center;
        }

        .wrong_id, .wrong_pw, .wrong_np_id, .no_uid, .no_pw {
            display: block;
            visibility: hidden;
            position: absolute;
            left: 400px;
            height: 35px;
            background: url(//j.vzan.cc/manager/content/images/pop_login_bg.png) no-repeat;
            background-position: right -491px;
            color: #FFF;
            line-height: 30px;
            padding-right: 10px;
            padding-left: 3px;
            font-family: "宋体",Tahoma,Verdana,sans-serif,simsun;
            font-size: 12px;
        }

        .no_pw, .wrong_pw {
            top: 300px;
        }

        .no_uid {
            top: 230px;
        }

        .thickbox {
            height: 400px;
            width: 450px;
        }

        .thickbox, .thickbox2 {
            background: #fff none repeat scroll 0 0;
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            display: none;
            overflow: hidden;
            padding: 10px 20px;
            position: relative;
            z-index: 999;
        }

        .colse_btn {
            position: absolute;
            right: 5px;
            top: 5px;
        }
        .icon-hot{background: url(//j.vzan.cc/manager/images/gw-hot.png?v=0.01) no-repeat;display: block;height: 20px;position: absolute;right: -29px;top: -15px;width: 30px;z-index: 2;animation:icon-hot 0.6s linear 0s normal none infinite running;-webkit-animation:icon-hot  0.6s linear 0s normal none infinite running;}
         .index-module-seven-ul li a {
             color: #ffffff;
        }
	@@keyframes icon-hot{
	from {top:-15px;}
	to {top:-10px;}
       
}

    </style>
    <!--顶部-->
    <input type="hidden" id="sessid" value="@Session["qrcodekey"]" />
  
    <div class="sharebodydiv">
        @Html.Action("ShowIndexBody", "Account", new { wp = ViewBag.WhichPage })
    </div>
    <div class="bottom-nav-all">
        <div class="bottom-nav">
            <div class="clearfix shang">
                <ul>
                    <li class="li01">公司</li>
                    <li><a href="/account/login?wp=Contact">联系我们</a></li>
                    <li><a href="/account/login?wp=Cooperate">商务合作</a></li>
                    <li><a href="/account/login?wp=Example">客户案例</a></li>
                </ul>
                <ul class="mar-ul">
                    <li class="li01">产品</li>
                    <li><a href="/account/login?wp=Contact" target="_blank">微赞直播</a></li>
                    <li><a href="/account/login?wp=City">微赞同城</a></li>
                    <li><a href="/account/login?wp=OurApp">微赞APP</a></li>
                    <li><a href="/account/login?wp=Small">微赞小程序</a></li>
                </ul>
                <ul>
                    <li class="li01">合作伙伴</li>
                    <li><a href="https://www.aliyun.com/?utm_medium=text&amp;utm_source=bdbrand&amp;utm_campaign=bdbrand&amp;utm_content=se_32492">阿里云</a></li>

                    <li><a href="http://www.banyanvc.com/">高榕资本</a></li>
                    <li><a href="http://www.idgvc.com/">IDG资本</a></li>
                    <li><a href="http://www.aodianyun.com/">&nbsp;</a></li>
                </ul>
                <div class="dibu-qr">
                    <img src="http://www.vzan.com/QrCode/GetQrCode?code=1284745185">
                    <p>扫一扫，关注公众二维码</p>
                </div>
            </div>

            <div class="xia">
                <div class="xiao-f">
                    <a>微赞直播</a>
                    <span class="dot"></span>
                    <a>微赞同城</a>
                    <span class="dot"></span>
                    <a>微赞论坛</a>
                </div>
                <p>
                    <img src="http://static.anquan.org/static/outer/image/gw_83x30.png?id=www.vzan.com" alt="安全联盟认证" class="anquan-pic">
                    Copyright © 2016 vzan.cc All Rights Reserved Powered by 广州赞赏信息科技有限公司
                    <a style="color:#999" href="href=http//www.miitbeian.gov.cn/">ICP备案：粤ICP备16043221号-2</a>
                </p>
            </div>
        </div>
    </div>
    <!--扫码登录弹出div-->
    <div id=content-bind-OpenID class="thickbox">
        <div class="colse_btn" id="divxgtx">
            <a href="javascript:void(0)">
                <img src="//j.vzan.cc/manager/content/img/close.jpg">
            </a>
        </div>
        <h1 style="text-align:center;">微信扫一扫</h1>
        <div style="text-align:center;">
            <br />
            <p>登录注册一步到位</p>
            <br />
            <img id="bindcode" src="../QrCode/GetQrCode?code=@Session["qrcodekey"]" style="margin-left:80px" height="300" width="300">
        </div>
    </div>
    <div style="display:none;">
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?5c88f64ce16c5100a4a8509273257ce4";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        @*<script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?5c88f64ce16c5100a4a8509273257ce4";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
                    </script>*@
    </div>
    @*<div id="gr_news" style="text-align:center;position:fixed;bottom:0;width:100%">
            <div style="height:300px;width:1000px;margin-left:auto;margin-right:auto">
                <span onclick="$('#gr_news').hide()" style="position:absolute;right:450px;cursor:pointer"><img src="//j.vzan.cc/content/images/gr_news_close.jpg" /></span>
                <img src="//j.vzan.cc/content/images/gr_news.jpg" />
            </div>
        </div>*@
    <!--新添加客服联系电话-->
    <div class="kefu-tk03">
        <p>客服1：020-28171127</p>
        <p>客服2：020-28171172</p>
        <p>商务合作：020-28166612</p>
        <div class="triangle1"></div>
    </div>
</body>

</html>

<script src="//j.vzan.cc/manager/content/js/popDiv.js?v=0.1"></script>
@{ Session["message"] = null;}
<script type="text/javascript">
    $(document).ready(function () {
        $('#register').click(function () {
            pops("#content-bind-OpenID");
        });
    
            $('.index-nav-a_new').mouseenter(function () {
                $(".kefu-tk03").css("display", "block");
            });
            $(".index-nav-a_new").mouseleave(function () {
                $(".kefu-tk03").css("display", "none");
            });
      
    })
    function wxLogin() {
        var key = $('#sessid').val();
        $.ajax({
            type: "POST",
            url: "/account/wxlogin",
            xhrFields: {
                withCredentials: true
            },
            data: { wxkey: key },
            success: function (returnData) {
                if (returnData != "-1") {
                    window.location.href = returnData;
                }
            }
        });
    }
        setInterval(wxLogin, 1000);
        var accordion_silder_list = $(".accordion_silder_list");
        var accordion_silder = $(".accordion_silder");
        accordion_silder_list.mouseover(function(){
            var index = $(this).index();
            accordion_silder_list.each(function(){
                if($(this).index() == index){
                    $(this).stop().animate({width:450},"normal");
               }else{
                    $(this).stop().animate({width:275},"normal");
                }
            })
         });
        accordion_silder.mouseleave(function(){
             accordion_silder_list.animate({width:346},"normal");
         });
  
   //setTimeout(function () {
   //     $('#gr_news').hide();
   // },5000);
   
</script>
<script src="//j.vzan.cc/manager/content/js/0510/login.js?v=0.15" type="text/javascript"></script>
<script src="//j.vzan.cc/manager/content/Scripts/index.js?v=0.01"></script>
<div class="safe-auth">
    
</div>
