.current-li{
   background-color:rgba(50,150,250,1);
   color:#fff;
}
/*字体样式*/
.font-DIN-Medium{font-family:DIN-Medium;}
.font-bold{font-weight:bold;}
/*字号*/
.font-size-52 {font-size:3.25rem;}
.font-size-36 {font-size:2.25rem;}
.font-size-30 {font-size:1.875rem;}
.font-size-24 {font-size:1.5rem;}
.font-size-18 {font-size: 1.125rem;}
.font-size-14 {font-size:0.875rem;}
/*字体颜色*/
.font-color-default {color:#333;}
.font-color-gray {color:#fff}
.font-color-darkGray{color:#999;}
.font-color-yellow {color:#FFDE59;}
.font-color-blue{color:#3296fa;}
.font-color-ccc{color:#ccc;}


@media screen and (min-width:769px) and (max-width:1024px){
    .development-content {width: 80%;padding-top:60px;}
    .building-img>img{width:350px;height:398px}
    .building-content {width:75%; height: 460px;}
    .prospect-content-list {width: 70%;padding-top: 80px;}
    .translate-content>p:nth-child(1) { padding: 10px 30px;}
    .translate-content { width:84%;}
    .video-box>video{width:640px;height:360px;}
    .video-masking {width:640px;height:360px;line-height:450px; }  
    .submit-content { width: 66%;}
    .news-box{width:85%;}
    .news-img>img{width:100px;height:66.67px;}
}

@media screen and (min-width:1025px) and (max-width:1280px){
    .development-content {width: 72%;padding-top:30px;}
    .building-img>img{width:350px;height:398px}
    .building-content {width:65%; height: 460px;}
    .prospect-content-list {width: 62%;padding-top: 80px;}
    .translate-content>p:nth-child(1) { padding: 20px 20px;}
    .translate-content {width:84%;}
    .video-masking {width:960px;height:540px;line-height:600px; }  
    .submit-content { width: 50%;}
    .news-box{width:88%;}
    .news-img>img{width:120px;height:80px;}
}
@media screen and (min-width:1281px) and (max-width:1366px){
    .development-content {width: 75%;padding-top:30px;}
    .building-img>img{width:350px;height:398px}
    .building-content {width:65%; height: 460px;}
    .prospect-content-list {width: 62%;padding-top: 80px;}
    .translate-content>p:nth-child(1) { padding: 20px 20px;}
    .translate-content {width:84%;} 
    .video-masking {width:960px;height:540px;line-height:600px; }  
    .submit-content { width: 60%;}
    .news-box{width:88%;}
    .news-img>img{width:150px;height:100px;}
}
@media screen and (min-width:1367px) and (max-width:1440px){
    .development-content {width: 72%;padding-top:30px;}
    .building-img>img{width:350px;height:398px}
    .building-content {width:65%; height: 460px;}
    .prospect-content-list {width: 64%;padding-top: 80px;}
    .translate-content>p:nth-child(1) { padding: 20px 20px;}
    .translate-content {width:84%;} 
    .video-masking {width:960px;height:540px;line-height:600px; }  
    .submit-content { width: 58%;}
    .news-box{width:88%;}
    .news-img>img{width:150px;height:100px;}
}
@media screen and (min-width:1441px) and (max-width:1680px){
    .development-content {width: 70%;padding-top:30px;}
    .building-img>img{width:378px;height:430px}
    .building-content {width:55%; height: 460px;}
    .prospect-content-list {width: 58%;padding-top: 80px;}
    .translate-content>p:nth-child(1) { padding: 20px 20px;}
    .translate-content {width:74%;} 
    .video-masking {width:960px;height:540px;line-height:600px; }  
    .submit-content { width: 50%;}
    .news-box{width:80%;}
    .news-img>img{width:150px;height:100px;}
}
@media screen and (min-width:1681px){
    .development-content {width: 61%;}
    .building-img>img{width:378px;height:430px}
    .building-content {width:49.48%; height: 460px;} 
    .prospect-content-list {width: 47.6%;padding-top: 80px;}
    .translate-content>p:nth-child(1) { padding: 10px 70px;}
    .translate-content {width:68.75%;} 
    .video-masking {width:960px;height:540px;line-height:600px; }  
    .submit-content { width: 43.85%;}
    .news-box{width:73%;}
    .news-img>img{width:150px;height:100px;}
}

.home-content { 
    width:100%;
}

.banner-box {
    width: 100%;
    /*height: 620px;*/
    /*position:relative;*/
}

.banner>img{
    width:100%;
    height:100%;
}
.banner-img{
    position:relative;
    width:100%;
    display:block;
}
.btn-banner{
    position:absolute;
    bottom:13.333%;
    left:50%;
    margin-left:-7.552%;
    width:15.1%;
    height:11.67%;
    /*height:70px;*/
    /*line-height:70px;*/
    background-color:#ffe065;
    font-weight:bold;
    font-size:1.5rem;
    text-align:center;
    cursor:pointer
}
.btn-activity { 
    position: absolute; 
    bottom: 13.333%; 
    left: 50%; 
    margin-left: -7.552%; 
    width: 15.1%; 
    height: 14%; 
    background: url('../image/btn-banner-activity.png')no-repeat; 
    background-size:100%;
    cursor:pointer;
}
.banner-btn-box { 
    position:absolute;
    right:22%;
    bottom:25%;
    width:20%;
}
.btn-freeReg,.btn-scanCode{width:45%;padding:4% 0; border:1px solid #fff;border-radius:4px;cursor:pointer;color:#fff;text-align:center;}
/*自定义分页器样式*/
.swiper-pagination-custom {
    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-pagination-customs {
    width: 120px;
    height: 3px;
    display: inline-block;
    background: #3c718f;
    opacity: .3;
    margin: 0 5px;
}
.swiper-pagination-customs-active {
    opacity: 1;
    background-color: #fff;
}

/**************内容****************/

.join-us>img {
    width: 100%;
    height: 100%;
}

/*发展瓶颈*/
.development {
    width: 100%;
    /*height: 49rem;*/
    padding-bottom:3.125rem;
    background: url("../image/development-bg.png") no-repeat;
}
.development-title{
    /*height:10.459183%;*/
    text-align:center;
    padding-top:4.75rem;
    padding-bottom:1.875rem;
}
/*.development-content{
    width:61%;
}*/
.development-img { 
    width:50%;
}
.development-img > img { 
    width:100%;
}
.development-page{
    width:50%;
    padding-top:173px;
    padding-left:50px;
}
.development-page-focus { 
    
}
.development-page-details{
    position:relative;
    line-height:1.5em;
}
.development-page-details::before{
    position:absolute;
    left:-64px;
    top:-25px;

    content: " ";
    width: 4rem;
    height: 4rem;
    background: url('../image/comma-left-yellow.png') no-repeat;
    background-size:cover;
}
.development-page-details::after{
    position:absolute;
    content: " ";
    width: 4rem;
    height: 4rem;

    background: url('../image/comma-right-yellow.png') no-repeat;
    background-size:cover;
}
.development-page-focus {
    padding-top:70px;
}

/*目前*/
.now{
    padding-top:5rem;
    padding-bottom:7.625rem;
}
.now-title{
    text-align:center;
    padding-bottom:30px;
}
.now-content-list{
    width:51.04%; /*980*/
    padding-top:10px;
}
.now-content-list>li{
    width:41%;
    margin-top:50px;
}
.now-content-list>li>p{
    margin-top:10px;
    line-height:1.5em;
}
.now-content-list>li:nth-child(3) p,
.now-content-list>li:nth-child(4) p{
    padding:0 10%;
}
.now-content-list>li span{
    color:#3296fa;
}


/*建站*/
.building {
    width: 100%;
    height: 765px;
    background:url("../image/building-bg.png") no-repeat;
}
.building-title{
    padding-top:143px;
    text-align:center;
    padding-bottom:20px;

}
/*.building-content{
    width:49.48%;/*950
    height:460px;
}*/
.building-page{
    width:48%;
    height:70%;
}
.page{
    position:relative;
    line-height:1.5em;
}
.page::before {
    position:absolute;
    top:5px;
    left:-36px;

    content: " ";
    width: 24px;
    height: 24px;
    background-image: url('../image/icon-dot.png');
}


/*入局小程序*/
.prospect{
    padding-top:5rem;
    padding-bottom:6.25rem;
}
.prospect-title{
    text-align:center;
    padding-bottom:50px;

}
/*.prospect-content-list{
    width:47.6%;/*914
    padding-top:80px;
}*/
.prospect-content-list>li{
    width:47%;/*383*/
}
.prospect-content-page{
    width:68.5%;
    text-align:left;
    padding-left:0.625rem;
}
.prospect-content-page>p{
    padding-top:20px;
    line-height:1.5em;
}
.prospect-page-focus{
    padding-top:77px;
}


/*优势*/
.translate {
    width: 100%;
    /*height:850px;*/
    background:url("../image/translate-bg.png")no-repeat;
    padding-bottom:3.75rem;
}
.translate-title{
    text-align:center;
    padding-top:6.25rem;
    padding-bottom:3.125rem;
}
.translate-content{
    /*width:68.75%;*/
    padding-top:3.75rem;
}
.translate-content span{
    color:#FFDE59;
}
.translate-content>p{
    width:100%; 
    line-height:1.2em;
    padding:25px 40px;
    text-align:center;
    display:inline-block;
    box-sizing:border-box;
    border:1px solid #fff;
}
.translate-content>p:nth-child(1){
    width:40%;
    /*padding:10px 70px;*/
    border-bottom:none;
}
.translate-content>p:nth-child(2){
    width:55%;
    border-bottom:none;
}
.translate-content>p:nth-child(3){
    width:70%;
    border-bottom:none;
}
.translate-content>p:nth-child(4){
    width:85%;
    border-bottom:none;
}
.translate-content-focus{
    padding-top:62px;
}

/*提交信息*/
.submit{
    /*height:743px;*/
    padding-bottom:3.75rem;
    background-color:#f7f7f7;
}
.submit-title{
    text-align:center;
    padding-top:80px;
    padding-bottom:40px;
}
.submit-content{
    /*width:43.85%;*//*842*/
}
.submit-content-page{
    position:relative;
    width:44%;/*364*/
    min-width:341px;
    padding-top:57px;   
}
.submit-content-page>p{
    padding-bottom:10px;
}
.submit-content-page::before{
    position:absolute;
    left:-4rem;
    top:30px;

    content: " ";
    width: 4rem;
    height: 4rem;
    background: url('../image/comma-left-blue.png') no-repeat;
    background-size:cover;

}
.submit-content-page::after{
    position:absolute;
    right:-2rem;
    bottom:-20px;
    /*right:20px;
    bottom:-20px;*/

    content: " ";
    width:4rem;
    height:4rem;
    background: url('../image/comma-right-blue.png') no-repeat;
    background-size:cover;
}
.submit-input{
    width:100%;
    padding-top:65px;
    padding-bottom:40px;
}
.submit-input>input{
    width:45.5%;
    height:5rem;
    font-size:1.625rem;
    text-align:center;
    border:none;
    background-color:#EDEDED;
}
input::-webkit-input-placeholder {
    height:5rem;
    color: #999;
}
.submit-btn{
    width:49.88%;
    height:5.625rem;
    background-color:#FFDC7E;
    cursor:pointer;
}