body { font-family: MicrosoftYaHei,"\u5fae\u8f6f\u96c5\u9ed1","微软雅黑"; color: #666; }
li { list-style-type: none; text-align: center; }
/**************************************************************屏幕适配***********************************************/
@media screen and (max-width:768px) {
    /*字体*/
    html { font-size: 12px !important; }
    /*导航条*/
    .icon-home { width: 20%; }
    nav ul { width: 45%; }
    .right { width: 35%; }
    .person-id { display: none; }
    .user-setting { width: 510.65%; padding: 20px 20px 20px 20px; }
    .caseContent { width: 75%; }
    .btn-backstage > a { width: 120px; }
    /*.right-list { width: 20% !important; }
    .ds-num { font-size: 1.5rem; }*/
    /*底部*/
    /*.copyright-title-list { width: 80%; }
    .wx-like { width: 100px; height: 100px; }*/
}

@media screen and (min-width:769px) and (max-width:1024px) {
    /*字体*/
    html { font-size: 12px !important; }
    /*导航条*/
    .icon-home { width: 25%; }
    nav ul { width: 45%; }
    .right { width: 30%; padding-right: 20px; }
    .person-id { display: none; }
    .user-setting { width: 520.65%; padding: 20px 20px 20px 20px; }
    .caseContent { width: 75%; }
    .btn-backstage > a { width: 120px; }
    /*.right-list { width: 14% !important; }
    .ds-num { font-size: 1.25rem !important; }*/
    .templateContent { width: 90% !important; }
    .myTpl-list { width: 100%; padding-left: 40px; }
    /*底部*/
    /*.copyright-title-list { width: 80%; }
    .wx-like { width: 100px; height: 100px; }*/
}

@media screen and (min-width:1025px) and (max-width:1280px) {
    /*字体*/
    html { font-size: 14px !important; }
    /*导航条*/
    .icon-home { width: 25%; }
    nav ul { width: 50%; }
    .right { width: 25%; }
    .person-id { display: none; }
    .user-setting { width: 550.65%; padding: 20px 10px 50px 10px; }
    .btn-backstage > a { width: 120px; }
    /*.right-list { width: 12% !important; }
    .ds-num { font-size: 1.25rem !important; }*/
    .templateContent { width: 90% !important; }
    .myTpl-list { width: 100%; padding-left: 80px; }
    /*底部*/
    /*.copyright-title-list { width: 70%; }
    .wx-like { width: 100px; height: 100px; }*/
}

@media screen and (min-width:1281px) and (max-width:1366px) {
    html { font-size: 14px !important; }
    .icon-home { width: 23%; }
    nav ul { width: 50%; }
    .right { width: 27%; padding-right: 10px; }
    .person-id { display: none; }
    .user-setting { width: 580.65%; padding: 30px 20px 40px 20px; }
    .btn-backstage > a { width: 120px; }
    /*.right-list { width: 12% !important; }
    .ds-num { font-size: 1.25rem !important; }
    .templateContent { width: 90% !important; }*/
    /*底部*/
    /*.copyright-title-list { width: 70%; }
    .wx-like { width: 130px; height: 130px; }*/
}

@media screen and (min-width:1367px) and (max-width:1440px) {
    html { font-size: 14px !important; }
    .icon-home { width: 23%; }
    nav ul { width: 50%; }
    .right { width: 27%; padding-right: 10px; }
    .user-setting { width: 635.65%; padding: 40px 20px 40px 25px; }
    .btn-backstage > a { width: 140px; }
    /*.right-list { width: 12% !important; }
    .ds-num { font-size: 1.5rem !important; }
    .templateContent { width: 90% !important; }*/
    /*底部*/
    /*.copyright-title-list { width: 65%; }
    .wx-like { width: 130px; height: 130px; }*/
}

@media screen and (min-width:1441px) and (max-width:1680px) {
    .icon-home { width: 23%; }
    nav ul { width: 50%; }
    .right { width: 27%; padding-right: 10px; }
    .user-setting { width: 655.65%; padding: 40px 20px 30px 25px; }
    .btn-backstage > a { width: 140px; }
    /*.right-list { width: 12% !important; }
    .ds-num { font-size: 1.375rem !important; }
    .templateContent { width: 85% !important; }*/
    /*底部*/
    /*.copyright-title-list { width: 66%; }
    .wx-like { width: 130px; height: 130px; }*/
}

@media screen and (min-width:1681px) {
    .icon-home { width: 25%; }
    nav ul { width: 50%; }
    .right { width: 25%; padding-right: 10px; }
    .user-setting { width: 695.65%; padding: 50px 30px 60px 30px; }
    .btn-backstage > a { width: 140px; }
    /*底部*/
    /*.copyright-title-list { width: 62.66%; }
    .wx-like { width: 130px; height: 130px; }*/
}

/*.contain { width: 100%; }
.content { width: 100%; min-width: 1024px; max-width: 1920px; margin: 0 auto; }*/
/*.bold { font-weight: bold; font-size: 1.25rem; }*/
/*小程序后台*/
.nav { width: 100%; height: 80px; box-shadow: 0 1px 3px #F2F2F2; z-index: 2; }
.logo-box { width: 50%; height: 80px; padding-left: 30px; }


/*
#center:hover .pro-show { display: block; }
.pro-show { width: 100%; height: 60px; line-height: 60px; background-color: rgba(99,181,79,.8); position: absolute; top: 80px; left: 0; z-index: 999; }
.pro-show { display: none; }
.pro-ul { width: 100%; }
.pro-ul > li { width: 50%; }
.productCenter-nav > a { font-weight: bold; color: #fff; }*/


/******************导航条****************************/
.content > nav { width: 100%; height: 80px; background-color: #fff; z-index: 4; box-shadow: 0 1px 0 #f5f5f5; }
/*.home-content,.banner,#app{padding-top:80px;}*/
.nav-list { position: fixed; top: 0; }
.icon-home { height: 80px; }
.icon-home img { width: 81px; height: 58px; }
/*nav > ul {height: 80px; }
nav > ul > li { -webkit-box-sizing: border-box; box-sizing: border-box; height: 80px; overflow: hidden; width: 20%; letter-spacing: 0.05em; }
nav > ul > li > a { width: 100%; height: 80px; line-height: 80px; font-size: 1.125rem; display: inline-block; color: #333; font-weight: bold; }
nav > ul > li:hover { background-color: #63b504; color: #fff;  }
nav > ul > li > a:hover { color: #fff; }*/
/*.productCenter-nav { text-align: right; }
.productCenter-nav > a { margin: 0 3%; }*/
/*.current-navItem { background-color: rgba(99,181,4,0); padding: 1% 2%; }
.current-navItem:hover { background-color: rgba(99,181,4,1); }*/
/*.nav-active { background: #3296fa; opacity: 0.9; }*/
/*.nav-active { background: #63b504; }
.nav-color { color: #fff; }*/

.right { /*width: 30%;*/ height: 80px; }
.Login-module { width: 100%; height: 100%; }
.reg, .login { height: 80px; line-height: 80px; }
.reg { margin-right: 16px; /*width: 32px;*/ padding: 0 10px; height: 80px; }
.reg a { color: #63b504; height: 100%; }
.login { /*width: 80px;*/ height: 80px; line-height: 80px; text-align: center; }
.login a { color: #fff; padding: 0 20px; height: 40px; line-height: 40px; display: inline-block; border-radius: 6px; background: #63b504; }


/***********导航条已登录***************/
.agent { /*width: 50%;*/ height: 80px; background-color: #fff; justify-content: flex-end; padding-right: 30px; position: relative; }
.btn-backstage { text-align: center; border-radius: 4px; /*background: rgba(50,150,250,1);*/ background-color: #63b504; }
.btn-backstage > a { /*width: 120px;*/ height: 40px; color: #fff; line-height: 40px; display: inline-block; }
.personal { height: 100%; }
.personal .touxiang { position: relative; width: 46px; height: 100%; margin-left: 20px; cursor: pointer; }
/*.touxiang:hover .user-setting { display:block; }*/
.personal .person-id { padding: 0 5px; cursor: pointer; }
.personal > a { width: 42px; height: 42px; cursor: pointer; }
.user-setting { /*width:695.65%;*/ position: absolute; top: 100%; right: -24px; background: url('http://j.vzan.cc/dz/content/newhome/image/user.png')no-repeat; z-index: 99; background-size: 100%; /*padding:50px 30px 60px 30px;*/ }
.user-setting-content > div { width: 100%; padding: 6px 0 !important; padding: 5% 0; }
.user-setting-content > .user-headshot { width: 60px; height: 60px; margin-bottom: 15%; }
.user-msg { width: 25%; display: inline-block; text-align: right; color: #333; font-weight: bold; }
.user-headshot > img { width: 100%; border-radius: 50%; }
.setting-item > span { width: 70%; display: inline-block; }
/*.user-setting-content span { display:inline-block;}*/
.setting-item > span > a { float: right; color: #63b504; }
/***********/


/*旧版提示*/
/*.agent .tishi { width: 244px; height: 177px; background: url("http://j.vzan.cc/dz/content/newhome/image/tishi.png")no-repeat center; position: absolute; top: 50px; right: 20px; z-index: 2; }
.tishi > ul { width: 90%; height: 100%; padding-top: 25px; color: #999; }
.tishi > ul .service, .invest { width: 80px; text-align: right; position: relative; padding-top: 3px; }
.tishi > ul .service::before { content: ' '; width: 26px; height: 26px; background: url("http://j.vzan.cc/dz/content/newhome/image/service.png") no-repeat; position: absolute; left: 0; top: 0; }
.tishi > ul .invest::before { content: ' '; width: 26px; height: 26px; background: url("http://j.vzan.cc/dz/content/newhome/image/invest.png") no-repeat; position: absolute; left: 0; top: 0; }
.tishi > ul .phone-num { padding-top: 3px; }
.tishi > ul > li { width: 90%; padding: 10px 0; }
.tishi > ul > li:first-child { border-bottom: 1px solid #F0F0F0; }*/
/*旧版提示*/


/*****************底部*************************/

/*.footer { width: 100%; padding-bottom: 40px; background: #152D49; }
.footer a { color: #fff; }
.copyright { width: 100%; height: 470px; background: #152D49; color: #fff; padding-top: 105px; box-sizing: border-box; }
.copyright-title { font-weight: bold; white-space: nowrap; }
.copyright-title-list > li { padding-right: 8.312%; width: 100%; text-align: left; }
.copyright-title-list > li:last-child { padding: 0; }
.copyright-title-list .copyright-title { font-size: 1.125rem; padding-bottom: 47px; }
.copyright-details-list > li { width: 100%; white-space: nowrap; text-align: left; padding-bottom: 19px; }
.contactUs > li:last-child { white-space: normal; line-height: 1.2em; }
.copyright-title-list .wx-like { padding-bottom: 10px; }*/


/*产品页面右侧列表导航*/
/*.right-list { width: 12%; position: fixed; right: 6px; z-index: 2; }
.right-item { text-align: center; background-color: #fff; border-radius: 10px; margin-bottom: 10px; cursor: pointer; }
.item-bd { border: 1px solid #f2f2f2; }
.item-line::after { content: ""; position: absolute; bottom: 0; right: 25%; width: 50%; height: 2px; background-color: #ccc; }
.right-list-green { color: #63b504; font-weight: bold; }
.ds-name { font-size: 1.75rem; }
.ds-num { font-size: 1.625rem; }
.right-list-qrcode { position: absolute; left: -180%; opacity: 0; transition: all .8s ease; }
.rightlist-qrcodebox:hover .right-list-qrcode { opacity: 1; }*/


/*产品案例样式*/
.fp-font-green { color: #63b504; }
.fp-font-drakGray { color: #333; }
.fp-font-gray { color: #999; }
.fp-font-white { color: #fff; }
.fp-font-red { color: #FF4246; }
.fp-font-666 { color: #666; }
.fp-fontSize-18 { font-size: 1.125rem; }
.fp-fontSize-14 { font-size: 0.875rem; }
.fp-fontSize-12 { font-size: 0.75rem; }
.name { padding-left: 5.5rem; }
.number { padding-left: 7.6rem; }
.btn-color-g1 { background: rgba(99,181,4,1); }
.btn-color-g2 { background: rgba(99,181,4,.8); }
.btn-color-y1 { background: rgba(251,166,91,1); }
.btn-color-y2 { background: rgba(251,166,91,.8); }


/*.pro-case { width: 100%; background: #f7f7f7; padding-bottom: 50px; }
.pro-case > p { font-size: 30px; color: #333; font-weight: bold; margin-top: 80px; margin-bottom: 45px; }
.label-list { width: 100%; }
.btn-label { min-width: 52px; padding: 5px 8px; margin-right: 8px; margin-bottom: 8px; color: #666; font-size: 0.875rem; border-radius: 4px; background-color: #f2f2f2; cursor: pointer; }
.current-btn { background-color: #63b504; color: #fff; }*/
/*.case-show { width: 100%; }
.case-list-box1 { width: 100%; }
.caseLabel1 { width: 65%; }
.case-ul { width: 73%; height: 100%; margin-top: 20px; padding: 0 2%; box-sizing: border-box; }
.case-ul > li { width: 22%; min-width: 135px; height: auto; margin: 1.4285714285714286%; margin-bottom: 20px; }
.case1 .case-img1 { position: relative; width: 100%; border: 1px solid #F2F2F2; border-bottom: 0; }
.case1 .case-img1 > img { width: 100%; }
.case-shade1 > img { width: 70%; height: 70%; position: absolute; top: 15%; left: 15%; }
.case1 .case-page1 { width: 100%; background-color: #fff; font-weight: bold; color: #666; padding: 20px 0; }*/
/*遮罩图片*/
/*.case-ul > li > :hover { transform: translateY(-10px); transition: all 600ms ease; box-shadow: 0 8px 8px #F2F2F2; }
.case-ul > li:hover .case-shade1 { opacity: 1; }
.case-ul > li:hover .case-shade1 > img { transform: scale(1); }*/
/*遮罩*/
/*.case-img1 .case-shade1 { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,0.8); opacity: 0; transition: opacity 1.5s ease; }
.case-shade1 > img { transition: all 1.2s ease; transform-origin: 50% 50%; transform: scale(0); }
.btn-more { width: 11.66%; height: 50px; border: 1px solid #CCC; border-radius: 4px; margin-top: 40px; margin-bottom: 5%; }
.btn-more > a { width: 100%; height: 100%; line-height: 50px; display: inline-block; text-align: center; color: #ccc; }*/

/*弹窗样式*/
/*弹窗*/
.popup-box { min-width: 1024px; width: 100%; height: 100%; box-sizing: border-box; background-color: rgba(0,0,0,.6); position: fixed; z-index: 10; top: 0px; }
.popup-title { width: 100%; height: 50px; font-family: SourceHanSansCN-Regular; font-weight: bold; border-bottom: 1px solid #f2f2f2; }
.popup-content { width: 100%; height: 87.5%; padding-top: 1.875rem; }
.popup-warning { width: 100%; height: 14.7%; font-size: 1.25rem; color: #FF4246; }
.input { width: 100%; box-sizing: border-box; margin-top: 0.625rem; padding: 0 5%; position: relative; }
.text-position { position: absolute; left: 0; margin-left: 15%; height: 3rem; line-height: 3rem; }
.phone-input { width: 100%; height: 3rem; box-sizing: border-box; border: 0; border-bottom: 1px solid #e5e5e5; }
.msg-input { width: 65%; height: 100%; box-sizing: border-box; padding-right: 5px; }
/*.btn-container { width: 90%; height: 48px; }*/
.btn-cancel { width: 48%; height: 100%; line-height: 48px; background-color: #EEE; cursor: pointer; text-align: center; margin-top: 20px; }
.btn-confirm { width: 48%; height: 100%; line-height: 48px; background-color: #3296FA; cursor: pointer; text-align: center; margin-top: 20px; }
/*免费试用*/
.free-use { width: 21%; height: 25rem; min-width: 320px; max-height: 390px; margin: 10% auto; background-color: #fff; border-radius: 5px; }
.freeImg-box { width: 55%; height: 66%; margin-top: 40px; text-align: center; }
.freeImg-box > img { width: 10.625rem; }
.free-use-text { letter-spacing: 0.01em; line-height: 1.4em; }
.btn-free { width: 90%; height: 3rem; line-height: 3rem; background-color: #63b504; cursor: pointer; text-align: center; margin: 0.625rem 0; }
/*立即订购*/
.orderNow { width: 22.5rem; /*height: 550px;*/ background-color: #fff; border-radius: 5px; position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50); }
.qrcode-box { padding-top: 1.25rem; }
.qrcode-box > p { line-height: 1.2em; }
/*.qrcode-box .qrCode {  background-color: #ddd; }*/
.qrCode > img { width: 75px; height: 75px; }
.wx-name { padding-top: 15px; }
.maybe { width: 100%; height: 2.125rem; line-height: 2.125rem; text-align: center; }
.icon-name::before { content: ""; width: 26px; height: 3rem; background: url('http://j.vzan.cc/dz/content/newhome/image/name.png?v1') no-repeat center; background-size: 24px 24px; position: absolute; left: -65%; }
.icon-number::before { content: ""; width: 26px; height: 3rem; background: url('http://j.vzan.cc/dz/content/newhome/image/contact.png?v1') no-repeat center; background-size: 24px 24px; position: absolute; left: -38%; }
.icon-myPhone::before { content: ""; width: 24px; height: 48px; background: url('http://j.vzan.cc/dz/content/newhome/image/phone.png?v1') no-repeat; background-size: 24px 24px; position: absolute; top: -30%; left: 8px; }
.input-box { width: 100%; }
.popwin-close { width: 3rem; height: 3rem; background: url("http://j.vzan.cc/dz/content/newhome/image/close.png")no-repeat center; background-size: cover; position: absolute; left: 50%; margin-left: -25px; bottom: -60px; cursor: pointer; }
/*修改手机号-新版*/
.change-phone-new { position: relative; width: 25%; min-width: 330px; max-height: 500px; margin: 14% auto; background-color: #fff; border-radius: 5px; }
.change-phone-content { padding: 10% 14% 12% 14%; }
.change-phone-content > h3 { font-size: 1.5rem; color: #333; padding-bottom: 50px !important; padding-bottom: 10%; }
.input-box { padding-bottom: 1.25rem; }
.input-container { width: 100%; padding: 10px 0; }
.input-container > label { width: 100%; position: relative; }
.input-container input { width: 76%; height: 30px; padding-left: 10px; color: #999; border: none; border-bottom: 1px solid #999; }
.input-type { width: 24%; color: #333; padding-right: 4px; font-weight: bold; text-align: right; }
.get-msg { position: absolute; right: 10px; color: #63b504; }
/**********************/
.get-msg:hover { color: #549c00; }
.btn-ok { width: 100%; padding: 10px 0; text-align: center; font-size: 1.25rem; background-color: #63b504; color: #fff; cursor: pointer; }
/**********************/
.popup-close::after { position: absolute; right: 15px; top: 15px; content: ""; width: 32px; height: 32px; background: url('http://j.vzan.cc/dz/content/newhome/image/popup-close.png') no-repeat; }
.change-phone { width: 21.3%; height: 11%; min-width: 300px; max-height: 400px; height: 350px; margin: 10% auto; background-color: #fff; border-radius: 5px; }
/*打款说明*/
/*.payment-box { width: 50rem; height: 34.375rem; margin: 10% auto; overflow: auto; }*/


.myTpl { width: 100%; padding-bottom: 30px; }
.templateContent { width: 73%; height: 100%; }
.tpl-title { width: 100%; height: 100px; font-size: 1.25rem; }
.tpl-title > p { padding-left: 15px; border-left: 2px solid #63b504; color: #63b504; }
/******/
.myTpl-list-box { width: 100%; height: 89.3%; }
/*******/
.noTpl-box { width: 100%; height: 100%; }
.noTpl-box > img { width: 25.7%; height: 43.2%; }
.myTpl-list { width: 100%; height: 100%; padding-top: 20px; }
.tpl { width: 24%; min-width: 250px; max-height: 382px; padding: 0 10px; margin-bottom: 25px; }
.tpl-container:hover { transition: all 600ms ease; transform: translateY(-15px); box-shadow: 0 5px 5px #F2F2F2; }
.tpl-container { width: 100%; padding: 20px 0; border: 2px solid #F2F2F2; }
.tpl-details { width: 100%; }
.tpl-img { width: 100px; height: 100px; border-radius: 50%; }
.tpl-name { margin-top: 6px; }
.tpl-status { width: 100%; padding-top: 20px; padding-bottom: 30px; }
.tpl-status > div { /*width: 70%;*/ box-sizing: border-box; text-align: left; padding-left: 24px; position: relative; }
.tpl-status > div:first-child { padding-bottom: 10px; }
.icon-appName::before { content: ' '; width: 20px; height: 20px; background: url("http://j.vzan.cc/dz/content/newhome/image/appName.png?v1") no-repeat; position: absolute; left: 0; top: 0; }
.icon-publish::before { content: ' '; width: 20px; height: 20px; background: url("http://j.vzan.cc/dz/content/newhome/image/publish.png?v1") no-repeat; position: absolute; left: 0; top: 0; }
.tpl-indate { padding-bottom: 40px; }
.tpl-button { width: 90%; /*height: 13.3%;*/ }
.btn-tpl { width: 46.6%; height: 100%; border-radius: 4px; }
.btn-tpl > a { width: 100%; height: 100%; line-height: 48px; display: inline-block; }
.versions-details { width: 100%; height: 312px; padding-top: 38px; padding-bottom: 31px; box-sizing: border-box; }
.versions-details .model-box { height: 100%; }
.model-box .img-model { width: 200px; height: 260px; background: url("http://j.vzan.cc/dz/content/newhome/image/model2.png") no-repeat; }
.text-details { width: 100%; height: 100%; }
.tex-details-title { height: 44.23%; }
.details-title { width: 100%; display: inline-block; padding-bottom: 15px; }
.current-blue::before { content: " "; width: 100%; height: 2px; background-color: #3296FA; position: absolute; left: 0; bottom: 0; }

/*模板信息提醒*/
.sysmsg-setting { width: 340px; position: absolute; top: 100%; right: 10px; z-index: 99; padding: 10px 0px; max-height: 600px; background-color: #fff; border: 1px solid #F7F7F7; border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0 0 20px #e4e8eb; -webkit-box-shadow: 0 0 20px #e4e8eb; font-family: "微软雅黑"; line-height: 24px; }
.sysmsg-setting::after { position: absolute; top: -20px; right: 22px; content: ""; border-width: 10px 10px 10px 10px; border-style: solid; border-color: transparent transparent #fff transparent; }
.sysmsg { display: block; width: 8px; background-color: red; height: 8px; border-radius: 8px; position: absolute; right: 0; top: 0; }
.sysmsg-title { padding: 0 15px; height: 45px; line-height: 45px; }
.sysmsg-title .allreadclick { float: right; color:#63b504; }
#sysmsg_content { overflow-y: auto; max-height: 500px; border-top: 1px solid #E7E7EB; border-bottom: 1px solid #E7E7EB; }
#sysmsg_content .no-sysmsg { color: #C6C6C6; height: 100px; line-height: 100px; }
#sysmsg_content .sysmsg-item { display: block; color: #C6C6C6; font-size: 14px; padding: 0 15px; text-decoration: none; border-bottom: 1px solid #E7E7EB; }
#sysmsg_content .sysmsg-item:last-child { border: none; }
#sysmsg_content .sysmsg-item .sysmsg-item-title { height:30px; line-height: 30px; }
#sysmsg_content .sysmsg-item .sysmsg-item-update { height:30px; line-height: 30px; }
.sysmsg-bottom { height: 45px; line-height: 45px; }
.sysmsg-bottom > a { color: #63b504; }

