.select {
  background-color: #23cd81 !important;
  color: #fff !important;
}
.activelabel {
  position: relative;
  color: #23cd81 !important;
}
.activelabel::before {
  position: absolute;
  top: -0.01rem;
  left: -0.01rem;
  width: 100%;
  height: 100%;
  content: "";
  border: 0.01rem solid #23cd81 !important;
}
.section-title > h2 {
  text-align: center;
  font-size: 0.38rem;
  font-weight: normal;
  color: #333;
  padding-bottom: 0.2rem;
}
.section-title > p {
  text-align: center;
  font-size: 0.16rem;
  font-weight: normal;
  color: #999;
}
.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
html {
  font-family: PingFang SC, Microsoft YaHei, "微软雅黑";
}
.indexDl-container {
  margin: 0 auto;
  max-width: 19.2rem;
  padding-top: 0.8rem;
}
.nav {
  width: 100%;
  height: 0.8rem;
  background-color: #fff;
  z-index: 5;
  box-shadow: 0 0 0.05rem #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
}
.nav .nav-logo {
  width: 50%;
  height: 100%;
}
.nav .nav-logo img {
  width: 0.8rem;
  height: 0.44rem;
  margin-left: 3.14rem;
  background-color: #f7f7f7;
}
.nav .nav-list {
  width: 50%;
  height: 100%;
  z-index: 3;
}
.nav .nav-list li {
  text-align: center;
  position: relative;
}
.nav .nav-list li a {
  width: 1.4rem;
  min-width: 100px;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.16rem;
  font-weight: bold;
  color: #666;
  letter-spacing: 0.1em;
}
.nav .nav-list li a:hover {
  color: #23cd81;
}
.nav .nav-list li + .nav-product:hover .product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.nav .nav-list li .product {
  position: absolute;
  top: 0.8rem;
  left: 0;
  display: none;
  width: 100%;
  /*height: 0.96rem;*/
  border-radius: 0 0 0.04rem 0.04rem;
  background-color: #fff;
}
.nav .nav-list li .product > a {
  height: 0.58rem;
  line-height: 0.58rem;
}
.swiper-box {
  background-color: #ddd;
}
.swiper-box .banner-img {
  width: 100%;
  height: 6.4rem;
  display: block;
}
.swiper-box .swiper-pagination-custom {
  bottom: 0.15rem;
  left: 0;
  width: 100%;
}
.swiper-box .swiper-pagination-customs {
  width: 0.52rem;
  height: 0.02rem;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  /*opacity: .2;*/
  margin: 0 5px;
}
.swiper-box .swiper-pagination-customs-active {
  /*opacity: 1;*/
  background-color: #fff;
}
.merit {
  width: 100%;
  min-height: 2rem;
  background-color: #f7f7f7;
}
.merit .merit-list {
  width: 67.7%;
  margin: 0 auto;
  padding: 0.22rem 0;
}
.merit .merit-list .merit-item {
  background-color: #fff;
  width: 32%;
  /*width:4.18rem;*/
  /*height:1.56rem;*/
  cursor: pointer;
  padding: 0.36rem 0.44rem;
  border-radius: 0.06rem;
}
.merit .merit-list .merit-item .merit-text {
  width: 100%;
  height: 100%;
  letter-spacing: 0.01rem;
}
.merit .merit-list .merit-item .merit-text > h3 {
  font-size: 0.28rem;
  font-weight: normal;
  color: #333;
  padding-bottom: 0.2rem;
}
.merit .merit-list .merit-item .merit-text > p {
  width: 2.4rem;
  font-size: 0.16rem;
  font-weight: normal;
  color: #999;
  line-height: 1.3em;
}
.merit .merit-list .merit-item .merit-img img {
  width: 100%;
}
.merit .merit-list .merit-item:hover {
  transform: translateY(-0.1rem);
  transition: all 0.8s ease;
  box-shadow: 0 0.1rem 0.3rem #ebebeb;
}
.video-area {
  padding: 0.6rem 0;
  background-color: #f7f7f7;
}
.video-area .video-box {
  position: relative;
  width: 9.2rem;
  height: 5.18rem;
  margin: 0 auto;
  margin-top: 0.4rem;
}
.video-area .video-box .video-masking {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: url('http://j.vzan.cc/dz/content/newhome/image/indexDl/mobile/video-masking.png') no-repeat center;
  background-size: cover;
}
.video-area .video-box .video-masking .video-play {
  width: 1rem;
  cursor: pointer;
}
.video-area .text {
  margin-top: 0.3rem;
  font-size: 0.16rem;
  color: #666;
  text-align: center;
}
.template-maket {
  width: 100%;
  min-height: 6.94rem;
  padding: 0.6rem 0;
  letter-spacing: 0.01rem;
}
.template-maket > h2 {
  text-align: center;
  font-size: 0.38rem;
  font-weight: normal;
  color: #333;
  padding-bottom: 0.2rem;
}
.template-maket > p {
  text-align: center;
  font-size: 0.16rem;
  font-weight: normal;
  color: #999;
}
.template-maket .template-content {
  width: 67.7%;
  margin: 0 auto;
  margin-top: 0.64rem;
}
.template-maket .template-content .versions-list li {
  width: 2.2rem;
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  font-size: 0.2rem;
  font-weight: bold;
  color: #666;
  cursor: pointer;
}
.template-maket .template-content .versions-list li:hover {
  background-color: #23cd81 !important;
  color: #fff !important;
}
.template-maket .template-content .versions-details {
  width: 100%;
  min-height: 4.2rem;
  margin-left: 0.68rem;
  padding-left: 0.66rem;
  border-left: 0.01rem solid #999;
  letter-spacing: 0.01rem;
}
.template-maket .template-content .versions-details h4 {
  text-align: left;
  font-size: 0.26rem;
  font-weight: bold;
  color: #333;
}
.template-maket .template-content .versions-details .intro {
  padding-top: 0.2rem;
}
.template-maket .template-content .versions-details .intro p {
  font-size: 0.16rem;
  font-weight: normal;
  color: #999;
  margin-top: 0.2rem;
  line-height: 1.2em;
  min-height: 0.57rem;
  text-align: left;
}
.template-maket .template-content .versions-details .funtion {
  margin-top: 0.56rem;
}
.template-maket .template-content .versions-details .funtion .funtion-list {
  margin-top: 0.32rem;
}
.template-maket .template-content .versions-details .funtion .funtion-list li {
  text-align: center;
  padding: 0 0.2rem;
  white-space: nowrap;
}
.template-maket .template-content .versions-details .funtion .funtion-list li .function-icon {
  display: inline-block;
  width: 0.54rem;
  height: 0.54rem;
  background-color: #f7f7f7;
  background: url("http://j.vzan.cc/dz/content/newhome/image/indexDl/sprites.png");
  background-size: 7.5rem 3.5rem;
  /*background-position: -644px -524px;*/
}
.template-maket .template-content .versions-details .funtion .funtion-list li p {
  font-size: 0.16rem;
  font-weight: normal;
  color: #333;
}
.solution {
  width: 100%;
  height: 6.6rem;
}
.solution .solution-details {
  width: 11.02rem;
  height: 100%;
  background: url("http://j.vzan.cc/dz/content/newhome/image/indexDl/solution-bg.png") center;
  background-size: cover;
  position: relative;
}
.solution .solution-details::after {
  content: "";
  width: 0.21rem;
  height: 0.24rem;
  background: url("http://j.vzan.cc/dz/content/newhome/image/indexDl/arrows.png") no-repeat center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50%;
}
.solution .solution-details .details-content {
  width: 7.26rem;
  background-color: rgba(255, 255, 255, 0.95);
  margin-left: 3.1rem;
  margin-top: 0.6rem;
  padding: 0.4rem 0.4rem 0.25rem 0.46rem;
  /*功能列表*/
  /*模板案例*/
}
.solution .solution-details .details-content .details-title {
  letter-spacing: 0.01rem;
}
.solution .solution-details .details-content .details-title h4 {
  font-size: 0.28rem;
  font-weight: bold;
  color: #333;
  padding-bottom: 0.32rem;
}
.solution .solution-details .details-content .details-title p {
  min-height: 0.64rem;
  font-size: 0.16rem;
  font-weight: normal;
  color: #999;
  line-height: 1.2em;
}
.solution .solution-details .details-content .func {
  letter-spacing: 0.01rem;
  padding-top: 0.14rem;
}
.solution .solution-details .details-content .func h4 {
  font-size: 0.22rem;
  font-weight: bold;
  color: #999;
}
.solution .solution-details .details-content .func .func-list {
  min-height: 0.8rem;
  margin-top: 0.25rem;
}
.solution .solution-details .details-content .func .func-list li {
  font-size: 0.18rem;
  font-weight: normal;
  color: #999;
  margin: 0.1rem 0.3rem 0.1rem 0;
}
.solution .solution-details .details-content .func .func-list li i {
  display: inline-block;
  width: 0.18rem;
  height: 0.18rem;
  background: url("http://j.vzan.cc/dz/content/newhome/image/indexDl/sprites.png") no-repeat center;
  background-size: 7.5rem 3.5rem;
  background-position: -0.01rem -2.62rem;
}
.solution .solution-details .details-content .case {
  padding-top: 0.22rem;
}
.solution .solution-details .details-content .case h4 {
  font-size: 0.22rem;
  font-weight: bold;
  color: #999;
}
.solution .solution-details .details-content .case .case-list {
  margin-top: 0.3rem;
}
.solution .solution-details .details-content .case .case-list li {
  width: 1.34rem;
  height: 1.34rem;
  margin: 0 0.1rem;
  /*background: url('../image/caseImg.png') no-repeat center;*/
  background-size: cover;
  background-color: #f7f7f7; 
  background-position: center;
}
.solution .solution-details .details-content .case .case-list li:hover .case-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  transition: all 1s ease;
}
.solution .solution-details .details-content .case .case-list li .case-item {
  width: 1.34rem;
  height: 1.34rem;
  background-color: rgba(247, 247, 247, 0.7);
  background-size: cover;
  opacity: 0;
}
.solution .solution-details .details-content .case .case-list li .case-item img {
  width: 1.15rem;
  height: 1.15rem;
}
.solution .solution-details .details-content .case .case-none {
  height: 1.32rem;
  line-height: 1.32rem;
  margin-top: .3rem;
  text-align: center;
  font-size: .2rem;
  color: #999;
}
.solution .solution-list {
  width: 8.18rem;
  height: 100%;
  background-color: #f7f7f7;
  padding-left: 0.66rem;
}
.solution .solution-list .solution-title {
  margin-top: 0.8rem;
}
.solution .solution-list .solution-title h2 {
  font-size: 0.38rem;
  font-weight: normal;
  color: #333;
  padding-bottom: 0.22rem;
}
.solution .solution-list .solution-title p {
  font-size: 0.16rem;
  font-weight: normal;
  color: #999;
}
.solution .solution-list .solution-list-content {
  padding-top: 0.62rem;
  width: 4.4rem;
}
.solution .solution-list .solution-list-content li {
  width: 24.5%;
  height: 1.12rem;
  font-size: 0.16rem;
  font-weight: normal;
  color: #333;
  letter-spacing: 0.03em;
  padding-top: 0.23rem;
  text-align: center;
  background-color: #fff;
  margin: 0.01rem;
  cursor: pointer;
}
.solution .solution-list .solution-list-content li:hover {
  background-color: #23cd81 !important;
  color: #fff !important;
}
.solution .solution-list .solution-list-content li i {
  width: 0.5rem;
  height: 0.5rem;
  background: url("http://j.vzan.cc/dz/content/newhome/image/indexDl/sprites.png") no-repeat center;
  background-size: 7.5rem 3.5rem;
  /*background-position: -7rem 0;*/
}
.product-case {
  width: 100%;
  padding: 0.6rem 0;
  letter-spacing: 0.01rem;
}
.product-case > h2 {
  text-align: center;
  font-size: 0.38rem;
  font-weight: normal;
  color: #333;
  padding-bottom: 0.2rem;
}
.product-case > p {
  text-align: center;
  font-size: 0.16rem;
  font-weight: normal;
  color: #999;
}
.product-case .label-list {
  margin: 0 auto;
  margin-top: 0.4rem;
}
.product-case .label-list li {
  min-width: 1.2rem;
  height: 0.5rem;
  line-height: 0.5rem;
  border-top: 0.01rem solid #d2d2d2;
  border-left: 0.01rem solid #d2d2d2;
  border-bottom: 0.01rem solid #d2d2d2;
  font-size: 0.18rem;
  font-weight: normal;
  color: #999;
  cursor: pointer;
}
.product-case .label-list li:last-child {
  border-right: 0.01rem solid #d2d2d2;
}
.product-case .product-list {
  width: 67.6%;
  min-height: 5.98rem;
  margin: 0 auto;
  margin-top: 0.6rem;
}
.product-case .product-list li {
  width: 25%;
  padding: 0 0.1rem 0.4rem 0.1rem;
  cursor: pointer;
}
.product-case .product-list li .product-item .item-img {
  width: 100%;
  height: 2.06rem;
  background-repeat: no-repeat;
  background-size: 3rem 2.06rem;
  /*background-image: url("@{imgPath}/product-item.png");*/
  /*background-size: cover;*/
}
.product-case .product-list li .product-item .item-img .item-code-box {
  width: 100%;
  height: 2.06rem;
  background-color: rgba(247, 247, 247, 0.7);
  opacity: 0;
}
.product-case .product-list li .product-item .item-img .item-code-box .item-code {
  width: 2.68rem;
  height: 1.66rem;
  background-color: #fff;
}
.product-case .product-list li .product-item .item-img .item-code-box .item-code img {
  width: 1.5rem;
  height: 1.5rem;
}
.product-case .product-list li .product-item .item-img .item-code-box:hover {
  opacity: 1;
  transition: all 1s ease;
}
.product-case .product-list li .product-item p {
  padding-top: 0.12rem;
  text-align: center;
  font-size: 0.16rem;
  font-weight: normal;
  color: #999;
}
.product-case .product-list .warn {
  font-size: 0.18rem;
  font-weight: normal;
  color: #999;
  line-height: 1.2em;
}
.product-case .product-list .btn-next {
  width: 1.22rem;
  height: 0.5rem;
  line-height: 0.5rem;
  margin: 0 auto;
  font-size: 0.18rem;
  font-weight: normal;
  color: #999;
  border: 0.01rem solid #999;
  cursor: pointer;
}
.product-case .product-list .btn-next:hover {
  color: #23cd81;
}
.product-case .product-list .btn-next .icon-next {
  display: inline-block;
  width: 0.18rem;
  height: 0.2rem;
  background: url("http://j.vzan.cc/dz/content/newhome/image/indexDl/icon-load.png") no-repeat center;
  background-size: cover;
  margin-right: 0.08rem;
}
.about {
  width: 100%;
  position: relative;
}
.about .about-us {
  width: 67.7%;
  min-height: 6.68rem;
  background-color: #fff;
  padding: 0.6rem 0.5rem;
  letter-spacing: 0.01rem;
  position: absolute;
  top: 0.6rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.about .about-us > h2 {
  text-align: center;
  font-size: 0.38rem;
  font-weight: normal;
  color: #333;
  padding-bottom: 0.2rem;
}
.about .about-us > p {
  text-align: center;
  font-size: 0.16rem;
  font-weight: normal;
  color: #999;
}
.about .about-us .about-swiper .about-slide {
  /*height: 4.08rem;*/
  height: 5.4rem;
}
.about .about-us .about-swiper .about-slide .about-slide-content {
  height: 4.08rem;
  margin-top: 0.6rem;
}
.about .about-us .about-swiper .about-slide .about-slide-content img {
  display: block;
  width: 5.7rem;
  height: 100%;
}
.about .about-us .about-swiper .about-slide .about-slide-content .about-text {
  height: 100%;
  padding-top: 0.66rem;
  padding-left: 0.68rem;
  text-align: left;
}
.about .about-us .about-swiper .about-slide .about-slide-content .about-text p {
  font-size: 0.16rem;
  font-weight: normal;
  color: #333;
  padding-top: 0.2rem;
  line-height: 1.4em;
}
.about .about-us .about-swiper .about-prev {
  left: 4.8rem;
  background: url("http://j.vzan.cc/dz/content/newhome/image/indexDl/btn-left.png") no-repeat center;
}
.about .about-us .about-swiper .about-next {
  left: 5.7rem;
  background: url("http://j.vzan.cc/dz/content/newhome/image/indexDl/btn-right.png") no-repeat center;
}
.about .about-us .about-swiper .about-prev,
.about .about-us .about-swiper .about-next {
  width: 0.7rem;
  height: 0.66rem;
  top: 4.74rem;
  margin-top: 0;
  opacity: 1;
  background-color: #23cd81;
}
.about .contact-us {
  background-color: #f7f7f7;
  padding-top: 1.28rem;
  padding-bottom: 0.6rem;
  letter-spacing: 0.01rem;
}
.about .contact-us > h2 {
  text-align: center;
  font-size: 0.38rem;
  font-weight: normal;
  color: #333;
  padding-bottom: 0.2rem;
}
.about .contact-us > p {
  text-align: center;
  font-size: 0.16rem;
  font-weight: normal;
  color: #999;
}
.about .contact-us .contact-us-content {
  width: 12.32rem;
  min-height: 2.55rem;
  margin: 0 auto;
  margin-top: 0.55rem;
}
.about .contact-us .contact-us-content .us-msg {
  width: 3.5rem;
  border-right: 0.01rem solid #cfcfcf;
  padding-right: 0.46rem;
}
.about .contact-us .contact-us-content .us-msg li {
  margin-bottom: 0.42rem;
}
.about .contact-us .contact-us-content .us-msg li .icon-phone {
  background: url("http://j.vzan.cc/dz/content/newhome/image/indexDl/icon-phone.png") no-repeat center;
  display: inline-block;
  min-width: 0.44rem;
  height: 0.44rem;
  background-size: cover;
  border-radius: 50%;
}
.about .contact-us .contact-us-content .us-msg li .icon-mall {
  background: url("http://j.vzan.cc/dz/content/newhome/image/indexDl/icon-mall.png") no-repeat center;
  display: inline-block;
  min-width: 0.44rem;
  height: 0.44rem;
  background-size: cover;
  border-radius: 50%;
}
.about .contact-us .contact-us-content .us-msg li .icon-addr {
  background: url("http://j.vzan.cc/dz/content/newhome/image/indexDl/icon-addr.png") no-repeat center;
  display: inline-block;
  min-width: 0.44rem;
  height: 0.44rem;
  background-size: cover;
  border-radius: 50%;
}
.about .contact-us .contact-us-content .us-msg li .msg-details {
  text-align: left;
  padding-left: 0.22rem;
}
.about .contact-us .contact-us-content .us-msg li .msg-details h5 {
  font-size: 0.16rem;
  font-weight: bold;
  color: #999;
  padding-bottom: 0.12rem;
}
.about .contact-us .contact-us-content .us-msg li .msg-details p {
  font-size: 0.16rem;
  font-weight: bold;
  color: #333;
  word-break: break-all;
  line-height: 1.2em;
}
.about .contact-us .contact-us-content .form-area {
  padding-left: 0.7rem;
}
.about .contact-us .contact-us-content .form-area .form-name {
  font-size: 0.16rem;
  font-weight: bold;
  color: #999;
  padding-bottom: 0.12rem;
}
.about .contact-us .contact-us-content .form-area p {
  text-align: left;
}
.about .contact-us .contact-us-content .form-area .form-box .form-item {
  width: 48%;
}
.about .contact-us .contact-us-content .form-area .form-box .form-item input {
  height: 0.55rem;
  width: 100%;
  font-size: 0.18rem;
  font-weight: normal;
  color: #999;
  padding-left: 0.22rem;
  border: none;
}
.about .contact-us .contact-us-content .form-area .form-box .form-item input:-moz-placeholder {
  color: #cfcfcf;
  font-size: 0.18rem;
}
.about .contact-us .contact-us-content .form-area .form-box .form-item input::-moz-placeholder {
  color: #cfcfcf;
  font-size: 0.18rem;
}
.about .contact-us .contact-us-content .form-area .form-box .form-item input:-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 0.18rem;
}
.about .contact-us .contact-us-content .form-area .form-box .form-item input::-webkit-input-placeholder {
  color: #cfcfcf;
  font-size: 0.18rem;
}
.about .contact-us .contact-us-content .form-area .area-item {
  margin-top: 0.3rem;
}
.about .contact-us .contact-us-content .form-area .area-item textarea {
  width: 6.16rem;
  height: 0.7rem;
  padding: 0.12rem 0.22rem;
  border: none;
  resize: none;
  font-size: 0.16rem;
  font-weight: noraml;
  color: #666;
}
.about .contact-us .contact-us-content .form-area .area-item textarea:-moz-placeholder {
  color: #cfcfcf;
  font-size: 0.18rem;
}
.about .contact-us .contact-us-content .form-area .area-item textarea::-moz-placeholder {
  color: #cfcfcf;
  font-size: 0.18rem;
}
.about .contact-us .contact-us-content .form-area .area-item textarea:-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 0.18rem;
}
.about .contact-us .contact-us-content .form-area .area-item textarea::-webkit-input-placeholder {
  color: #cfcfcf;
  font-size: 0.18rem;
}
.about .contact-us .contact-us-content .form-area .area-item .btn-consult {
  width: 1.78rem;
  height: 0.7rem;
  line-height: 0.7rem;
  margin-left: 0.2rem;
  display: inline-block;
  font-size: 0.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #f4d12b;
  cursor: pointer;
  text-align: center;
}
.footer {
  background-color: #2c2e38;
}
.footer p {
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.16rem;
  font-weight: normal;
  color: #5c5e65;
}
