@media screen and (min-width:769px) and (max-width:1024px) {
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .live-video-box { padding-bottom: 8.75rem !important; }
}

@media screen and (min-width:1281px) and (max-width:1366px) {
    .live-video-box { padding-bottom: 8.75rem !important; }
}

@media screen and (min-width:1367px) and (max-width:1440px) {
    .live-video-box { padding-bottom: 8.75rem !important; }
}

@media screen and (min-width:1441px) and (max-width:1680px) {
}

@media screen and (min-width:1681px) {
}

.center-width { width: 73%; }
.bg-f9 { background-color: #f9f9f9; }
.bg-f6 { background-color: #f6f6f6; }
.bg-63B504 { background-color: #63B504; }
.f26 { font-size: 1.625rem; }
.f28 { font-size: 1.75rem; }
.f30 { font-size: 1.875rem; }
.f38 { font-size: 2.375rem; }
.f46 { font-size: 2.875rem; }
.f48 { font-size: 3rem; }
.pd50 { padding: 3.125rem 0; }
.pd-l30 { padding-left: 1.875rem; }
.pd-t50 { padding-top: 3.125rem; }
.pd-b10 { padding-bottom: 0.625rem; }
.mt20 { margin-top: 1.25rem; }
.mt30 { margin-top: 1.875rem; }
.mt50 { margin-top: 3.125rem; }
.lh { line-height: 1.3em; }
.text-sp { letter-spacing: .14em; }
.block-bg { padding: 1.25rem 1.5rem; background-color: #f9f9f9; }
.c-ff4343 { color: #ff4343; }

.domain-wrap { width: 100%; }
.audio-box { width: 100%; padding: 6.25rem 0; }
.audio-box .audio-content { height: 11.75rem; border: 2px solid #d9d8d9; padding-left: 3.75rem; padding-right: 5rem; /*padding:0 5rem;*/ }
.audio-content .dsphoto { width: 15rem; padding-top: 1rem; }
.audio-content .warn { position: absolute; left: 50%; bottom: 0; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); color: #f12323; font-size: 0.875rem; transition: all 0.5s ease; }
.audio-content .audio-tip { position: absolute; bottom: -1.25rem; right: 0;  width: 100%; text-align: center; }
.audio-box .tip { text-align: center; margin-top: 2.5rem; }
.audio-box .audio-player { width: 4.375rem; height: 4.375rem; margin-left: 2.5rem; position: relative; }
.audio-box .audio-player > img { width: 4.375rem; }

.module-box .module-list > li { width: 17.375rem; height: 16.875rem; }
.module-box .module-list > li .title { width: 100%; top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); }
.superiority01-box .details-list > li .dot { display: inline-block; width: 0.75rem; height: 0.75rem; border-radius: 50%; background-color: #666; float: left; margin-top: 0.625rem; }
.superiority01-box .details-list > li p { text-align: left; margin-bottom: 0.75rem; padding-left: 2rem; }

.specify-box .question-box { margin-top: 3.125rem; }
.specify-box .question-box > img { width: 3.5rem; }
.specify-box .question-box > p { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); }

.cost-box .details-list > li { text-align: left; padding-left: 2rem; }
.cost-box .details-list > li .dot { display: inline-block; width: 0.75rem; height: 0.75rem; border-radius: 50%; background-color: #63B504; float: left; margin-top: 0.625rem; }

.live-video-box { padding: 6.25rem 0; }
.live-video-box .title { margin-right: 14.375rem; }
.live-video-box .title .line-border { width: 8.75rem; height: 0.5rem; }
.live-video-box .video { width: 50rem; min-height: 30rem; background-color: #d9d8d9; }
.live-video-box .video .video-player { width: 100%; height: 30rem; }
.live-video-box .video .video-cover { top: 0; left: 0; right: 0; bottom: 0; }
.live-video-box .video .player-btn { width: 4.375rem; height: 4.375rem; border-radius: 50%; top: 50%; left: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); }
.live-video-box .video .video-tip { display:none;background:#000;width:100%;height:100%;position:absolute;top:0;left:0;}

.spinner {
  width: 4.375rem;
  height: 4.375rem;
  position:absolute;
  top:0;
  right:0;
  z-index:10;
}
 
.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #63B504;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}
 
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}
 
@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
