@media screen and (max-width: 1280px) {
    .login-box { width:300px!important;height:330px!important;}
}

.login-font-blue { color:  #63b504; }
.login-font-gray { color: #666; }
.title-border-blue { border-bottom: 1px solid #63b504; }
.title-border-gray { border-bottom: 1px solid #292929; }
/*ÊäÈë¿òËõ½ø */
.self { padding-left: 89px; }
.psw { padding-left: 89px; }

body { width: 100%; height: 100%; background: url("http://j.vzan.cc/dz/content/newhome/image/login-bg.png?v1") no-repeat;  }
.login-box { width: 350px; height: 350px; position:absolute;left:0;top:0;bottom:0;right:0;margin:auto; background-color: #fff; border-radius: 4px; box-shadow: 0 0 40px #292929; }
.login-title { width: 100%; height: 14.2%; color: #666; border: none; box-shadow: 0 1px 1px #E5E5E5; }

.login-title > div { width: 50%; height: 100%; cursor: pointer; position: relative; }
.title-line::after { content: ""; width: 100%; height: 1px; background-color: #63b504; position: absolute; left: 0; bottom: 0; }
.details { width: 90%; height: 100%; }
.warning { width: 100%; padding: 13px 0; color: #FF4246; }
.login-box .input { width: 100%; /*height:48px;*/ box-sizing: border-box; position: relative; }
.login-box input { width: 100%; height: 48px; box-sizing: border-box; border: 1px solid #E5E5E5; }
input::-webkit-input-placeholder { color: #999; font-size: 1rem; }

.text-position { height: 100%; position: absolute; left: 0; /*top:50%;*/ /*margin-top:-12px;*/ padding-left: 41px; }
.icon-self::before { content: ""; width: 24px; height: 48px; background: url('http://j.vzan.cc/dz/content/newhome/image/self@2x.png?v1') no-repeat center; background-size: 24px 24px; position: absolute; left: 12px; top:0}
.icon-psw::before { content: ""; width: 24px; height: 48px; background: url('http://j.vzan.cc/dz/content/newhome/image/psw@2x.png?v1') no-repeat center; background-size: 24px 24px; position: absolute; left: 12px;top:0; }
.forget-psw { font-size: 0.875rem; width: 100%; height: 24px; padding-bottom: 14px; justify-content: flex-end; }
.btn-confirm { width: 100%; height: 48px; line-height: 48px; background-color: #63b504; color: #fff; cursor: pointer; text-align: center; }
.btn-confirm > a { width: 100%; height: 100%; display: inline-block; color: #fff; font-size: 1.25rem; }
.no-number { width: 100%; font-size: 14px; padding-top: 10px;text-align:center; }
.login-list { width: 100%; height: 85.7%; }
.details div:nth-child(3) { margin-top: 19px; }
.login-list .qrcode { width: 100%; height: 100%; display: none; padding-top: 50px; }
