@media screen and (max-width:768px) {
    /*字体*/
    /*html { font-size: 0.75rem; }*/
    /*内容*/
    .shopList-container { width: 88%; }
    .details-list > li { width: 40%; margin: 0 20px 30px 20px; }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    /*字体*/
    /*html { font-size: 0.75rem; }*/
    /*内容*/
    .shopList-container { width: 88%; }
    .details-list > li { width: 30%; margin: 0 10px 30px 10px; }
}

@media screen and (min-width:1025px) and (max-width:1280px) {
    /*字体*/
    /*html { font-size: 0.875rem; }*/
    /*内容*/
    .shopList-container { width: 88%; }
    .details-list > li { width: 22.85%; margin: 0 10px 30px 10px; }
}

@media screen and (min-width:1281px) and (max-width:1366px) {
    .shopList-container { width: 88%; }
    .details-list > li { width: 22.85%; margin: 0 10px 30px 10px; }
}

@media screen and (min-width:1367px) and (max-width:1440px) {
    .shopList-container { width: 85%; }
    .details-list > li { width: 22.85%; margin: 0 10px 30px 10px; }
}

@media screen and (min-width:1441px) and (max-width:1680px) {
    .shopList-container { width: 78%; }
    .details-list > li { width: 22.85%; margin: 0 10px 30px 10px; }
}

@media screen and (min-width:1681px) {
    .shopList-container { width: 73%; }
    .details-list > li { width: 22.85%; margin: 0 10px 30px 10px; }
}

.option-font-color { color: #63b504; }
.no-content { width: 100%; height: 600px; }
/*banner*/
.banner { position: relative; width: 100%; }
.banner > img { display: block; width: 100%; }
.banner-text-box { position: absolute; left: 0; top: 0; bottom: 0; right: 0;width:50%;height:50%;margin:auto; }
.banner-text { font-weight: bold; font-size: 3.5rem; color: #fff; }
/*选项列表*/
.shopList { width: 100%; padding-bottom: 60px; background-color: #f7f7f7; }
.shopList-container { /*width: 73%;*/ padding-top: 40px; }
.option-list { width: 100%; border-bottom: 1px solid #e6e6e6; }
.option-list > li { width: auto; padding: 0 20px 20px 20px; font-weight: bold; font-size: 1.125rem; /*color:#333;*/ cursor: pointer; }
/*详情列表*/
.btn-more { width: 16%; height: 50px; color: #ccc; border: 1px solid #ccc; border-radius: 5px; cursor: pointer; }
.detailsList-container { padding-top: 66px; }
.details-list { width: 100%; padding-bottom: 60px; }
.details-list > li { min-width: 258px; /*margin: 0 14px 30px 14px;*/ }
.details-list > li:hover { transition: all 600ms ease; transform: translateY(-10px); box-shadow: 0 6px 5px #F2F2F2; }
.details-list > li:hover .preview { display: block; }
.details { width: 100%; height: 175px; padding: 20px; background-color: #fff; border: 1px solid #f2f2f2; border-radius: 5px; box-sizing: border-box; }
.details-image { /*width: 100%;*/ }
.details-image > img { width: 90px; height: 90px; }
.detailsTtitle-container { width: 66.66%; padding: 10px 0 10px 10px; text-align: left; color: #666; box-sizing: border-box; }
.title { width: 100%; font-weight: bold; overflow: hidden; text-overflow: ellipsis; }
.tag-list { width: 70%; }
.preview { display: none; width: 27.5%; height: 20px; text-align: center; color: #fff; font-size: 0.875rem; background-color: #3296FA; border: none; border-radius: 4px; cursor: pointer; }
.miniApp-code-masking { position: absolute; top: 0; left: 0; width: 100%; height: 175px; background-color: rgba(0,0,0,.5); border-radius: 5px; z-index: 3; }
.miniApp-code { position: absolute; left: 20%; top: 4%; /*display:none;*/ width: 160px; height: 160px; color: #999; background-color: #fff; border: 1px solid #e6e6e6; z-index: 3; }
.miniApp-code > img { width: 80%; height: 80%; }
.grade { width: 55%; /*padding-top: 20px;*/ }
.grade > span { display: inline-block; width: 106px; height: 18px; vertical-align: middle; background-image: url('http://j.vzan.cc/dz/content/newhome/image/star-off.png'); /*background-position: -491px -43px;*/ }
.grade > span > i { display: block; width: 106px; height: 18px; background-image: url('http://j.vzan.cc/dz/content/newhome/image/star-on.png');  }
.details { position: relative; }
.details-bottom { height: 36px; padding-top: 10px; color: #666; }
.label-list > li { padding: 4px 6px; margin-right: 10px; font-size: 0.875rem; background-color: #f2f2f2; border-radius: 4px; cursor: pointer; font-size: 13px; }
.browse { position: relative; /*width:25%;*/ height: 100%; text-align: right; cursor: pointer; }
.browse::before { position: absolute; left: -24px; top: 0; content: " "; width: 22px; height: 100%; background: url('http://j.vzan.cc/dz/content/newhome/image/icon-browse.png') no-repeat center; }
