


@media screen and (min-width:769px) and (max-width:1024px) {
    .news-box { width: 79% !important; }
    .banner-reg { right:8rem!important; }
    /*
    .banner-text { padding-bottom: 3.25rem !important; }
    .banner-btn-box { padding-right: 4% !important; }*/
    .solution-list-box { width: 100%; }
    .icon-01, .icon-02, .icon-03, .icon-04, .icon-05, .icon-06 { width: 60px !important; height: 60px !important; }
    .template-list { width: 80% !important; }
    .btn { display: none; }
    .phone-box { transform: scale(0.8); }
    .list > ul > li.p1 { transform: translate3d(100%,0,0) scale(0.8) !important; z-index: 3; opacity: 1; }
    .list > ul > li.p2 { transform: translate3d(200%,0,0) scale(0.6) !important; transform-origin: 20% 50% !important; opacity: 0.6; z-index: 2; }
    .list > ul > li.p3 { transform: translate3d(300%,0,0) scale(0.6) !important; }
    .list > ul > li.p4 { transform: translate3d(400%,0,0) scale(0.6) !important; }
    .list > ul > li.p5 { transform: translate3d(500%,0,0) scale(0.6) !important; }
    .list > ul > li.p6 { transform: translate3d(600%,0,0) scale(0.6) !important; }
    .list > ul > li.p7 { transform: translate3d(700%,0,0) scale(0.6) !important; }
    .list > ul > li.p8 { transform: translate3d(800%,0,0) scale(0.6) !important; }
    .list > ul > li.p9 { transform: translate3d(900%,0,0) scale(0.6) !important; }
    .list > ul > li.p10 { transform: translate3d(1000%,0,0) scale(0.6) !important; }
    .list > ul > li.p11 { transform: translate3d(1100%,0,0) scale(0.6) !important; }
    .list > ul > li.p12 { transform: translate3d(-100%,0,0) scale(0.6) !important; }
    .list > ul > li.p13 { transform: translate3d(0,0,0) scale(0.6) !important; transform-origin: 80% 50% !important; opacity: 0.6; z-index: 2; }
    .caseContent { width: 85%; }
}

@media screen and (min-width:1025px) and (max-width:1280px) {
    .news-box { width: 78% !important; }
    .banner-reg { right:7rem!important; }
    /*
    .banner-text { padding-bottom: 3.25rem !important; }
    .banner-btn-box { padding-right: 4% !important; }
    .input-area .input-item { padding-top: 1.25rem !important; }
    .banne-reg-btn { margin-top: 1.25rem !important; }*/
    .solution-list-box { width: 90%; }
    .icon-01, .icon-02, .icon-03, .icon-04, .icon-05, .icon-06 { width: 65px !important; height: 65px !important; }
    .template-list { width: 76% !important; }
    .btn { display: none; }
    .phone-box { transform: scale(0.8); }
    .list > ul > li.p1 { transform: translate3d(100%,0,0) scale(0.8) !important; z-index: 3; opacity: 1; }
    .list > ul > li.p2 { transform: translate3d(200%,0,0) scale(0.6) !important; transform-origin: 20% 50% !important; opacity: 0.6; z-index: 2; }
    .list > ul > li.p3 { transform: translate3d(300%,0,0) scale(0.6) !important; }
    .list > ul > li.p4 { transform: translate3d(400%,0,0) scale(0.6) !important; }
    .list > ul > li.p5 { transform: translate3d(500%,0,0) scale(0.6) !important; }
    .list > ul > li.p6 { transform: translate3d(600%,0,0) scale(0.6) !important; }
    .list > ul > li.p7 { transform: translate3d(700%,0,0) scale(0.6) !important; }
    .list > ul > li.p8 { transform: translate3d(800%,0,0) scale(0.6) !important; }
    .list > ul > li.p9 { transform: translate3d(900%,0,0) scale(0.6) !important; }
    .list > ul > li.p10 { transform: translate3d(1000%,0,0) scale(0.6) !important; }
    .list > ul > li.p11 { transform: translate3d(1100%,0,0) scale(0.6) !important; }
    .list > ul > li.p12 { transform: translate3d(-100%,0,0) scale(0.6) !important; }
    .list > ul > li.p13 { transform: translate3d(0,0,0) scale(0.6) !important; transform-origin: 80% 50% !important; opacity: 0.6; z-index: 2; }
    .caseContent { width: 72%; }
}

@media screen and (min-width:1281px) and (max-width:1366px) {
    .news-box { width: 78% !important; }
    /*.banner-reg { width: 23%!important; padding: 0 1.25rem !important; }
    .banner-text { padding-bottom: 4.25rem !important; }
    .banner-btn-box { padding-right: 5.48% !important; }*/
    .solution-list-box { width: 80%; }
    .productCenter-solution { width: 70% !important; }
    .icon-01, .icon-02, .icon-03, .icon-04, .icon-05, .icon-06 { width: 70px !important; height: 70px !important; }
    .btn { display: none; }
    .phone-box { transform: scale(0.8); }
    .list > ul > li.p1 { transform: translate3d(100%,0,0) scale(0.8) !important; z-index: 3; opacity: 1; }
    .list > ul > li.p2 { transform: translate3d(200%,0,0) scale(0.6) !important; transform-origin: 20% 50% !important; opacity: 0.6; z-index: 2; }
    .list > ul > li.p3 { transform: translate3d(300%,0,0) scale(0.6) !important; }
    .list > ul > li.p4 { transform: translate3d(400%,0,0) scale(0.6) !important; }
    .list > ul > li.p5 { transform: translate3d(500%,0,0) scale(0.6) !important; }
    .list > ul > li.p6 { transform: translate3d(600%,0,0) scale(0.6) !important; }
    .list > ul > li.p7 { transform: translate3d(700%,0,0) scale(0.6) !important; }
    .list > ul > li.p8 { transform: translate3d(800%,0,0) scale(0.6) !important; }
    .list > ul > li.p9 { transform: translate3d(900%,0,0) scale(0.6) !important; }
    .list > ul > li.p10 { transform: translate3d(1000%,0,0) scale(0.6) !important; }
    .list > ul > li.p11 { transform: translate3d(1100%,0,0) scale(0.6) !important; }
    .list > ul > li.p12 { transform: translate3d(-100%,0,0) scale(0.6) !important; }
    .list > ul > li.p13 { transform: translate3d(0,0,0) scale(0.6) !important; transform-origin: 80% 50% !important; opacity: 0.6; z-index: 2; }
    .caseContent { width: 76%; }
}

@media screen and (min-width:1367px) and (max-width:1440px) {
    .news-box { width: 70% !important; }
    .banner-reg { right:9rem!important; }
    /*.banner-text { padding-bottom: 4.25rem !important; }
    .banner-btn-box { padding-right: 5.48% !important; }*/
    .solution-list-box { width: 80%; }
    .productCenter-solution { width: 70% !important; }
    .icon-01, .icon-02, .icon-03, .icon-04, .icon-05, .icon-06 { width: 70px !important; height: 70px !important; }
    .btn { display: none; }
    .phone-box { transform: scale(0.8); }
    .list > ul > li.p1 { transform: translate3d(100%,0,0) scale(0.8) !important; z-index: 3; opacity: 1; }
    .list > ul > li.p2 { transform: translate3d(200%,0,0) scale(0.6) !important; transform-origin: 20% 50% !important; opacity: 0.6; z-index: 2; }
    .list > ul > li.p3 { transform: translate3d(300%,0,0) scale(0.6) !important; }
    .list > ul > li.p4 { transform: translate3d(400%,0,0) scale(0.6) !important; }
    .list > ul > li.p5 { transform: translate3d(500%,0,0) scale(0.6) !important; }
    .list > ul > li.p6 { transform: translate3d(600%,0,0) scale(0.6) !important; }
    .list > ul > li.p7 { transform: translate3d(700%,0,0) scale(0.6) !important; }
    .list > ul > li.p8 { transform: translate3d(800%,0,0) scale(0.6) !important; }
    .list > ul > li.p9 { transform: translate3d(900%,0,0) scale(0.6) !important; }
    .list > ul > li.p10 { transform: translate3d(1000%,0,0) scale(0.6) !important; }
    .list > ul > li.p11 { transform: translate3d(1100%,0,0) scale(0.6) !important; }
    .list > ul > li.p12 { transform: translate3d(-100%,0,0) scale(0.6) !important; }
    .list > ul > li.p13 { transform: translate3d(0,0,0) scale(0.6) !important; transform-origin: 80% 50% !important; opacity: 0.6; z-index: 2; }
    .caseContent { width: 80%; }
}

@media screen and (min-width:1441px) and (max-width:1680px) {
    .news-box { width: 68% !important; }
    .banner-reg { right:9rem!important; }
    /*.banner-text { padding-bottom: 4.25rem !important; }
    .banner-btn-box { padding-right: 5.48% !important; }*/
    .solution-list-box { width: 80%; }
    .icon-01, .icon-02, .icon-03, .icon-04, .icon-05, .icon-06 { width: 85px !important; height: 85px !important; }
    .phone-box { transform: scale(0.8); }
    .list > ul > li.p1 { transform: translate3d(100%,0,0) scale(0.8) !important; z-index: 3; opacity: 1; }
    .list > ul > li.p2 { transform: translate3d(200%,0,0) scale(0.6) !important; transform-origin: 20% 50% !important; opacity: 0.6; z-index: 2; }
    .list > ul > li.p3 { transform: translate3d(300%,0,0) scale(0.6) !important; }
    .list > ul > li.p4 { transform: translate3d(400%,0,0) scale(0.6) !important; }
    .list > ul > li.p5 { transform: translate3d(500%,0,0) scale(0.6) !important; }
    .list > ul > li.p6 { transform: translate3d(600%,0,0) scale(0.6) !important; }
    .list > ul > li.p7 { transform: translate3d(700%,0,0) scale(0.6) !important; }
    .list > ul > li.p8 { transform: translate3d(800%,0,0) scale(0.6) !important; }
    .list > ul > li.p9 { transform: translate3d(900%,0,0) scale(0.6) !important; }
    .list > ul > li.p10 { transform: translate3d(1000%,0,0) scale(0.6) !important; }
    .list > ul > li.p11 { transform: translate3d(1100%,0,0) scale(0.6) !important; }
    .list > ul > li.p12 { transform: translate3d(-100%,0,0) scale(0.6) !important; }
    .list > ul > li.p13 { transform: translate3d(0,0,0) scale(0.6) !important; transform-origin: 80% 50% !important; opacity: 0.6; z-index: 2; }
    .caseContent { width: 76%; }
}

@media screen and (min-width:1681px) {
    .news-box { width: 65% !important; }
    .caseContent { width: 73%; }
} 

.wx-num { color: #63b504; }
.v-nav { position: fixed; left: 0.5%; top: 700px; z-index: 2; display: none; }
.v-nav-list { height: 100%; border-left: 1px solid #999; }
.v-nav-list > li { position: relative; text-align: left; padding-left: 5%; color: #999; white-space: nowrap; cursor: pointer; }
.vnav-green-active { color: #63b504 !important; }
.vnav-green-active::before { content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 100%; background-color: #63b504; }
.play-btn { width: 10%; cursor: pointer; }
.first-title { padding-bottom: 4%; }
.first-btnbox { position: absolute; left: 42%; bottom: 10%; width: 36%; }
.first-btnbox > a { display: inline-block; padding: 2% 5%; color: #fff; background-color: #63b504; border-radius: 5px; margin-right: 2%; }
.first-scan { display: inline-block; padding: 2% 5%; color: #fff; background-color: #63b504; border-radius: 5px; position: relative; cursor: pointer; }
.first-qrcode { position: absolute; right: -80%; top: -140%; transition: all .8s ease; display: none; }
.first-qrcode > img { width: 6.15rem; text-align: right; padding-top: 20%; }
.first-scan:hover .first-qrcode { display: block; }
.slide-banner-img { position: relative; width: 100%; }
.banner-btn-box { width: 25.42%; padding-left: 2.08%; padding-right: 9.48%; }
.banner-text { color: #fff; letter-spacing: 2px; padding-bottom: 6.25rem; white-space: nowrap; }
.banner-text > h2 { font-size: 3.5rem; font-weight: normal; padding-bottom: 2.125rem; }
.banner-text > p { font-size: 1.375rem; padding-bottom: 1.125rem; }
.btn-freeReg, .btn-scanCode { /*width: 45%;*/ width: 80%; padding: 4% 0; padding: 15px 0; border: 1px solid #fff; border-radius: 4px; cursor: pointer; color: #fff; text-align: center; }
.banner-reg {position:absolute;top:50%; right:10rem;transform:translateY(-50%);-webkit-transform:translateY(-50%); background-color: #fff;padding: 0 2rem; text-align: center; border-radius: 0.375rem; } 
.banner-reg-icon { margin-top: 1.875rem; }
.input-area { width:10rem; letter-spacing: 1px; margin:0 auto ; margin:3.125rem 3.125rem 0 3.125rem;}
.input-area-text{padding:1.25rem 0;}
/*.input-area .input-item { position: relative; padding-top: 1.75rem; text-align: left; }
.input-item > input { width: 100%; height: 2.5rem; margin-left: 1rem; border: none; border-bottom: 1px solid #d2d2d2; }
.inputbox-name { display: inline-block; width: 3.375rem; font-weight: bold; color: #333; }
.get-code { position: absolute; right: 0; cursor: pointer; color: #63b504; }
.banne-reg-btn { height: 3.75rem; line-height: 3.75rem; background-color: #63b504; font-size: 1.125rem; color: #fff; border-radius: 0.375rem; cursor: pointer; margin-top: 2.5rem; margin-bottom: 1.875rem; }*/
/*自定义分页器样式*/
.swiper-pagination-custom { bottom: 10px; left: 0; width: 100%; }
.swiper-pagination-customs { width:7.5rem; height: 3px; display: inline-block; background: #3c718f; opacity: .3; margin: 0 5px; }
.swiper-pagination-customs-active { opacity: 1; background-color: #fff; }
.second-box { padding: 5% 0; padding: 60px 0; width: 100%; }
.third-box { padding: 5% 0; padding: 60px 0; }
.third-title { padding: 3% 0; }
.third-title > p { color: #333; font-size: 2.25rem; text-align: center; line-height: 1.4em; }
.video-box { position: relative; width: 50rem; height: 30rem; margin: 0 auto; }
.video-box { background-color: #000; }
.simple-video-streaming { width: 60rem; height: 30rem; }
.video-content { width: 60rem; height: 30rem; }
.video-masking { position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background: url('http://j.vzan.cc/dz/content/newhome/image/newhome/video-masking.png') no-repeat center; background-size: cover; }
.encryption-masking { position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none; text-align: center; background-color: #000; }
.encryptionVideo-btn { cursor: pointer; background-color: #63b504; color: #fff; width: 80px; height: 36px; line-height: 36px; display: inline-block; }
.encryptionVideo-btn:hover { background-color: #549a03; }
.encryption-input { height: 36px; text-align: center; }
.video-masking-gif { position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background: url('http://j.vzan.cc/dz/content/newhome/image/newhome/videoMasking.gif') no-repeat center; background-size: cover; }
.next-video-warn { position: absolute; left: 0; top: 0; width: 100%; padding-top: 4px; text-align: center; color: #fff; display: none; }
video::-internal-media-controls-download-button { display: none; }
video::-webkit-media-controls-enclosure { overflow: hidden; }
video::-webkit-media-controls-panel { width: calc(100% + 30px); }
.more-video { text-align: center; padding-top: 1.875rem; }
.more-video-btn { display: inline-block; color: #fff; background-color: #63b504; padding: 1rem 1.875rem; font-size: 1.625rem; border-radius: 4px; }
.videoswiper { position: relative; width: 50rem; padding-top: 0.625rem; }
.videoswiper-container { overflow: hidden; }
.video-swiper-masking { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); opacity: 0; }
.video-swiper-details { letter-spacing: 0.1em; font-size: 0.875rem; }
.video-details-title { border-bottom: 1px solid #ddd; padding: 0.375rem 0.375rem 0 0.375rem; height: 3rem; line-height: 1.4em; display: -webkit-box; word-break: break-all; text-overflow: ellipsis; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.video-details-date { padding: 0.375rem 0.375rem 0 0.375rem; }
.videoswiper-container > .videoswiper-prev { left: -35px; }
.videoswiper-container > .videoswiper-next { right: -35px; }
.swiper-slide:hover .video-swiper-masking { opacity: 1; transition: all 1s ease; }
.fourth-box { width: 100%; padding: 5% 0; padding: 60px 0; }
.fourth-title { color: #63b504; font-weight: bold; font-size: 2.25rem; text-align: center; line-height: 1.4em; margin: 0 auto; white-space: nowrap; }
.fourth-content { padding: 1.25rem 0; text-align: center; }
.text-box { margin: 0.625rem 0; width: 60rem; height: 9.75rem; }
.text-box-bd { background: #fff; border: 0.875rem solid #ededed; }
.text-box-icon { width: 20rem; height: 100%; position: relative; }
.text-box-icon > img { position: absolute; bottom: -2px; left: 3.75rem; }
.text-box-content { width: 100%; font-size: 1.125rem; text-align: left; line-height: 1.5em; color: #333; letter-spacing: 0.125rem; padding: 0 1.25rem; }
.fourth-bottom { padding: 0 1.25rem; line-height: 1.4em; font-size: 1.25rem; text-align: center; }
.fifth-box { width: 100%; padding: 5% 0; padding: 60px 0; background-color: #f9f9f9; }
.fifth-content { text-align: center; width: 60rem; }
.fifth-title { color: #63b504; font-weight: bold; font-size: 2.25rem; text-align: center; line-height: 1.4em; }
.fifth-text { margin: 1.25rem 0; width: 100%; height: 19.5rem; text-align: left; padding: 1.25rem 0 1.25rem 6.125rem; color: #333; }
.fifth-text > p { padding: 1.25rem 0; letter-spacing: 1px; font-size: 1.125rem; }
.fifth-bottom { padding: 0 1.25rem; line-height: 1.4em; font-size: 1.25rem; text-align: center; }
.sixth-box { width: 100%; padding: 5% 0; padding: 80px 0; }
.sixth-title { color: #63b504; font-weight: bold; font-size: 2.25rem; text-align: center; line-height: 1.4em; }
.sixth-content { padding: 1.5rem 0; }
.sixth-text { margin: 0.625rem 0; width: 60rem; height: 13.4375rem; }
.sixth-bottom { line-height: 1.4em; font-size: 1.25rem; }
.seventh-box { width: 100%; padding: 5% 0; padding: 60px 0; background-color: #f9f9f9; }
.seventh-title { color: #63b504; font-weight: bold; font-size: 2.25rem; text-align: center; line-height: 1.4em; }
.seventh-content { padding: 1.25rem 0; }
.seventh-table { margin: 0.625rem 0; width: 60rem; height: 30.25rem; }
.table-box { width: 100%; height: 100%; text-align: center; font-size: 1.125rem; font-weight: bold; letter-spacing: 1px; }
.table-td { border: 2px solid #f9f9f9; background-color: #fff; width: 25%; height: 20%; }
.seventh-bottom { padding: 0 1.25rem; line-height: 1.4em; font-size: 1.25rem; }
.eighth-box { width: 100%; padding: 5% 0; padding: 60px 0; }
.eighth-title { color: #63b504; font-weight: bold; font-size: 2.25rem; text-align: center; line-height: 1.4em; }
.eighth-content { margin: 1.25rem 0; padding: 1.25rem 0 1.25rem 6.125rem; color: #333; width: 100%; height: 23.75rem; font-size: 1.125rem; }
.eighth-content > p { padding: 1.25rem 0; }
.eighth-bottom { padding: 0 1.25rem; line-height: 1.4em; font-size: 1.25rem; }
.ninth-box { width: 100%; padding: 5% 0; padding: 60px 0; background-color: #f9f9f9; }
.ninth-title { color: #63b504; font-weight: bold; font-size: 2.25rem; text-align: center; line-height: 1.4em; }
.ninth-content { position: relative; padding: 1.25rem 0; }
.ninth-img { margin: 0.625rem 0; width: 60rem; height: 60rem; }
.ninth-img > img { width: 100%; }
.ninth-text { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; font-weight: bold; }
.ninth-text > p { line-height: 1.4em; white-space: nowrap; }
.ninth-bottom { padding: 0 2%; line-height: 1.4em; font-size: 1.25rem; }
.tenth-box { width: 100%; background-color: #f3f3f3; padding: 5% 0; padding: 60px 0; }
.tenth-content { width: 50%; text-align: center; color: #333; white-space: nowrap; }
.tenth-content p { font-size: 1.875rem; line-height: 2em; }
.tenth-content p > span { font-family: DIN; font-size: 5.375rem; font-weight: bold; color: #63b504; line-height: 1.5em; }
.eleventh-box { width: 100%; padding: 5% 0; padding: 60px 0; }
.eleventh-title { color: #63b504; font-weight: bold; font-size: 2.25rem; text-align: center; line-height: 1.4em; }
.eleventh-content { padding: 1.875rem 0; }
.play-masking { position: relative; }
.video-play { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.eleventh-bottom { padding: 0 2%; line-height: 1.4em; font-size: 1.25rem; }
.video-aboutus-masking { position: fixed; width: 100%; height: 100%; background-color: rgba(0,0,0,.7); text-align: center; }
.video-aboutus-masking > video { position: fixed; top: 50%; left: 50%; margin-top: -270px; margin-left: -480px; }

/*小程序动态*/
.miniApp-news { width: 100%; padding: 120px 0; }
.news-box { width: 73%; /*width:77.5rem;*/ }
.news-img > img { display: block; width: 9.375rem; height: 6.25rem; }
.news-classify > li { width: 33.33%; padding: 0 10px; box-sizing: border-box; }
.news-title { box-sizing: border-box; padding-bottom: 60px; }
.news-title > h2 { font-size: 2.25rem; color: #63b504; }
.news-details-list > li { min-width: 265px; max-width: 380px; text-align: left; margin-bottom: 0.625rem; position: relative; }
.news-list-more::after { content: ""; width: 11px; height: 0.875rem; background: url(http://j.vzan.cc/dz/content/newhome/image/more.png) no-repeat; background-size: contain; position: absolute; right: 2px; bottom: 0; }
.news-details-list > li > a { display: inline-block; width: 100%; color: #333; line-height: 1.2em; word-break: break-all; text-overflow: ellipsis; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 1; font-size: 0.875rem; letter-spacing: 0.04em; }
.news-list-more > a { white-space: nowrap; }
.list-a { width: 92% !important; }

.news-details { height: 100%; box-sizing: border-box; border: 1px solid #f2f2f2; }
.news-details .news-img { }
.news-img > img { background: url("http://j.vzan.cc/dz/content/newhome/image/newsImg.png"); }
.news-details .news-page { width: 100%; padding: 10px 15px 10px 10px; }
.news-page > h3 { text-align: left; margin-bottom: 0.5rem; line-height: 1.2em; display: -webkit-box; word-break: break-all; text-overflow: ellipsis; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 2; box-sizing: border-box; }
.news-page-date { font-size: 0.875rem; font-weight: bold; color: #ccc; white-space: nowrap; padding-top: 5px; border-top: 1px solid #f2f2f2; }
.btn-morenews { display: inline-block; padding: 0.75rem 3.75rem; margin-top: 30px; font-size: 1.125rem; color: #ccc; border: 1px solid #ccc; border-radius: 5px; cursor: pointer; }
.floater-box { position: fixed; bottom: 0; left: 0; height: 4.8125rem; width: 100%; background-color: rgba(178,178,178,.7); z-index: 7; }
.floater-content { width: 55.875rem; }
.floater-text-box { position: relative; top: -0.375rem; width: 24.6875rem; height: 4.8125rem; }
.floater-text { position: absolute; left: 0; top: 0; width: 100%; height: 100%; color: #fff; padding: 10px; }
.floater-text > h3 { text-align: right; font-size: 1.625rem; }
.floater-text > p { text-align: right; font-size: 1.25rem; line-height: 1.5em; white-space: nowrap; }
.form-box { width: 54.8%; }
.form-box > input { width: 76.5%; height: 3.125rem; border: 0; border-radius: 4px; margin: 0 2%; text-align: center; }
.floater-btn { width: 21.4%; height: 3.125rem; line-height: 3.125rem; display: inline-block; text-align: center; background-color: #ff9938; color: #fff; font-size: 1.25rem; border-radius: 4px; cursor: pointer; }

/*产品中心轮播图*/
.productCenter-solution { padding: 50px 0; width: 80%; }
.solution-title { margin-bottom: 50px; }
.solution-title > p { padding-top: 20px; font-size: 1.25rem; color: #999; }
.line { position: relative; }
.line::before, .line::after { position: absolute; top: 25%; content: ""; width: 60px; height: 1px; background-color: #e6e6e6; }
.line::before { left: 0; }
.line::after { right: 0; }
.solution-list-box { width: 80%; border-bottom: 1px solid #f2f2f2; padding: 20px; }
.solution-list { width: 100%; cursor: pointer; }
.solution-current-btn { padding: 4px 8px; background-color: #3296fa; color: #fff; border-radius: 5px; }
/*首页绿色样式*/
.green-current-btn { padding: 4px 8px; background-color: #63b504; color: #fff; border-radius: 5px; }

.slide-show { width: 85%; position: relative; }
.list-box { margin-top: 80px; width: 100%; height: 945px; margin: 0 auto; position: relative; }
.list { width: 1080px; height: 642px; overflow: hidden; position: absolute; left: 50%; top: 50%; margin-top: -321px; margin-left: -540px; }
/*.list-box { width: 67.5rem; height: 59rem; margin: 0 auto; position: relative; }
.list { width: 67.5rem; height: 40.125rem; overflow: hidden; position: absolute; left: 50%; top: 50%; margin-top: -321px; margin-left: -540px;}*/
.phone-box { position: absolute; top: 0; left: 50%; margin-left: -255.5px; /*transform: scale(0.8);*/ }
.btn { position: absolute; top: 50%; margin-top: -50px; width: 45px; height: 100px; line-height: 100px; font-size: 30px; color: white; border-radius: 5px; text-decoration: none; text-align: center; background: #f2f2f2; cursor: pointer; z-index: 5; }
.prev { left: 0; }
.next { right: 0; }
.list > ul > li { position: absolute; top: 0; left: 0; list-style: none; opacity: 0; transition: all 0.3s ease-out; }
.list > ul > li > img { width: 100%; /*width: 360px; height: 642px;*/ border: none; float: left; }
/*.list > ul > li.p1 { transform: translate3d(360px,0,0) scale(1);  z-index: 3; opacity: 1;}
.list > ul > li.p2 { transform: translate3d(720px,0,0) scale(0.8); transform-origin: 100% 50%; opacity: 0.6; z-index: 2;}
.list > ul > li.p3 { transform: translate3d(1080px,0,0) scale(0.8); }
.list > ul > li.p4 { transform: translate3d(1420px,0,0) scale(0.8); }
.list > ul > li.p5 { transform: translate3d(1780px,0,0) scale(0.8); }
.list > ul > li.p6 { transform: translate3d(2140px,0,0) scale(0.8); }
.list > ul > li.p7 { transform: translate3d(2500px,0,0) scale(0.8); }
.list > ul > li.p8 { transform: translate3d(2860px,0,0) scale(0.8); }
.list > ul > li.p9 { transform: translate3d(3220px,0,0) scale(0.8); }
.list > ul > li.p10 { transform: translate3d(3580px,0,0) scale(0.8); }
.list > ul > li.p11 { transform: translate3d(-360px,0,0) scale(0.8); }
.list > ul > li.p12 { transform: translate3d(0,0,0) scale(0.8); transform-origin: 0% 50%; opacity: 0.6; z-index: 2;}*/
.list > ul > li.p1 { transform: translate3d(100%,0,0) scale(1); z-index: 3; opacity: 1; }
.list > ul > li.p2 { transform: translate3d(200%,0,0) scale(0.8); transform-origin: 100% 50%; opacity: 0.6; z-index: 2; }
.list > ul > li.p3 { transform: translate3d(300%,0,0) scale(0.8); }
.list > ul > li.p4 { transform: translate3d(400%,0,0) scale(0.8); }
.list > ul > li.p5 { transform: translate3d(500%,0,0) scale(0.8); }
.list > ul > li.p6 { transform: translate3d(600%,0,0) scale(0.8); }
.list > ul > li.p7 { transform: translate3d(700%,0,0) scale(0.8); }
.list > ul > li.p8 { transform: translate3d(800%,0,0) scale(0.8); }
.list > ul > li.p9 { transform: translate3d(900%,0,0) scale(0.8); }
.list > ul > li.p10 { transform: translate3d(1000%,0,0) scale(0.8); }
.list > ul > li.p11 { transform: translate3d(1100%,0,0) scale(0.8); }
.list > ul > li.p12 { transform: translate3d(-100%,0,0) scale(0.8); }
.list > ul > li.p13 { transform: translate3d(0,0,0) scale(0.8); transform-origin: 0% 50%; opacity: 0.6; z-index: 2; }

.list > ul > li:hover .list-item-masking { opacity: 1; }
.list-item-masking { opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,.95); transition: all 0.5s ease-out; }
.itme-masking-title p { margin: 0 auto; line-height: 1.3em; font-size: 1.125rem; padding: 10% 4% 0 4%; }
.btn-list-item { padding: 2% 10%; background-color: #00b80c; color: #fff; border-radius: 4px; }


.template-maket { width: 100%; padding: 50px 0; background-color: #f2f2f2; }
.template-list { width: 76%; }
.template-list > li { width: 33.33%; padding: 1.5rem 0.75rem; }
.template-list > li:hover .template-item { transform: scale(1.05); }
.template-list > li:hover .btn-know { opacity: 1; }
.template-item { box-shadow: 0 0 30px #e2e2e2; /*height:100%;*/ transition: all 0.8s ease-out; }
.template-item h3 { font-size: 1.5rem; color: #333; transition: all 1.2s ease-out; }
.template-item-title { padding: 10% 0; position: relative; /*height:25%;*/ }
.template-item-content { padding: 10% 5% 5% 5%; padding: 25px 20px 20px 20px; background-color: #fff; /*height:75%;*/ }
.template-item-content p { line-height: 1.35em; height: 6.5625rem; text-align: left; text-indent: 2em; display: -webkit-box; word-break: break-all; text-overflow: ellipsis; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 5; }
.template-item-content h4 { padding-bottom: 20px; color: #999; font-size: 1.125rem; }
.template-item-case { padding-top: 15px; }
.item-case-img { padding: 0 5px; position: relative; max-width: 126px; width: 33.33%; }
.item-case-img > img { width: 100%; }
.item-case-img:hover .item-case-qrcode { opacity: 1; }
.item-case-qrcode { opacity: 0; transition: all 1s ease-out; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(255,255,255,.7); }
.item-case-qrcode > img { width: 75%; height: 75%; }
.template-item-title > .tcw { color: #fff; }
.item-case-btn { width: 100%; padding-top: 4%; padding-top: 12px; }
.btn-know { display: inline-block; opacity: 0; transition: all 1s ease-out; margin: 0 auto; /*width:70%;*/ padding: 3% 20%; background-color: #63b504; color: #fff; border-radius: 4px; cursor: pointer; }

.title-01 { background-color: #e5e8ec; }
.title-02 { background-color: #5eb1ff; }
.title-03 { background-color: #fbdce1; }
.title-04 { background-color: #f6dde8; }
.title-05 { background-color: #f8f3de; }
.title-06 { background-color: #f9e8d3; }
.icon-01, .icon-02, .icon-03, .icon-04, .icon-05, .icon-06 { width: 90px; height: 90px; }

.icon-01 { content: ""; position: absolute; left: 5%; bottom: 0; background: url('http://j.vzan.cc/dz/content/newhome/image/productCenter/icon-dy.png') no-repeat; background-size: cover; }
.icon-02 { content: ""; position: absolute; left: 5%; bottom: 0; background: url('http://j.vzan.cc/dz/content/newhome/image/productCenter/icon-qy.png') no-repeat; background-size: cover; }
.icon-03 { content: ""; position: absolute; left: 5%; bottom: 0; background: url('http://j.vzan.cc/dz/content/newhome/image/productCenter/icon-ds.png') no-repeat; background-size: cover; }
.icon-04 { content: ""; position: absolute; left: 5%; bottom: 0; background: url('http://j.vzan.cc/dz/content/newhome/image/productCenter/icon-cy.png') no-repeat; background-size: cover; }
.icon-05 { content: ""; position: absolute; left: 5%; bottom: 0; background: url('http://j.vzan.cc/dz/content/newhome/image/productCenter/icon-hy.png') no-repeat; background-size: cover; }
.icon-06 { content: ""; position: absolute; left: 5%; bottom: 0; background: url('http://j.vzan.cc/dz/content/newhome/image/productCenter/icon-zy.png') no-repeat; background-size: cover; }

/*产品案例*/
.green-line { color: #63b504 !important; }
.green-line::before { content: " "; width: 100%; height: 2px; background-color: #63b504; position: absolute; left: 0; bottom: 0; }
.versions-list-box { width: 100%; }
.versions-list { width: 100%; height: 100%; border-bottom: 1px solid #f2f2f2; }
.versions-list > li { padding-right: 30px; }
.versions-list > li > a { display: inline-block; width: 100%; height: 80px; line-height: 80px; font-size: 1.125rem; font-weight: bold; color: #333; position: relative; }
.blue-line::before { content: " "; width: 100%; height: 2px; background-color: #3296FA; position: absolute; left: 0; bottom: 0; }
.caseLabel { width: 100%; font-size: 0.875rem; padding-top: 20px; box-sizing: border-box; }
.case-tpl { width: 100%; }
.case-list-box { width: 100%; }
.case-list { width: 100%; height: 100%; }
.case-list > li { width: 25%; margin-top: 30px; }
.case-list > li > div { border: 1px solid #F2F2F2; width: 95%; margin: 0 auto; position: relative; }
.case .case-img { position: relative; }
/*案例图片*/
.case-img > img { width: 100%; height: 100%; }
/*遮罩图片*/
.case-shade > img { width: 70%; height: 70%; position: absolute; top: 15%; left: 15%; }
.case-list > li:hover { transform: none; transition: none; box-shadow: none; }
.case-list > li > div:hover .case-shade { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.case-list > li > div:hover { transform: translateY(-10px); transition: transform 600ms ease; box-shadow: 0 3px 3px #F2F2F2; }
.case .case-page { width: 100%; background-color: #fff; font-weight: bold; color: #666; line-height: 50px; }
/*遮罩*/
.case-img .case-shade { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,0.8); display: none; }
