/*html{font-family: SourceHanSansCN-Regular;}*/
.phoneReg-font { color: #666; }
.phoneReg-font-title { color: #3296FA; }
.phoneReg-font-msg { font-size: 0.875rem; color: #FFF; }
.phoneReg-font-bottom { font-family: PingFang-SC-Medium; font-size: 0.875rem; color: #666; padding-bottom: 12px; }
/*ÊäÈë¿òËõ½ø*/
.phone { padding-left: 96px; }
.msg { padding-left: 128px; }
.psw { padding-left: 82px; }
.repsw { padding-left: 112px; }
body { width: 100%; height: 100%; background: url("http://j.vzan.cc/dz/content/newhome/image/wxReg.png") no-repeat; background-size: cover; }
.phoneReg-box { width: 400px; height: 470px; margin: 10% auto; background-color: #fff; border-radius: 4px; box-sizing: border-box; display: flex; flex-direction: column; align-items: center; box-shadow: 0 0 40px #292929; }
.phoneReg-box .input { width: 360px; height: 48px; margin-bottom: 19px; position: relative; }
.input-msg { display: flex; align-items: center; justify-content: space-between; }
/*.phoneReg-box div:nth-child(3) {
    padding-top:0;
}*/
.phoneReg-box input { width: 360px; height: 48px; font-size: 1.1rem; box-sizing: border-box; border: 1px solid #E5E5E5; }
input::-webkit-input-placeholder { color: #999; font-size: 0.875rem; }
.phoneReg-title { width: 100%; height: 50px; border-bottom: 1px solid #E5E5E5; display: flex; justify-content: center; align-items: center; }
.warning { height: 9.7%; display: flex; align-items: center; }
.warning-text { font-size: 0.875rem; color: #FF4246; }
.text-position { position: absolute; left: 0; top: 20%; margin-top: 4px; padding-left: 36px; }
/*.text-one {
    margin-top:-14px;
}*/
.input .msg { width: 236px; height: 48px; }
.btn-msg { display: inline-block; width: 110px; height: 48px; line-height: 48px; text-align: center; background-color: #3296FA; cursor: pointer; }
.icon-phone::before { content: ""; width: 24px; height: 48px; background: url('http://j.vzan.cc/dz/content/newhome/image/phone.png') no-repeat top; background-size: 24px 24px; position: absolute; top: 0; left: 10px; }
.icon-msg::before { content: ""; width: 24px; height: 48px; background: url('http://j.vzan.cc/dz/content/newhome/image/msg.png') no-repeat top; background-size: 24px 24px; position: absolute; top: 0; left: 10px; }
.icon-psw::before { content: ""; width: 24px; height: 48px; background: url('http://j.vzan.cc/dz/content/newhome/image/psw.png') no-repeat top; background-size: 24px 24px; position: absolute; top: 0; left: 10px; }
.icon-repsw::before { content: ""; width: 24px; height: 48px; background: url('http://j.vzan.cc/dz/content/newhome/image/repsw.png') no-repeat top; background-size: 24px 24px; position: absolute; top: 0; left: 10px; }
.btn-confirm { width: 360px; height: 48px; line-height: 48px; background-color: #3296FA; cursor: pointer; text-align: center; }
.btn-confirm > a { width: 360px; height: 48px; display: inline-block; }
