@media screen and (min-width:768px) and (max-width: 1024px) {
    /*html { font-size: 0.875rem; }*/
    .basis-content{ margin-top:-47.828px!important; }
    .basis-list > img { width:80%!important;height:80%!important}
    .basis-content > a { height: 40px !important; line-height: 40px !important; }
    .function-list { width: 100% !important; }
    .function-item { width:33.33%;}
    .function-item > p { padding: 2px 30px; }
    /*.basis-item > img { width: 30% !important; }*/
    .item-img { width:50%;}
    .btn-more > a { height: 40px !important; line-height: 40px !important; }
    .basis-main { width:85%;}
    .option-list { width:85%; }
    .ktv-list {width:100%;}

}

@media screen and (min-width:1025px) and (max-width: 1280px) {
    /*html { font-size: 0.875rem; }*/
    .basis-content { top: 65% !important; }
    .function-list { width: 80% !important; }
    .function-item { width:33.33%;}
    .basis-main { width:85%;}
    .option-list { width:85%; }
    .item-img { width:60%;}
    .ktv-list {width:90%;}

}

@media screen and (min-width:1281px) and (max-width:1440px) {
    /*html { font-size: 0.875rem; }*/
    .function-list { width: 85% !important; }
    .function-item { width:25%;}
    .basis-main { width:75%;}
    .option-list { width:75%; }
    .ktv-list {width:80%;}
    /*.item-img { width:100%;}*/

}
@media screen and (min-width:1441px){
    .function-list { width: 75% !important; }
    .function-item { width:25%;}
    .basis-main { width:75%;}
    .option-list { width:75%; }
    .ktv-list {width:75%;}
    /*.item-img { width:100%;}*/

}


/*内容*/
.basis-main { margin:0 auto; padding:4% 0;}
.basis-main h2 {font-size:1.875rem; }
.basis-bg { width: 100%; position: relative; }
.basis-bg > img { width: 100%; height: 100%; }
.basis-content { width: 100%; position: absolute; top: 50%; left: 0; margin-top:-97px;display: flex; flex-direction: column; align-items: center; justify-content: center; }
.basis-content > h1 { font-size: 3.5rem; color: #fff; margin-bottom: 20px; }


.bg-img>img {width:100%;}
.basis-content > a { background: #3296FA; font-size: 1.125rem; width: 8.5%; height: 50px; line-height: 50px; text-align: center; color: #fff; border-radius: 4px; }
/*选项卡样式*/
.option-list { /*width:75%;*/margin:0 auto ;}
.option-list ul { list-style: none; font-size: 1.125rem;font-weight: bold;color: #333; border-bottom: 1px solid #E6E6E6; }
.option-list ul>li { display: inline-block; margin: 0 10px; position: relative; padding: 4% 0 2.3% 0;cursor:pointer; }

.current-option { color:#3296fa;}
.current-option::before { width: 100%; height: 2px; content: ""; position: absolute; left: 0; bottom: 0; background: #3296FA; }
/*带背景色*/
.bgcolor-container { background-color: #3B5F89;margin-top: 30px; }
.bgcolor-container { color: #fff; }
.bgcolor-container>h2 { margin: 5% 0;font-size:1.875rem;  }
.bgnormal-container,.bgcolor-container{ width: 100%; /*padding-top:70px;*/}
/*.basis-column {color: #333; }*/
.bgnormal-container>h2 { margin: 5% 0; font-size:1.875rem; }
.bgnormal-container h2,h4 {color: #333; }
.basis-item-imgBottom { padding-top:80px;}
.basis-item-imgBottom > img { width:100%; }

.item-title { font-size: 1.25rem;margin: 8% 0; }
.item-content { font-size: 1rem; line-height:1.5em;text-align:center}
.top-container { padding-right:10%;}
.function-list {  width:100%;padding-top:80px;}
.function-list> img { width: 100%; }
.function-item-3 { width: 33%;margin-bottom:5%;padding:0 4%;}
.function-item-4 { width: 25%;margin-bottom:6.6%;padding:0 2%;}

/*房地产*/
/*.realty-list { width:100%;padding-top:80px;}
.realty-list > img { width: 100%; }
.realty-item {width: 33%;margin-bottom:6.6%;padding:0 5%; }*/
/*.realty-item > h2 { font-size: 1.25rem; color: #333; margin: 5% 0; }
.realty-item > p { font-size: 1rem; line-height:1.5em; color: #666; text-align:center}*/

/*健身房*/
.top-page h2 {text-align:center; color:#333;padding-bottom:50px;}
.top-page {width:70%;line-height:1.5em;}
.top-page > div { width:60%;text-indent:2em;}
.top-gymnasium-img { width:30%;}
.gymnasium-img {width: 100%;height: 100%;max-width: 407px;}

/*家政*/
.top-homemaking-page { width:60%; }
.top-page > div p { text-indent:2em;padding-bottom:10px;}
.top-homemaking-img { width:40%; }
.homemaking-img { width: 100%;height: 100%;max-width: 720px;max-height:668px;}
.bgcolor-container h4 { color:#fff;}
/*KTV*/
.core-function {width:100%; padding:80px 0;padding:10% 0;}
.core-function > h2 { padding-bottom:70px; color:#333;}
.core-list { width:60%;}
.core-item > p { text-align:center;font-weight:bold;padding-top:10%; }
.ktv-list { padding-bottom:10%; }
.ktv-item {width:20%; padding:0 2%; }

/*美容美发*/
.hairdressing-top-container { padding-top:40px;}
.top-hairdressing-page {width:60%;line-height:1.5em; padding-top: 80px;}
.top-hairdressing-page > h2 { color:#333;}
.top-hairdressing-page > div { width:90%; padding-top:10%;}
.top-hairdressing-img { width:40%}
.hairdressing-img { width: 100%;height: 100%;max-width: 604px; }
.graybg-color { background-color:#f7f7f7; }
.hairdressing-item {width:50%;padding: 0 2% 5% 2%;}
.hairdressing-item > img { max-width:120px; }

/*家装*/
.pinkbg-color {background-color: #F2EEEA;}