/*∆¡ƒª  ≈‰*/
@media screen and (max-width:768px) {
    .caseContent { width: 85%; }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .caseContent { width: 85%; }
}

@media screen and (min-width:1025px) and (max-width:1280px) {
    .caseContent { width: 72%; }
}

@media screen and (min-width:1281px) and (max-width:1366px) {
    .caseContent { width: 76%; }
}

@media screen and (min-width:1367px) and (max-width:1440px) {
    .caseContent { width: 80%; }
}

@media screen and (min-width:1441px) and (max-width:1680px) {
    .caseContent { width: 82%; }
}

@media screen and (min-width:1681px) {
    .caseContent { width: 73%; }
}


#app { width: 100%; }
.blue-line { color: #3296FA !important; }
.green-line { color: #63b504 !important; }
.green-line::before { content: " "; width: 100%; height: 2px; background-color: #63b504; position: absolute; left: 0; bottom: 0; }
/******************banner***************************/
/*.produtCase-banner { width: 100%; height: 500px; /*text-align: center;}*/
 .banner-img { position: relative; }
.banner-img > img { width: 100%; /*height: 100%;*/ /*background: url('http://j.vzan.cc/dz/content/newhome/image/produtCase-banner.png') no-repeat;*/ }
.banner-text-box { position: absolute; left: 0; top: 0; bottom: 0; right: 0;width:50%;height:50%;margin:auto; }
.banner-text { font-weight: bold; font-size: 3.5rem; color: #fff; }

/*****************∞∏¿˝¡–±Ì*****************************/
.caseList { width: 100%; padding-top: 5px; padding-bottom: 60px; }
.versions-list-box { width: 100%; }
.versions-list { width: 100%; height: 100%; border-bottom: 1px solid #f2f2f2;  }
.versions-list > li { padding-right: 30px; }
.versions-list > li > a { display: inline-block; width: 100%; height: 80px; line-height: 80px; font-size: 1.125rem; font-weight: bold; color: #333; position: relative; }
.blue-line::before { content: " "; width: 100%; height: 2px; background-color: #3296FA; position: absolute; left: 0; bottom: 0; }
.caseLabel { width: 100%; font-size: 0.875rem; padding-top: 20px; box-sizing: border-box; }
.case-tpl { width: 100%; }
.case-list-box { width: 100%; }
.case-list { width: 100%; height: 100%; }
.case-list > li { width: 25%; margin-top: 30px; }
.case-list > li > div { border: 1px solid #F2F2F2; width: 95%; margin: 0 auto; position: relative; }
.case .case-img { position: relative; }
/*∞∏¿˝Õº∆¨*/
.case-img > img { width: 100%; height: 100%; }
/*’⁄’÷Õº∆¨*/
.case-shade > img { width: 70%; height: 70%; position: absolute; top: 15%; left: 15%; }
.case-list > li:hover { transform: none; transition: none; box-shadow: none; }
.case-list > li > div:hover .case-shade { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.case-list > li > div:hover { transform: translateY(-10px); transition: transform 600ms ease; box-shadow: 0 3px 3px #F2F2F2; }
.case .case-page { width: 100%; background-color: #fff; font-weight: bold; color: #666; line-height: 50px; }
/*’⁄’÷*/
.case-img .case-shade { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,0.8); display: none; }
