@media screen and (min-width:768px) and (max-width: 1024px) {
    .page-toptext > span { width: 40% !important; line-height: 1.5em !important; }
    .page-topbtn > p { width: 12% !important; }
    .banner-txt > p { width: 61% !important; }
}

@media screen and (min-width:1024px) and (max-width: 1280px) {
    .page-toptext > span { width: 40% !important; line-height: 1.5em !important; }
    .banner-txt > p { width: 61% !important; }
}

@media screen and (min-width:1281px) and (max-width:1440px) {
    .banner-txt > p { width: 33% !important; line-height: 2em; }
    .page-toptext > span { width: 40% !important; line-height: 1.5em !important; }
}

/*内容*/

.page-content { width: 100%; background: #fff; /*position: relative;*/ }

.page-topbg { width: 100%; position: relative; }

.page-topbg > img { width: 100%; height: 100%; }

.page-toptext { position: absolute; top: 10%; left: 0; color: #fff; display: flex; flex-direction: column; align-items: center; box-sizing: border-box; }

.page-toptext > h1 { font-size: 5rem; margin-bottom: 2.65%; }

.page-toptext > span { width: 34%; font-size: 1.125rem; text-indent: 2em; line-height: 2em; }

.page-topbtn { width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top: 2.65%; font-size: 0.875rem; }

.page-topbtn > p { width: 9%; height: 50px; background: #3296FA; margin-right: 1.3%; border-radius: 4px; display: flex; align-items: center; justify-content: center; cursor: pointer; }
/*广告图*/

.page-banner { width: 100%; padding-top:60px;display: flex; flex-direction: column; justify-content: center; align-items: center; }

.banner-txt { width: 60%; display: flex; flex-direction: column; align-items: center; margin-top: 3.2%; }



.banner-txt > h3 { font-size: 1.5rem; color: #333; /*margin-top: 1.5%;*/margin: 30px 0; }

.banner-txt > p { font-size: 1rem; color: #666; margin-top: 1%; width: 24.4%; }

.page-bannerImg { width: 60%; }
.page-bannerImg > img { width: 100%; }
/*富文本*/
.page-richtxt { width: 100%; height: 20%; background: #F7F7F7; display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 3.5% 0; box-sizing: border-box; }

.richtxt { width: 35.6%; display: flex; flex-direction: column; align-items: center; }



.richtxt > h3 { font-size: 1.5rem; color: #333; /*margin-top: 4.5%;*/margin:30px 0; }

.richtxt > p { font-size: 1rem; color: #666; margin-top: 3.0%; width: 70%; line-height: 2em; text-indent: 2em; }

.page-richtxt > img { }
/*图片*/

.page-img { width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 3.5% 0; box-sizing: border-box; }


.imgtxt { width: 35.6%; display: flex; flex-direction: column; align-items: center; }



.imgtxt > h3 { font-size: 1.5rem; color: #333; /*margin-top: 4.5%;*/ margin:30px 0; }

.imgtxt > p { font-size: 1rem; color: #666; margin-top: 3.0%; width: 70%; line-height: 2em; }
/*更多*/

.more { width: 100%; }

.more > h3 { font-size: 1.875rem; color: #333; margin-top: 100px; }

.more-box-row { width: 100%; display: flex; flex-direction: row; margin-top: 74px;margin-bottom: 100px; }

.more-box { width: 33.3%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; }



.more-box > p { font-size: 1.5rem; color: #333; font-weight: bold; margin-top: 6.5%; }

.more-content { margin-top: 2.8%; display: flex; flex-direction: column; align-items: center; font-size: 1rem; color: #666; /*width: 100%;*/ /*padding: 0 15%;*/ line-height: 2; }
/*产品中心导航扩展*/
#pro-extend:hover .pro-show { display: block; }

.pro-show { width: 100% !important; height: 80px !important; line-height: 80px !important; background-color: rgb(50,150,250); position: absolute; top: 80px; left: 0; z-index: 1; }

.pro-show { display: none; }

.pro-ul { width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center; }

.pro-ul > li { width: 8%; background-color: rgb(50,150,250); }

.pro-ul > li > a:hover { background-color: #0b8df1; }

.pro-ul > li > a { font-weight: bold; font-size: 1rem; color: #fff; }

