@media screen and (min-width:768px) and (max-width: 1024px) {
    html { font-size: 0.375rem; }
    .introduce-context { width: 30% !important; margin-top: 3% !important; }
    .catering-manager { justify-content: space-between !important; }
    /*.catering-introduce > img { width: 28% !important; }*/
    .manager-content { width: 70% !important; margin-left: 0 !important; }
    .manager-content > p { width: 85% !important; }
    /*.catering-manager > img { width: 35% !important; }*/
    .icon-column > img { width: 30% !important; }
}

@media screen and (min-width:1024px) and (max-width: 1280px) {
    html { font-size: 0.875rem; }
    .introduce-context { margin-top: 7% !important; }
    .manager-content { width: 50% !important; }
    /*.catering-manager > img { width: 30% !important; }*/
}

@media screen and (min-width:1281px) and (max-width:1440px) {
    html { font-size: 0.875rem; }
}


/*内容*/
.catering-main { width: 100%; }
/*背景图片*/
.catering-bg { width: 100%; position: relative; }
.catering-bg > video { width: 100%; height: 100%; }
.catering-bg > img { width: 100%; height: 100%; }

.bg-content { position: absolute; top: 50%; color: #fff; text-align: center; width:100%; margin-top:-116.5px}

.bg-content > h1 { font-size: 5rem; }

.bg-content > p { font-size: 1rem; margin:30px 0; line-height: 2em; }

.bg-btn { display: flex; flex-direction: row; justify-content: space-around; }

.bg-btn > a {padding:0 35px;  color: #fff; background: #3296fa; font-size: 0.875rem; text-align: center; line-height: 35px; border-radius: 4px; }

/*白色内容*/
.catering-introduce { display: flex; flex-direction: row; justify-content: center; width: 100%; }

.catering-introduce > img { margin-top: 2.5%; }

.introduce-context { display: flex; flex-direction: column; align-items: center; width: 25%; text-indent: 3em; margin-top: 10%; margin-right: 8%; }

.introduce-context > h2 { font-size: 1.875rem; color: #333; margin-bottom: 12%; }

.introduce-context > p { font-size: 1rem; color: #666; margin-bottom: 8%; line-height: 2em; }

.introduce-context > p > span { color: #121212; }

/*灰色内容*/
.catering-row { display: flex; flex-direction: row; background: #f7f7f7; width: 100%; align-items: center; padding: 5.3% 0; }

.catering-show { width: 33.3%; display: flex; flex-direction: column; align-items: center; }

.catering-show > img { margin-bottom: 2%; }

.show-context { display: flex; flex-direction: column; align-items: center; }

.show-context > h2 { font-size: 1.5rem; color: #333; margin-bottom: 8%; }

.show-context > p { font-size: 1rem; color: #666; line-height: 25px; }

/*门店管理*/
.catering-manager { width: 100%; display: flex; flex-direction: row; justify-content: center; padding: 2.11% 0; }



.manager-content { display: flex; flex-direction: column; align-items: center; margin: 3.3% 0; margin-left: 8.8%; }

.manager-content > h2 { font-size: 1.875rem; color: #333; }

.manager-content > p { font-size: 1rem; color: #666; text-align: center; margin-top: 5.9%; margin-bottom: 9.46%; line-height: 2em; }

.manager-icon { width: 100%; display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; }

.icon-column { width: 45%; display: flex; flex-direction: column; align-items: center; margin-bottom: 10%; }



.icon-column > h3 { font-size: 1.25rem; color: #333; margin-top: 10.1%; margin-bottom: 30px; }

.icon-column > p { font-size: 1rem; color: #666; margin-bottom: 5px; }



