@media screen and (min-width:768px) and (max-width: 1024px) {
    html { font-size: 0.75rem; }
}

@media screen and (min-width:1024px) and (max-width: 1280px) {
    html { font-size: 0.875rem; }
}

@media screen and (min-width:1281px) and (max-width:1440px) {
}




/*内容*/
.firm-main { width: 100%; }

.firm-bg { width: 100%; position: relative; }

.firm-bg > img { width: 100%; height: 100%; }

.firm-content { width: 100%; position: absolute; top: 20%; left: 0; display: flex; flex-direction: column; align-items: center; justify-content: center; }

.firm-content > h1 { font-size: 5rem; color: #fff; }

.firm-content > p { font-size: 1.125rem; color: #fff; width: 27%; text-indent: 2em; margin: 20px 0; text-align: center; line-height: 1.5em; }

.firm-content > a { background: #3296FA; font-size: 1.125rem; width: 8.5%; height: 50px; line-height: 50px; text-align: center; color: #fff; border-radius: 4px; }

.firm-item { width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: center; background: #f7f7f7; }

.firm-context { display: flex; flex-direction: column; align-items: center; margin: 0 5%; }

.firm-context > h2 { font-size: 1.875rem; color: #333; /*margin-bottom: 6.5%;*/margin-bottom:21px; }

.firm-context > p { color: #666; font-size: 1rem; margin-bottom: 5px; }
