@media screen and (min-width:769px) and (max-width:1024px) {
    /*html {font-size:0.75rem}*/
}

@media screen and (min-width:1024px) and (max-width:1280px) {
    .retail-wrap .title-box .subtitle { margin-top:6.5rem!important;}
    /*.retail-wrap .module .swiper-box { width: 100%;height:58rem;padding:1.875rem;background-color:#f6f6f6;}
    .swiper-box .swiper-list-box .list .btn-box { width:208px;height:100%;position:absolute;top:0;z-index:2;}
    .swiper-box .swiper-list-box .list .prev { left:-10%;}
    .swiper-box .swiper-list-box .list .next { left:60%;}
    .retail-wrap .module .swiper-box .list { width:100%;height:50.375rem;position:absolute;top:5%;left:50%; margin-left: -280px;}
    .swiper-box .list >ul> li.p1 { transform: translateX(10%) scale(0.6); z-index: 3; opacity: 1; }
    .swiper-box .list >ul> li.p2 { transform: translateX(110%) scale(0.45); transform-origin: -40% 50%; opacity: 0.9; z-index: 2; }
    .swiper-box .list >ul> li.p3 { transform: translateX(200%) scale(0.45); }
    .swiper-box .list >ul> li.p4 { transform: translateX(300%) scale(0.45); }
    .swiper-box .list >ul> li.p5 { transform: translateX(400%) scale(0.45); }
    .swiper-box .list >ul> li.p6 {transform: translateX(-90%) scale(0.45);transform-origin: 140% 50%; opacity: 0.9; z-index: 2; }*/
    /*.swiper-slide {
	-webkit-transform: scale(0.6)!important;
	transform: scale(0.6)!important;
    }
.swiper-slide-active,.swiper-slide-duplicate-active {
	-webkit-transform: scale(0.75)!important;
	transform: scale(0.75)!important;
    }*/
}

@media screen and (min-width:1281px) and (max-width:1366px) {
    .retail-wrap .title-box .subtitle { margin-top:10rem!important;}
        /*.retail-wrap .module .swiper-box { width: 100%;height:58rem;padding:1.875rem;background-color:#f6f6f6;}
    .swiper-box .swiper-list-box .list .btn-box { width:218px;height:100%;position:absolute;top:0;z-index:2;}
    .swiper-box .swiper-list-box .list .prev { left:-14%;}
    .swiper-box .swiper-list-box .list .next { left:53%;}
    .retail-wrap .module .swiper-box .list { width:100%;height:50.375rem;position:absolute;top:5%;left:50%; margin-left: -280px;}
    .swiper-box .list >ul> li.p1 { transform: translateX(10%) scale(0.7); z-index: 3; opacity: 1; }
    .swiper-box .list >ul> li.p2 { transform: translateX(110%) scale(0.5); transform-origin: -20% 50%; opacity: 0.9; z-index: 2; }
    .swiper-box .list >ul> li.p3 { transform: translateX(200%) scale(0.5); }
    .swiper-box .list >ul> li.p4 { transform: translateX(300%) scale(0.5); }
    .swiper-box .list >ul> li.p5 { transform: translateX(400%) scale(0.5); }
    .swiper-box .list >ul> li.p6 {transform: translateX(-90%) scale(0.5);transform-origin: 120% 50%; opacity: 0.9; z-index: 2; }*/
}

@media screen and (min-width:1367px) and (max-width:1440px) {
    .retail-wrap .title-box .subtitle { margin-top:10rem!important;}
    /*.retail-wrap .module .swiper-box { width: 100%;height:60rem;padding:1.875rem;background-color:#f6f6f6;}
    .swiper-box .swiper-list-box .list .btn-box { width:254px;height:100%;position:absolute;top:0;z-index:2;}
    .swiper-box .swiper-list-box .list .prev { left:-18%;}
    .swiper-box .swiper-list-box .list .next { left:50%;}
    .retail-wrap .module .swiper-box .list { width:100%;height:50.375rem;position:absolute;top:10%;left:50%; margin-left: -280px;}
    .swiper-box .list >ul> li.p1 { transform: translateX(10%) scale(0.8); z-index: 3; opacity: 1; }
    .swiper-box .list >ul> li.p2 { transform: translateX(110%) scale(0.6); transform-origin: -20% 50%; opacity: 0.9; z-index: 2; }
    .swiper-box .list >ul> li.p3 { transform: translateX(200%) scale(0.6); }
    .swiper-box .list >ul> li.p4 { transform: translateX(300%) scale(0.6); }
    .swiper-box .list >ul> li.p5 { transform: translateX(400%) scale(0.6); }
    .swiper-box .list >ul> li.p6 {transform: translateX(-90%) scale(0.6);transform-origin: 120% 50%; opacity: 0.9; z-index: 2; }*/
}

@media screen and (min-width:1441px) and (max-width:1680px) {
    .retail-wrap .title-box .subtitle { margin-top:8rem!important;}
    /*.retail-wrap .module .swiper-box { width: 100%;height:62rem!important;padding:1.875rem;background-color:#f6f6f6;}
    .swiper-box .swiper-list-box .list .btn-box { width:275px!important;height:100%;position:absolute;top:0;z-index:2;}
    .swiper-box .swiper-list-box .list .prev { left:-18%!important;}
    .swiper-box .swiper-list-box .list .next { left:46%!important;}
    .retail-wrap .module .swiper-box .list { width:100%;height:50.375rem;position:absolute;left:50%; margin-left: -280px;}
    .swiper-box .list >ul> li.p1 { transform: translateX(10%) scale(0.8)!important; z-index: 3; opacity: 1; }
    .swiper-box .list >ul> li.p2 { transform: translateX(110%) scale(0.6)!important; transform-origin: -20% 50%!important; opacity: 0.9; z-index: 2; }
    .swiper-box .list >ul> li.p3 { transform: translateX(200%) scale(0.6)!important; }
    .swiper-box .list >ul> li.p4 { transform: translateX(300%) scale(0.6)!important; }
    .swiper-box .list >ul> li.p5 { transform: translateX(400%) scale(0.6)!important; }
    .swiper-box .list >ul> li.p6 {transform: translateX(-90%) scale(0.6)!important;transform-origin: 120% 50%!important; opacity: 0.9; z-index: 2; }*/
}

@media screen and (min-width:1681px) {
    /*.retail-wrap .module .swiper-box { width: 100%;height:68.8125rem;padding:1.875rem;background-color:#f6f6f6;}
    .swiper-box .swiper-list-box .list .btn-box { width:368px;height:100%;position:absolute;top:0;z-index:2;}
    .swiper-box .swiper-list-box .list .prev { left:-26%;}
    .swiper-box .swiper-list-box .list .next { left:40%;}
    .retail-wrap .module .swiper-box .list { width:100%;height:50.375rem;position:absolute;left:50%; margin-left: -280px;}
    .swiper-box .list >ul> li.p1 { transform: translateX(10%) scale(1); z-index: 3; opacity: 1; }
    .swiper-box .list >ul> li.p2 { transform: translateX(110%) scale(0.8); transform-origin: 10% 50%; opacity: 0.9; z-index: 2; }
    .swiper-box .list >ul> li.p3 { transform: translateX(200%) scale(0.8); }
    .swiper-box .list >ul> li.p4 { transform: translateX(300%) scale(0.8); }
    .swiper-box .list >ul> li.p5 { transform: translateX(400%) scale(0.8); }
    .swiper-box .list >ul> li.p6 {transform: translateX(-90%) scale(0.8);transform-origin: 90% 50%; opacity: 0.9; z-index: 2; }*/
}
.c-63B504 { 
    color:#63B504;
}
.retail-wrap { 
    /*width:87.5rem;*/
    width:73%;
    padding:3.75rem 0;
}
.retail-wrap .title-box { 
    padding-top:3.75rem;
}

.retail-wrap  .title-box>img { 
    width:36.25rem;
    height:7.75rem;
}
.retail-wrap  .title-box .subtitle { 
    font-size:2.25rem;
    line-height:1.2em;
    color:#666;
    margin-top:8rem;
}
.retail-wrap  .title-box .video { 
    width:53.3125rem;
    min-height: 30rem;
    margin-top:5rem;
    background-color:rgba(0,0,0,1);
}
.retail-wrap .title-box .video .cover { 
    top:0;
    left:0;
    width:100%;
}
.retail-wrap .title-box .video .video-player { 
    width:100%;
    /*height:100%;*/
    height: 30rem;
}
.retail-wrap .title-box .video .cover-btn { 
    width:5.5rem;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50% , -50%);
    transform: translate(-50% , -50%);
    border-radius:50%;
}
.retail-wrap  .module {
    padding-top:5rem;
}
.retail-wrap .module .title { 
    width:100%;
}
.retail-wrap .module .title>img { 
    width:4.875rem;
    /*height:7.1875rem;*/
}
.retail-wrap .module .title .text { 
    font-weight:bold;
    font-size:2.25rem;
    padding-left:3.125rem;
}
.retail-wrap .module .subtitle { 
       font-weight:bold;
       font-size:2.25rem;
       color:#333;
       padding-left:3.125rem;
       margin-top:3.75rem;
}
.retail-wrap .module .subtitle::before { 
    position:absolute;
    top:50%;
    left:0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content:"";
    width:1.25rem;
    height:1.25rem;
    border-radius:50%;
    background-color:#333;
}
.retail-wrap .module .details { 
    color:#666;
    line-height:1.3em;
    font-size:1.5rem;
    padding:3.125rem 0;
}
.retail-wrap .module .swiper-list-box .preview-icon{
     width: 13.9375rem
}
.retail-wrap .module .swiper-container img { 
    width:100%;
}

.retail-wrap .module .role-list { 
    padding:3.125rem 7.5rem 5.625rem 7.5rem;
    
}
.retail-wrap .module .role-list >li img { 
    width:9rem;
    height:9rem;
}
.retail-wrap .module .role-list >li img.active { 
    width:10rem;
    height:10rem;
}
.retail-wrap .module .role-list > li .active { 
    font-size:2.125rem;
    font-weight:bold;
}
.retail-wrap .module .role-list >li .role-name{ 
    font-size:1.5rem;
    padding-top:1.875rem;
}
.retail-wrap .module .role-details { 
    font-size:1.5rem;
    line-height:1.5em;
   padding:2.5rem;
   background-color:#f6f6f6;
   border-radius:1rem;
   position:relative;
}
.retail-wrap .module .role-details-one::before { 
    position:absolute;
    top:-5rem;
    left:10rem;
    display: block;
    content: "";
    border-width: 2.5rem 2.5rem 2.5rem 2.5rem;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
}
.retail-wrap .module .role-details-two::before { 
    position:absolute;
    top:-5rem;
    left:50%;
    -webkit-transform: translateX(-50%);
    transform: translate(-50% );
    display: block;
    content: "";
    border-width: 2.5rem 2.5rem 2.5rem 2.5rem;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
}
.retail-wrap .module .role-details-three::before { 
    position:absolute;
    top:-5rem;
    right:10rem;
    display: block;
    content: "";
    border-width: 2.5rem 2.5rem 2.5rem 2.5rem;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
}
.retail-wrap .module .case-code-box { 
    width:55.125rem;
    /*height:59.625rem;*/
    background-color:#fff;
    /*border-radius:1rem;*/
    margin:3.75rem 0;
    padding:2rem;
}
/*.retail-wrap .module .case-code-box .case-code { 
    width:100%;
    height:100%;
    padding:4.375rem 0;
    background-color:#fff;
    /*border-radius:1rem;*/
}*/
.retail-wrap .module .case-code-box .case-code > .code{ 
    width:23.75rem;
    height:23.75rem;
    /*margin-top:2.5rem;*/
}
.retail-wrap .module .case-code-box .case-code > .arrows { 
    width:2.5rem;
    height:2.5rem;
    margin-top:3.5rem;
}
.retail-wrap .module .case-code-box .case-code > .text { 
    font-size:2.25rem;
    font-weight:bold;
    color:#666;
    margin-top:2.5rem;
}
.retail-wrap .module .price { 
    margin-top:3.75rem;
    font-size:1.5rem;
    font-weight:bold;
}
.retail-wrap .module .price-table { 
    width:100%;
    font-size:1.625rem;
    margin-top:3.75rem;
    margin-bottom:1.75rem;
    text-align:center;
    border:1px solid #666;
}
.retail-wrap .module .price-table tr { 
    height:5.625rem;
}
.retail-wrap .module .price-table tr > td { 
    width:50%;
    border:1px solid #666;
}
.retail-wrap .module .discounts { 
    font-size:1.5rem;
    font-weight:bold;
    line-height:1.6em;
}

/*.retail-wrap .module .swiper-box { width: 100%;height:68.8125rem;padding:1.875rem;background-color:#f6f6f6;}*/
/*.retail-wrap .module .swiper-box .swiper-list-box { background-color:#fff;height:100%;overflow:hidden;position:relative;}
.retail-wrap .module .swiper-box .swiper-list-box .preview-icon { width: 13.9375rem;padding-top:1.875rem;padding-left:1.875rem;}*/
/*.swiper-box .swiper-list-box .list .btn-box { width:368px;height:100%;position:absolute;top:0;z-index:2;}*/
/*.swiper-box .swiper-list-box .list .prev { left:-26%;}
.swiper-box .swiper-list-box .list .next { left:40%;}
.retail-wrap .module .swiper-box .list { width:100%;height:50.375rem;position:absolute;left:50%; margin-left: -280px;}*/
/*.swiper-box .list >ul> li { position: absolute; top: 0; left: 0;list-style: none; opacity: 0; transition: all 0.3s ease-out; }*/
/*.swiper-box .list >ul> li.p1 { transform: translateX(10%) scale(1); z-index: 3; opacity: 1; }
.swiper-box .list >ul> li.p2 { transform: translateX(110%) scale(0.8); transform-origin: 10% 50%; opacity: 0.9; z-index: 2; }
.swiper-box .list >ul> li.p3 { transform: translateX(200%) scale(0.8); }
.swiper-box .list >ul> li.p4 { transform: translateX(300%) scale(0.8); }
.swiper-box .list >ul> li.p5 { transform: translateX(400%) scale(0.8); }
.swiper-box .list >ul> li.p6 {transform: translateX(-90%) scale(0.8);transform-origin: 90% 50%; opacity: 0.9; z-index: 2; }*/

.swiper-wrapper .swiper-slide {
	-webkit-transition: transform 1.0s;
	-moz-transition: transform 1.0s;
	-ms-transition: transform 1.0s;
	-o-transition: transform 1.0s;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
.swiper-wrapper .swiper-slide-active,.swiper-wrapper .swiper-slide-duplicate-active {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.swiper-button-prev,.swiper-button-next { 
    width: 25%;
    height: 100%;
	background:transparent;
    top:10%;
}
.swiper-button-prev { 
    left:4%;
}
.swiper-button-next { 
    right:4%;
}
.none-effect {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
}