@media screen and (min-width:768px) and (max-width: 1024px) {
    /*html { font-size: 0.75rem; }*/
    .basis-content { margin-top: -47.828px !important; }
    .basis-list > img { width: 80% !important; height: 80% !important; }
    .basis-content > a { height: 40px !important; line-height: 40px !important; }
    .function-list { width: 100% !important; }
    .function-item { width: 33.33%; }
    .function-item > p { padding: 2px 30px; }
    /*.basis-item > img { width: 30% !important; }*/
    .item-img { width: 50%; }
    .btn-more > a { height: 40px !important; line-height: 40px !important; }
    .basis-main { width: 85%; }
    /*.option-list { width: 85%; }*/
    .ktv-list { width: 100%; }
}

@media screen and (min-width:1025px) and (max-width: 1280px) {
    /*html { font-size: 0.75rem; }*/
    .basis-content { top: 65% !important; }
    .function-list { width: 80% !important; }
    .function-item { width: 33.33%; }
    /*.basis-main { width: 85%; }*/
    /*.option-list { width: 85%; }*/
    .item-img { width: 60%; }
    .ktv-list { width: 90%; }
}

@media screen and (min-width:1281px) and (max-width:1440px) {
    /*html { font-size: 0.875rem; }*/
    .function-list { width: 85% !important; }
    .function-item { width: 25%; }
    /*.basis-main { width: 75%; }*/
    /*.option-list { width: 75%; }*/
    .ktv-list { width: 80%; }
    /*.item-img { width:100%;}*/
}

@media screen and (min-width:1441px) {
    .function-list { width: 80% !important; }
    .function-item { width: 25%; }
    /*.basis-main { width: 75%; }*/
    /*.option-list { width: 75%; }*/
    .ktv-list { width: 75%; }
    /*.item-img { width:100%;}*/

}


/*内容*/
/*.basis-main { margin:0 auto; padding:4% 0;}
.basis-main h2 {font-size:1.875rem; }
.basis-bg { width: 100%; position: relative; }
.basis-bg > img { width: 100%; height: 100%; }
.basis-content { width: 100%; position: absolute; top: 50%; left: 0; margin-top:-97px;display: flex; flex-direction: column; align-items: center; justify-content: center; }
.basis-content > h1 { font-size: 3.5rem; color: #fff; margin-bottom: 20px; }*/
.solution-banner { position: relative; }
.banner-text-box { position: absolute; left: 0; top: 0; bottom: 0; right: 0; width: 50%; height: 50%; margin: auto; }
.banner-text { font-weight: bold; font-size: 3.5rem; color: #fff; }
.banner-text-box > p { font-size: 1.25rem; color: #ddd; padding-top: 1%; padding-top: 10px; }

.solution-content { width: 100%; padding-top: 2%; }
.solution-topbg { width: 75%; position: relative; }
.solution-topbg > img { width: 100%; }
.solution-toptext { position: absolute; top: 50%; left: 0; width: 100%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }
.toptext-content { margin: 0 auto; height: 100%; }
.toptext-content > h2 { font-size: 4.625rem; text-align: center; }
.toptext-content > h3 { font-size: 1.5rem; font-weight: normal; text-align: center; padding-top: 1rem; padding-bottom: 1.875rem; }
.toptext-content > p { text-indent: 2em; line-height: 1.4em; font-size: 1.125rem; }

.solution-icon { text-align: center; width: 50%; padding-bottom: 5rem; }
.solution-icon > h3 { padding-top: 1rem; }

.versions-content { width: 100%; padding-top: 2%; }
.versions-topbg { width: 85%; position: relative; }
.versions-toptext { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; text-align: center; }
.versions-toptext > h2 { font-size:4.875rem; }
.versions-toptext > p { font-size: 1.125rem; line-height: 1.4em; padding: 5% 0;width:25rem; }
.versions-topbtn { width: 60%; margin: 0 auto; }
.versions-topbtn > span { width: 40%; background-color: #3296fa; padding: 4% 0; border-radius: 5px; white-space: nowrap; cursor: pointer; }
/*.bg-img>img {width:100%;}
.basis-content > a { background: #3296FA; font-size: 1.125rem; width: 8.5%; height: 50px; line-height: 50px; text-align: center; color: #fff; border-radius: 4px; }*/
/*选项卡样式*/
.option-list { width: 75%; margin: 0 auto; padding-top: 2%; }
.option-list ul { list-style: none; white-space: nowrap; font-size: 1.125rem; font-weight: bold; color: #333; border-bottom: 1px solid #E6E6E6; }
.option-list ul > li { display: inline-block; margin: 0 10px; position: relative; padding: 2% 0; cursor: pointer; }

.current-option { color: #63b504; }
.current-option::before { width: 100%; height: 2px; content: ""; position: absolute; left: 0; bottom: 0; background: #63b504; }
/*带背景色*/
.bgcolor-container { background-color: #3B5F89; margin-top: 30px; }
.bgcolor-container { color: #fff; }
.bgcolor-container > h2 { margin: 5% 0; margin: 80px 0; font-size: 1.875rem; }
.bgnormal-container, .bgcolor-container { width: 100%; /*padding-top:70px;*/ }
/*.basis-column {color: #333; }*/
.bgnormal-container > h2 { margin-top: 5rem; font-size: 1.875rem; }
.bgnormal-container h2, h4 { color: #333; }
/*.solution-item-imgBottom {  padding-top:5%;padding-top: 80px;}*/
.solution-item-imgBottom > img { width: 100%; }

.item-title { font-size: 1.25rem; margin: 20px 0; }
.item-content { /*font-size: 0.875rem;*/ line-height: 1.5em; text-align: center; }
.top-container { /*padding-right:10%;*/ width: 80%; padding: 5% 0; padding: 30px 0; }
.function-list { /*width: 75%;*/ padding-top: 5rem; }
.function-list > img { width: 100%; }
.item-img-box { text-align: center; }
.function-item-3 { width: 33%; margin-bottom: 5%; padding: 0 0.625rem; margin-bottom: 60px; }
.function-item-4 { width: 25%; margin-bottom: 6.6%; padding: 0 1.25rem; margin-bottom: 80px; padding: 0 20px; }

/*房地产*/
/*.realty-list { width:100%;padding-top:80px;}
.realty-list > img { width: 100%; }
.realty-item {width: 33%;margin-bottom:6.6%;padding:0 5%; }*/
/*.realty-item > h2 { font-size: 1.25rem; color: #333; margin: 5% 0; }
.realty-item > p { font-size: 1rem; line-height:1.5em; color: #666; text-align:center}*/

/*健身房*/
.top-page h2 { text-align: center; color: #333; padding-bottom: 50px; }
.top-page { width: 70%; line-height: 1.5em; }
.top-page > div { width: 60%; text-indent: 2em; }
.top-gymnasium-img { width: 30%; }
.gymnasium-img { width: 100%; height: 100%; max-width: 407px; }

/*家政*/
.top-homemaking-page { width: 60%; }
.top-page > div p { text-indent: 2em; padding-bottom: 10px; }
.top-homemaking-img { width: 40%; }
.homemaking-img { width: 100%; height: 100%; max-width: 720px; max-height: 668px; }
.bgcolor-container h4 { color: #fff; }
/*电商版*/
.ec-introduce { width: 100%; padding: 3.2% 0; padding: 60px 0; }
.ec-introduce-box { width: 90%; }
.ec-list { width: 40%; }
.ec-icon { width: 100%; align-items: center; }
.ec-icon > h3 { font-size: 1.5rem; color: #333; padding-bottom: 4.3%; padding-bottom: 25px; }
.ec-icon > p { font-size: 1rem; color: #666; text-align: center; width: 50%; line-height: 1.4em; }
.more-func { width: 100%; padding: 5% 0; padding: 80px 0; }
.more-func > h3 { font-size: 1.875rem; color: #333; padding-bottom: 3.8%; padding-bottom: 40px; }
.func-list { width: 80%; }
.func-item { width: 33.3%; padding-bottom: 4%; padding-bottom: 50px; }
.func-item > h4 { font-size: 1.25rem; color: #333; }
.func-item > p { font-size: 1rem; color: #666; width: 64%; padding-top: 3%; padding-top: 20px; text-align: center; line-height: 1.4em; }
/*KTV*/
.core-function { width: 100%; padding: 10% 0; padding: 100px 0; }
.core-function > h2 { padding-bottom: 70px; color: #333; }
.core-list { width: 60%; }
.core-item > p { text-align: center; font-weight: bold; padding-top: 10%; }
.ktv-list {  padding: 6.25rem; }
.ktv-item { width: 20%; padding: 0 1rem; }

/*美容美发*/
.hairdressing-top-container { padding-top: 40px; width: 90%; }
.top-hairdressing-page { width: 60%; line-height: 1.5em; padding-top: 80px; }
.top-hairdressing-page > h2 { color: #333; }
.hairdressing-page-item { width: 90%; padding-top: 10%; padding-top: 80px; }
.top-hairdressing-img { width: 40%; }
.hairdressing-img { width: 100%; height: 100%; max-width: 604px; }
.graybg-color { background-color: #f7f7f7; }
.hairdressing-item { width: 50%; padding: 0 2% 5% 2%; padding-bottom: 40px; }
.hairdressing-item > img { max-width: 120px; }

/*家装*/
.pinkbg-color { background-color: #F2EEEA; }
/*餐饮版*/
/*白色内容*/
.catering-introduce { width: 100%; padding: 5% 0; padding: 100px 0; }
.catering-introduce > img { padding-top: 2.5%; }
.introduce-context { width: 40%; text-indent: 2em; padding: 0 4%; }
.introduce-context > h3 { font-size: 1.875rem; color: #333; margin-bottom: 8%; }
.introduce-context > p { color: #666; padding-bottom: 0.625rem; line-height: 1.4em; }
.introduce-context > p > span { font-weight: bold; }
/*灰色内容*/
.catering-row { background: #f7f7f7; width: 100%; padding: 5rem 10rem; }
.catering-show { width: 33.33%; }
.catering-show > img { margin-bottom: 0.625rem; width: 8.375rem; }
.show-context > h3 { font-size: 1.5rem; color: #333; padding: 6% 0; padding: 15px 0; }
.show-context > p { color: #666; line-height: 1.5em; }
.catering-manager { width: 100%; padding: 3% 0; padding: 60px 0; }
.manager-content { width: 50%; padding: 4% 0; }
.manager-content > h3 { font-size: 1.875rem; color: #333; }
.manager-content > p { width: 65%; color: #666; text-align: center; padding: 5% 0; padding: 40px 0; line-height: 1.4em; }
.manager-icon { width: 100%; padding: 0 4%; }
.icon-column { width: 50%; padding-bottom: 50px !important; padding-bottom: 10%; }
.icon-column > h4 { font-size: 1.25rem; color: #333; padding: 6% 0; padding: 25px 0; }
.icon-column > p { font-size: 1rem; color: #666; margin-bottom: 5px; text-align: center; }
