.sysmsg { display: block; width: 8px; background-color: red; height: 8px; border-radius: 8px; position: relative; left: 22px; top: -30px; }
.sysmsg-setting { width: 400px; position: absolute; top: 100%; right: 10px; z-index: 99; padding: 10px 0px; max-height: 600px; background-color: #fff; border: 1px solid #F7F7F7; border-radius: 5px; -webkit-border-radius: 5px; box-shadow: 0 0 20px #e4e8eb; -webkit-box-shadow: 0 0 20px #e4e8eb; font-family: "微软雅黑"; line-height: 24px; }
.sysmsg-setting a { color: #3296FA; }
.triangle_border_up { width: 0; height: 0; border-width: 0 30px 30px; border-style: solid; border-color: transparent transparent #333; /*透明 透明  灰*/ margin: 40px auto; position: absolute; top: 100px; z-index: 111; }
.triangle { position: relative; top: -10px; right: -330px; }
.triangle:before { position: absolute; content: ""; top: -10px; left: 25px; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #F7F7F7; }
/* 白色覆盖*/
.triangle:after { position: absolute; content: ""; /*减少两像素*/ top: -8px; left: 25px; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff; }
.sysmsg-border-buttom { border-bottom: 1px solid #E7E7EB; }
.sysmsg-height30 { height: 30px; line-height: 30px; }
.sysmsg-height40 { height: 40px; line-height: 40px; }
.sysmsg-padding15 { padding: 0 15px; }
.words { display: -webkit-box; -webkit-line-clamp: 4; /*规定超过两行的部分截断*/ -webkit-box-orient: vertical; overflow: hidden; word-break: break-all; /*在任何地方换行*/; }
.fontsize15 { font-size: 15px; }
#sysmsg_content { overflow: auto; max-height: 500px; }
