
@media screen and (max-width:768px) {
    .versions-toptext { width: 55%; }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .versions-toptext { width: 55%; }
}

@media screen and (min-width:1025px) and (max-width: 1280px) {
    .versions-toptext { width: 55%; }
}

@media screen and (min-width:1281px) and (max-width: 1366px) {
    .versions-toptext { width: 55%; }
}

@media screen and (min-width:1367px) and (max-width: 1440px) {
    .versions-toptext { width: 45%; }
}

@media screen and (min-width:1441px) and (max-width: 1680px) {
    .versions-toptext { width: 40%; }
}

@media screen and (min-width:1681px) and (max-width: 1920px) {
    .versions-toptext { width: 35%; }
}

@media screen and (min-width:1921px) {
    .versions-toptext { width: 35%; }
}
/*公共样式*/
.templateMarket-banner { position: relative; }
.banner-text-box { position: absolute; left: 0; top: 0; bottom: 0; right: 0; width: 50%; height: 50%; margin: auto; }
.banner-text { font-weight: bold; font-size: 3.5rem; color: #fff; }
.banner-text-box > p { font-size: 1.25rem; color: #ddd; padding-top: 1%; padding-top: 10px; }
.versions-content { width: 100%; padding-top: 2%; }
.versions-topbg { width: 85%; position: relative; }
.versions-toptext { position: absolute; left: 0; top: 0; bottom: 0; right: 0; width: 50%; margin: auto; color: #fff; text-align: center; }
.versions-toptext > h2 { font-size: 5rem; }
.versions-toptext > p { font-size: 1.125rem; line-height: 1.4em; padding: 5% 0; padding: 40px 0; }
.versions-topbtn { width: 60%; margin: 0 auto; }
.versions-topbtn > span { width: 40%; background-color: #63b504; padding: 4% 0; padding: 14px 0; border-radius: 5px; white-space: nowrap; cursor: pointer; }

/*选项卡样式*/
.option-list { width: 85%; margin: 0 auto; }
.option-list ul { list-style: none; font-size: 1.125rem; font-weight: bold; color: #333; border-bottom: 1px solid #E6E6E6; }
.option-list ul > li { display: inline-block; margin: 0 2%; position: relative; padding: 4% 0 2.3% 0; cursor: pointer; }
.current-option { color: #63b504; }
.current-option::before { width: 100%; height: 2px; content: ""; position: absolute; left: 0; bottom: 0; background: #63b504; }
/*单页版*/
.page-banner { width: 85%; padding-top: 4%; padding-top: 60px; }
.banner-txt { width: 28%; text-align: center; }
.imgtxt > h3, .richtxt > h3, .banner-txt > h3 { font-size: 1.5rem; color: #333; padding: 5% 0; padding: 20px 0; }
.page-richtxt { padding: 3% 0; padding: 60px 0; background-color: #f7f7f7; width: 100%; }
.richtxt-box { width: 70%; text-align: center; }
.imgtxt, .richtxt { width: 50%; text-align: center; }
.page-img { width: 75%; padding: 60px 0; }
.page-icon { width: 9.475rem; }
.more { width: 100%; }
.more > h3 { font-size: 1.875rem; color: #333; margin-top: 6%; margin-top: 80px; }
.more-box-row { width: 82%; padding: 6.25rem 0; }
.more-box { width: 33.3%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; }
.more-box > h4 { font-size: 1.5rem; color: #333; font-weight: bold; padding: 3% 0; padding: 1.5rem 0; }
.more-content { padding: 0 5%; color: #666; line-height: 1.4em; text-align: center; }
/*企业版*/
.imageText-item { padding: 3% 0; padding: 60px 0; background-color: #f7f7f7; width: 100%; }
.imageText-itembox { width: 70%; }
.imageText-context { padding: 0 2%; width: 50%; text-align: center; }
.imageText-context > h3 { font-size: 1.875rem; color: #333; padding: 5% 0; padding: 30px 0; line-height: 1.2em; }
.imageText-context > p { color: #666; line-height: 1.4em; white-space: nowrap; }
/*电商版*/
.ec-introduce { width: 100%; padding: 3.2% 0; padding: 60px 0; }
.ec-introduce-box { width: 90%; }
.ec-list { width: 40%; }
.ec-icon { width: 11.25rem; }
.ec-img { padding: 1.875rem 0; }
.ec-img > h3 { font-size: 1.5rem; color: #333; padding-bottom: 4.3%; padding-bottom: 1rem; }
.ec-img > p { font-size: 1rem; color: #666; text-align: center; width: 50%; line-height: 1.4em; }
.more-func { width: 100%; padding: 5% 0; padding: 100px 0; }
.more-func > h3 { font-size: 1.875rem; color: #333; padding-bottom: 3.8%; padding-bottom: 1.25rem; }
.func-list { width: 100%; padding: 0 2%; }
.func-item { width: 33.3%; padding-bottom: 4%; padding-bottom: 60px; }
.func-item > h4 { font-size: 1.25rem; color: #333; }
.func-item > p { font-size: 1rem; color: #666; width: 64%; padding-top: 3%; padding-top: 20px; text-align: center; line-height: 1.4em; }
/*餐饮版*/
/*白色内容*/
.catering-introduce { width: 100%; padding: 5% 0; padding: 100px 0; }
.catering-introduce > img { padding-top: 2.5%; }
.introduce-context { width: 40%; text-indent: 2em; padding: 0 4%; }
.introduce-context > h3 { font-size: 1.875rem; color: #333; margin-bottom: 8%; }
.introduce-context > p { color: #666; padding-bottom: 0.625rem; line-height: 1.4em; }
.introduce-context > p > span { font-weight: bold; }
/*灰色内容*/
.catering-row { background: #f7f7f7; width: 100%; padding: 5rem 10rem; }
.catering-show { width: 33.33%; }
.catering-show > img { margin-bottom: 0.625rem; width: 8.375rem; }
.show-context > h3 { font-size: 1.5rem; color: #333; padding: 6% 0; padding: 15px 0; }
.show-context > p { color: #666; line-height: 1.5em; }
/*门店管理*/
.catering-manager { width: 100%; padding: 3% 0; padding: 60px 0; }
.manager-content { width: 50%; padding: 4% 0; }
.manager-content > h3 { font-size: 1.875rem; color: #333; }
.manager-content > p { width: 65%; color: #666; text-align: center; padding: 5% 0; padding: 40px 0; line-height: 1.4em; }
.manager-icon { width: 100%; padding: 0 4%; }
.icon-column { width: 50%; padding-bottom: 50px !important; padding-bottom: 10%; }
.icon-column > h4 { font-size: 1.25rem; color: #333; padding: 6% 0; padding: 25px 0; }
.icon-column > p { font-size: 1rem; color: #666; margin-bottom: 5px; text-align: center; }
/*行业版*/
.trade-module { width: 85%; padding: 8% 0; padding: 100px 0; }
.share-iconbox { padding-bottom: 8%; }
.share-iconbox > div { padding: 0 2%; text-align: center; }
.share-iconbox > div p { padding: 8% 0; white-space: nowrap; }
.icon-arrowsLeft::before { content: ""; position: absolute; width: 100%; height: 100%; background: url('http://j.vzan.cc/dz/content/newhome/image/templateMarket/hy/icon-arrowsLeft.png')no-repeat; }
/*专业版*/
.pro-sixfunction { width: 100%; padding: 5.3% 2%; padding: 100px 45px; text-align: center; }
.pro-functionlist { width: 85%; }
.pro-sixfunctionTitle {padding-bottom: 5rem; }
.pro-sixfunctionTitle > h3 { font-size: 1.75rem; color: #333; padding: 5% 0; }
.pro-functionitem { width: 33.3%; text-align: center;padding: 1.875rem;}
.pro-functionitem > img { margin-bottom: 1.25rem; width: 9rem; }
.pro-context > h4 { font-size: 1.5rem; color: #333; padding:0.625rem 0; line-height: 1.2em; }
.pro-context > p { color: #666; line-height: 1.5em; }
.pro-nbfunction { width: 100%; padding-top: 5%; padding-top: 60px; }
.pro-nbfunction-box { width: 85%; }
.pro-nbfunction-context { padding-bottom: 5%; padding-bottom: 60px; width: 50%; }
.pro-nbfunction-context > h3 { font-size: 1.875rem; padding: 3% 0; padding: 20px 0; color: #333; }
.pro-nbfunction-context > p { color: #666; line-height: 1.4em; }
.pro-nbfunction-img { padding-top: 5%; padding-top: 80px; }
.pro-fun-icon { width:6.25rem!important;}
