@media screen and (min-width:768px) and (max-width: 1024px) {
    .video-item-box { width: 33% !important; }
}

@media screen and (min-width:1024px) and (max-width: 1280px) {
    .content-box { width: 92% !important; padding-right: 9rem !important; }
    .video-item-box { width: 33% !important; }
}

@media screen and (min-width:1281px) and (max-width:1366px) {
    .video-item-box { width: 33% !important; }
}

@media screen and (min-width:1367px) and (max-width:1440px) {
    .content-box { width: 95% !important; }
}

@media screen and (min-width:1441px) and (max-width:1680px) {
    .content-box { width: 92% !important; }
}

@media screen and (min-width:1681px) {
}

.video-list-container { width: 100%;padding-top:60px; }
.content-box { width: 90%; margin: 0 auto; padding-right: 10rem; letter-spacing: 0.05em; }
.invited-lecture-box { position:relative;margin-bottom:2.5rem;}
.invited-lecture-box .input-area { 
    position:absolute;
    top:0;
    left:50%;
    height:100%;
}
.invited-lecture-box .input-area > input { width:23rem;height:3.125rem;line-height:3.125rem;text-align:center;border-radius:4px;border:none;color:#999;}
.invited-lecture-box .input-area > .submit-btn { width:6.5rem;height:3.125rem;line-height:3.125rem; background-color:#FF9938;color:#fff;text-align:center;border-radius:4px;margin-left:1.25rem; font-size:1.375rem;}
.list-label-box {  padding:0 1.25rem;border:1px dashed #e6e6e6;}
.list-label { padding:0.75rem 0;font-size:1.125rem;border-bottom:1px dashed #e6e6e6;}
.label-title {min-width:5.5rem;color:#999;}
.label-name { color:#333;height:2.875rem;line-height:2.875rem; padding:0 0.75rem;margin:0 0.75rem;white-space:nowrap; cursor:pointer; }
.sort-box { margin-top:1.875rem; border-bottom:1px solid #63b504;position: relative;height: 3.125rem;}
.sort-item {width: 7.375rem;height: 3.125rem;line-height: 3.125rem;color:#999; cursor:pointer; }
.active-label {  background-color: #63b504; color: #fff;}
.active-sort {border: 1px solid #63b503;border-bottom: none;background-color: #f8f8f8;color:#666; }
/*.list-label > li { min-width: 7.5rem; height: 3.125rem; text-align: center; line-height: 3.125rem; cursor: pointer; border: 1px solid #e7e7e7; }
.list-label > li :hover { background-color: #63b504; color: #fff; }*/
/*.active-label { background-color: #63b504; color: #fff; }*/
/*.sort { border: 1px solid #e7e7e7; padding: 0.68rem; height: 100%; border-radius: 0.25rem;cursor:pointer; }
.notbg { background:none;}
.sort:hover {color:#63b504;}
.sort-icon {width:0.625rem;height:1rem;margin-left:0.375rem;background: url('../image/icon-sort-d.png')no-repeat center; }*/
.video-list-box { padding-top: 2.5rem; min-height: 26.25rem; }
.video-item-box { width: 25%; padding: 1.25rem 0.625rem; margin-bottom: 1.375rem; transition: all 0.5s ease; }
.video-item-box:hover { transform: scale(1.01); box-shadow: 0 0 20px #e5e5e5; }
.video-item { color: #666; }
.video-item-text { padding-top: 2rem; }
.video-item-text > h3 { font-size: 1rem; font-weight: normal; line-height: 1.4em; height: 2.75rem; display: -webkit-box; word-break: break-all; text-overflow: ellipsis; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.video-item-text > p { padding-top: 1rem; font-size: 0.875rem; }
.icon-encryption { width: 1.125rem; height: 1.125rem; margin-right: 0.375rem; background-image: url('../image/newhome/encryption.png'); background-size: cover; }
.add-btn-box { padding: 20px 0; }
.add-more { display: inline-block; padding: 14px 20px; border: 1px solid #999; border-radius: 5px; margin: 0 auto; cursor: pointer; }
.add-more:hover { color: #63b504; border: 1px solid #63b504; }
