/*@media screen and (min-width:768px) and (max-width: 1024px) {
    .video-player£¬.episode-list { height: 28rem !important; }
}

@media screen and (min-width:1024px) and (max-width: 1280px) {
    .video-player,.episode-list { height: 28rem !important; }
}

@media screen and (min-width:1281px) and (max-width:1480px) {
    .video-player,.episode-list { height: 31rem !important; }
}
@media screen and (min-width:1481px) and (max-width:1679px) {
    .video-player,.episode-list { height: 38rem !important; }
}
@media screen and (min-width:1680px) {
    .video-player,.episode-list { height: 37.5rem !important; }
}*/

.video-details-container { width: 100%; height: 100%; }
.video-content { width: 100%; height: 100%; background-color: #3f3f3f;padding-bottom:10.5rem}
.video-title { color: #fff; }
.video-title > h1 { font-size: 1.125rem; font-weight: normal; padding-bottom: 0.75rem; }
.video-title > p { font-size: 0.875rem; }
.video-area { margin-top: 1.875rem;position:relative; }
.episode-list { width: 18.76rem; margin-left: 0.625rem; background-color: #363636; overflow-y: auto; height: 37.5rem; }
.current-title { width: 100%; line-height: 1.2em; padding: 0.875rem 1.25rem; border-bottom: 1px solid #3f3f3f; }
.current-title > h3 { color: #d7d7d7; font-weight: normal; font-size: 1rem; padding-bottom: 0.5rem; }
.current-title > p { color: #6e6e6e; font-size: 0.625rem; }
.episode-list-item { width: 100%; height: 3.75rem; padding: 0.875rem 1.25rem; border-bottom: 1px solid #3f3f3f; cursor: pointer; }
.episode-list-item:hover { background-color: #4a4a4a; }
.episode-title { font-size: 0.875rem; line-height: 1.2em; color: #d7d7d7; display: -webkit-box; word-break: break-all; text-overflow: ellipsis; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
/*²¥·ÅÆ÷*/
.video-player { position: relative; width: 100%; min-height: 37.5rem; }
.video-masking { position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background: url('http://j.vzan.cc/dz/content/newhome/image/newhome/video-masking.png') no-repeat center; background-size: cover; }
.play-btn {width:10%;}
.encryption-masking { position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: none; text-align: center; background-color: #000; }
.encryptionVideo-btn { cursor: pointer; background-color: #63b504; color: #fff; width: 80px; height: 36px; line-height: 36px; display: inline-block; }
.encryptionVideo-btn:hover { background-color: #549a03; }
.encryption-input { height: 36px; text-align: center; }
.video-masking-gif { position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background: url('http://j.vzan.cc/dz/content/newhome/image/newhome/videoMasking.gif') no-repeat center; background-size: cover; }
/*.next-video-warn { position: absolute; left: 0; top: 0; width: 100%; padding-top: 4px; text-align: center; color: #fff; display: none; }*/
video::-internal-media-controls-download-button { display: none; }
video::-webkit-media-controls-enclosure { overflow: hidden; }
video::-webkit-media-controls-panel { width: calc(100% + 30px); }
/*ÊÓÆµÂÖ²¥*/
.video-swiper-container { width: 90%; overflow: hidden; margin: 0 auto; }
.video-swiper-play { width: 25%; }
.video-swiper-details { letter-spacing: 0.1em; font-size: 0.875rem; /*line-height: 1.2em;*/ }
.video-details-title { font-weight: normal; font-size: 0.875rem; padding-top: 0.625rem;height:2.625rem; line-height: 1.2em; display: -webkit-box; word-break: break-all; text-overflow: ellipsis; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.video-details-date { font-size: 0.625rem; padding-top: 0.5rem; }
.videoswiper-prev { left: 0; }
.videoswiper-next { right: 0; }
.swiper-slide:hover .video-swiper-masking { opacity: 1; transition: all 1s ease; }
