@model ViewModel<EntGoodUnit>
@{
    string dirName = "enterprise";
    if (Model.PageType == 22)
    {
        dirName = "enterprisepro";
    }
    ViewBag.Title = "产品单位";
    ViewBag.PageType = Model.PageType;
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    int appid = Utility.IO.Context.GetRequestInt("appId", 0);
}

<div id="app" class="container-fluid" v-cloak>

    <div>
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <p>提示：</p>
            <p>1、单位名称不能超过10个字，且不能重复</p>
            <p>2、删除单位不会影响使用了此单位的产品</p>
        </div>
        <div class="mt10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="100">ID</th>
                        <th>单位名称</th>
                        <th width="200">排序</th>
                        <th width="200">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in list">
                        <td align="center">{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>
                            <div>
                                <input type="text"  class="form-control" style="width:50px;display:inline-block;" v-model="item.sort" onkeyup="value=value.replace(/[^\d]/g,'') " maxlength="4" />
                            </div>
                        </td>
                        <td>
                            <a v-on:click="del(index)" class="btn btn-sm btn-danger"> 删除 </a>&nbsp;&nbsp;&nbsp;
                            <a v-on:click="edit(index)" class="btn btn-sm btn-primary"> 编辑 </a>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div>
            <button class="btn btn-success" id="btnBatch_Pass" v-on:click="addNew">
                <span class="glyphicon glyphicon-plus"></span>
                新增单位
            </button>

            <button class="btn btn-success" v-on:click="savesort(-1)">
                保存排序
            </button>
        </div>
    </div>


    <div class="modal bs-example-modal" id="addModal" tabindex="-1" role="dialog" aria-labelledby="tipsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        产品单位
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-add">
                        <tr>
                            <td><span>单位名称：</span></td>
                            <td><input maxlength="10" placeholder="单位名称"  v-model="edititem.name" type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td><span>排序：</span></td>
                            <td><input maxlength="10" placeholder="排序"  v-model="edititem.sort" type="text" class="form-control"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button type="button" class="btn btn-primary" data-itemid="" id="btnAdd" v-on:click="save">确定</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
        var item = {
            id:0,
            name: "",
            aid:@Utility.IO.Context.GetRequestInt("appId",0),
            state: 1,
            sort:99,
        };

        var app = new Vue({
            el: "#app",
            data: {
                edititem:JSON.parse(JSON.stringify(item)),
                editid:0,
                list:@Html.Raw(JsonConvert.SerializeObject(Model.DataList)),
            },
            coumputed:{
                totalcount:function(){
                    return this.list.length;
                }
            },
            mounted: function () {
                console.log("mounted");
            },
            methods: {
                addNew: function () {

                    $('#addModal').modal('show');
                    this.editid = 0;
                },
                save: function () {
                    var that=this;
                    var _typename=$.trim(that.edititem.name);
                    if(_typename.length==0||_typename.length>10){
                        layer.msg("单位名称不能为空，且不能超过10个字",{time:1000});
                        return;
                    }
                    $.post("/@(dirName)/punit", $.extend(that.edititem,{appId:item.aid}),function(data){
                        if(typeof data=="object"){
                            if(data.isok){
                                $('#addModal').modal('hide');
                                layer.msg("保存成功", { time: 1000 }, function () {
                                    window.location.reload();
                                });
                            }
                            else{
                                layer.msg(data.msg,{time:1000});
                            }
                        }
                        else{
                            layer.msg(data.msg,{time:1000});
                        }
                    });
                },
                //保存排序
                savesort: function (index) {
                    var aid = @Utility.IO.Context.GetRequestInt("appId", 0);
                    var data = [];
                    var iserro = false;
                    if(index<0)
                    {
                        app.list.forEach(function(value,index){
                            data[data.length] = { id: value.id, sort: value.sort };
                        });
                    }
                    else{
                        if(app.list[index].sort.length<=0)
                        {
                            iserro = true;
                        }
                        data[data.length]={id:app.list[index].id,sort:app.list[index].sort};
                    }

                    if(iserro)
                    {
                        layer.msg("请输入排序值",{time:1000});
                        return;
                    }

                    if(data.length<=0)
                    {
                        layer.msg("保存成功",{time:1000},function(){
                            window.location.reload();
                        });

                        return;
                    }

                    var datajson = JSON.stringify(data);

                    $.post("/@(dirName)/updatesort", {appId:aid,datajson:datajson,type:5},function(data){
                        if(typeof data=="object"){
                            if(data.isok){
                                layer.msg("保存成功",{time:1000},function(){
                                    window.location.reload();
                                });
                            }
                            else{
                                layer.msg(data.msg,{time:1000});
                            }
                        }
                        else{
                            layer.msg(data.msg,{time:1000});
                        }
                    });
                },
                //显示排序编辑
                showeditsort: function (index,state) {
                    app.list[index].sel = state>=0;
                },
                edit:function(index){
                    $('#addModal').modal('show');
                    this.edititem=JSON.parse(JSON.stringify(this.list[index]));
                },
                del:function(index){
                    var that=this;
                    layer.open({
                        title: "删除确认",
                        content: "确定要删除该单位么？",
                        btn: ["确定", "取消"],
                        yes: function () {
                            $.post("/@(dirName)/punit",{act:"del",id:that.list[index].id,appId:item.aid})
                            .then(function(data){
                                console.log(data);
                                if(typeof data=="object"){
                                    if (data.isok) {
                                        layer.msg("删除成功", { time: 1000 });
                                        that.list.splice(index,1);
                                    }
                                    else{
                                        layer.alert(data.msg);
                                    }
                                }
                                else{
                                    layer.alert(data);
                                }
                            });

                        }
                    })
                }
            }
        });
</script>