@model List<XcxTemplate>
@{
    //小程序商城店铺配置
    ViewBag.Title = "门店信息";
    ViewBag.PageType = 6;//1是行业版同城，用于母版页的左侧菜单区分
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
}
<input type="hidden" id="CName_Hidden" value="小程序" />
<div class="row">
    @if(Model!=null && Model.Count>0)
    {
        <select>
            @foreach (var item in Model)
            {
                <option>@item.TName</option>
            }
            
        </select>
        
    }

    <table class="table">
        <tr>
            <td style="text-align: right;padding-top: 10px;">解绑</td>
            <td>
                <input class="form-control" id="jieban_appid" maxlength="30" style="width:350px;" type="text" value="">
            </td>
        </tr>
        <tr>
            <td style="text-align: right;padding-top: 10px;"></td>
            <td>
                <input type="button" value="解绑" id="unbind"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: right;padding-top: 10px;">商户号</td>
            <td>
                <input class="form-control" id="Mc_Id" maxlength="30" style="width:350px;" type="text" value="">
            </td>
        </tr>
        <tr>
            <td style="text-align: right;padding-top: 10px;">
                支付证书上传（格式zip）
            </td>
            <td>
                <input type="file" id="file" />
                <input type="button" class="btn  btn-info width100" id="savefile" style="margin-top:5px;" value="上传" />
                <div>
                    <span style="color:red;">上传证书才能在小程序提现。提现必须开通企业付款到零钱功能</span>
                    <br />
                    <a style="text-decoration:underline;font-size:16px;" href="https://www.vzan.cc/t/d-27962982" target="_blank">点击查看提现的相关细节问题</a>
                </div>
            </td>
        </tr>
    </table>
</div>
<script>
        $(function () {
           
        });
</script>