/*start---404*/
@-webkit-keyframes error404animation {
    0% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
    20% { -webkit-transform: rotateZ(-60deg); transform: rotateZ(-60deg); }
    40% { -webkit-transform: rotateZ(-10deg); transform: rotateZ(-10deg); }
    60% { -webkit-transform: rotateZ(50deg); transform: rotateZ(50deg); }
    80% { -webkit-transform: rotateZ(-20deg); transform: rotateZ(-20deg); }
    100% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
}

@keyframes error404animation {
    0% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
    20% { -webkit-transform: rotateZ(-60deg); transform: rotateZ(-60deg); }
    40% { -webkit-transform: rotateZ(-10deg); transform: rotateZ(-10deg); }
    60% { -webkit-transform: rotateZ(50deg); transform: rotateZ(50deg); }
    80% { -webkit-transform: rotateZ(-20deg); transform: rotateZ(-20deg); }
    100% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
}

.error404-body-con { width: 700px; height: 500px; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.error404-body-con-title { text-align: center; font-size: 240px; font-weight: 700; color: #2d8cf0; height: 260px; line-height: 260px; margin-top: 40px; }
.error404-body-con-title span { display: inline-block; color: #19be6b; font-size: 230px; -webkit-animation: error404animation 3s ease 0s infinite alternate; animation: error404animation 3s ease 0s infinite alternate; }
.error404-body-con-message { display: block; text-align: center; font-size: 40px; font-weight: 500; letter-spacing: 12px; color: #dddde2; }
.error404-btn-con { text-align: center; padding: 20px 0; margin-bottom: 40px; }
/*end---404*/

/*start---403*/
@-webkit-keyframes error403animation {
    0% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
    40% { -webkit-transform: rotateZ(-20deg); transform: rotateZ(-20deg); }
    45% { -webkit-transform: rotateZ(-15deg); transform: rotateZ(-15deg); }
    50% { -webkit-transform: rotateZ(-20deg); transform: rotateZ(-20deg); }
    55% { -webkit-transform: rotateZ(-15deg); transform: rotateZ(-15deg); }
    60% { -webkit-transform: rotateZ(-20deg); transform: rotateZ(-20deg); }
    100% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
}

@keyframes error403animation {
    0% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
    40% { -webkit-transform: rotateZ(-20deg); transform: rotateZ(-20deg); }
    45% { -webkit-transform: rotateZ(-15deg); transform: rotateZ(-15deg); }
    50% { -webkit-transform: rotateZ(-20deg); transform: rotateZ(-20deg); }
    55% { -webkit-transform: rotateZ(-15deg); transform: rotateZ(-15deg); }
    60% { -webkit-transform: rotateZ(-20deg); transform: rotateZ(-20deg); }
    100% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
}

.error403-body-con { width: 700px; height: 500px; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.error403-body-con-title { text-align: center; font-size: 240px; font-weight: 700; color: #2d8cf0; height: 260px; line-height: 260px; margin-top: 40px; }
.error403-body-con-title .error403-0-span { display: inline-block; position: relative; width: 170px; height: 170px; border-radius: 50%; border: 20px solid #ed3f14; color: #ed3f14; margin-right: 10px; }
.error403-body-con-title .error403-0-span i { display: inline-block; font-size: 120px; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.error403-body-con-title .error403-key-span { display: inline-block; position: relative; width: 100px; height: 190px; border-radius: 50%; margin-right: 10px; }
.error403-body-con-title .error403-key-span i { display: inline-block; font-size: 190px; position: absolute; left: 20px; -webkit-transform: translate(-50%, -60%); transform: translate(-50%, -60%); -webkit-transform-origin: center bottom; transform-origin: center bottom; -webkit-animation: error403animation 2.8s ease 0s infinite; animation: error403animation 2.8s ease 0s infinite; }
/*end---403*/


/*start--500*/
@-webkit-keyframes error500animation {
    0% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
    20% { -webkit-transform: rotateZ(-10deg); transform: rotateZ(-10deg); }
    40% { -webkit-transform: rotateZ(5deg); transform: rotateZ(5deg); }
    60% { -webkit-transform: rotateZ(-5deg); transform: rotateZ(-5deg); }
    80% { -webkit-transform: rotateZ(10deg); transform: rotateZ(10deg); }
    100% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
}

@keyframes error500animation {
    0% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
    20% { -webkit-transform: rotateZ(-10deg); transform: rotateZ(-10deg); }
    40% { -webkit-transform: rotateZ(5deg); transform: rotateZ(5deg); }
    60% { -webkit-transform: rotateZ(-5deg); transform: rotateZ(-5deg); }
    80% { -webkit-transform: rotateZ(10deg); transform: rotateZ(10deg); }
    100% { -webkit-transform: rotateZ(0deg); transform: rotateZ(0deg); }
}

.error500-body-con { width: 700px; height: 500px; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.error500-body-con-title { text-align: center; font-size: 240px; font-weight: 700; color: #2d8cf0; height: 260px; line-height: 260px; margin-top: 40px; }
.error500-body-con-title .error500-0-span { display: inline-block; position: relative; width: 170px; height: 170px; border-radius: 50%; border: 20px solid #ed3f14; color: #ed3f14; margin-right: 10px; }
.error500-body-con-title .error500-0-span i { display: inline-block; font-size: 120px; position: absolute; bottom: -10px; left: 10px; -webkit-transform-origin: center bottom; transform-origin: center bottom; -webkit-animation: error500animation 3s ease 0s infinite alternate; animation: error500animation 3s ease 0s infinite alternate; }
/*end--500*/