/*商品管理开始*/
.bitian-sign{
	color: #ff4343;
	vertical-align: -3px;
	margin-right: 4px;
}

.guige-alert{
	color: #999;
	margin-left: 10px;
	line-height: 30px;
}

.spgl-spgg-table{
	text-align: center;
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	background: #fff;
	color: #333;
}

.spgl-spgg-table tr th{width: 130px;}

.spgl-spgg-table tr:first-child{
	height: 38px;
	background: #e5e5e5;
}

.spgl-spgg-table td{
	border-top: 1px solid #e5e5e5;
	padding: 10px;
}

.spgl-spgg-table.more td{border: 1px solid #e5e5e5 !important;}

.spgl-spgg-table input{
	width: 74px;
	height: 30px;
	border:1px solid #e5e5e5;
	border-radius: 3px;
	padding: 4px 6px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	text-align: center;
	color: #333;}

.spgl-spgg-table input.error{
	border:1px solid #b94a48;
}    

.spgl-spgg-table p{
	font-size: 12px;
	color: #b94a48}

.spgl-spgg-table .delete{
	color: #27f;
	cursor: pointer;}

.tianjiaguige-bt{
    display: inline-block;
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
   	background: #06bf04;
    border-color: #00ab00;
}

.plus-pic-f{
	height: 50px;
	width: 50px;
	display: block;
	line-height: 50px;
	text-align: center;
	color: #27f;
}

.tjgg-tk{
	width: 350px;
	padding: 10px 20px;
	box-shadow: 0 0 8px #999;
	position: absolute;
	top: 41px;
	left: -80px;
	background: #fff;
	border-radius: 3px;
	z-index: 10;
}

.tjgg-tk .click-turn{width: 200px;}

.blue-sure-bt{
	display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    background: #3283fa;
}

.cancel-bt{
	display: inline-block;
    height: 30px;
    line-height: 28px;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 12px;
    color: #333;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #f9f9f9;
}

.white-triangle {
	display: block;
    width: 22px;
    height: 12px;
    background: url(../images/backstage-01.png) no-repeat -232px -21px;
    position: absolute;
    top: -12px;
    left: 100px;
}

.guige-li{
	padding: 7px 10px;
	background: #e5e5e5;}

.guige-zhi{
	border: 1px solid #aaa;
    padding: 4px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 80px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
}

.guige-zhi span {
    display: block;
    width: 74px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.guige-zhi:hover .guige-zhi-close{display: block;}

.guige-zhi-close{
	width: 25px;
	height: 25px;
	display: none;
    background: url(../images/backstage-01.png) no-repeat -232px -34px;
    position: absolute;	
    right: -10px;
    top: -10px;
}

.guige-zhi-close:hover{
	background: url(../images/backstage-01.png) no-repeat -259px -34px;
}

.guige-tianjia{
	margin-top: 5px;
	position: relative;
	float: left;
	margin-right: 100px;
}

.guige-tianjia>a{
	color: #27f;
	line-height: 30px;
}

.fbsp-pic{
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	margin-right: 10px;
	cursor: pointer;
}

.fbsp-pic span{
	display: block;
	width: 50px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}

.fbsp-pic img{
	width: 50px;
	min-height: 50px;
}

.fbsp-pic-close{
	width: 25px;
	height: 25px;
	display: none;
    background: url(../images/backstage-01.png) no-repeat -232px -34px;
    position: absolute;	
    right: -10px;
    top: -10px;
}

.fbsp-pic:hover .fbsp-pic-close{
	display: block;
	background: url(../images/backstage-01.png) no-repeat -234px -34px;
}

.fbsp-pic .fbsp-pic-close:hover{
	display: block;
	background: url(../images/backstage-01.png) no-repeat -259px -34px;
}

.yuan-danwei{position: relative;}

.yuan-danwei:before{
	content: "￥";
	height:30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	background: #e5e5e5;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	border-top-left-radius:3px; 
	border-bottom-left-radius:3px;
	border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	 
}

.guigezhi-red-alert{
	display: none;
	width: 450px;
	height: 40px;
	background: #ff4343;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	position: absolute;
	z-index: 100;
	top: 10px;
	left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.sc-dpsj-infor.error{
	color: #b94a48;
}

.sc-dpsj-infor.error .click-turn {
    border: 1px solid #b94a48;
    color:#b94a48;
}

.spgl-fabu-gray-alert{
	margin-left: 10px;
	line-height: 30px;
	color: #999;
	float: left;
}

.error-red-alert{
	font-size: 12px;
	color: #b94a48;
	margin-top: 5px;
}

.spgl-onsale-table{
	text-align: center;
	border-collapse: collapse;
	background: #fff;
	color: #333;
	width: 100%;
	border-bottom: 2px solid #e5e5e5;
	font-size: 12px;
}

.spgl-onsale-table tr .name{
	text-align: left;
	padding-left: 10px;}

.spgl-onsale-table tr .name{
	color: blue;
	max-height: 40px;
    word-break: break-all;
    overflow: hidden;
	text-overflow:ellipsis;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	display:-webkit-box;}

.spgl-onsale-table tr .price{
	color: #f60;
	text-align: left;
	padding-left: 10px;
}	

.spgl-onsale-table tr .price:before{
	content: "￥";
}	

.spgl-onsale-table tr th{padding: 0 10px;}

.spgl-onsale-table tr:first-child th:first-child{text-align: left;}

.spgl-onsale-table tr:first-child th:last-child{text-align: right;}

.spgl-onsale-table .sp-pic{width: 70px;}

.spgl-onsale-table .pic{
	width: 60px;
	height: 60px;
}

.spgl-onsale-table .pic img{
	width: 60px;
	max-height: 60px;}

.spgl-onsale-table tr:first-child{
	height: 38px;
	background: #f8f8f8;
}

.spgl-onsale-table tr td:first-child{text-align: left;}

.spgl-onsale-table tr{
	border-bottom: 1px solid #e5e5e5;
	padding: 10px;
}   

.spgl-onsale-table td{
	padding: 10px;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}   

.spgl-onsale-table tr .select{
	width: 27px;
	padding: 10px 0 10px 10px;
}

.spgl-onsale-table tr .sp-pic{
	width: 60px;
	padding: 10px 0 10px 10px;
}

.spgl-onsale-table tr .select .sc-syzx-check{margin-right: 0;}

.spgl-onsale-table .bt{
	text-align: right;
	float: none;}

.spgl-onsale-table .bt a{
	color: #27f;
	cursor: pointer;}

.spgl-twxq{
	width: 320px;
	border: 1px solid #c5c5c5;
}

.twxq-edit-zhanshi{
	border: 2px dashed #fc7d7d;
	padding: 10px;
	min-height: 108px;
	position: relative;
}

.spxqq-f{
	text-align: center;
	margin-top: 17px;
	line-height: 25px;
}

.spxqq-f p:first-child{font-size: 17px;}

.spgl-bianji-bt{
	position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    padding: 0 5px;
    margin-left: 1px;
    font-size: 12px;
}

.spgl-bianji-bt:hover{
    color: #ddd;}

.ueditor{
	width: 420px;
	border: 1px solid #c5c5c5;
	position: relative;
	background: #f8f8f8;
	padding: 12px 10px;
	border-radius: 5px;
	margin-left: 10px;
}

.arrow-sanjiao{
	width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 7px 6px 0;
    border-color: transparent #d1d1d1 transparent transparent;
    position: absolute;
    left: -7px;
    top: 200px;
}

.arrow-sanjiao:before{
	content: "";
    border-right-color: #f8f8f8;
    border-style: solid;
    border-width: 6px 7px 6px 0;
    border-color: transparent #f8f8f8 transparent transparent;
    position: absolute;
    left: 2px;
    top: -6px;   
}
/*商品管理结束*/

/*2017-2-10商品发布开始*/
.spgl-jbxx-all{
	background: #f8f8f8;
	position: relative;
	border-bottom: 5px solid #fff;
}

.white-line{
	height: 100%;
	width: 2px;
	background: #fff;
	top: 0;
	left: 125px;
	display: block;
	position: absolute;
}

.spgl-left{
	font-weight: bold;
	width: 125px;
	text-align: center;
	padding:35px 10px 35px;
	border-right: 2px solid #fff;
}

.spgl-right{
    overflow: hidden;
    padding: 20px 0;
}

.hook-ggtp{
	width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
    background: #fff;
    vertical-align: -3px;
    margin-right: 5px;
    cursor: pointer;
}

.hook-ggtp:checked{
	background: #fff url(../images/backstage-01.png) no-repeat -335px -34px; 
}

.ggtp-plus{
	width: 90px;
	height: 90px;
	border: 1px solid #e5e5e5;
	box-sizing:border-box;
	padding: 2px;
	margin-top: 5px;
	border-radius: 4px;
	position: relative;
}

.ggtp-plus:hover i{display: block;}

.ggtp-plus:hover .guige-zhi-close{display: block;}

.ggtp-plus img{
    width: 84px;
    height: 84px;
    cursor: pointer;
}

.ggtp-plus:before{
	content: "";
	width: 18px;
	height: 11px;
	position: absolute;
	top: -10px;
	left: 33px;
	background: url(../images/backstage-01.png) no-repeat -355px -35px;
}   

.ggtp-plus i{
	font-size: 12px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 84px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	background:rgba(0,0,0,.5);
	display: none;
} 

/*2017-2-10商品发布结束*/

/*拼团活动开始*/
.yxgl-pic-plus{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../images/backstage-23.png) no-repeat;
}

/*拼团活动结束*/




