
body{
	font-family: "Microsoft YaHei",Arial;
	color: #333;
	font-size: 14px;
	min-width: 1280px;
	}

input,textarea,select{
	font-family: "Microsoft YaHei",Arial;}	

textarea{resize: none;}		

em,i{font-style: normal;}

select::-ms-expand { display: none; }

.flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.d-flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}	

.d-flex-center {
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

.dis-ib{
	display: inline-block;
}

.pointer{cursor: pointer;}

.none{display: none;}

.block{display: block;}

.mt-spacing{margin-top: 10px;}

.c999{color: #999;}

.c666{color: #666;}

.m-left10{margin-left: 10px;}
/*商城店铺数据开始*/

.sm-dpsj-content .ad{
	width: 100%;
	overflow: hidden;
}

.sm-dpsj-content .ad img{
	width: 100%;
	max-height: 160px;
	border:1px solid #e3e3e3;

}

.dpsj-content-infor{
	background: #fff;
	border:1px solid #dedede;
}

.sc-dpsj-infor .logo{
	width: 50px;
	height: 50px;
	border:1px solid #e7e7e7;
	border-radius: 5px;
	overflow: hidden;
}

.sc-dpsj-infor .width{
	width: 140px;
	line-height: 30px;
	text-align: right;}

.sc-dpsj-infor .logo img{width: 100%;}

.sc-dpsj-infor .name-renzheng{
	padding-left: 20px;
	padding-top: 10px;
}

.name-renzheng .shop-name{
	font-size: 26px;
	color: #333;
	padding-bottom: 15px;
}

.sc-renzheng span{
	display: inline-block;
	font-size: 12px;
	color: #ccc;
	margin-right: 20px;}

.sc-renzheng span:last-child{margin-right: 0;}

.sc-renzheng span i{
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: -4px;
	margin-right: 4px;	
	background: url(../images/backstage-01.png) no-repeat -257px 0;
}

.sc-renzheng span.active{color: #333;}

.sc-renzheng span.active .icon-shiming-green{
	background: url(../images/backstage-01.png) no-repeat -232px 0;
}

.sc-infor-f1{
	color: #333;
	font-size: 14px;
	margin-top: 10px;
}

.sc-infor-f1 span{margin-right: 20px;}

.sc-infor-f1 a{
	color: #333;
	text-decoration: underline;}

.weixin{
	width: 140px;
	margin-left: 400px;
	margin-top: 15px;}

.weixin .f01{
	font-size: 14px;
	color: #999;
	text-align: center;
	margin-top: 10px;
}

.weixin .icon-weixin{
	width: 24px;
	height: 22px;
	display: inline-block;
	background: url(../images/backstage-01.png) no-repeat -282px 0;
	vertical-align: -6px;
	margin-right: 5px;
}

.weixin .qr{
	border:1px solid #e9e9e9;
	width: 150px;
	height: 150px;
	padding: 9px;
}

.weixin .qr img{
	width: 100%;
}

.check-on-diannao{
	height: 44px;
	display: block;
	background: #f3f3f3;
	border: 1px solid #e5e5e5;
	line-height: 42px;
	text-align: center;
	border-radius: 3px;
	color: #999;
	margin-top: 20px;
	font-size: 16px;
}

.sc-title{
	position: relative;
	height: 20px;
	color: #333;
	font-size: 14px;
	line-height: 20px;
	padding-left: 10px;
	margin-bottom: 15px;
	font-weight: bold;
	border-left: 4px solid #ff4343;
}

.sc-title i{
	background: #ff4343;
	height: 18px;
	width: 6px;
	display: inline-block;
	position: absolute;
	top: 2px;
	left: 0;
}

.dpsj-yjqk-ul li{
	float: left;
	width: 32%;
	margin-right: 2%;
	text-align: center;
	color: #fff;
	border-radius: 3px;
	padding: 25px 0;
}

.dpsj-yjqk-ul li p:first-child{
	font-size: 26px;
	margin-bottom: 2px;
}

.dpsj-yjqk-ul li p{
	font-size: 12px;
}

.sc-price:before{
	content: "￥";
	font-size: 18px;
}

.sc-title .shangpin-cangku{
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 100%;
	text-align: center;
}	

.sc-title .shangpin-cangku em{color: #333;}

.sc-title .shangpin-cangku span{
	height: 20px;
	display: inline-block;}

.dpsj-ddqk-ul li{
	float: left;
	width: 20%;
	text-align: center;
	color: #333;
	border-radius: 3px;
	padding: 25px 0;
	background: #f3f3f3;
}

.dpsj-ddqk-ul li p:first-child{
	font-size: 26px;
	margin-bottom: 2px;
	color: #ff4343;
}

.dpsj-ddqk-ul li p{
	font-size: 18px;
	font-size: 12px;
}	

.shangpin-cangku .f01{
	padding-right: 10px;
	font-weight: normal;
	color: #333;
}

.shangpin-cangku .f02{
	padding-left: 10px;
	font-weight: normal;
	color: #333;
}


/*商城店铺数据结束*/

/*商城店铺设置开始*/
.sc-dpsz-content{
	padding: 15px;
	background: #fff;}

.sc-dpsz-content .gray-bg{
	height: 40px;
	background: #f8f8f8;
	padding: 10px;
}	

.dpsz-logo{
	width: 120px;
}

.dpsz-logo-alert{
	color: #999;
	font-size: 18px;
	padding-left: 45px;
}

.dpsz-logo-alert i{
	content: "";
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(../images/backstage-01.png) no-repeat -313px 0;
	vertical-align: -8px;
	margin-right: 5px;
}

.xiugai-bt{
	width: 68px;
	height: 36px;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 34px;
	font-size: 14px;
	color: #333;
	background: #f9f9f9;
}

.xiugai-font-bt{
	font-size: 14px;
	color: #27f;
	background: transparent;
	margin-left: 10px;
	cursor: pointer;
}

.sure-bt{
	width: 68px;
	height: 36px;
	border-radius: 3px;
	line-height: 36px;
	font-size: 14px;
	color: #fff;
	background: #ff4343;
}

.padding-lr30{padding: 0 30px 0 30px;}

.click-turn{
	display: block;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 220px;
	padding: 0 6px;
	font-size: 14px;
	color: #333;
}

.select-kind-all{
	position: relative;
	display: inline-block;
	float: left;
}

.select-kind{
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 28px;
	height: 30px;
	display: block;
	color: #333;
	font-size: 14px;
	padding: 0 6px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    background: transparent;
    width: 220px;
    background: #fff;
}

.select-triangle{
	width: 14px;
	height: 10px;
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	background: url(../images/backstage-01.png) no-repeat -344px 0;
}

option{
	background: #fff;
	border: 1px solid #fff;
	color: #333;
	line-height: 40px;
	height: 40px;
}

.click-turn-textarea{
	display: block;
	height: 44px;
	line-height: 42px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
	padding: 0 20px;
	font-size: 16px;
}

.save-all .bg{
	background: #fff5de;
	padding: 10px 0;
}

.save-bt{
	cursor: pointer;
	width: 90px;
	height: 30px;
	border-radius: 3px;
	line-height: 28px;
	font-size: 14px;
	color: #fff;
	background: #ff4343;
	display: block;
	margin-left: 140px;
	text-align: center;
}

.save-white-bt{
	cursor: pointer;
	width: 90px;
	height: 30px;
	border-radius: 3px;
	line-height: 28px;
	font-size: 14px;
	color: #333;
	background: #fff;
	display: block;
	margin-left: 140px;
	border:1px solid #ccc;
	text-align: center;
}

.page-bt{
	cursor: pointer;
	padding: 0 10px;
	height: 30px;
	border-radius: 3px;
	line-height: 28px;
	font-size: 14px;
	color: #333;
	background: #fff;
	display: block;
	border:1px solid #ccc;
}

.page-bt.active{
	background: #c8c8c8;
	font-weight: bold;
	color: #fff;}

.page-text-bt{
	cursor: pointer;
	padding: 5px;
	text-align: center;
	width: 40px;
	height: 30px;
	border-radius: 3px;
	line-height: 28px;
	font-size: 14px;
	color: #333;
	background: #fff;
	display: block;
	border-width: 1px;
    border-style: solid;
    border-color: #bdbdbd #dedede #dedede #bdbdbd;
}

.shaixuan-blue-bt{
	cursor: pointer;
	padding: 0 10px;
	height: 30px;
	border-radius: 3px;
	line-height: 28px;
	font-size: 14px;
	color: #fff;
	background: #3283fa;
}

.ptb-spacing{
	padding: 10px 0;}

.sc-syzx-pic{
	width: 400px;
	height: 710px;
	border:1px solid #dedede;
}

.sc-syzx-pic img{width: 100%;}

.sc-syzx-pic li{cursor: pointer;}

.sc-syzx-show1{
	background: #f8f8f8;
	padding: 10px;
	border-radius: 3px;
	border:1px solid #ccc;
	margin-left: 15px;
	position: relative;
}

.sc-syzx-triangle{
	width: 12px;
	height: 22px;
	background: url(../images/backstage-01.png) no-repeat -364px 0;
	position: absolute;
	top: 20px;
	left: -12px;
}

.sc-syzx-logo{
	background: #fff;
	border:1px solid #ccc;
	padding: 15px 15px 5px;
	border-radius: 3px;
}

.sc-syzx-bg{
	width: 330px;
	height: 88px;
	display: inline-block;
}

.sc-syzx-bg img{
	width: 330px;
	height: 88px;
}

.sc-syzx-logo .alert{
	font-size: 14px;
	color: #999;
}

.sc-syzx-check{
	width: 15px;
	height: 15px;
	border:1px solid #ccc;
	border-radius: 50%;
	display: inline-block;
	background: #f9f9f9;
	vertical-align: -3px;
	margin-right: 5px;
	cursor: pointer;
}

.sc-syzx-check.active{
	background: #f9f9f9 url(../images/backstage-01.png) no-repeat -378px 0;
}

.dpsj-ddqk-ul div {
    border-right: 1px dotted #ccc;
}

.dpsj-ddqk-ul div a{color: #333;}

.dpsj-ddqk-ul div a:hover p:last-child{text-decoration: underline;}

.pic01-border{
	width: 390px;
	height: 40px;
	border: 2px dashed #ff4343;
	position: absolute;
	top: 25px;
	left: 5px;
}

.pic02-border{
	width: 390px;
	height: 100px;
	border: 2px dashed #ff4343;
	position: absolute;
	top: 5px;
	left: 5px;
}

.pic03-border{
	width: 390px;
	height: 350px;
	border: 2px dashed #ff4343;
	position: absolute;
	top: 130px;
	left: 5px;
}

.dzsz-ztdz{
	color: #999;
	font-weight: normal;
	margin-left: 20px;
}

.qtsz-pxjkc-bt{
	width: 192px;
	height: 46px;
	border-radius: 3px;
	border:1px solid #dedede;
	background: #fff;
	cursor: pointer;
}

.qtsz-f01{
	color: #999;
	line-height: 2;
	margin-top: 10px;
}

.icon-alert-gray{
	width: 20px;
	height: 20px;
	margin: 0 5px 0 20px;
	vertical-align: -5px;
	display: inline-block;
	background: url(../images/backstage-01.png) no-repeat -68px -64px;
}

.shsj-number{
	width: 80px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #dedede;
    background: #f9f9f9;
    line-height: 36px;
    text-align: center;
}

.shsj-reduce{
	font-size: 30px;
	color: #999;
	width: 36px;
    height: 36px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #dedede;
    background: #f9f9f9 url(../images/backstage-01.png) no-repeat -91px -64px;
    margin-right: 10px;
}

.shsj-plus{
	font-size: 30px;
	color: #999;
	width: 36px;
    height: 36px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #dedede;
    background: #f9f9f9;
    margin-left: 10px;
    background: #f9f9f9 url(../images/backstage-01.png) no-repeat -130px -64px;
}
/*商城店铺设置结束*/

/*个人设置页面开始*/
.account-personal-f:before{
	content: "";
	display: inline-block;
	margin-left: 6px;
	margin-right: 9px;
	vertical-align: -3px;
	width: 2px;
	height: 18px;
	background: #f9f9f9 url(../images/backstage-01.png) no-repeat -130px -104px;
}

.click-turn-textarea2{
	display: block;
	height: 44px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
	padding: 5px;
	font-size: 14px;
	width: 320px;
	height: 170px;
}

.grzhsz-content{
	border:1px solid #e5e5e5;
	margin-top: 20px;
	padding: 30px 0 50px 270px;
}

/*个人设置页面结束*/


.bitian-sign {
    color: #ff4343;
    vertical-align: -3px;
    margin-right: 4px;
}


/*2017-2-13新模板开始*/
.new-template{
	width: 522px;
	border: 1px solid #e5e5e5;
	position: absolute;
	top: 60px;
	left: 500px;
}

.new-template .content{
	overflow: auto;
	height: 750px;
}

.new-template .title{
	color: #fff;
	line-height: 38px;
	background: #ff4343;
	padding: 0 15px;
}

.new-template .title2{
	line-height: 38px;
	padding: 0 15px;
}

.tianjia-nav{
	width: 234px;
	height: 131px;
	border: 1px solid #e5e5e5;
	font-size: 12px;
	color: #e9bd58;
	margin-left: 15px; 
	display: block;
}

.tianjia-nav:hover{
	box-shadow: 0 0 5px #ccc;
}

.tianjia-nav.paiban{
	padding-top: 82px;
}

.new-template .f01{
	font-size: 12px;
	color: #999;
	text-align: center;
	line-height: 44px;
	margin-bottom: 10px;
}

.tianjia-nav.df01 span{
	display: block;
	float: left;
	text-align: center;
	width: 25%;
}

.tianjia-nav.bg1{background: url(../images/backstage-12.png);}

.tianjia-nav.bg2{background: url(../images/backstage-12.png) 0 -139px;}

.tianjia-nav.bg3{background: url(../images/backstage-12.png) 0 -278px;}

.tianjia-nav.bg4{background: url(../images/backstage-12.png) 0 -417px;}

.tianjia-nav.bg5{background: url(../images/backstage-12.png) 0 -556px;}

.tianjia-nav.bg6{background: url(../images/backstage-12.png) 0 -695px;}

.tianjia-nav.bg7{background: url(../images/backstage-12.png) 0 -695px;}

.tianjia-nav.bg8{background: url(../images/backstage-12.png) 0 -1003px;}

.tianjia-nav.bg9{background: url(../images/backstage-12.png) 0 -1311px;}

.tianjia-nav.paiban2{
	padding-top: 3px;
}

.tianjia-nav.df02 span{
	display: block;
    line-height: 34px;
    margin-top: 5px;
    margin-left: 20px;
}

/*添加导航*/
.new-template .content2{
	overflow: auto;
	height: 750px;
	width: 478px;
	margin:0 auto;
	padding-top: 38px;
	box-sizing:border-box;
}

.new-template .content2>ul>li{
	border: 1px solid #e5e5e5;
    float: left;
    width: 216px;
    padding: 14px 8px 16px;
    margin-bottom: 30px;
}


.new-template .content2 >ul>li:nth-child(even){margin-left: 10px;}

.new-template .content2 .pic{
	width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
    background: url(../images/backstage-13.png) center center no-repeat #fff5de;
    display: block;
}

.new-template .content2 .img-notice{
	font-size: 12px;
    line-height: 12px;
    color: #ccc;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 6px;
}

.new-template .content2 .name{    
	display: block;
    border: 1px solid #e5e5e5;
    background: #fff;
    margin: 0 auto;
    line-height: 15px;
    color: #999;
    font-size: 12px;
    padding: 10px;
	height: 37px;
	width: 100%;
	position: relative;
	box-sizing:border-box;} 

.new-template .content2 .name:last-child{
	padding: 0;
	line-height: 37px;}	

.new-template .content2 .name .select{
	line-height: 15px;
	width: 150px;
	padding: 10px;
	height: 100%;
	box-sizing:border-box;
	cursor: pointer;
}	

.new-template .content2 .select-triangle{top: 12px;}
	   
.name .list{ 
	display: block;
    font-size: 12px;
    line-height: 24px;
	width: 216px;
    border: 1px solid #e5e5e5;
    box-sizing:border-box;
	top: 35px;
	left: -1px;
	background: #fff;
	position: absolute;
    z-index: 10;
    padding: 6px 0;}

.name .list li a{
	display: block;
    font-size: 12px;
    line-height: 24px;
    padding: 0 10px;
    color: #999;
} 

.name .list li a:hover{
	text-decoration: underline;
	color: #333;
}   


/*2017-2-13新模板结束*/

/*2017-2-20开始*/

.dpgl-gray-alert{
	margin-left: 140px;
	line-height: 30px;
    color: #999;
    line-height: 1.6;
    margin-top: 5px;
}

.download-zhezhao{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}

.download-ing{
	position: absolute;
	top: 35%;
	left: 50%;
	width: 66px;
	height: 66px;
	color: #fff;
	text-align: center;  
}

.download-ing .zhuan{
	width: 66px;
	height: 66px;
	position: absolute;
	top: 0;
	left: 0;
	background:url(../images/backstage-22.png) no-repeat;
	-webkit-animation: sc-Loading 0.7s steps(12, end) infinite;
    animation: sc-Loading 0.7s steps(12, end) infinite; 
}

.download-ing i{
    width: 66px;
    height: 66px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

.download-ing i:before{
	content: "加载中";
	color: #d6d6d6;
	margin-top: 23px;
	display: block;
}


@keyframes sc-Loading{
	0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    -moz-transform: rotate3d(0, 0, 1, 0deg);
    -ms-transform: rotate3d(0, 0, 1, 0deg);
    -o-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
		}

	100% {
	-webkit-transform: rotate3d(0, 0, 1, 360deg);
	-moz-transform: rotate3d(0, 0, 1, 360deg);
	-ms-transform: rotate3d(0, 0, 1, 360deg);
	-o-transform: rotate3d(0, 0, 1, 360deg);
	transform: rotate3d(0, 0, 1, 360deg);
	}
}

.shengxiao-zhi{
	line-height: 30px;
	margin: 0 5px;
}

.kqxg-check{
	-webkit-appearance:checkbox;
	margin-right: 5px;
	vertical-align: -2px;
}

/*2017-2-20结束*/

.dcdd-bt{
	cursor: pointer;
    padding: 0 10px;
    height: 30px;
    background: #fff;
    border-radius: 3px;
    line-height: 28px;
    font-size: 14px;
    color: #3283fa;
    border: 1px solid #3283fa;
}

.dcdd-bt:active{
	background: #3283fa;
	color: #fff;
}

.kefu-head{
	width: 45px;
	height: 45px;
	border-radius: 45px;
	margin-right: 10px;
	border: 2px solid #5bb4d8;
}

.right-kefu-gonggao{
	width: 300px;
	position: absolute;
	top: 0;
	right: 15px;
}

.right-kefu-gonggao .kefu{
	padding: 15px;
	background: #f8f8f8;
	border:1px solid #e5e5e5;
	cursor: pointer;
	position: relative;
}

.right-kefu-gonggao .kefu:hover .qr{display: block;}

.right-kefu-gonggao .kefu .qr{
	position: absolute;
	top: 0;
	left: -220px;
	width: 200px;
	height: 200px;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}

.right-kefu-gonggao .kefu .qr img{
	width: 180px;
	margin:0 auto;
	padding: 10px;
}

.right-kefu-gonggao .kefu .qr .sanjiaojian{
	position: absolute;
	top: 30px;
	right: -15px;
	width: 15px;
	height: 15px;
	display: block;
	background: url(../images/backstage-27.png) no-repeat 0 0;
	background-size: 15px;}

.right-kefu-gonggao .kefu .f01{font-size: 16px;}

.right-kefu-gonggao .kefu .f02{
	color: #999;
	font-size: 12px;
	margin-top: 2px;}

.right-kefu-gonggao .gonggao{
	background: #f8f8f8;
	border:1px solid #e5e5e5;
	margin-top: 10px;
}

.right-kefu-gonggao .gonggao .title{
	font-weight: bold;
	padding: 10px 15px;
	border-bottom: 1px solid #e5e5e5;}

.right-kefu-gonggao .gonggao ul{
	padding: 15px;
}

.right-kefu-gonggao .gonggao ul li{margin-top: 7px;}

.right-kefu-gonggao .gonggao ul li a{
	font-size: 12px;
	color: #333;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
	display:-webkit-box;
}

.right-kefu-gonggao .gonggao ul li:first-child{margin-top: 0;}

.right-kefu-gonggao .gonggao ul li a.red{color: #ff4343;}

.right-kefu-gonggao .gonggao ul li a:hover{text-decoration: underline;}

.right-kefu-gonggao .gonggao ul li a i{
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #ccc;
	margin-right: 6px;
	vertical-align: 2px;}


.right-kefu-gonggao .gonggao ul li a i.red{background: #ff4343;}

.jinji-alert{
	background: #ff4343;
	color: #fff;
	padding: 15px;
	font-size: 16px;
}

.forget-code-cell{
	border-bottom: 1px solid #e5e5e5;
	padding-top: 5px;
	box-sizing:border-box;
}

.get-code-bt{
	color: #3283fa;
	background:#fff;
}

.visible-code{
	width: 29px;
	height: 29px;
	display: block;
	background: url(../images/backstage-01.png) no-repeat -270px -86px;
	cursor: pointer;
}

.hidden-code{
	width: 29px;
	height: 29px;
	display: block;
	background: url(../images/backstage-01.png) no-repeat -239px -86px;
	cursor: pointer;
}

.hidden-code.turn{
	background: url(../images/backstage-01.png) no-repeat -270px -86px;
	cursor: pointer;
}

.forget-code-error{
	font-size: 12px;
    color: #FF4444;
    margin-left: 100px;
    padding-top: 5px;
    height: 20px;}

.ddpdlxt-person-infor{
	position: relative;
    border-bottom: 1px solid #e5e5e5;
    padding: 16px 25px;
    background-color: #f8f8f8;
    color: #333;
    text-align: left;
    font-size: 14px;
    box-sizing:border-box;
}


.ddpdlxt-person-infor .avator{
    width: 54px;
    height: 54px;
    overflow: hidden;
	margin-right: 10px;}

.ddpdlxt-person-infor .avator img{width: 100%;height: 100%;}    

.ddpdlxt-person-infor p:nth-child(2){
	font-size: 12px;
	color: #666;
	margin-top:5px;
}

.ddpdlxt-person-infor p span.f01{
	color: #27f;
	margin-left: 20px;
}

.ddpdlxt-person-infor p span.f02{color: #27f;}

.ddpdlxt-my-manage-shop{padding: 0 25px 25px;}

.ddpdlxt-my-manage-shop li{
	width: 246px;
	height: 85px;
	float: left;
	padding: 15px 20px;
	box-sizing:border-box;
	border: 1px solid #e5e5e5;
	border-top: 3px solid #ffcc99;
	margin-right: 25px;
}

.ddpdlxt-my-manage-shop li:last-child{margin-right: 0;}

.ddpdlxt-my-manage-shop li .f01{font-size: 16px;padding-bottom: 6px;}

.ddpdlxt-my-manage-shop li:hover{background: #f8f8f8;}

.ddpdlxt-my-manage-shop li:hover .bt{display: block;}

.ddpdlxt-my-manage-shop li span.bt{
	font-size: 12px;
	color: #27f;
	float: right;
	display: none;
}

.ddpdlxt-my-manage-shop li .f01 span{
	max-width: 160px;
	display: inline-block;
	overflow:hidden;
	text-overflow:ellipsis;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:1;
	display:-webkit-box;}

.ddpdlxt-my-manage-shop li .f02{
	font-size: 12px;
	color: #666;
}

.ddpdlxt-person-infor.shangcheng{
	background: #fff;
	border: none;
	border-top: 2px solid #e5e5e5;
	margin-top: 50px;
	font-size: 16px;}

.ddpdlxt-my-manage-shop .pic{
    width: 54px;
    height: 54px;
    overflow: hidden;
    margin-right: 10px;
}

.ddpdlxt-my-manage-shop .pic img{
    width: 100%;
    height: 100%;
}