html, body {
    position: relative;
    height: 100%;
}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
*{
	font-family: "pingfang-sc-regular";
}
p{
	margin: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
div{
	font-size: 0;
	box-sizing: border-box;
}
ul,
dl,
ol,
li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
input:focus{
	outline: none;
}
.titl{
	padding: 15px 0;
	font-size: 16px;
	text-align: center;
	margin: 0;
}
.titl1 {
    padding:10px 0;
}
.titl p {
    display: inline-block;
    position: relative;
}
.gray{
	background: #F7F7F7;
}
.slide1{
	width: 100%;
	min-height: 100%;
	position:relative;
	background: url(../images/index.png) center center no-repeat;
	background-size:cover;  
	-moz-background-size:cover;  
	-webkit-background-size:cover;
}
.logo{
	width: 120px;
	height: 64px;
	margin: 0 auto;
	padding-top: 20px;
	background: #1AAD19;
	text-align: center;
}
.logo p:first-of-type{
	color: white;
	font-size: 18px;
	margin: 0;
}
.logo p:last-of-type{
	color: white;
	font-size: 12px;
	margin: 0;
}
.slide2 img{
	width: 100%;
}
.padding_6{
	padding: 0 6px;
}
.entrance{
	width: 100%;
	height: 64px;
	margin-bottom: 10px;
	border-radius: 8px;
	background: white;
	font-size: 12px;
}
.entrance tr{
	padding-bottom: 10px;
}
.entrance tr td:nth-of-type(1){
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	margin-bottom: 8px;
	background: white;
}
.entrance_title{
	width: 74px;
	height: 64px;
	padding-top: 10px;
	float: left;
	text-align: center;
	font-size: 14px;
	color: white;
	background: #1AAD19;
}
#entrance > div:nth-of-type(2n) .entrance_title{
	background: #00b354;
}
#entrance > div:nth-of-type(5) .entrance_title{
	font-size: 12px;
}
.entrance_title img{
	display: inline-block;
	width: 22px;
	margin-bottom: 5px;
}
.entrance_title p{
	
}
.entrance_centain{
	width: calc(100% - 74px);
	height: 100%;
	font-size: 12px;
	float: left;
}
.entrance_centain p{
	display: inline-block;
	margin: 0 5px;
	text-align: justify;
}

.module{
	width: calc(50% - 5px) ;
	border-radius: 8px;
	margin-bottom: 10px;
	overflow: hidden;
	background: white;
    height:230px;
	float: left;
}
.module1 {
    height:260px;
}
div[class="module"]:nth-of-type(2n-1){
	margin-right: 10px;
}
.module_title{
	font-size: 14px;
	color: white;
	padding: 0 8px;
	background: #1AAD19;
	line-height: 35px;
}
.module_title span{
	float: right;
	line-height: 36px;
	font-size: 22px;
}
small{
	font-size: 50%;
}
.module_contain{
    height:220px;
	padding: 5px 10px 0;
}

/*div[class="module"]:nth-of-type(3) .module_contain,
div[class="module"]:nth-of-type(4) .module_contain{
	height: 210px;
}*/
.module_contain span{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.module_contain p{
	font-size: 12px;
	color: #666666;
	text-align: justify;
}
.module_pack{
	padding-top: 5px;
	text-align: center;
}
.module_pack img{
	width: 50%;
}
.module_pack p{
	font-size: 12px;
	color: #dbdddb;
	text-align: center;
}
.module_pack span{
	display: block;
	padding: 5px 0 5px;
	font-size: 16px;
	color: #FF5662;
}
/*div[class="module"]:nth-of-type(4) .module_pack p{
	color: #FF5662;
	padding-bottom: 5px;
}*/
table{
	width: 100%;
	font-size: 12px;
	border-radius: 8px;
	background: white;
	text-align: center;
}
table th{
	color: #1AAD19;
	padding: 20px 5px;
	text-align: center;
}
table td{
	padding: 10px 0px;
	
}
.bg_gray{
	background: #FBFBFB;
}
.color_gray{
	font-size: 12px;
	color: #CCCCCC;
	text-align: center;
	padding: 10px 0 20px;
}
.support{
	background:white;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 10px;
}
.support_title{
	width: 80px;
	height: 70px;
	float: left;
	text-align: center;
	background: #1AAD19;
	font-size: 14px;
	color: white;
	padding-top: 12px;
}
.support_title img{
	width: 30px;
	margin-bottom: 4px;
}
.support_contain{
	width: calc(100% - 80px);
	height: 70px;
	padding: 0 10px;
	float: left;
	font-size: 14px;
	text-align: center;
}
.support_contain span{
	font-weight: bold;
}
div[class="support"]:nth-of-type(5) .support_contain{
	padding: 0;
	font-size: 12px;
}
div[class="support"]:nth-of-type(2n) .support_title{
	background: #00b354;
}
.padding0{
	width: 100%;
	font-size: 12px;
	border-radius: 8px;
	background: white;
	text-align: center;
}
.padding0 th{
	min-width: 65px;
	color: #1AAD19;
	padding: 10px 2px;
	text-align: center;
}
.padding0 td{
	padding: 5px 0px;
	
}
.data{
	width: 33%;
	float: left;
	padding: 30px 5px 20px;
	font-size: 12px;
	text-align: center;
}
.radiu{
	width: 80px;
	height: 80px;
	margin: 0 auto 10px;
	border-radius: 50%;
	text-align: center;
	padding-top: 24px;
}
.radiu span{
	font-size: 25px;
	color: white;
}
.radiu small{
	font-size: 12px;
	color: white;
}
.radiu p{
	font-size: 22px;
	color: white;
}
div[class="data"]:nth-of-type(1) .radiu{
	background: #ffcc68;
}
div[class="data"]:nth-of-type(2) .radiu{
	background: #fc9637;
}
div[class="data"]:nth-of-type(3) .radiu{
	background: #ade35f;
}
div[class="data"]:nth-of-type(4) .radiu{
	background: #c4cb47;
}
div[class="data"]:nth-of-type(5) .radiu{
	background: #f6db43;
}
div[class="data"]:nth-of-type(6) .radiu{
	background: #fb7c82;
}
div[class="data"]:nth-of-type(7){
	width: 100%;
}
div[class="data"]:nth-of-type(7) .radiu{
	background: #40d967;
}
.about{
	width: 90%;
	margin: 0 auto;
	padding: 20px 10px;
	background: white;
	border-radius: 8px;
	overflow: hidden;
}
.about>p{
	font-size: 14px;
	color: #666666;
	text-indent: 2em;
}
.about>p:nth-of-type(3){
	padding-bottom: 20px;
}
.about span{
	display: block;
	width: 20px;
	height: 0;
	border-top: 2px solid #CCCCCC;
}
.about .us_title{
	padding-bottom: 10px;
	color: #333333;
	font-weight: bold;
	text-indent: 0;
}
.us{
	width: 60%;
	font-size: 14px;
	padding-top: 10px;
	float: left;
}
.us p{
	padding-left: 30px;
	padding-bottom: 10px;
	text-align: left;
	text-indent: 0;
	position: relative;
}
.us img{
	width: 20px;
	position: absolute;
	top: 0;
	left: 0;
}
.code{
	width: 40%;
	float: left;
	font-size: 12px;
	color: #666666;
	text-align: center;
}
.code img{
	width: 100%;
}
.consulting{
	width: 64px;
	position: fixed;
	z-index: 999;
	bottom: 20px;
	right: 10px;
}
.consulting img{
	width: 100%;
}
.consulting_tem{
	width: 100%;
	height: 100%;
}
#consulting{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	font-size: 16px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
}
#consulting p{
	color: #333333;
	line-height: 30px;
}
#consulting form{
	width: 90%;
	padding: 30px 0;
	text-align: center;
	background: white;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
}
#consulting input[type="text"]{
	display: inline-block;
	width: 80%;
	padding-left: 5px;
	margin-top: 20px;
	line-height: 20px;
	border: 0;
	border-bottom: 1px solid #F2F2F2;
}
#consulting input[type="text"]:nth-of-type(3){
    display:none;
}
#consulting input[type="button"]{
    height:30px;
	display: block;
	width: 50%;
	margin: 20px auto 0;
	color: white;
	line-height: 30px;
	border: 0;
	border-radius: 15px;
	background: #1AAD19;
	box-shadow: 3px 5px 5px #1AAD19;
}

#result{
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 30px 20px;
    border-radius:8px;
	background: rgba(0,0,0,.6);
    color:white;
    font-size:14px;
    display:none;
}
/*@media only screen and (min-height: 570px) {
	.titl{
		font-size: 20px;
	}
	.data{
		font-size: 14px;
		padding-bottom: 50px;
	}
    /*.module_contain{
        height:200px;
    }*/
    /*div[class="module"]:nth-of-type(3) .module_contain,
    div[class="module"]:nth-of-type(4) .module_contain{
	    height: 218px;
    }*/
    /*.module1{
        height:218px;
    }/
	.module_contain p{
        font-size:14px;
	}
    .module_contain span{
        display:block;
        font-size:16px;
        line-height:30px;
	}
    .entrance_centain{
        font-size:14px;
    }
	.support_contain{
		height: 80px;
	}
	.support_title{
		height: 80px;
		padding-top: 16px;
	}
	.padding0 th{
		padding: 20px 4px;
	}
	.padding0 td{
		padding: 10px 0px;
	}
    .support_contain,
    div[class="support"]:nth-of-type(5) .support_contain{
        font-size: 14px;
        line-height:18px
    }
    table{
        font-size:14px;
    }
    .about span{
        margin-bottom:10px;
    }
    .us{
        padding-top:30px;
    }
    .us p{
        padding-bottom:20px;
    }
}*/
/*@media only screen and (min-width: 414px) {
    
    .entrance{
        height:56px;
    }
    .entrance_title{
        height:56px;
        padding-top:6px;
    }
    .module{
        /*height:190px;
        margin-bottom:6px;
    }
    /*div[class="module"]:nth-of-type(3) .module_contain,
    div[class="module"]:nth-of-type(4) .module_contain{
        height:190px;
    }*/
    /*.module1{
        height:190px;
    }
    .data{
        padding-top:20px;
    }
    .consulting{
        bottom:10px;
        right:6px;
    }
}*/
@media only screen and (min-width: 320px) and (max-width: 350px) {
    .titl {
        padding: 10px 0;
    }
    .module{
        height:210px;
    }
    .module1{
        height:228px;
    }
    .module_contain span{
        font-size:12px;
    } 
    .module_contain p {
        font-size: 11px;
    }
    .module_title span{
        font-size:20px;
    }
    .entrance{
        height:60px;
    }
    
    .entrance_title {
        font-size: 12px;
    }
    .entrance_centain p{
        font-size:11px;
    }
    .module_contain1{
        margin-top:10px;
    }
}
.image_wall {
    width: 90%;
    margin: 0 auto;
    padding: 20px 5px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}
.image_wall img{
    width:47%;
    max-height:47%;
    height:120px;
   float:left;
   margin-left:8px;
   margin-bottom:10px;
}