
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="nav-item start open">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">小程序商城</span>
                    <span class="selected"></span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu" style="display: block;">
                    @if (WebSiteConfig.UseALaDing)
                    {
                        <li class="nav-item start @(ViewBag.Title == "阿拉丁统计" ? "active" : string.Empty)">
                            <a href="/common/AladingTongJi?appId=@ViewBag.appId&pageType=@((int)TmpType.小程序电商模板)" class="nav-link">
                                <i class="glyphicon glyphicon-stats"></i>
                                <span class="title">阿拉丁统计</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item start @(ViewBag.Title== "小程序管理" ? " active":string.Empty)">
                        <a href="/config/MiniAppConfig?appId=@ViewBag.appId&id=@ViewBag.appId&type=@ViewBag.PageType" class="nav-link">
                            <i class="glyphicon glyphicon-wrench"></i>
                            <span class="title">小程序管理</span>
                        </a>
                    </li>
                    <li class="nav-item start">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="glyphicon glyphicon-home"></i>
                            <span class="title">店铺管理</span>
                            <span class="selected"></span>
                            <span class="arrow open"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item start ">
                                <a href="/stores/index?appId=@ViewBag.appId" class="nav-link">
                                    <i class="glyphicon glyphicon-th"></i>
                                    <span class="title">门店信息</span>
                                </a>
                            </li>
                            <li class="nav-item start ">
                                <a href="/stores/AddFreight?appId=@ViewBag.appId" class="nav-link">
                                    <i class="glyphicon glyphicon-random"></i>
                                    <span class="title">运费模板</span>
                                </a>
                            </li>
                            <li class="nav-item start @(ViewBag.Title == "小程序模板消息" ? "active" : string.Empty)">
                                @*<a href="/foods/TemplateMsgManager?appId=@ViewBag.appId" class="nav-link">*@
                                <a href="/templatemsg/TemplateMsgManager?appId=@ViewBag.appId&PageType=@ViewBag.PageType" class="nav-link">
                                    @*<i class="icon-bar-chart"></i>*@
                                    <i class="glyphicon glyphicon-bell"></i>
                                    <span class="title">模板消息</span>
                                </a>
                            </li>
                            <li class="nav-item start">
                                <a href="/stores/PrintList?appId=@ViewBag.appId" class="nav-link">
                                    <i class="glyphicon glyphicon-print"></i>
                                    <span class="title">打印机管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item start">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-key"></i>
                            <span class="title">商品管理</span>
                            <span class="selected"></span>
                            <span class="arrow open"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item start ">
                                <a href="/stores/GoodsList?appId=@ViewBag.appId" class="nav-link">
                                    <i class="glyphicon glyphicon-list-alt"></i>
                                    <span class="title">商品列表</span>
                                </a>
                            </li>
                            <li class="nav-item start ">
                                <a href="/stores/AddGoodType?appId=@ViewBag.appId" class="nav-link">
                                    <i class="glyphicon glyphicon-picture"></i>
                                    <span class="title">商品分类</span>
                                </a>
                            </li>
                            <li class="nav-item start ">
                                <a href="/stores/AddAttrSpecList?appId=@ViewBag.appId" class="nav-link">
                                    <i class="glyphicon glyphicon-barcode"></i>
                                    <span class="title">商品规格</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item start ">
                        <a href="/stores/OrderList?appId=@ViewBag.appId" class="nav-link">
                            <i class="glyphicon glyphicon-barcode"></i>
                            <span class="title">订单管理</span>
                        </a>
                    </li>
                    <li class="nav-item start">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="glyphicon glyphicon-user"></i>
                            <span class="title">会员管理</span>
                            <span class="selected"></span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item start @(ViewBag.Title== "会员基础设置" ? " active":string.Empty)">
                                <a href="/common/VipSetting?appId=@ViewBag.appId&PageType=@ViewBag.PageType" class="nav-link">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    <span class="title">会员卡</span>
                                </a>
                            </li>
                            <li class="nav-item start ">
                                <a href="/savemoney/MiniAppSaveMoneySetManager?appId=@ViewBag.appId&projectType=6" class="nav-link">
                                    <i class="glyphicon glyphicon-link"></i>
                                    <span class="title">储值</span>
                                </a>
                            </li>
                            <li class="nav-item start ">
                                <a href="/common/VipList?appId=@ViewBag.appId&PageType=@ViewBag.PageType" class="nav-link">
                                    <i class="glyphicon glyphicon-link"></i>
                                    <span class="title">会员列表</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item start">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="icon-key"></i>
                            <span class="title">营销插件</span>
                            <span class="selected"></span>
                            <span class="arrow open"></span>
                        </a>
                        <ul class="sub-menu">
                            <li class="nav-item start ">
                                <a href="/tools/Bargain?appId=@ViewBag.appId&PageType=@ViewBag.PageType" class="nav-link">
                                    <i class="glyphicon glyphicon-link"></i>
                                    <span class="title">砍价</span>
                                </a>
                            </li>
                            <li class="nav-item start ">
                                <a href="/groups/MiniappStoreGroupsManager?appId=@ViewBag.appId&PageType=@ViewBag.PageType" class="nav-link">
                                    <i class="glyphicon glyphicon-link"></i>
                                    <span class="title">拼团</span>
                                </a>
                            </li>
                            <li class="nav-item start ">
                                <a href="/stores/ShareSet?appId=@ViewBag.appId" class="nav-link">
                                    <i class="glyphicon glyphicon-share"></i>
                                    <span class="title">分享转发</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item start ">
                        <a href="/common/wxconcat?appId=@ViewBag.appId&id=@ViewBag.appId&type=@((int)TmpType.小程序电商模板)" class="nav-link">
                            <i class="glyphicon glyphicon-user"></i>
                            <span class="title">微信在线客服</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>


