
@{
    ViewBag.Title = "免费入驻";
    Layout = "~/Areas/PinAdmin/Views/Shared/_LayoutPinAdmin.cshtml";

    int aid = Utility.IO.Context.GetRequestInt("aid", 0);
    if (aid == 0)
    {
        aid = 6933593;
    }
}
@section styles{
    <link href="~/Content/css/dzbase.css" rel="stylesheet" />
    <link href="~/Areas/PinAdmin/css/base.css" rel="stylesheet" />
    <link href="~/Areas/PinAdmin/css/animate.css" rel="stylesheet" />
    <link href="~/Areas/PinAdmin/css/login.css" rel="stylesheet" />
    <style>
        .mainbody { width: 600px; height: 100%; margin: 0 auto; }
        .Validform_error, input.error, select.error { background-color: transparent; border-color: #c66161; color: #c00; }
        label.error { color: #fff; }
    </style>
}
<body class="main food">
    <div class="mainbody rel" id="app">

        <div>
            <form method="post" id="post-form">
                <input type="hidden" name="act" value="reg" />
                <input type="hidden" name="aid" value="@(aid)" />
                <div class="float-mid">
                    <h2 class="tit">注册</h2>
                    <ul>
                        <li class="rel" style="text-align:center;">
                            <img src="//j.vzan.cc/dz/img/qrcode_pxh.jpg" />
                        </li>
                        <li style="text-align:center;line-height:2;font-size:16px;padding-top:10px;">
                            微信扫码，一键注册开通店铺
                        </li>
                        <li><a href="/pinadmin/main/login"><button type="button">已开通，去登陆</button></a></li>
                    </ul>
                </div>
            </form>
            <span class="c1"></span>
            <span class="c2"></span>
            <span class="c3"></span>
        </div>
    </div>

</body>




@section scripts{
    
}
