
@{
    ViewBag.Title = "提现配置";
    Layout = "~/Areas/DishAdmin/Views/Shared/_LayoutDishAdmin.cshtml";
}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    财务管理
    <span class="c-gray en">&gt;</span>
    提现管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="panel panel-default">
        <div class="panel-header">数据统计</div>
        <div class="panel-body cash_info">
            <p>可提现金额：0 </p><p>待审核金额：0 </p><p>已提现金额: 0 </p>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div class="panel panel-default mt-20">
        <div class="panel-header">提现申请</div>
        <div class="panel-body">
            <form method="get" class="search-form">
                <input type="text" name="cash_jiner" id="cash_jiner" placeholder="请输入提现金额" value="" style="width:250px" class="input-text">
                <button name="" id="search" class="btn btn-success" type="button"> 提交申请</button>
            </form>
            <p style="color: #ff0000;">最低提现金额为55元,手续费为0.50%</p>
        </div>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-c">
                    <th width="30">ID</th>
                    <th width="80">提现金额</th>
                    <th width="80">手续费</th>
                    <th width="80">到账金额</th>
                    <th width="80">申请时间</th>
                    <th width="120">状态</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="page">  </div>
    </div>
</div>
