
@{
    ViewBag.Title = "Log";
    Layout = "~/Areas/DishAdmin/Views/Shared/_LayoutDishAdmin.cshtml";
}
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页
    <span class="c-gray en">&gt;</span>
    财务管理
    <span class="c-gray en">&gt;</span>
    资金记录
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-c">
                    <th width="30">ID</th>
                    <th width="80">金额</th>
                    <th width="80">余额</th>
                    <th width="80">类型</th>
                    <th width="200">说明</th>
                    <th width="100">操作时间</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="page">  </div>
    </div>
</div>

