@{
    ViewBag.Title = "标签管理";
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    ViewBag.PageType = -1;
}
<link href="@(WebSiteConfig.SourceContent)/content/datepicker/skin/default/datepicker.css" rel="stylesheet" />
<script src="@(WebSiteConfig.SourceContent)/content/datepicker/WdatePicker.js"></script>

<style>
    #search_box {
        margin-top: 10px;
        /*margin-bottom: 30px;*/
        height: 40px;
    }

        #search_box ul li {
            float: left;
            width: 16%;
            line-height: 38px;
        }

            #search_box ul li input {
                width: 140px;
                float: left;
                margin-left: 5px;
            }

            #search_box ul li span {
                float: left;
                color: #404040;
            }

        #search_box ul.tamplate li {
            min-width: 100px;
            text-align: center;
            width: auto;
            margin: 10px 10px;
            font-size: 12px;
        }

            #search_box ul.tamplate li a.active, #search_box ul.tamplate li a.active:focus {
                text-decoration: none;
                color: #fff;
            }

            #search_box ul.tamplate li a {
                padding: 0 18px;
                color: #777;
            }

                #search_box ul.tamplate li a:hover, #search_box ul.tamplate li a:focus {
                    text-decoration: none;
                }

    .search_btn a:hover, .search_btn a:focus, .add_btn:hover, .add_btn:focus {
        text-decoration: none;
        outline: -webkit-focus-ring-color;
    }

    a.layui-btn-normal:focus {
        color: #fff;
    }

    .search_btn a.layui-btn-primary:focus {
        color: #555;
    }

    .search_btn a.layui-btn-primary:hover {
        background-color: #eee;
        border-color: #C9C9C9;
    }

    .layui-table td, .layui-table th {
        text-align: center;
    }

    .imgwidth{width:50px;height:50px;}
</style>

<div id="agentinfoCase" hidden>
    <div id="search_box">
        <ul style="width:100%">
            <li style="width: 20%;">
                <span>标签归属：</span>
                <select v-model="postdata.tid" class="form-control" style="width: 220px; margin-left:5px; text-align:center;   float: left;">
                    <option value="-999">全部</option>
                    <option v-for="(typeinfo,index) in Xcxlist" v-bind:value="typeinfo.Id">{{typeinfo.TName}}</option>
                </select>
            </li>

            <li style="width: 20%;">
                <span>标签名称：</span>
                <input type="text" v-model="postdata.caseName" class="form-control" />
            </li>
            <li>
                <div class="search_btn">
                    <a href="javascript:;" v-on:click="Search()" class="layui-btn layui-btn-normal" style="margin-right:15px;">搜索</a>
                    <a href="javascript:;" v-on:click="resetSearch()" class="layui-btn layui-btn-primary">清除</a>
                    <a href="javascript:;" v-on:click="EditeInfo(-1)" class="layui-btn layui-btn-primary">添加</a>
                </div>
            </li>
        </ul>
    </div>

    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="10%">
            <col width="25%">
        </colgroup>
        <thead>
            <tr>
                <th>标签归属</th>
                <th>标签名称</th>
                <th>添加时间</th>
                <th>修改时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tr v-if="dataList!=null && dataList.length>0" v-for="(item,index) in dataList">
            <td>{{item.tname}}</td>
            <td>{{item.tagname}}</td>
            <td>{{item.AddTimeStr}}</td>
            <td>{{item.UpdateTimeStr}}</td>
            <td>
                <a href="javascript:;" v-on:click="EditeInfo(index)">编辑</a>
                <a href="javascript:;" v-on:click="DeleteData(index)">删除</a>
            </td>
        </tr>
        <tr v-if="dataList==null || dataList.length==0">
            <td colspan="8">暂无数据</td>
        </tr>

    </table>
    <div id="pages" style="text-align: center;margin-top: 0.5rem;" v-if="recordCount>0"></div>

    <div id="editInfo" hidden>
        <div style='margin-top: 20px;margin-left: 20px;'>
            <div>
                <span>标签归属：</span>
                <select class="form-control" id="tempTagTid" style="width: 200px;display:inline-block;">
                    <option value="-999">全部</option>
                    <option v-for="(typeinfo,index) in Xcxlist" v-bind:value="typeinfo.Id">{{typeinfo.TName}}</option>
                </select>
            </div>
            <div style="margin-top:10px;">
                <span>标签名称：</span>
                <input class='form-control' style='display: inline-block;width: 200px;' type='text' id='tempName' maxlength="10" />
            </div>
        </div>
    </div>
</div>
<script>
    var element;
    var _layer = parent.layer;
    var vm = new Vue({
        el: "#agentinfoCase",
        data: {
            recordCount: 0,
            postdata: {
                pageIndex: 1,
                pageSize: 20,
                tid: -999,
                name: "",
            },
            Xcxlist:[],
            dataList:[],
            isloading: false
        },
        methods: {
            GetDataList: function () {
                if (this.isloading) {
                    layer.msg("正在加载");
                    return;
                }
                this.isloading = true;
                $.post("/agentmanager/GetCaseTagList", this.postdata, function (data) {
                    vm.isloading = false;
                    if (!data.isok) {
                        layer.msg("数据异常");
                        return;
                    } else {
                        vm.recordCount = data.dataObj.count;
                        vm.dataList = data.dataObj.list;
                        vm.resetPage();
                    }
                })
            },
            getXcxlist: function () {
                $.post("/agentmanager/GetCaseXcxTemplate", function (data) {
                    vm.Xcxlist = data.dataObj;
                });
            },
            resetPage: function (/*issearch*/) {
                layui.use('laypage', function () {
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'pages'
                        , count: vm.recordCount //数据总数，从服务端得到
                        , curr: vm.postdata.pageIndex //当前页
                        , limit: vm.postdata.pagesize
                        , jump: function (obj, first) {
                            console.log(obj.limit); //得到每页显示的条数
                            vm.postdata.pageIndex = obj.curr;
                            //首次执行
                            if (!first) {
                                vm.GetDataList();
                            }
                        }
                        , theme: '#1E9FFF'
                        , layout: ['prev', 'page', 'next', 'skip']
                    });
                })
            },
            AddOrEdite: function (id) {
                window.location.href = "/agentmanager/AddOrEditeCase?id="+id;
            },
            Search: function () {
                this.pageIndex = 1;
                this.GetDataList();
            },
            resetSearch: function () {
                this.postdata.tid = -999;
                this.postdata.caseName = "";
            },
            EditeInfo: function (index) {
                var id = -1;
                var tid = -999;
                var name = "";
                if (index >= 0)
                {
                    var tag = vm.dataList[index];
                    id = tag.id;
                    tid = tag.tid;
                    name = tag.tagname;
                }
                _layer.open({
                    type: 1,
                    zIndex: 999999,
                    title: "编辑标签",
                    shade: 0.3,
                    area: ['350px', '230px'], //宽高
                    content: $("#editInfo").html().replace(/temp/g, ''),//this.adddiv(),
                    btn: ["保存", "取消"],
                    end: function () {
                        currenteditid = 0;
                    },
                    yes: function () {
                        if (vm.isloading) {
                            return;
                        }
                        var tid = $("#TagTid").val();
                        if (tid == -999) {
                            return _layer.msg("请选择标签归属");
                        }

                        var name = $("#Name").val();
                        if (name == undefined || name.length <= 0) {
                            return _layer.msg("请输入标签名称");
                        }
                        vm.isloading = true;
                        $.post("/agentmanager/SaveCaseTag", {id:id ,tid: tid, name: name }, function (data) {
                            _layer.msg(data.Msg);
                            vm.isloading = false;
                            if(data.isok)
                            {
                                vm.GetDataList();
                                _layer.closeAll();
                            }
                        });
                    },
                    success: function (layero, index) {
                        window.parent.document.getElementById("TagTid").value=tid;
                        window.parent.document.getElementById("Name").value = name;
                    },
                });
            },
            DeleteData: function (index) {
                var id = vm.dataList[index].id;
                _layer.confirm('你确定要删除该标签？', {
                    btn: ['确定', '取消'] //按钮
                }, function () {
                    $.post("/agentmanager/DeleteCaseTag", { id: id }, function (data) {
                        _layer.closeAll();
                        _layer.msg(data.Msg, { anim: 0, time: 1000 }, function () {
                            vm.GetDataList();
                        });
                    });
                }, function () {
                });
            },
        },
        created: function (index) {
            $("#agentinfoCase").show();
            this.getXcxlist();
            this.GetDataList();
        }

    })
</script>
