
@{
    Layout = "~/Views/Shared/_MiniappLayout.cshtml";
    ViewBag.Title = "朋友圈广告合作方案";
    ViewBag.PageType = -1;
}
<style>
    .centertext { vertical-align: inherit !important; text-align: center; }

    .flex-v { -webkit-box-orient: vertical; -webkit-box-direction: vertical; -ms-flex-direction: column; flex-direction: column; -webkit-flex-direction: column; }
    .d-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
    .d-flex-center { align-items: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; }
    .fc-h { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
</style>
<div>
    <div class="d-flex d-flex-center flex-v" style="margin-left:15%;margin-right:30%;">
        <div>
            <h1 style="font-size:30px;">小未程序朋友圈合作方案</h1>
        </div>

        <div style="margin-left:25%;">
            <h1 style="margin-top:10px;font-size:20px;">合作方案及拿货价：</h1>
            <p style="margin-top:10px;padding:5px;"> 考虑到很多代理商没有能力、没有团队给终端客户提供专业的朋友圈广告投放的能力！但朋友圈广告的需求在2018年一定会迎来巨大的爆发！小未程序本着服务代理商，帮助代理商盈利获得下一波商业浪潮的经营理念特此推出了如下朋友圈拿货方案！</p>
            <div>
                <table class="table table-bordered">
                    <tr>
                        <th>城市类型</th>
                        <th>拿货价</th>
                    </tr>
                    <tr>
                        <td>核心城市</td>
                        <td>0.12元/曝光</td>
                    </tr>
                    <tr>
                        <td>重点城市</td>
                        <td>0.08元/曝光</td>
                    </tr>
                    <tr>
                        <td>普通地级市</td>
                        <td>0.05元/曝光</td>
                    </tr>
                </table>
            </div>
            <p>
                核心城市【2个】：北京、上海<br />
                重点城市【20个】：广州，成都，深圳，杭州，武汉，苏州，重庆，南京，天津，西安，沈阳，长沙，青岛，宁波，郑州，大连，厦门，济南，哈尔滨，福州<br />
                普通城市：除上述核心

            </p>
            <h1 style="margin-top:10px;font-size:20px;">代理商如何盈利：</h1>
            <p style="margin-top:10px;padding:5px;">
                朋友圈广告单次投放最低金额为1500元
                以上表单是代理商的拿货价，代理商可基于拿货价制定自己的零售价格，中间的差价就是代理商的利润！
                如：普通地级市代理商报价1毛/曝光，差价是5分，终端客户投放1000元，代理商利润为500元，以此类推！
            </p>
            <h1 style="margin-top:10px;font-size:20px;">代理商如何销售朋友圈广告：</h1>
            <p style="margin-top:10px;padding:5px;">
                由于朋友圈广告较低的门槛（1500元起投），以及丰富的行业适用空间，因此几乎所有的零售商、本地生活服务商、企业都是朋友圈广告的忠实用户！因此代理商在了解透彻小程序业务的情况下，可通过直销、地推、电话销售的方式去开展业务，
                简而言之，朋友圈广告又是一个纯销售型的产品，你的业务规模越大，盈利能力越强，你的业务能力越好，盈利能力越强！
            </p>
            <br /><br />
            <p style="font-size:20px;font-weight:bold;"> 如有兴趣请联系小未程序各运营负责人</p>

        </div>
    </div>






</div>
